[2021-12-17 16:26] #1838 closed

[2021-12-17 17:50] gabrielcosta42 commented on #2601
If what you want is a search that returns only the proposals that includes both terms, the advanced search already does that.
![image](https://user-images.githubusercontent.com/95383700/146586803-156e5d34-c790-49cc-b1f3-fd6a60e39457.png)

[2021-12-22 12:18] #4015 closed

[2021-12-29 11:55] javierm commented on #4737
Hi, @amanintech :smile:. Are you still working on this issue?

[2021-12-30 14:08] #2313 closed

[2021-12-30 16:04] #3552 closed

[2022-01-06 12:05] ptandler commented on #4436
I'm just trying to start Consul 1.4.1 via docker and also had these issues:

1. "volume name too short"

    ERROR: for consul_app_1  Cannot create container for service app: create .: volume name is too short, names should be at least two alphanumeric characters

My assumption is that this comes from a missing `$SSH_AUTH_SOCK`:

[code]

I fixed this by passing the `$SSH_AUTH_SOCK` although it is

[2022-01-10 14:52] javierm commented on #4436
@ptandler Thanks for reporting! I'll have a look during the next few weeks.

[2022-01-17 10:01] microweb10 opened #4770 "Be able to see all budgets on the valuation page"
Dear CONSUL developer team,

I think it would be interesting that you consider backporting this commit into CONSUL
https://github.com/democrateam/consul/commit/c916fb7906649fe064de0ddb7cd03a3cbd7aebbb

Cheers!

[2022-01-17 10:57] tonekk opened #4771 "Admin should always be able to see poll results"
### User Story

As an admin, I always want to be able to see poll results - not just for polls that are expired.

### Why is this Needed?

Our client was wondering why they couldn't see any results, although they were logged in as admin.
I personally also think this behaviour is not what I would expect.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:

### Current Behavior
Ad

[2022-01-17 13:37] javierm commented on #4771
Hi, @tonnek :smile:.

I'm afraid we aren't going to implement this feature. Allowing governments to see the results while the poll is still open might allow them to take measures when the poll isn't going the way they wanted.

I understand CONSUL is used by different kinds of institutions and there might be cases where this functionality makes sense. However, due to the dangers associated to it, w

[2022-01-17 13:38] javierm commented on #4771
Hi, @tonekk :smile:.

I'm afraid we aren't going to implement this feature. Allowing governments to see the results while the poll is still open might allow them to take measures when the poll isn't going the way they wanted.

I understand CONSUL is used by different kinds of institutions and there might be cases where this functionality makes sense. However, due to the dangers associated to it, w

[2022-01-17 15:59] tonekk commented on #4771
I understand - I was already kind of anticipating this answer :)

[2022-01-17 15:59] #4771 closed

[2022-01-17 19:14] javierm commented on #4771
That's 100% true. If it were feasible to implement a way so digital votes behave like closed envelopes and can only be opened once the poll has finished, we would do so (this is also related to issue #2135). In the meantime, at least we don't make it _that_ easy to check the results :smile:.

[2022-01-20 12:16] tonekk opened #4772 "What are Proposal-related-Polls used for?"
Hi,

I have a question. As a user I can create a `Poll` under the `Proposal` Dashboard.
Those Polls can't be found under the `PollsController#index` page, and there is also no link to be found on the proposals page.

My question now is: What are these Polls used for? How would I access them as a normal user? By sending the link?

Thanks

[2022-01-25 18:12] javierm commented on #4772
Hi, @tonekk :smile:.I guess the intention was to use the "Message to users" feature in the dashboard and notify the followers about the poll :thinking_face:. Can't say for sure; unfortunately the dashboard feature is arguably the least polished feature in CONSUL and the original authors are no longer involved with the project, so we're currently discussing what to do about it.

So, as you mentione

[2022-02-03 11:51] jorgebg opened #4774 "Participatory budgeting offline votes upload interface requires CSV data, and it differs from the manual"
### User Story

As a **poll officer**, I want to **upload the offline votes** during the "Reviewing voting" phase of a participatory budgeting, so that these votes are added to the total vote count of each of the projects.

### Why is this Needed?

The poll officers interface is requiring me to present the data in CSV format (this [page](https://github.com/consul/consul/blob/ccf8d3a8e2c6369c0d7b41

[2022-02-23 00:34] alejosk8 commented on #4436
Tal vez alguien que me pueda compartir por favor el docker-compose.yaml tengo el siguiente error:

WARNING: The POSTGRES_PASSWORD variable is not set. Defaulting to a blank string.
consul_database_1 is up-to-date
consul_app_1 is up-to-date

-----------------------------------------------------------------

los containers estan levantados pero en el browser sale

fe_sendauth: no password supplied

[2022-02-23 14:02] janrakete opened #4779 "Registration without E-Mail possible"
### User Story
As an admin, I want to have email address on registration mandatory if no SMS verification is set.

### Why is this Needed?
Currently I can register without email address. This makes no sense, as long as SMS verification is not set up.

### Description
*Type*: Bug

### Current Behavior
If I do not enter an email address during registration, I can still submit the form. It then says:

[2022-02-23 16:47] #1850 closed

[2022-02-24 15:32] #2629 closed

[2022-02-24 15:32] #2904 closed, assigned to nobody

[2022-02-28 12:27] javierm commented on #4436
Hi, @alejosk8 :smile:.

Try running docker-compose with `POSTGRES_PASSWORD=your_password_here docker-compose (...)`

[2022-03-06 01:41] alejosk8 commented on #4436
Thanks for your answer, could you help me with your email, or telegram help me with advice please

[2022-03-06 22:23] javierm commented on #4436
@alejosk8 While we offer as much support as we can via places like GitHub, for personal support please contact one of the [certified and collaborating companies](https://consulproject.org/en/#companies) (disclaimer: I'm part of one of them).

[2022-03-12 13:30] decabeza opened #4785 "Reduce the number of SCSS files"
### User Story

Recently 30 SCSS files divided into folders have been added:

[code]

While I understand the organization, I think this becomes more difficult to manage, especially for looking up which class to overwrite when adding custom CSS.

I also see that there is a lot of repeated content and classes that could be merged, making it easier to customize. As an example:

Content of `app/assets

[2022-03-12 13:45] decabeza opened #4786 "Full background images in Participatory Budgets"
### User Story

It seems that after the changes introduced in https://github.com/consul/consul/commit/9cc4d5272356b4acef4f46b55345a1e0af3440c2 a margin is added to all elements, including those that should fill the entire background width.

I think CONSUL could keep the Foundation `.row` and `.row.expanded` classes that already allowed to do this.

_Foundation classes already allow this effect._

[2022-03-12 15:41] javierm commented on #4786
Hi, @decabeza :smile:.

You say "as before", so I take it it worked at a certain point? :thinking: Do you know when it stopped working?

Thanks!

[2022-03-14 16:22] javierm commented on #4785
Hi, @decabeza :smile:.

We're trying to have consistent criteria regarding when to create a new SCSS file and the contents it should have.

What we've come up with so far is: there's one SCSS file per Ruby view/component file, and the HTML class in the view/component file resembles the filename as much as possible.

Feel free to suggest any other consistent way to handle these files and we'll cons

[2022-03-14 16:59] decabeza commented on #4786
I've updated the issue description.

[2022-03-24 11:36] coslajohn commented on #4774
I have also been looking at this issue.

We have examples of offline budget ballots which only generate totals and it would be good to be able to include those in the same way as the offline votes for regular polls

Would it be possible to choose the method of loading offline votes?
Choose method from
1. upload per project totals the same as regular polls
2. enter csv ballots the way it works at t

[2022-03-28 15:39] TomClive opened #4793 "HTML injection possible in search results. Vulnerability."
We have recently had a penetration test completed and it was raised as a medium severity issue that it was possible to inject HTML into search results throughout the site.

Having tested this on our site we have checked and note that this also happens on the ConsulProject demo site. Please see the link below:

https://demo.consulproject.org/debates?utf8=%E2%9C%93&search=%3Ca+href+%3D%22https%3A%2F

[2022-03-28 15:48] javierm commented on #4793
@TomClive Thanks for reporting! The fix seems simple enough; we'll look into it.

[2022-03-29 09:22] tonekk opened #4797 "Fix Dockerfile"
The current `Dockerfile` has some serious deficiencies.
We had huge problems to use it in production.

I would like to offer to provide a Docker setup (or maybe different ones for production and development), which is implemented according to current best practices.

[2022-03-29 16:04] javierm commented on #4797
Hi, @tonekk :smile:.

We're actually looking for someone to help us with Docker :tada:. We've got an open pull request and another one in development. Would it be possible for you to have a look at pull request #4765 (the part regarding the `.dockerignore` file) and check whether it introduces breaking changes or it can be improved in any other way?

I've just opened pull request #4798 (which depe

[2022-04-01 14:50] javierm commented on #4737
@amanintech I've just opened pull request #4802 to address this issue. Hope you don't mind!

[2022-04-01 15:05] javierm commented on #4737
@Pomerange Some comments about the suggested changes:

These texts aren't included in CONSUL and are only available in the demo. I've just updated the demo; starting tomorrow, the new texts should be displayed.

That might be right, but I'm not sure texts like "200 support needed" makes sense either :thinking:, since in this context "support" seems to be an uncountable noun :thinking:.

Definitely

[2022-04-02 10:15] amanintech commented on #4737
absolutely, I feel terrible on not being able to get back on this

[2022-04-04 10:00] javierm commented on #4737
@amanintech No problem! :wink: Thank you for your interest in contributing to CONSUL and, should you find more typos, issues reporting them or pull requests fixing them are welcome :smile:.

[2022-04-05 09:01] muki commented on #4797
Incidentally I am also currently working on Dockerizing Consul. My final mission is to deploy it to a Kubernetes cluster, but proper Dockerfiles are the necessary first step.

I can confirm that as of this morning `master` + `docker_ignore` + `docker_cleanup` build and `docker-compose up` starts a server. There's things still to polish, but I would suggest merging https://github.com/consul/consul/

[2022-04-05 09:03] tonekk commented on #4797
We've just dockerized docker, too.
I will create a pull request today, so maybe we can discuss some best practices

[2022-04-06 07:18] muki commented on #4797
Yes, they are redundant because those things are defined in the Dockerfile. The docker-compose stuff just overrides them (with the same values in this case).

Personally I often keep `command` there just so it's explicit, especially if the "production" command in the Dockerfile differs from the development command you'd want to run with docker-compose. But that heavily depends on the assumption th

[2022-04-06 13:49] javierm commented on #4436
@ptandler Sorry for the delay! While I'm not sure it solves the same error you got, we're addressing errors related to `SSH_AUTH_SOCK` in pull request #4798. Could you check whether you're still getting the error with these changes?

[2022-04-07 06:38] ralfdangel commented on #4436
Hello,
i have the same problem and tried the solution from [Lukas2112](https://github.com/Lukas2112)
but i got same error back. For me it seems syntax will not be accepted by docker-compose(?)
Is there a dependency to Docker Compose version?
Or any experience whith different versions?
Thanks

[2022-04-07 13:25] javierm commented on #4436
@ralfdangel That might be the issue :thinking:. Can you add information about the OS and Docker/Compose versions you're using?

[2022-04-07 15:02] ralfdangel commented on #4436
Sure...:
root@localhost:/consul# docker -v
Docker version 20.10.14, build a224086

root@localhost:/consul# docker-compose -v
docker-compose version 1.15.0, build e12f3b9

NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"

Please let me know if you need further information.

[2022-04-12 12:47] #4793 closed

[2022-04-12 16:56] javierm commented on #4436
Just for the record, I'm using Docker 20.10.12 and Docker Compose 2.2.3 on Archlinux. I've never experienced the `volume name is too short` issue and, when using the changes from pull request #4798 (which we've just merged into the `master` branch), CONSUL+Docker runs fine on my machine.

[2022-04-12 17:08] ralfdangel commented on #4436
Thanks! I will try to reinstall!
But in Addition: i made a test and removed line

 `- "$SSH_AUTH_SOCK:/tmp/agent.sock"`

Just to see what happen :-)
The only error which now occurs is:
`Rails Error: Unable to access log file. Please ensure that /var/www/consul/log/development.log exists and is writable`

i try to fix that with:

Adding following to scripts/entrypoint.sh resolved that:

[code]
But

[2022-04-12 17:38] ralfdangel commented on #4436
I removed old installation and installed again with newest branch: Not it works without deleting....:

`- "$SSH_AUTH_SOCK:/tmp/agent.sock"`

But i still got:

`Rails Error: Unable to access log file. Please ensure that /var/www/consul/log/development.log exists and is writable`

[2022-04-12 18:36] iraline commented on #4779
I can work on a fix for this

[2022-04-12 19:51] alejosk8 commented on #4436
I was able to solve with the creation of a .env file

POSTGRES_PASSWORD=admin124
SSH_AUTH_SOCK=/var/www/consul/tmp

[2022-04-12 19:56] alejosk8 commented on #4436
My docker-compose
-----------------------------------------------------------------------------------

version: "4"
services:
  # service configuration for our database
  database:

    # use the preferred version of the official Postgres image
    # see https://hub.docker.com/_/postgres/
    image: postgres:9.6.21
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    # persist the dat

[2022-04-14 07:06] muki commented on #4797
Awesome! I have a working deployment, but will be extremely busy for the next 14 days. I'll try and get a PR ready sooner, but if not, expect one in two to three weeks.

[2022-04-14 16:37] iraline commented on #2842
What should be the "definition of done"? Will login be limited with email only (remove username) OR will we not allow user to add an existing email as username?

[2022-04-14 16:56] Michael1337 commented on #2842
I'd suggest prohibiting the use of "@" in the username.
I'm not sure about this case, though: If you choose something like "dg.asuntoseuropeos@madrid.org" as username, which is a legit email address that you probably don't have access to and that might not be registered at consul yet, but then chose your actual email address as email address, would you then be able to create the account, because t

[2022-04-14 23:03] decabeza opened #4812 "Error 500 on Admin system emails"
### Description

Error 500 `undefined method "name" for nil:NilClass` on Admin system emails.

### Steps to reproduce
1. Visit any investment and create a comment, for example: https://demo.consulproject.org/budgets/1/investments/5.
2. Visit https://demo.consulproject.org/admin/system_emails and click "View" on "New evaluation comment" email.
3. Error 500! 😱

### Notes

These valuation example com

[2022-04-16 01:01] decabeza opened #4813 "Avoid 403 error when creating booths for budgets"
### Description

Administrators see a 403 error when try to create a booth for a Participatory Budget and Polls feature is disabled.

### Steps to reproduce
1. Visit https://demo.consulproject.org/admin/settings#tab-participation-processes, and disable "Polls" feature.
2. Visit edit view of a budget https://demo.consulproject.org/admin/budgets/1, and click on "Create booths" button.
3. You see the

[2022-04-16 14:15] ralfdangel commented on #4436
unfortunately it works not for me... :-(
To be honest.... i'm not in expert in customizing Docker-compose-files.... in was i the hope to use standard with only small adjustments.

[2022-04-16 14:42] ralfdangel commented on #4436
I guess it belongs to wrong permissions for directory:

`/var/www/consul`

i have solved a lot by adjusting permissions for local folders, but i do not understand to what directory this message belongs:

`| chown: cannot access '': No such file or directory`

it occurs during docker-compose up caommand:

[code]

any idea?
Thanks!

[2022-04-18 10:20] javierm commented on #4812
@decabeza Thanks for reporting! :pray:

I think it crashes when the investment which received the last comment doesn't have valuators/valuator groups/administrator associated :thinking: (or only the one who made the comment). In that case, `@email.to` returns an empty array, `@email_to = @email.to.first` returns `nil` and so `@email_to.name` crashes.

So I guess we should make sure the sample comm

[2022-04-18 11:16] javierm commented on #2842
Adding a validation rule so no emails are allowed as usernames could be fine. The tricky part is that there might be records in the `users` table using emails as usernames; that means that adding a validation rule might cause issues when updating those records :thinking:, so we might need to find a workaround for these cases.

[2022-04-18 11:22] javierm commented on #4436
@ralfdangel Can you paste the output of `ls -l` when run on the "consul" folder?

[2022-04-18 15:34] ralfdangel commented on #4436
It was indeed a permission problem! I granted highest priviliges (i know, this is is not secure, but  a good way for troublesshooting :-) ) to consul folder, and now the application starts! Now i need to adjust minimum rights to folder structure. What is recommended for consul folder and subfolders?
Thanks

[2022-04-18 16:45] iraline commented on #2746
I can work on a fix for this

[2022-04-27 12:10] iraline commented on #4786
I can work on this issue

[2022-04-28 10:57] unixchina opened #4817 "can not access token ModifyIndex"
### **This is my token infomation:**
  [
  {
    "AccessorID": "a65e20a8-541e-3e4a-f995-2fb18c86f4c9",
    "SecretID": "2dc069c1-5efa-37ff-781b-xxxx",
    "Description": "[k/v,services: wirte]",
    "Roles": [
      {
        "ID": "4608cbff-d642-d860-0c71-b549cc5e87a1",
        "Name": "admins"
      }
    ],
    "Local": false,
    "CreateTime": "2022-04-27T17:57:58.133234281+08:00",
    "Hash":

[2022-04-28 17:35] arthur1041 commented on #4018
I can work on a fix for this issue.

[2022-04-28 18:09] arthur1041 commented on #4018
In order to block or hide a user the moderator uses de following path https://demo.consulproject.org/moderation/users:
![Screenshot from 2022-04-28 15-02-42](https://user-images.githubusercontent.com/42497300/165818041-c576246c-5c39-4470-a6ab-22a089d48b1f.png)

To undo the action, the administrator needs to go to the following path https://demo.consulproject.org/admin/hidden_users?filter=all&page=

[2022-04-29 01:42] unixchina commented on #4817
sorry...

[2022-04-29 01:42] #4817 closed

[2022-05-03 18:22] #4786 closed

[2022-05-05 10:20] #3988 closed

[2022-05-05 10:22] Pomerange commented on #4737
Hi, thanks for checking my suggestions. I agree with all your changes.
As to offer a decision for some open questions
- Change my login details
- let's leave supports for now
- Participate in final voting: Vote for budget projects

[2022-05-05 15:02] javierm commented on #4737
@Pomerange Cool, thanks!

Since we're at it, we're also removing the "* Only for users on Census." text in "my account", since there are no items with an asterisk (although there are items with an asterisk in the Spanish version) and we're already specifying what people can/can't do with their account and showing a link to verify it when they can't do certain things.

[2022-05-10 16:13] decabeza opened #4828 "Error 404 initialjs-blank image"
### Description

There is a **404 error**` https://demo.consulproject.org/assets/initialjs-blank.png 404 (Not Found) `on pages where **initialjs** avatar is used.

### Steps to reproduce

1. Login on the [CONSUL demo site](https://demo.consulproject.org).
2. Visit [My account](https://demo.consulproject.org/account) page.
3. Open **inspector console** and refresh the page.
4. See the **error messa

[2022-05-12 15:09] microweb10 opened #4829 "Error 422 when creating admin Tags"
### Description
If trying to create a Tag from the admin panel without a name, an error 422 is raised.

### Current Behavior
Error 422 raised.

### Expected Behavior
Form validation saying the name cannot be blank 🤔

### Steps to reproduce

1. Visit the [CONSUL demo](https://demo.consulproject.org/?locale=en)
2. [Log in](https://demo.consulproject.org/users/sign_in) with admin user
3. Visit the [a

[2022-05-16 12:13] arthur1041 commented on #4123
I can work on this issue.

[2022-05-17 21:45] decabeza opened #4830 "Error uploading large dimensions images"
### Description

There seems to be an error when uploading large images but no error message appears.

### Steps to reproduce

1. Login on [CONSUL demo](https://demo.consulproject.org/users/sign_in) page.
2. Change the [Image maximum size](https://demo.consulproject.org/admin/settings#tab-images-and-documents) setting to **5Mb** for example.
3. Try to [create a Poll](https://demo.consulproject.org

[2022-05-18 12:00] javierm commented on #4830
It looks like the demo server was configured before we solved this issue in the installr.

I've updated the nginx configuration on the demo server.

Closed via consul/installer#111.

[2022-05-18 12:00] #4830 closed

[2022-05-18 16:53] decabeza commented on #4830
Oh, I hadn't thought of that configuration. Thanks! 🙏

[2022-05-18 17:06] javierm opened #4831 "Can't add annotations with the keyboard"
## Steps to reproduce

1. Go to the admin section
2. Create a legislation process enabling the comments phase
3. Create a draft version for that legislation process
4. Visit the page of that draft  version ([example in  the demo](https://demo.consulproject.org/legislation/processes/2/draft_versions/1))
5. Try to select text with the keyboard and add an annotation

## Current Behavior

It's impossi

[2022-05-20 17:05] decabeza opened #4834 "Allow include images on newsletters"
### Description

It would be nice to allow include images on [newsletters sent from admin](https://demo.consulproject.org/admin/newsletters/new).

I've started a PR on another fork with the following changes, but I'm stuck on the last one: 😓

1. Change the [newsletters form](https://github.com/consul/consul/blob/master/app/views/admin/newsletters/_form.html.erb#L8) adding the class "admin" on  `cl

[2022-05-24 18:46] joaoGabriel55 commented on #4829
I can take a look @microweb10

[2022-05-24 21:38] joaoGabriel55 commented on #4829
I got to simulate this error, I will develop a solution for it

[2022-05-25 14:59] dpadron opened #4836 "Error installing consul with docker"
Good morning, I am trying to install consul using docker, following these instructions: https://docs.consulproject.org/docs/english-documentation/introduction/servers/docker

Upon reaching the step: POSTGRES_PASSWORD=password docker-compose run app rake db:create db:migrate

The following error is generated: sudo POSTGRES_PASSWORD=password docker-compose run app rake db:create db:migrate
Starting

[2022-05-25 17:55] joaoGabriel55 commented on #4829
Waiting for review

[2022-05-30 15:08] javierm commented on #4836
Hi, @dpadron :smile:.

Not sure where the `/data` is coming from :thinking:. Have you modified the `Dockerfile` or the `docker-compose.yml`? If not, are you using the `/data` folder on your machine?

[2022-06-01 12:45] #4737 closed

[2022-06-02 13:23] #2746 closed

[2022-06-03 06:40] #4812 closed

[2022-06-08 11:03] #4779 closed

[2022-06-08 11:57] #4829 closed

[2022-06-10 18:46] iraline commented on #2691
I can work in this issue. =)

[2022-06-15 16:41] decabeza opened #4860 "Group of evaluators doesn't work as expected"
### Description

It's possible to group valuators to make it faster to assign investment projects to several valuators at the same time. The problem is that the investments assigned to a valuators group don't appear in the Valuation interface.

### Steps to reproduce
1. Create a new valuator group from https://demo.consulproject.org/admin/valuator_groups.
2. Add a new Valuator and include him insi

[2022-06-16 17:46] joaoGabriel55 commented on #4860
Hi @decabeza! I can take a look at it.

[2022-06-22 21:19] decabeza opened #4862 "Responsible name when select proposals"
### Description

I found a bug related with the responsible name when select proposals. It's a bit tricky but it happened in a city using CONSUL and I don't really know what is the best way to fix it. 😅

### Steps to reproduce

1. Login as an **unverified user** and create a proposal.
2. Login as an admin and disable the setting "Skip user verification" on the [Settings page](https://demo.consulpr

[2022-06-27 14:27] javierm commented on #2415
A possible plan for fixing this issue:

1. Avoid duplicate votes in the future, maybe by locking `current_user` every time we use `vote_by` (note: I'm not sure this is the best option)
2. Add a task removing existing duplicate votes
3. Release a version of CONSUL so duplicate votes are removed before the unique index is added
4. Add a unique index to the votes table or upgrade to a version of acts

[2022-06-27 14:57] javierm commented on #4836
Closing due to lack of response. @dpadron Feel free to reopen if you can reply to the questions above :wink:. If so, please also add information regarding your environment, like operating system and its version, docker version and docker-compose version.

[2022-06-27 16:40] javierm opened #4863 "Flaky specs: Email campaigns Do not track erroneous track_ids"
## References

* This test, which is in the `spec/system/campaigns_spec.rb` file, has failed a few times, like in our test run [3750, job 3](https://github.com/consul/consul/runs/6865756767) (see the [job log](https://github.com/consul/consul/files/8994044/run_3750_job_3.txt))
* We thought we had fixed this problem with pull request #4740, but it has failed since then
* I'm not providing screensho

[2022-07-10 14:43] ezrahcim opened #4871 "participate in this vote does nothing"
### Description

[comment]: #
*Type*: Bug

### Current Behavior
we don't have access to census yet , but on the settings we put "Skip user verification" on yes, we create polls and now as a email validate user I press on "participate in this vote" and becides reloading the page nothing happens

### Expected Behavior
email validated users to be able to vote on polls

### Steps to reproduce
deploy w

[2022-07-18 18:41] javierm commented on #4871
Hi, @ezrahcim :smile:.

Not sure what's going on :thinking:. In the [official demo](https://demo.consulproject.org/) we've enabled "Skip user verification" and clicking on "participate in this poll" in the [polls index](https://demo.consulproject.org/polls) works fine. Could you give us the URLs to both the source code you're using and the page where the application is running?

[2022-07-21 22:42] javierm opened #4880 "Flaky spec: Commenting legislation questions Merged comment threads View comments of annotations in an included range"
## References

* This test, which is in the `spec/system/comments/legislation_annotations_spec.rb` file, has failed a few times, like in our [test run 3695, job 4](https://github.com/consul/consul/runs/6711567438) (see the [test run 3695 job log](https://github.com/consul/consul/files/9163107/run_3695_job_4.txt))
* A similar test failed on or our [test run 3861, job 0](https://github.com/consul/co

[2022-07-26 15:53] decabeza opened #4882 "Sprockets error when using custom images"
### Description

For a custom image to overwrite the original, it must be in the `assets/images/custom` folder with the same name, for example, _`logo_header.png`_, but the **`Sprockets::DoubleLinkError`** error appears when adding an image with the same name, and execute the assets precompile task.

### Steps to reproduce
1. Create a _`logo_header.png`_ image on `assets/images/custom` folder.
2.

[2022-07-26 17:45] javierm commented on #4882
It looks like we introduced this one when we upgraded sprockets in pull request #4609.

[2022-07-27 10:58] javierm commented on #4882
@decabeza For now, I've added a note to the [1.5.0 release notes](https://github.com/consul/consul/releases/tag/1.5.0) including a possible workaround.

[2022-07-27 13:59] johnfelipe opened #4884 "Installation with docker in local ubuntu 20"

[2022-07-27 14:32] javierm commented on #4884
@johnfelipe I'm afraid I don't understand the question :thinking:. Could you elaborate a bit?

Thanks!

[2022-07-27 14:34] johnfelipe commented on #4884
i want to install consul in ubuntu 20, in development and later in
production but using docker, where is readme.md or cheatsheet for to that
docker run or docker compose?

El mié, 27 jul 2022 a las 9:33, Javi Martín ***@***.***>)
escribió:

[2022-07-27 14:35] johnfelipe commented on #4884
i found this
https://github.com/consul/docs/blob/master/es/installation/docker.md
may be is that one?

El mié, 27 jul 2022 a las 9:34, john felipe urrego mejia (<
***@***.***>) escribió:

[2022-07-27 15:08] javierm commented on #4884
@johnfelipe That's the document, yes.

That document is also available in the documentation page: https://docs.consulproject.org/docs/spanish-documentation/introduction/servers/docker

[2022-07-27 17:30] johnfelipe commented on #4884
[code]

how solve that step?

[2022-07-28 18:31] johnfelipe commented on #4884
Anyone?

[2022-07-29 17:22] johnfelipe commented on #4884
i need help asap, for solve this and test your app

[2022-07-30 05:10] johnfelipe commented on #4884
Dear me again, tell me steps for solve latest reply, because I think is only remains for test your app

[2022-08-01 10:14] javierm commented on #4884
Hi, @johnfelipe.

Not sure it's related, but I see you're running the command as the root user :thinking:. Every step mentioned in the documentation should be run using a regular user.

[2022-08-01 10:36] javierm commented on #4884
By the way, I've just noticed you mentioned:

Just wanted to let you know that currently Consul provides a Docker configuration meant mainly for development. People using it on production have had to change a few things (although we haven't received feedback about the specific changes they had to do).

[2022-08-01 11:13] johnfelipe commented on #4884
Can you share me markdown file with that configuration for production.
First I need to show this to stakeholders and later will be in production,
then I think will be important to know in this moment.

El lun, 1 de ago. de 2022, 5:36 a. m., Javi Martín ***@***.***>
escribió:

[2022-08-01 17:23] johnfelipe commented on #4884
[code]

im using not root user and show me that permission warning
the how solve this?

[2022-08-01 17:48] johnfelipe commented on #4884
i update my stack docker for install with not root user and same issue like before:

[code]

im in ubuntu 20, may be downgrade to 18?
or give me more steps for test

[2022-08-02 02:43] Chanachai-Pansailom opened #4886 "How to register social close send email confirm."
(How to register social close send email confirm)
The email verification system will be disabled when registering via social media.

[2022-08-02 02:47] Chanachai-Pansailom opened #4887 "It will change the main page to '/debates instead."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe what actu

[2022-08-02 02:47] #4887 closed

[2022-08-02 02:49] Chanachai-Pansailom opened #4888 "It will change the main page to '/debates' instead."
It will change the main page to '/debates' instead.

[2022-08-02 10:02] javierm commented on #4884
Great! Note this is **not** the same issue you had before :wink:. Earlier it said `Unable to access log file`, while now it says `password authentication failed for user "postgres"`.

Not sure what's going on with the password :thinking:. Just in case, can you try running the command starting with `POSTGRES_PASSWORD=password` instead of `POSTGRES_PASSWORD=123456789.`?

[2022-08-02 10:05] javierm commented on #4888
Hi, @Chanachai-Pansailom :smile:.

I'm afraid we need a bit more context. Could you provide more details regarding when the main page will change to `/debates`?

[2022-08-02 10:07] javierm commented on #4886
Hi, @Chanachai-Pansailom :smile:.

The email confirmation isn't used if it has already been confirmed by the social media. The goal of the email confirmation is to make sure the email belongs to the person who's registering, so if that person has already confirmed their email using social media, we don't ask for the same confirmation.

[2022-08-02 10:14] javierm commented on #4884
Sorry, I'm afraid I've never used Docker on production. @muki @tonekk (sorry to bother you!) do you have any Docker configuration files for production which might be useful in this case?

[2022-08-02 12:19] johnfelipe commented on #4884
or link me another deployment documentation

[2022-08-02 12:20] johnfelipe commented on #4884
this is all my commands

[code]

all good until this command

`POSTGRES_PASSWORD=123456789. docker-compose run app rake db:create db:migrate`

then how can solve this for at least test and try your app
before i install democracyos, but i think that app is dead now

[2022-08-02 19:53] johnfelipe commented on #4884
ok i change pwd without dot at final and works

[2022-08-02 19:53] #4884 closed

[2022-08-02 20:59] johnfelipe opened #4890 "how allow only es, fr and it languages?"
how allow only es, fr and it languages?

[2022-08-03 00:45] Chanachai-Pansailom commented on #4888
I want to go to the website / and immediately go to the debate page. Because the first page will not be used, it will use the Debate page as the first page instead. By now I use javascript redirect url '../debates' I don't know if it's appropriate or not. I still don't see a way to change the routing.

[2022-08-03 00:48] Chanachai-Pansailom opened #4891 "How to title page all."
edit title web page all default. ?

[2022-08-03 05:33] Chanachai-Pansailom opened #4892 "How to new debates policy target="_blank""
How to new debates policy target="_blank"  Unable to open a new page. (checkbox).
Ex.
<%= f.check_box :terms_of_service,
          title: t("form.accept_terms_title"),
          label: t("form.accept_terms",
                   policy: link_to(t("form.policy"), "URL", target: "_blank"),
                   conditions: link_to(t("form.conditions"), "URL", target: "_blank")
                  ) %>

[2022-08-03 10:09] javierm commented on #4890
Hi, @johnfelipe.

Have a look at the [application customization documentation](https://docs.consulproject.org/docs/spanish-documentation/customization/overwritting). Replace `[:en, :es]` with `[:es, :it, :fr]` and `:en` with the locale you'd like to use as default.

[2022-08-03 10:17] javierm commented on #4888
Right now the easiest way is probably changing the line `root "welcome#index"` to `root "debates#index"` in the `config/routes.rb` file.

[2022-08-03 10:23] javierm commented on #4891
I'm very sorry, but I'm not sure what you mean. Do you mean the title of a custom page (lin the "site content" section in the admin) or the `<title>` tag of each page? If it's the latter, check the [translations customization documentation](https://docs.consulproject.org/docs/english-documentation/customization/translations).

[2022-08-03 10:40] johnfelipe commented on #4890
I install with docker, then need to enter into image?
Pls guide me with right commands and paths ...

El mié, 3 de ago. de 2022, 5:09 a. m., Javi Martín ***@***.***>
escribió:

[2022-08-03 13:33] johnfelipe commented on #4890
[code]

still show me en like default

[2022-08-03 13:41] johnfelipe commented on #4890
ok need a double restart for works
tnks

[2022-08-03 13:41] #4890 closed

[2022-08-03 13:55] johnfelipe opened #4893 "sendgrid API smtp is possible add like feature for send notifications?"
sendgrid API smtp is possible add like feature for send notifications?

[2022-08-03 14:22] johnfelipe commented on #4891
@Chanachai-Pansailom
i do this steps

STRING FROM CONSUL TO PARTICIPA-UDEA

[code]

REINICIAR
sudo reboot

INICIAR LA APLICACIÓN

[code]

[2022-08-03 15:02] johnfelipe opened #4895 "Creation of manuals for user, admin and develop"
https://github.com/consul/consul/pull/4894

is an example, but can u share or create, i can contribute, with pdf or md files with recent screenshots and features?

[2022-08-04 14:05] javierm commented on #4895
Hi, @johnfelipe.

(Sorry, accidentally replied in the wrong page, so here's the same message again).

User manuals are part of the [webiste repository](https://github.com/consul/website). This website is publicly accessible through the [CONSUL project page](https://consulproject.org/); you can download these manuals from there.

I'm not sure whether the manuals you're looking for are already avail

[2022-08-04 14:12] javierm commented on #4892
Hi, @Chanachai-Pansailom :smile:.

Thanks for reporting. This is actually a known issue. Feel free to send a pull request to fix it!

Closing as duplicate of #4355

[2022-08-04 14:12] #4892 closed

[2022-08-04 14:16] johnfelipe commented on #4895
sweet, can i translate them to spanish and share u?

[2022-08-04 14:19] javierm commented on #4893
Hi, @johnfelipe :smile:.

Sorry, I'm afraid I don't understand the question :thinking:. Notifications are sent using the [admin notifications interface](https://demo.consulproject.org/admin/admin_notifications) and, yes, to do so on production, you need sendgrid or another SMTP provide and configure the application as mentioned in the [mail server configuration documentation](https://docs.consulpr

[2022-08-04 14:23] johnfelipe commented on #4893
Sendgrid use api
Then is only put there like same doc?

[2022-08-04 16:52] johnfelipe opened #4896 "Strings not change in UI"
[code]

and still show this:
![SNAG-0086](https://user-images.githubusercontent.com/428820/182906863-e60d8d45-9bf8-4cec-9fb0-02d3c78816ed.png)

an tittle in here, view in top left side:

![SNAG-0087](https://user-images.githubusercontent.com/428820/182907046-07edfd41-d4a2-4e2d-ad23-a3d47a6fda40.png)

i reboot all ubuntu but not works

[2022-08-05 11:26] javierm commented on #4895
I see you're already opening pull requests on the website repository :ok_hand:, so closing this one in favor of those ones.

By the way, if you're interested in keeping the user interface translated to Italian/French (we take care of English and Spanish, but of course we welcome reports regarding typos :smile:), you can join our [Crowdin project](https://crowdin.com/project/consul). The translatio

[2022-08-05 11:26] #4895 closed

[2022-08-05 12:25] javierm commented on #4896
Hi, @johnfelipe :smile:.

The strings in the `seeds.yml` are only there to setup the initial data. In the case you're mentioning, to change those texts, go to site content -> homepage section on the admin section and edit the header.

[2022-08-05 12:31] javierm commented on #4893
We've used sendgrid in the past by configuring the `smtp_settings` in the `secrets.yml` file, yes:

[2022-08-05 15:29] johnfelipe commented on #4896
![SNAG-0102](https://user-images.githubusercontent.com/428820/183110425-416729ac-01b1-4c93-85d1-43aee46b2d47.png)
![SNAG-0101](https://user-images.githubusercontent.com/428820/183110391-005d0827-d26a-432d-a0af-c739904f49c5.png)

works

[2022-08-05 15:29] #4896 closed

[2022-08-05 15:30] johnfelipe opened #4897 "i want to contributor - tester - documentator and translator"
Can u add in contributor list pls

[2022-08-05 15:32] johnfelipe opened #4898 "how change title of webpage frontend"
![SNAG-0103](https://user-images.githubusercontent.com/428820/183110974-3c23c740-4983-4ea2-8665-9bd52403e34d.png)

[2022-08-05 16:52] johnfelipe opened #4899 "how change styles css and graphical design"
can u link me md file or steps for change all sytles in consul
https://www.udea.edu.co/wps/portal/udea/web/inicio/institucional/planeacion/comunidad/encuestas-consultas
that will be example for colors and fonts, backgrounds, etc
Tnks

[2022-08-05 16:59] johnfelipe commented on #4893
[code]

yes but wich will be settings for sendgrid?

You can connect via unencrypted or TLS on ports 25, 2525, and 587. You can also connect via SSL on port 465
smtp.sendgrid.net, 25

user will be me my user and password will be APIkey?

[2022-08-08 11:11] javierm commented on #4898
Hi, @johnfelipe.

The title of the page is taken from the name of the organization. You can edit this name in the "settings" section of the administration interface. The setting is called "site name".

[2022-08-08 11:13] javierm commented on #4893
Hi, @johnfelipe.

I don't know; I don't use sendgrid :wink:. Maybe this can help :thinking:. [Configure ActionMailer to Use SendGrid](https://docs.sendgrid.com/for-developers/sending-email/rubyonrails#configure-actionmailer-to-use-sendgrid).

[2022-08-08 11:16] javierm commented on #4899
Hi, @johnfelipe.

You can add your own styles to the `app/assets/stylesheets/custom.scss` file or you can create new files in the `app/assets/stylesheets/custom/` folder.

[2022-08-08 13:38] javierm commented on #4871
Closing due to lack of response. @ezrahcim Feel free to reopen once you provide more information about this issue :wink:.

[2022-08-10 02:45] francoposa opened #4901 "Golang SDK: Support re-acquiring semaphore lock after application restart when using durable sessions"
### User Story

As a user, I would like to use durable (long or infinte TTL, no heartbeat, no healthcheck) sessions to allow applications to re-acquire a previous semaphore lock

### Why is this Needed?

We would like to use semaphores as a rate limiter for long-running workflow tasks which persist through retries, goroutine panics, and worker process restarts, etc. as in the temporal.io (successo

[2022-08-10 09:29] javierm commented on #4901
Hi, @francoposa.

I'm afraid I've no idea what you're talking about :thinking:. Is it possible that you're looking for [Hashicorp's Consul repository](https://github.com/hashicorp/consul/)?

[2022-08-10 13:35] francoposa commented on #4901
Ahhh yep. Sorry!

[2022-08-10 13:35] #4901 closed

[2022-08-17 11:57] javierm opened #4903 "Flaky spec: Budget::Ballot::Line Validations Approval voting validates votes when creating lines at the same time"
## References

* This test, which is in the `spec/models/budget/ballot/line_spec.rb` file, has failed a few times, like in our [test run 3882, job 3](https://github.com/consul/consul/runs/7877363054) (see the [test run 3882 job log](https://github.com/consul/consul/files/9359242/run_3882_job_3.txt)), which run on commit consul/consul@4a786e4a7

## Failure
[code]

[2022-08-19 16:23] decabeza opened #4905 "Enable annotations on touch devices"
### Description

CONSUL uses the [Annotator Javascript library](http://annotatorjs.org/) for annotations on Legislation text processes.

Now is not possible to add comments from touch devices. You can try on [the official demo text](https://demo.consulproject.org/legislation/processes/2/draft_versions/1).

It's seem Annotator have a [Touch Plugin](https://github.com/aron/annotator.touch.js) to add

[2022-08-22 18:48] ezrahcim commented on #4871
https://decide.huka.co.il/polls/
we use the installer as it is

[2022-08-22 20:28] javierm commented on #4871
@ezrahcim Thanks for the info!

The only thing that comes to mind is that the `slug` attribute of the poll (the one which defines the URL where you can see the poll) is an empty string in the database. Could you confirm that? Not sure how that's possible, though :thinking:.

I think we can do a change in CONSUL which would reduce the inconvenience of this issue, but in order to completely fix it w

[2022-08-23 12:04] javierm opened #4907 "Legislation debates can't be formatted"
## Description

In the admin section, we're currently using a `<textarea>` field to fill in the title of a legislation process debate/question. However, the title is rendered as plain text inside tags such as `<h3>` or `<h4>`, so entering paragraphs here doesn't make any difference.

We should change the type of this field from textarea to a regular text field to avoid confussion.

In order to all

[2022-08-23 13:42] #3183 closed

[2022-08-23 20:19] javierm commented on #3409
Reopening via #3819.

[2022-08-23 20:24] javierm commented on #4797
Hi, @muki @tonekk :smile:.

We're thinking about which features will be added in version 1.6, and were wondering: are you still working on this issue? If not, that's OK!

By the way, no pressure :wink:. We certainly don't want you to be stressed about including it in time for version 1.6; we're just checking what the status is.

Thanks!

[2022-08-24 08:10] ohadcn commented on #4871
@javierm
I'm pretty sure this is the problem, I can register to @ezrahcim CONSUL and participate in the vote using the URL [https://decide.huka.co.il/polls/7](https://decide.huka.co.il/polls/7), but there is no link to this page from [https://decide.huka.co.il/polls](https://decide.huka.co.il/polls) so he probably couldn't find it.
It looks to me like a poor design not to have a default link to th

[2022-08-24 08:39] tonekk commented on #4797
Hi, I could provide the Dockerfile that we use to host consul in our setup for the SVA app (mentioned in https://github.com/consul/consul/pull/4872).
Maybe it will need some tweaking to make its way into the repo, but we run it in production rn.

[2022-08-25 09:09] TomClive commented on #3513
One of our councils has just asked about email headers/footers and adding disclaimers. Something like this would be very useful for us.

[2022-08-26 10:16] radicaledi opened #4962 "Enable users to share via opt-in their contact details with Consul Democracy Foundation when they first install Consul"
### Enable user to share my contact details with Consul Democracy Foundation via opt-in when they first install Consul

# As a user, I want to be able to share my contact details via opt-in  so that I can be directly in touch with Consul Democracy Foundation

# As an admin, I want to be able to opt-in or opt-out at from the admin panel, so that I can edit the decision to share or not share contact

[2022-08-26 15:56] javierm commented on #4797
@tonekk That would be great, thanks! :smile:

[2022-08-30 21:58] RamzuYunus opened #4984 "how to configure mailing"
Hi. I cant seem to get the mailing configuration correct as the system is not sending emails. Is there an example of the following configuration filled in? I think I may be filling in the wrong things.

  mailer_delivery_method: :smtp
  smtp_settings:
     :address: "<smtp address>"
     :port: 587
     :domain: "<domain>"
     :user_name: "<user_name>"
     :password: "<password>"
     :authentic

[2022-09-03 16:00] Hu1buerger opened #4986 "ActionController::UnknownFormat in Budgets::InvestmentsController#json_data"
### User Story

As an external system, i want to load the json data for `/budgets/:budget_id/investments/:id/json_data` so that i can load machine readable data about the project (i.e. the link to the image held).

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually hap

[2022-09-05 11:33] javierm commented on #4986
Hi, @Hu1buerger :smile:.

That route is used exclusively to obtain information which will be displayed on the budgets map. You can see an example at the [official CONSUL Demo](https://demo.consulproject.org/budgets); just click on one of the markers on the map.

So I'm not sure it'll give you the information you need :thinking:. In any case, you might need to add the extension to  the URL in order

[2022-09-05 11:36] Hu1buerger commented on #4986
@javierm you are right. Extension works.

And yes the data that I would need contains the url to the image and essentially all other data about the project available for the userrole

[2022-09-05 11:41] javierm commented on #4984
Hi, @RamzuYunus.

Just in case, note that you need to restart the Rails application after changing the `config/secrets.yml` file; otherwise, the changes won't be applied.

You can see an example at [Configure ActionMailer to Use SendGrid](https://docs.sendgrid.com/for-developers/sending-email/rubyonrails#configure-actionmailer-to-use-sendgrid). Note that they add the settings to the `environment.r

[2022-09-06 08:33] raoulkramer opened #4987 "Automatic password reset with Wordpress Oauth"
Consul seems to automatically reset password after a certain time (please correct me when I am wrong).

When a user is authenticated and managed in a Wordpress authentication environment the user is not possible to reset their password on the form provided by the Consul app.

Resetting the password in the Wordpress authentication environment also seems not to work to create a working Consul user.

[2022-09-07 09:29] DiegoZen commented on #4355
Is this still happening in every sanitized text. I solve it adding this line in `application.rb`:
[code]

May I open a pull request for this?

[2022-09-07 10:31] javierm commented on #4987
Hi, @raoulkramer :smile:.

Thanks for reporting! We'll look into this.

In the meantime, as a workaround, have a look at the `config/initializers/devise-security.rb` file; you can postpone the password expiration by changing the `config.expire_password_after` setting.

[2022-09-07 10:47] javierm commented on #4355
Hi, @DiegoZen :smile:.

For now, as mentioned earlier, I'd rather add an `attributes` param in the call to `sanitize` when [sanitizing check box labels](https://github.com/consul/consul/blob/master/lib/consul_form_builder.rb#L26) in order to include the `target` attribute.

The reason is that automatically opening links in a new tab is an accessibility/usability issue (and removing some of the exi

[2022-09-08 20:36] javierm commented on #4886
Closing since this is the expected behaviour. @Chanachai-Pansailom Feel free to reopen if the comment above doesn't solve your issue :wink:.

[2022-09-08 20:36] #4886 closed

[2022-09-08 20:38] javierm commented on #4891
Closing due to lack of answer. @Chanachai-Pansailom Feel free to reopen if you can provide the questions in my previous commet.

[2022-09-08 20:38] #4891 closed

[2022-09-08 20:38] javierm commented on #4888
Closing since I think the question has been answered. @Chanachai-Pansailom Please, if I misunderstood, say so and reopen the issue :wink:.

[2022-09-08 20:38] #4888 closed

[2022-09-08 20:40] javierm commented on #4893
Closing since the question is answered in the SendGrid documention linked above. @johnfelipe Please reopen if that's not the case :wink:.

[2022-09-08 20:40] #4893 closed

[2022-09-08 20:42] javierm commented on #4898
Closing since I think the question has been answered :thinking:. @johnfelipe Feel free to reopen it that's not the case :wink:.

[2022-09-08 20:42] #4898 closed

[2022-09-08 20:43] javierm commented on #4899
Closing since I think the question has been answered in the previous comment. @johnfelipe If that's not the case, say so and reopen :wink:.

[2022-09-08 20:43] #4899 closed

[2022-09-08 20:45] javierm commented on #4897
Thank you so much for offering! :tada: Since I see you're already in touch with the people who handle the documentation, we're continuing the conversation in consul/website#31.

[2022-09-08 20:45] #4897 closed

[2022-09-14 13:31] #4133 closed

[2022-09-16 09:53] decabeza opened #4991 "Allow to select the participatory budget when sending newsletters"
### Description

Currently, Administrators can send newsletters from `/admin/newsletters`, and select the recipients that will receive it.

There are several user segments related to participatory budgets:

- Investment authors in the current budget.
- Authors of some investment in the current budget that does not comply with: [valuation finished unfesasible].
- Authors of selected investments in

[2022-09-23 12:00] Pomerange opened #4994 "Style customization in Administration interface"
### Why is this Needed?

There are several elements of the style of Consul that are recurrently modified in many Consul instances. The goal of this issue is to create a menu in the administration interface where admins can modify those elements easily, without recurring to sysadmins or programmers.

### Description

The proposal includes the following elements:

1. Create a "Customisation" menu in

[2022-09-23 12:18] Pomerange opened #4995 "Changes to simplify the use of Admin interface"
### Why is this Needed?

The following ideas are proposed to simplify the use of the Administration interface to make it easier to use and understand for new admins of Consul. The current interface is based on how the software is organised and has grown organically as consul was more developed. The new interface should help organise CONSUL from a administrator's point of view.

### Description

Th

[2022-09-23 12:21] Pomerange opened #4996 "Simplify Polls administration"
This is a proposal to merge the buttons “Configure” and “Edit” in Polls.

In Polls, there are two buttons “Configure” and “Edit” whose name is confusing (indicates the same meaning) and whose pages could be merged in a single page.

In the questions of the polls happens the same, it would be better to merge the button “Edit” (to edit the question) and the button “Edit answers” (to edit a single an

[2022-09-23 13:37] javierm commented on #4996
A couple of ideas regarding questions/answers.

We need to check whether editing a question and its answers (with each answer having images, documents and videos) in a single form might result in a form that is too complex.

Perhaps we could use a single form to edit an answer, including its images, documents and videos :thinking:. The tricky part would be making sure there's a way to check that t

[2022-09-23 13:40] javierm commented on #4996
One easy solution could be removing the "Edit" link (and maybe renaming "Configure" to something else), since the "Configure" page has a link to edit the poll as well. That would be similar to what we're doing in the budgets section.

[2022-10-04 08:31] DemocraciaPopular opened #5001 ""thanks for registering - confirm your email" page accessible by hand"
The page that is supposed to appear in response to a registration can actually be accessed via browser address bar.

Case example:

Open incognito window and paste this into the browser url bar: https://demo.consulproject.org/**users/sign_up/success**

You will get that page as if you had just registered.

[2022-10-06 15:40] decabeza opened #5006 "Allow to select the participatory budget when download emails"
### Description

This issue is related with https://github.com/consul/consul/issues/4991

Currently, Administrators can download users emails from `/admin/emails_download`, and select the email addresses list to download.

There are several lists related to participatory budgets:

- Investment authors in the current budget.
- Authors of some investment in the current budget that does not comply wi

[2022-10-08 15:17] javierm commented on #4995
Regarding the menu, one thing I'd like to watch out for: we currently have a two-level menu (that is, some menus have submenus). Introducing a third level (submenus with submenus) might also bring its own set of usability issues. We'll need to check that.

By the way, a nice improvement requiring no great effort (IMHO) could be moving "Custom images" and "Custom content blocks" from the "Settings"

[2022-10-08 16:00] javierm commented on #4994
This is actually very hard. Consul defines the color variables in the code (in SCSS files) and then compiles these files into CSS files which are the files citizens get while browsing the application. Using a color set by an administrator would require using CSS variables instead.

A solution that kind-of-seems-to-work-in-some-cases isn't that hard, but that would result in inconsistent colors in

[2022-10-09 20:53] robgitnyc opened #5010 "Help embedding pol.is into a consul page"
Hello.

I would like to be able to embed a pol.is wikisurvey. It's a simple html snippet:

[code]
However, since the page creation page in Consul doesnt allow html, I would like to know where exactly should I add this html code in order to be able to integrate into consul.

Your help will be much appreciated.

edit: i tried editing the appropriate cell in site_customization_page_translations in da

[2022-10-10 12:35] coslajohn opened #5011 "Cards Management"
### User Story

As an Administrator I want to be able to manage the layout of cards on the homepage. I want to be able to change the order in which cards are displayed and to be able to enable/disable cards

### Why is this Needed?

It would be helpful to be able to change the order of cards, both to decide the order in which cards should be displayed but also to be able to better fit cards of dif

[2022-10-19 08:56] skycyan opened #5015 "What is the relationship between "consulproject.org" AND "consul.io"?"
Thanks for answering.

###
What is the relationship between "consulproject.org"  AND "consul.io"?

###
Why are their version numbers different?

[2022-10-19 09:01] Senen commented on #5015
Hi @skycyan, they have no relation as they are different projects. While the Hashicorp Consul is a tool to manage networks, CONSUL is free software for citizen participation. It's usual people gets confused because of the name.

[2022-10-19 09:55] #5015 closed

[2022-10-25 07:45] DiegoZen opened #5022 "Emails stop working due to DelayedJobs disconnection"
Sometimes email delivery fails. I realised that this happens because if the database is restarted for whatever reason (maintenance, automated task, etc), DelayedJob loses its connection pool, being unable to detect new tasks being registered in the DB table. The whole app keeps running but DelayedJobs will remain disconnected until manually restarting delayed_jobs

The easy solution is just to dea

[2022-11-02 13:29] TomClive opened #5025 "Improvements to moderation section"
As a user the moderation section could be improved.

There are three things that appear to be lacking in Consul:

1. Emails - we would like emails to be sent to moderators when they have items they need to look at
2. Notifications - notifications of content to be moderated within consul
3. Summary Page - a summary page of all content which is pending moderation

These features would make sure that

[2022-11-04 14:00] javierm commented on #5010
Hi, @robgitnyc :smile:.

As you've noticed, `<script>` tags are automatically removed for security reasons. In order to enable them, you'll have to change the source code of the application; in particular, the `lib/admin_wysiwyg_sanitizer.rb`. There you can add `script` to the list of allowed tags.

Also note that, if that script uses third-party cookies (I don't know whether that's the case), you

[2022-11-04 14:18] #5010 closed

[2022-11-08 00:07] skyao opened #5026 "ca_file is not correct in generated agent-server-tls.hcl file"
### User Story

I need to setup two clusters on one machine for test, so I need to change the default settings of  CONSUL_CONFIG_DIR and CONSUL_DATA_DIR

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)

CONSUL_CONFIG_DIR and CONSUL_DATA_DIR should be used

[2022-11-08 09:40] javierm commented on #5026
Hi, @skyao :smile:.

I'm afraid I've no idea what you're talking about. Is it possible that you're looking for [Hashicorp's Consul](https://github.com/hashicorp/consul/)? :thinking:

[2022-11-11 09:40] skyao commented on #5026
I'm sorry for this mistaken.

[2022-11-11 09:40] #5026 closed

[2022-11-11 20:39] thebravoman opened #5027 "Heroku deploy LoadError: cannot load such file -- net/smtp"
### User Story

Trying to deploy on heroku

### Why is this Needed?

To host it
### Description

git push heroku master

### Current Behavior
[code]

### Expected Behavior
It deploys

### Steps to reproduce

git push heroku master

### Definition of Done
It deploys on heroku

I was able to solve this by adding

[code]

Do you want me to prepare a PR? Would it be accepted

[2022-11-11 20:54] thebravoman opened #5028 "Heroku deploy - remote: ! ArgumentError: wrong number of arguments (given 3, expected 1..2)"
### User Story

Deploying on heroku

### Why is this Needed?

To use it

### Description

[code]

### Current Behavior
[code]

### Expected Behavior
It works

### Steps to reproduce
[code]

### Definition of Done

Can use it on heroku

[2022-11-11 21:11] thebravoman commented on #5028
Down the rabbit hole we can not upgrade dry-types to 1.0.0 because of

[code]

Guess we can't run it with ruby-3.1.2

Are we supposed to?

[2022-11-11 21:49] thebravoman opened #5029 "Heroku deploy - App crashed"
### User Story

Managed to deploy on heroku 20 with ruby-2.7.6. Standard 2x machine for $50

### Why is this Needed?
To use it

### Description

git push heroku master

### Current Behavior
After deploy when starting it fails

[code]

### Expected Behavior
To visit the url address and to see consul working

### Steps to reproduce

git push heroku  master on heroku with heroku 20 stack and ruby-2.7

[2022-11-12 14:35] javierm commented on #5028
Hi, @thebravoman :smile:.

The application doesn't work with Ruby 3 yet. You need to use Ruby 2.7.6, as specified in the `.ruby-version` file.

Since I see you've also opened issue #5029 :+1:, closing in favor of that one.

[2022-11-12 14:35] #5028 closed

[2022-11-12 21:39] thebravoman commented on #5028
Thanks. Makes sense.

[2022-11-16 12:23] rpepe23 commented on #4468
sudo apt-get update
sudo apt-get install shared-mime-info
gem install mimemagic -v '0.4.3' --source 'http...'

[2022-11-16 19:39] javierm commented on #4468
@rpepe23 Version 1.5.0 no longer depends on mimemagic (since commit 7212657c0), so installing it shouldn't be necessary anymore :thinking:.

[2022-11-19 17:07] #2611 closed

[2022-11-22 14:47] dbx834 commented on #5029
I have the same problem. Were you able to figure it out?
I'm using Heroku-20 too (Ruby-2.7.6)

I see the same logs as you:

[code]

[2022-11-25 11:33] TomClive opened #5035 "Bug report: Adding a custom content block in side block of budget investment prevents users from voting."
As in the title, if you add a custom content block to a budget it prevents the voting function from working.

Please check this example.
https://dev.communitychoices.scot/budgets/36/investments
![image](https://user-images.githubusercontent.com/9372488/203975659-ecd60051-d29f-4a0b-a3c6-f60bf06b7c9e.png)

When you click on the vote button nothing happens.

This is what we see in the Console using C

[2022-11-25 11:35] coslajohn commented on #5035
The vote/action is actually registered but the view is not refreshed until the browser itself is refreshed

[2022-11-25 12:48] javierm commented on #5035
I can reproduce this bug. We'll have a look.

By the way, while it isn't the cause of this bug, I've noticed the example page you're linking to [uses invalid HTML](https://validator.w3.org/nu/?showsource=yes&doc=https%3A%2F%2Fdev.communitychoices.scot%2Fbudgets%2F36%2Finvestments) in its content block. A current limitation of content blocks is they're inside a `<ul>` tag, so all its direct childre

[2022-11-25 12:54] coslajohn commented on #5035
Thanks for clarifying this @javierm
the guidance on the custom blocks page isn't clear that the <ul> tag is required and could imply that the <ul> is being added automatically
Information about content blocks
**You can create HTML content blocks that can be inserted in different places of your website.

A content block is a group of links, and it must have the following format:

<li><a href="http:

[2022-11-28 12:27] javierm commented on #5035
I wonder whether it even makes sense to use `<ul>` tags with `<li>` children in the case of budget heading content blocks :thinking:. The problem now is that, if we remove the `<ul>` tags, existing content blocks using `<li>` tags will be invalid, so changing this behaviour it tricky.

[2022-11-28 17:09] #5035 closed, assigned to nobody