[2018-04-14 17:43] bertocq opened #2597 "Fix rspec-mocks deprecation warning"
When running the test suite a deprecation warning is prompted:
[code]

[2018-04-15 01:52] aitbw commented on #2597
This deprecation warning is already fixed in AyuntamientoMadrid/consul#1362. I'm waiting for the PR to be reviewed and merged in order to backport it here :smile:

[2018-04-15 01:55] aitbw commented on #2596
Further reading regarding this topic can be found on [this article](https://blogs.dropbox.com/tech/2012/04/zxcvbn-realistic-password-strength-estimation/) by Dropbox —quite lengthy but extremely worth it

[2018-04-17 09:52] raul-fuentes commented on #2472
There is currently a valuation_group in the csv, related with the model through valuator_group_assignments. Isn't it the requested data? . The other solution that I can think is showing all the groups related to any valuator to the investment, but I don't known if it's make sense.

[2018-04-17 10:00] bertocq commented on #2472
Don't worry about this @raul-fuentes it was already done & refactored at https://github.com/consul/consul/pull/2592 but forgot to link this issue

[2018-04-17 10:00] #2472 closed

[2018-04-17 15:20] decabeza opened #2601 "Search does not maintain filters"
Background
==

Now in all section, if the user selects a tag a category or a heading (on budgets), search it's not maintaining the previous filters, for example:

1. Visit proposals path
2. Select "Economy" category
3. The URL generated is `/proposals?search=Economy`
4. If a user searches again, for example, "money", the URL change to `proposals?search=money` and "lose" the previous filter.

What

[2018-04-17 15:58] decabeza opened #2602 "Allow select between map or links on sidebar"
Background
==

Now on proposals index sidebar, we use a map _[Screenshot_1]_ of geozones.

What we need
==
1. Include this map/links on debates sidebar.

2. Add settings to allow select from Admin settings `/admin/settings` display map, links or boths on sidebar index _[Screenshot_2]_.

3. If display...
    - **map**: this should redirect to `section/map` (as is now on proposals).
    - **links**:

[2018-04-17 19:30] bertocq commented on #2597
Yes! You're right Angel, sorry I kept forgetting about that PR! I remembered I had somewhere a reference to this deprecation warning but I was searching for PR's instead of issues :( its a duplicated of https://github.com/AyuntamientoMadrid/consul/issues/1120 but we'll keep it open just to remember to create the backport for that great PR.

[2018-04-18 11:05] decabeza opened #2603 "Add button on admin to see budget results"
Background
==
Once the voting phase for a budget has finished, admins can click a button to calculate the winner investments

What
==
Once the winners have been calculated we would like to have a button linking to public results

How
===
- Sign in as an admin
- Go to the /admin section
- Click on Participatory Budgets
- Click on Edit budget
- Change the budget phase to 'Reviewing Ballots'
- Click

[2018-04-18 11:25] decabeza opened #2604 "Add a message to unselected and unfeasible budget investments"
What we need
==

From "Reviewing projects" phase add a message to unselected and unfeasible budget investments show `/budgets/N/investments/X` indicating to users that this budget investment doesn't go to balloting phase.

Screenshots
==
![ballot](https://user-images.githubusercontent.com/631897/39239907-9af1811a-4882-11e8-8091-c3e82699f13a.jpg)

![select](https://user-images.githubusercontent.com

[2018-04-18 11:32] decabeza opened #2605 "Replaces icons of expand/collapse comments"
Background
==

Now on all item with comments we use an arrow to expand/collapse comments.

Background
==

Replaces arrow icon with plus/minus icons to expand/collapse comments.

Screenshots
==

**Actual icons**
![screen shot 2018-04-18 at 13 29 15](https://user-images.githubusercontent.com/631897/38929486-c080c66e-430c-11e8-9daa-4cb2aaf42e11.png)

![screen shot 2018-04-18 at 13 29 18](https://user

[2018-04-18 11:38] decabeza opened #2606 "Adds help to draft version of legislation processes"
What we need
==

Including some help to indicates to users they can comment the text of legislation process
`/legislation/processes/N/draft_versions/X`.

Screenshot
==

We can use something similar to (it would be nice create a gif for each locale):

![annotator_help](https://user-images.githubusercontent.com/631897/38929640-4d4c45b4-430d-11e8-9580-63f5af36234e.gif)

[2018-04-18 11:50] decabeza opened #2607 "Move search forms to sidebar"
Background
==

Now each section has a search form, always show on the sub-navigation bar and makes the UI a little messy.

What we need
==

Moves these searches forms to the sidebar (repositioning the "mode view" selector and the "advanced search link").

Screenshot
==

![search_sidebar](https://user-images.githubusercontent.com/631897/38930190-4e621e4a-430f-11e8-9215-ba16e922892c.jpg)

[2018-04-18 14:58] jcbcmpsmt opened #2609 "consul_test not found"
Hi.
I'm installing consul with many problems but now I'm having no error messages, however the http connection is no working at all (no response) . Backinp up the installation proccess, I'm having problems with "RAILS_ENV=test bin/rake db:setup" command and I obtain this error message
"/usr/local/rvm/gems/ruby-2.5.1/gems/activerecord-4.2.10/lib/active_record/connection_adapters/postgresql_adapter.

[2018-04-18 15:03] bertocq commented on #2609
Hi @jcbcmpsmt is there any public consul fork we can check to help you?

Anyway if you follow the installation steps one by one you shouldn't have any issues https://consul_docs.gitbooks.io/docs/content/es/getting_started/local_installation.html

Please start over and when mention on which step you stopped and which error the app gave you. Normally the error message is pretty descriptive as the on

[2018-04-19 15:51] decabeza opened #2610 "Dropdown menu with user options"
Background
==

Now there is a menu showing all options for the users _[Screenshot_1]_. Sometimes is a little confuse (for example moderators or valuators see and "Admin" menu but they have not an administrator role.

What we need
==

Group the user links on a drop-down menu _[Screenshot_2]_ and include all their roles _[Screenshot_3]_.

Screenshots
==

**[Screenshot_1]**
![screen shot 2018-04-19 a

[2018-04-21 04:47] microweb10 commented on #2604
I can work on this one.
I wonder if you already have the message strings somewhere or if you leave the messages up to me

[2018-04-23 15:08] voodoorai2000 opened #2611 "Multitenancy"
What
===
Make CONSUL Multitenant

How
===
We suggest using the [apartment gem](https://github.com/influitive/apartment)

Here are a [couple](https://medium.freecodecamp.org/building-a-multi-tenant-app-is-easy-if-you-have-an-apartment-3465f6eda85b) of [articles](http://dev.edenspiekermann.com/2016/09/09/rails-multitenant-site/) and a [screencast](https://gorails.com/episodes/multitenancy-with-apart

[2018-04-25 10:18] decabeza commented on #2604
@microweb10 @bertocq mockups updated with the correct texts 😉

[2018-04-25 11:40] #2362 closed

[2018-04-25 13:27] voodoorai2000 commented on #1491
Closed in favor of [CONSUL installer](https://github.com/consul/installer)

[2018-04-25 13:27] #1491 closed

[2018-04-25 13:30] voodoorai2000 opened #2612 "Add Imagemagick to Docker configuration"
References
===
**Related PR:** https://github.com/consul/consul/pull/2127

What
===
Install ImageMagick in initial Docker configuration script

Why
===
It is required for the upload image functionalities

[2018-04-25 13:40] voodoorai2000 commented on #2582
Hey @orlyco!

Proposals are archived automatically after a certain period
You can setup this period in the url /admin/settings within the option _Months to archive Proposals_

The best places to ask for functional questions are [Gitter](https://gitter.im/consul/consul?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) or the [Community](https://community.consulproject.org/)

[2018-04-25 13:40] #2582 closed

[2018-04-25 23:51] bhack commented on #2606
https://web.hypothes.is
https://web.hypothes.is/about/

[2018-04-26 00:00] bhack commented on #2606
Also if a discussion need to be organized over a modification proposal/comment check:
https://words.democracy.earth/thecaseforcanonicaldebate-34811166bbb0

[2018-04-26 00:11] bhack commented on #2606
Check also https://github.com/opengovfoundation/madison/blob/master/docs/README.md

[2018-04-27 17:28] #2509 closed

[2018-04-29 05:28] microweb10 commented on #2604
@decabeza I have this ready for PR for a while now, but I have a question about the translations (config/locales)
I haven't contributed for more than a year now, and before you only had 2 translations (EN & SP), but I see a lot of them now.
Do I have to add manually all translations?

[2018-04-29 17:48] bertocq commented on #2604
@microweb10 don't worry, only English translations are enforced [and required by specs](https://github.com/consul/consul/blob/master/spec/i18n_spec.rb#L1) (we should make this more explicity on a Pull Request checklist 🤔 )

Translations for additional languages will be added by translators at https://crwd.in/consul, so don't worry about languages you aren't fluent on ;) English (+ Spanish) its mor

[2018-04-30 07:28] microweb10 commented on #2604
@decabeza probably you shouldn't make that more explicitly, probably I should read a little bit more. Sorry about that.

Anyway I wanted to let you know that I have only added the English messages cause I don't really know how you want to make it in Spanish, but if you let me know the messages in here I can add them to the PR https://github.com/consul/consul/pull/2614

[2018-04-30 11:30] decabeza commented on #2604
Hi @microweb10 the texts in Spanish:

`Este proyecto de inversión ha sido marcado como inviable y no pasará a la fase de votación.`

`Este proyecto de inversión no ha sido seleccionado para la fase de votación.`

😉

[2018-04-30 11:48] microweb10 commented on #2604
Done! Gracias!!!!

[2018-04-30 15:49] #2328 closed

[2018-05-02 11:43] rzido opened #2615 "Analysis of improvements, if needed, for compliance with GDPR"
# Background

General Data Protection Regulation (GDPR) (EU) [2016/679](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32016R0679) is EU regulation on data protection and privacy for all individuals within the European Union.  It becomes enforceable on 25 May 2018.

# What we need

It would be appropiated an analysis in order to detect if CONSUL needs improvements for compliance with

[2018-05-03 15:24] #1999 closed

[2018-05-08 12:51] voodoorai2000 opened #2617 "Display only selected budget investments in publishing prices phase"
References
===
Backport: https://github.com/AyuntamientoMadrid/consul/pull/1454

What
===
During the publishing prices phase only selected investments should be displayed by default

[2018-05-09 08:17] voodoorai2000 opened #2618 "Allow author notifications to be moderated"
Context
===
Authors of proposals can create notifications[1] for their supporters.

What
===
Allow this notifications to be moderated[2] by admins and moderators.

How
===
Something similar to how comments and proposals are moderated:
- There should be a link to 'hide notification' from the user interface.
- Once a notification has been hidden, it should be visible in the moderation section like t

[2018-05-10 09:07] iagirre commented on #2612
I'll do this.

[2018-05-10 11:30] voodoorai2000 opened #2621 "Exception in home page"
### Steps to reproduce
Go to the homepage

### Expected behaviour
I should see all sorts of marvellous things

### Actual behaviour
An exception is raised

Notes
===
Example in production: Going to the home page when logged in as user 138
Referenced exception: https://rollbar.com/consul/Participacion/items/1438/

Probably has something to do with recommendations in the home page

[2018-05-10 11:32] voodoorai2000 commented on #2621
Wrong repo

[2018-05-10 11:32] #2621 closed

[2018-05-10 13:04] voodoorai2000 opened #2623 "Send newsletter in batches"
What
===
Instead of sending all newsletter emails at once we should send them in batches

Why
===
To avoid being marked as spam

[2018-05-11 16:35] decabeza opened #2624 "Admin forms improvements"
Background
==

Some forms on Admin panel need minor changes to make easier to understand.

Notes
==

⚠️ Wait to https://github.com/AyuntamientoMadrid/consul/pull/1451 is merged and backported to this repo.

What we need
==

1. Move "Show results and stats" form from `/admin/polls/N/edit` to `/admin/polls/N/results`. _[screenshot_1]_

2. Remove "Link to external video" from `/admin/questions/new` (

[2018-05-14 14:00] decabeza opened #2625 "Basic content for i18n on admin"
Background
==

Recently we include the possibility of include translatable content for budget milestones from admin panel.

- Reference issue: https://github.com/consul/consul/issues/2436
- Refrence PR: https://github.com/consul/consul/pull/2619

What we need
==

Include some basic content i18n to allow admin include the necessary customization or language from admin panel.

For this first impleme

[2018-05-14 18:47] aamarill commented on #2612
Hello,

I am looking to make my first open source contribution. Is this a good issue to take on?
If not, feel free to point me other issues that might be good for someone that's new to open source.
Thanks!

[2018-05-15 09:51] voodoorai2000 commented on #2612
Hello @aamarill!

Thank you very much for wanting to contribute to CONSUL 😌
And welcome to the marvellous world of open source 🎉

This issues is already been worked on by @iagirre
Would you like to do this one https://github.com/consul/consul/issues/2603? 👍

[2018-05-15 10:57] voodoorai2000 opened #2627 "Upgrade to Rails 5.1"
What
===
Upgrade to Rails 5.1

Notes
===
Prerequisite issue ([upgrading to rails 5.0](https://github.com/consul/consul/issues/784) almost ready! 🎉)

[2018-05-15 10:59] voodoorai2000 opened #2628 "Upgrade to Rails 5.2"
## What

Upgrade to Rails 5.2

[2018-05-15 11:07] voodoorai2000 opened #2629 "Move to ActiveStorage"
Context
===
We are currently using paperclip, which has become [deprecated](https://github.com/thoughtbot/paperclip/blob/master/MIGRATING.md) in favor of Rails 5 build in file upload system, [ActiveStorage](http://edgeguides.rubyonrails.org/active_storage_overview.html)

What
===
Refactor [document](https://github.com/consul/consul/pull/1809/files) and [image](https://github.com/consul/consul/pull

[2018-05-15 16:48] aamarill commented on #2612
@voodoorai2000 thanks! I'll have a look ASAP.

[2018-05-15 18:31] voodoorai2000 opened #2630 "[Backport] Add admin budget stats"
References
===
- Backport: https://github.com/AyuntamientoMadrid/consul/pull/789
- Related: https://github.com/AyuntamientoMadrid/consul/issues/1472

What
===
- Add an admin section displaying number of votes per heading in the support and balloting phases

Screenshots
===
![admin budget stats](https://user-images.githubusercontent.com/4169/40076291-d083f068-587e-11e8-8b1e-6cfd66775ebc.png)
![admi

[2018-05-15 22:42] atzorvas commented on #2603
I'll do this :)

[2018-05-15 23:06] atzorvas commented on #2603
Some questions,

* we may hit calculate, but we may not have a winner, what do we do in that case?
* is it necessary to have a winner? or can we simplify this by saying "if it's in balloting or in finished phase, then show the button"? This eliminates the headache in the first bullet

[2018-05-15 23:12] atzorvas commented on #2603
How is this any different from what #2620 implements?

[2018-05-16 08:59] decabeza commented on #2603
Hi @atzorvas,

You can show an alert with "There are no investment projects with votes and winner can't be calculated."

No. But if there are no projects with votes you can show the alert. The button "Calculate winner investment" should appear only if the budget is on `reviewing_ballots` or `finished` phase (I think this is already done).

On #2620  the "See results" button always appears, the ide

[2018-05-16 09:13] iagirre commented on #2618
I'll do this one.

[2018-05-16 18:34] atzorvas commented on #2603
@decabeza you can assign me then :)

[2018-05-16 23:01] atzorvas commented on #2615
Some points that I'm thinking are:

* Identify Personal data
* Identify Sensitive personal data
* Retention period of personal data & sensitive personal data
* Ability to unsubscribe from anything
* Ability to "delete" a user either by removing all relevant resources either by masking related attributes/records
* Ensure that there is explicit consent for newsletters, etc

[2018-05-16 23:03] atzorvas commented on #2604
@decabeza should we close this issue since the respective PR is merged?

[2018-05-17 10:58] decabeza commented on #2604
Thanks! @atzorvas 😉

For next PR's it's nice to use the text `This PR closes N` and the issue is closed automatically when merged ☺️

[2018-05-17 10:58] #2604 closed

[2018-05-17 11:01] decabeza commented on #2551
@atzorvas it's done on https://github.com/AyuntamientoMadrid/consul/pull/1425 but we have to backport to this repo 😉

[2018-05-17 16:08] voodoorai2000 opened #2635 "Add an issue template"
What
===
Add a default issue template

How
===
Something similar to the default [rails issue template](https://github.com/rails/rails/issues/new)

[2018-05-18 17:48] aitbw commented on #2624
Just to be entirely sure: the 4th point of this issue says pagination should start after having over 300 booths —that seems a little excessive. Is this correct or a typo?

[2018-05-19 17:45] aamarill commented on #1630
Hello @tyrantdavis ! Are you still working on this? 😄

[2018-05-19 17:47] aamarill commented on #2586
@bertocq I would like to work on this 😄 Can I be assigned? Thank you!

[2018-05-21 07:25] Cheomm88 opened #2636 "Custom pages doesn't show the links"
# Steps to reproduce

1- Create a custom site with links, titles, etc
2- Check in database that links and style is saved.
3- Open the new site custom from your bowser.
4- Links and style doesn't appear.

# Expected behaviour

1- Create a custom site with links, titles, etc
2- Check in database that links and style is saved.
3- Open the new site custom from your bowser.
4- Links and style appears

[2018-05-21 13:51] tyrantdavis commented on #1630
Hi Adan. Yes I am. Thanks for asking.

On Sat, May 19, 2018 at 12:45 PM, Adan Amarillas <notifications@github.com>
wrote:

[2018-05-21 15:15] decabeza commented on #2636
This issue is related with https://github.com/consul/consul/issues/2495

[2018-05-21 15:38] decabeza commented on #2624
Yes @aitbw, 300 it's correct! 😉 (This allow see all available booths without use pagination)

[2018-05-21 16:32] decabeza commented on #2586
Hi @aamarill, you can use the mockups of https://github.com/consul/consul/issues/1597 as a reference 😉

Don't worry about styles 😌, we only need the split in tabs (there is a lot of tabs menus on admin panel as an example)

[2018-05-21 17:38] aitbw commented on #2624
Great, @decabeza. I'll make the PR in a moment :relaxed:

[2018-05-21 17:41] aamarill commented on #2586
Thank you @decabeza I am on it! 💪

[2018-05-21 22:07] aamarill commented on #2586
@decabeza @bertocq I am stuck initializing the database. I have been troubleshooting all day and I still can't get it to work. Any ideas? ( I am using PostgreSQL 10.4)

This is what I get during `$ bin/rake db:create`
[code]
This is followed by a bunch of other failures, but I left it out since I assume it's not as important. Thank you!!

[2018-05-22 09:47] decabeza commented on #2586
Hi @aamarill,

Sometimes I have to remove and reset the database and I use:

[code]

If you wanna try, this steps works nice for me 😉

[2018-05-22 10:06] #2603 closed

[2018-05-22 10:31] voodoorai2000 opened #2637 "Make comments tests faster"
## Context

Many models can be commented (debates, proposals, investments, polls).

Comments for all these models work pretty much the same way, however we have a large duplication of these specs and these tests take a long time to run.

## What

Create a single `spec/system/comments_spec.rb` file and add tests for every scenario involving comments while also covering every model that accepts comm

[2018-05-22 14:40] PierreMesure opened #2638 "Datepicker months is not localized"
![capture d ecran 2018-05-22 a 16 35 30](https://user-images.githubusercontent.com/7223028/40369609-9d904886-5dde-11e8-8a6f-0377277e1c8d.png)

Not sure how I would go to fix it. The datepicker months are in Spanish even though the English translation is present.

[2018-05-22 15:49] voodoorai2000 opened #2639 "Add paper voting for budgets"
Context
===
The participatory budgets system only allows for online participation during the Final Voting phase

What
===
Allow voting in physical booths through paper ballots in the Final Voting phase

How
===
Probably setting up a poll associated to a budget and using the admin poll results page to insert results, which should be added to the final vote count of a budget

[2018-05-22 16:49] decabeza commented on #2638
Hi @PierreMesure this issue is related to [jQuery Datepicker widget](https://jqueryui.com/datepicker/) we use on CONSUL.

You can add [any i18n of this list](https://github.com/jquery/jquery-ui/tree/master/ui/i18n)

For example if you add `//= require jquery-ui/i18n/datepicker-en-GB` on `app/assets/javascripts/application.js:17` the calendar appears on english. Should appear on current locale (not

[2018-05-22 16:51] decabeza opened #2640 "UI Management"
What we need
==

Improve management UI and sidebar menu to improve the usability if this section.

Screenshots
==

![1_manager_dashboard](https://user-images.githubusercontent.com/631897/40377386-19069db4-5df1-11e8-8d9c-fb8d36402e16.png)
![2_manager_users](https://user-images.githubusercontent.com/631897/40377389-19cfb6cc-5df1-11e8-8774-6262158264f1.png)
![3_manager_verify_account](https://user-im

[2018-05-22 17:08] atzorvas commented on #2637
I'll pick this up

[2018-05-22 18:13] voodoorai2000 commented on #2637
Great @atzorvas! 👍

[2018-05-22 18:26] voodoorai2000 opened #2642 "Add maximum number of investments that can be supported"
Context
===
Right now a user can support as many investments as wished in the acceptance phase of a budget

What
===
Add a configuration option to set a maximum number of investments that can be voted per heading

How
===
- Add an integer `select` to the admin heading edit page
- Update permissions to take into account the maximum number of investments setting in the `investment`'s model

[2018-05-22 23:06] aamarill commented on #2586
@decabeza Thanks for the suggestion. Even though my site was already working, I ran the steps you suggested and it works perfectly.  Thanks! 🙌

[2018-05-22 23:36] aamarill commented on #2586
Hey @decabeza or @bertocq,

I am a little confused as to where the submenus (or tabs) need to go. To they go on the top, or should they be on the left-side menu that is already there?

From the picture below, should they be on the green or red area? Thanks and sorry for any confusion! 😄

<img width="1440" alt="consul setting re-work" src="https://user-images.githubusercontent.com/29871004/40395693

[2018-05-23 07:32] Cheomm88 opened #2643 "Facebook share doesn't work"
# Steps to reproduce
1- Enter in any bugdet investment.
2- In the share with social networks click in facebook
3- The facebook popup returns an error and user can't share the element with Facebook

# Expected behaviour
- The popup should show the Facebook UI and allow the user to share the item.

# Current Behaviour
- The popup's URL have the "quote" empty if it gets the descreption of the item it

[2018-05-23 08:44] iagirre commented on #2625
This issue only requires adding the I18n keys, or it's also needed to create the admin page that appears in the mockup?

[2018-05-23 08:47] decabeza commented on #2586
Hi @aamarill, don't worry 😉

You can add one "Settings" link on the sidebar (green area), this link is the same as the gear icon in the header.  And the tabs should go on the top (red area). 😌

Thanks!

[2018-05-23 08:51] decabeza commented on #2625
Hi @iagirre, the i18n keys already exist, the idea is to move them and create this new page to allow admins to manage these translations through admin interface without the need of change yml files.

😌

[2018-05-23 08:58] decabeza commented on #2643
Hi @Cheomm88,

This issue was fixed [in this commit](https://github.com/consul/consul/pull/2525/commits/d4b88f1fae583f8f7769dbee939b2048bee01356).

Can you confirm what environment you're testing in? In a local environment, sharing with Facebook does not work. 😔 But it does work in production.

**Locally still appearing this `&quote=%20`**
![screen shot 2018-05-23 at 10 53 58](https://user-images.

[2018-05-23 09:00] iagirre commented on #2625
Oh! OK, I got it.
I'll got with it :)

[2018-05-23 11:17] Cheomm88 commented on #2643
We are with 0.14 in our "PRE release" enviroment, our "Producion enviroment" is still in the 0.13 so I can't tell you more.

But in slack more people had this issue.

[2018-05-23 12:33] raul-fuentes commented on #2642
I'll do this one

[2018-05-23 12:41] voodoorai2000 opened #2644 "Split spec helpers into logical files"
Context
===
In order to make specs more legible [helpers](https://github.com/consul/consul/blob/master/spec/support/common_actions.rb) are used in the codebase
These helpers have grown large and are a little hard to follow

What
===
Split the spec helper file `common_actions.rb` into logical files:
- spec/support/budgets.rb
- spec/support/proposals.rb
- spec/support/comments.rb
- spec/support/tags

[2018-05-23 14:17] aamarill commented on #2586
Thanks @decabeza! I am on it 💪

[2018-05-23 14:30] aitbw commented on #2389
I'm gonna go with this one :)

[2018-05-23 15:25] KrzysztofMadejski opened #2646 "Docker says "Error installing bundler""
Stacktrace:
[code]

[2018-05-23 21:05] aamarill commented on #2586
@decabeza what convention do we want here?

This convention follows all of the other side-menu items:
`<strong><%= t("admin.menu.settings") %></strong>`

Displays ("Settings Configuration")
<img width="1003" alt="screen shot 2018-05-23 at 1 59 35 pm" src="https://user-images.githubusercontent.com/29871004/40450931-ef38531e-5e91-11e8-881d-ca828e7aa2c6.png">

Or,
Do we want this?
`<strong>Settings</

[2018-05-24 08:39] rzido commented on #2615
@atzorvas  I'd add another item to check related to explicit consent:

GDPR Article 16  >  "the data subject has given consent to the processing of his or her personal data for one or more specific purposes"
GDPR Article 4.11 > "'consent’ of the data subject means any  freely given, specific, informed and unambiguous indication of the data  subject's wishes by which he or she, by a statement or by

[2018-05-24 12:19] decabeza commented on #2586
Hi @aamarill,

The correct is use the i18n keys. So... use `<%= t("admin.menu.settings") %>` and you can change "Configuration settings" to "Settings" to avoid confusions 😉

Also, could you please change the hardcoded texts to i18n keys (I indicated on your PR). Thank you again! 🙏 😌

[2018-05-24 12:44] decabeza commented on #2643
@Cheomm88 can you confirm if you "inspect" facebook button on the browser have all this `data` attributes?

[code]

Thanks! ☺️

[2018-05-24 14:16] KrzysztofMadejski commented on #2646
Deleting `RUN gem install bundler` helped, but the question is, is it the right way to go?

[2018-05-24 14:45] raul-fuentes commented on #2495
I'll do this one

[2018-05-24 15:02] aitbw commented on #2646
Hey @KrzysztofMadejski, thanks for this issue. Came across the exact same problem a few weeks ago but thought it was only me —I too solved it by removing the `RUN gem install bundler` line

Could you please tell us a little bit about the system you're trying to create the Docker image?

For now, we'll be needing:

* OS and its version
* Docker version
* Docker Compose version

I'll take care of th

[2018-05-24 17:09] KrzysztofMadejski commented on #2646
Ubuntu 16.04 Server
Docker Version: 18.02.0-ce
docker-compose version 1.18.0, build 8dd22a9

[2018-05-24 23:00] voodoorai2000 commented on #2291
Closed via https://github.com/consul/consul/pull/2399

[2018-05-24 23:00] #2291 closed

[2018-05-25 07:19] Cheomm88 commented on #2643
@decabeza

[2018-05-25 09:52] PierreMesure commented on #2638
Interesting! I'll try to add this line for all the languages I support to see if it actually changes when I change the locale. But would a PR that adds a line for every language be good enough for you? That doesn't seem like a clean way to solve it...

[2018-05-25 09:56] PierreMesure opened #2651 "Not possible to delete or rename a heading group for a participatory budget"
![capture d ecran 2018-05-25 a 11 55 16](https://user-images.githubusercontent.com/7223028/40538663-9596a9be-6012-11e8-8094-8a54ab6918b8.png)

Title is self explanatory, there is no button to edit or delete a heading group for a participatory budget.

[2018-05-25 09:57] decabeza commented on #2638
Hi @PierreMesure, the PR should have two parts: ☺️

- Adds a line for every language supported.
- Make that use the correct language when the locale change.

[2018-05-25 10:07] benfab opened #2652 "3 nodes cluster doesn't boot: No installed keys could decrypt the message"
Hello,

We are facing an issue while trying to bootstrap a 3 nodes Consul cluster from Marathon. Indeed, the nodes are not able to talk to each other. From the logs, we see the error  `* Failed to join <ip>: No installed keys could decrypt the message.`

The marathon.json payload contains the followings arguments to boostrap the cluster:

[code]

We can see that the encrytion key specified is corr

[2018-05-25 12:54] benfab commented on #2652
Posted on the wrong repo.

[2018-05-25 12:54] #2652 closed

[2018-05-25 17:26] decabeza commented on #2643
I think the problem is on the empty `data-desc=""`. 🤔

On `app/views/budgets/investments/_investment_show.html.erb` L164, do you have `description: investment.title`?

[2018-05-26 04:47] aamarill commented on #2644
@voodoorai2000 Can I take this one? 💪 😎

[2018-05-26 11:21] voodoorai2000 commented on #2644
Yes @aamarill 😌👏🏻🎉💪🏻💫

[2018-05-28 08:48] Cheomm88 commented on #2643
I'm using a custom view, but passing to the partial the ` description: investment.title` but still doesn't work.

[2018-05-28 12:57] raul-fuentes commented on #2495
Hi @decabeza, this is the actual look of the field with ckeditor5 (with a very basic setup)
![screenshot from 22](https://user-images.githubusercontent.com/33748390/40615529-6d027d76-6287-11e8-8c97-4f334ed0377b.png)

Before starting with the images I must warn that it will be a bit long, you have to add an image uploader to each model where the editor is used.
I imagine that the imageable concern

[2018-05-28 13:33] voodoorai2000 commented on #2495
Sure @raul-fuentes the current imageable concern should work fine integrating it with ckeditor 👍

Thinking about the upcoming [migration from paperclip to ActiveStorage](https://github.com/consul/consul/issues/2629) it's probably helpful to send the image upload for ckeditor in a separate PR 👌

[2018-05-28 13:42] voodoorai2000 commented on #2612
Closed via https://github.com/AyuntamientoMadrid/consul/pull/1473

[2018-05-28 13:43] voodoorai2000 commented on #2612
Pending Backport

[2018-05-28 16:48] decabeza commented on #2495
@raul-fuentes I think this basic setup is enough! 👏  And how @voodoorai2000 says, better send the image upload option in a separate PR 😉

[2018-05-28 17:07] decabeza commented on #2651
Hi @PierreMesure we included this feature in the last release (0.15.0), you can see in our [Changelog](https://github.com/consul/consul/blob/master/CHANGELOG.md) .

Also you can see the PR: [Allow Budget Group names to be edited](https://github.com/consul/consul/pull/2504) 😉

Now the new Admin interface is:

![1](https://user-images.githubusercontent.com/631897/40624002-51767238-62aa-11e8-9262-b82

[2018-05-28 21:15] aitbw commented on #2617
I'll get on it

[2018-05-29 11:31] decabeza commented on #2643
@Cheomm88 do you have a public repo to take a look at the code? Or a live environment to test it? 👀

[2018-05-29 11:35] decabeza commented on #2591
Duplicated with https://github.com/consul/consul/issues/2495, already in progress! 🎉

[2018-05-29 11:35] #2591 closed

[2018-05-29 11:56] decabeza opened #2656 "Moves static pages content to site customization"
Background
===

Now in CONSUL, there are some static example pages:

[code]

What we need
===

⚠️ Wait to https://github.com/consul/consul/issues/2495 is merged to start this issue.

Move these pages to Admin Panel site customization pages to allow admin users edit this pages easily.

- Maintain `pages/custom_page.html.erb` file for static text pages.
- Delete the rest of these pages of the list.

[2018-05-29 12:58] aitbw commented on #2496
I'm assuming this is already solved through #2528, right?

[2018-05-29 13:37] decabeza commented on #2496
Hi @aitbw, still not complete because we have the new **"Maximum number of headings in which a user can support"** attribute.

Now the message show the max heading you can vote but not the links to the other headings.

**Actual message**
![screen shot 2018-05-29 at 15 34 45](https://user-images.githubusercontent.com/631897/40662230-08bea0f4-6356-11e8-9052-d272fc33ee28.png)

**We want this** 😌
<img

[2018-05-31 18:05] decabeza opened #2659 "Improve customize homepage"
⚠️ Start with this issue after **Customize homepage from admin panel** https://github.com/consul/consul/issues/2475 is merged.

Background
==

The admins can configure the homepage header on `/admin/homepage`.

What we need
==

- Adds a checkbox to select if the header image is a background.

Screenshots
==

**Admin checkbox**
![screen shot 2018-05-31 at 20 00 44](https://user-images.githubusercon

[2018-05-31 20:28] voodoorai2000 commented on #2365
Indeed, this problem is related to customs routes used in Madrid's fork
Probably some bot accessing random urls, closing for now.

[2018-05-31 20:28] #2365 closed

[2018-05-31 20:54] #2346 closed

[2018-05-31 20:54] voodoorai2000 commented on #2612
Closed via https://github.com/consul/consul/pull/2655

[2018-05-31 20:54] #2612 closed

[2018-05-31 21:01] voodoorai2000 commented on #2498
This issue's objective is to calculate correctly if a user can vote in an investment that has been reclassified from one heading to a different one

Instead of changing the standard behaviour we should consider this scenario separately

[2018-05-31 21:18] aitbw commented on #2617
Don't forget to close this one

[2018-05-31 21:20] voodoorai2000 commented on #2389
Closed via https://github.com/consul/consul/pull/2654

[2018-05-31 21:20] #2389 closed

[2018-05-31 22:43] voodoorai2000 commented on #2617
Thank you @aitbw ;)
Closed via https://github.com/consul/consul/pull/2657

[2018-05-31 22:43] #2617 closed

[2018-06-01 08:33] jsperezg opened #2660 "docker-compose build fails"
I'm trying to execute a dockerized image without any success. When I try to build the images it fails with the following error

[code]

[2018-06-01 13:01] jsperezg commented on #2660
I've changed the image used to:

FROM ruby:2.3.6

and it works like a charm. If there is no objectioin about changing the image I will commit a PR in order to fix it.

[2018-06-01 13:17] aitbw commented on #2660
Hey @jsperezg, thanks for opening your very first issue in CONSUL :tada:

This was already reported by @KrzysztofMadejski over #2646

Your suggested patch sounds good but we have #2631 pending review which includes Ruby 2.4.1 :-(

Nevertheless, I encourage you to research for a fix and submit your PR :smile_cat:

[2018-06-01 14:08] jsperezg commented on #2660
@aitbw I contrubuted to Decidim as well  and helped them to improve their docker/docker-compose support. I've created a PR with lots of  enhancements/improvevents.

[2018-06-01 17:31] decabeza commented on #2475
Closed by #2641

[2018-06-01 17:31] #2475 closed

[2018-06-04 12:16] aitbw commented on #2212
I'll get on what's pending for this one

[2018-06-06 12:11] #2660 closed

[2018-06-06 12:14] voodoorai2000 commented on #2646
Closed via https://github.com/consul/consul/pull/2661

[2018-06-06 12:14] #2646 closed

[2018-06-06 15:13] #2210 closed

[2018-06-07 13:19] MarcEwert opened #2664 "Unable to open settings page"
I checked out the v0.15 tag and running it using docker-compose, but i am not able to reach the admin settings page under `http://<consul_url>/admin/settings`. It only shows following error:

It is an almost fresh consul instance.

Any ideas how to fix this?

[2018-06-07 15:44] #2624 closed

[2018-06-11 15:56] decabeza opened #2667 "Create dev seeds to homepage"
Background
==

Now on admin section is possible to configure the homepage content in `/admin/homepage`.

What we need
==

Include the following content on `dev_seeds` as an example of the homepage.

**Header card**
Label (optional): Welcome to
Title: CONSUL
Description: Free software for citizen participation.
Link text: More information
Link URL: help_path

**Cards**
Label: Debates
Title: How do

[2018-06-11 16:12] decabeza opened #2668 "Make homepage content translatable"
Background
==

Now on admin section is possible to configure the homepage content in `/admin/homepage`.

What we need
==

Make translatable the homepage content created from admin panel.

You can use as reference the PR [Allow admin generated content to be translatable](https://github.com/consul/consul/pull/2619). And try this feature on `/admin/budgets/N/budget_investments/N/budget_investment_mil

[2018-06-12 12:00] PierreMesure commented on #2667
Can I take this one? Seems easy enough, even for me!

[2018-06-12 12:07] decabeza commented on #2667
Yes @PierreMesure all yours! 🙏 ☺️

[2018-06-12 13:12] voodoorai2000 commented on #2644
Closed via https://github.com/consul/consul/pull/2653

[2018-06-12 13:12] #2644 closed

[2018-06-12 13:30] voodoorai2000 opened #2669 "Display legislation proposals in the admin section"
Context
===
The collaborative legislation module has a section where proposals for a legislation can be submitted and voted

What
===
- Display these proposals in the admin section of legislation
- Allow ordering them by id, title and number of support

[2018-06-12 13:38] voodoorai2000 opened #2670 "Add winner proposals for legislation processes"
Context
===
The collaborative legislation module has a section where proposals for a legislation can be submitted and voted

What
===
In the admin section of a legislation:
- Add a 'select' button for each legislation proposal to mark them as winner proposals (similar to winner budget investments)

In the public section of a legislation:
- Display the winner legislation proposals

[2018-06-12 16:58] voodoorai2000 opened #2672 "Add moderation to legislation debate's comments"
Context
===
A legislation process can have a debate with comments
For example: https://decide.madrid.es/legislation/processes/43/questions/109

What
===
Allow moderation of a these comments

How
===
Similar to how other resources are moderated
consul#2618

Note
===
Proposal, debate and investment's comments can already be moderated

[2018-06-12 17:03] voodoorai2000 opened #2673 "Add moderation of budget investments"
Context
===
Users can create investments for a budget
Some of these investments are inappropriate and must be moderated

Moderation has two parts:
- A user with a moderator role or an admin, can hide a resource
- Admins can view this hidden resource and display it again publicly

What
===
Allow moderation of budget investments

How
===
Similar to how other resources are moderated
consul#2618

Note

[2018-06-12 17:10] voodoorai2000 opened #2674 "Make polls translatable to different languages"
Context
===
A Poll has many questions and answers, however it can only be displayed in a single language

What
===
Make Poll questions and answers translatable to different languages

How
===
Something similar to how budget milestones work https://github.com/consul/consul/pull/2619

[2018-06-12 18:00] PierreMesure commented on #2667
Not done yet but writing down some notes for later:
- the title and the label of a card don't appear if there's no picture
- the text of the 'Save card' button changes to `<span class=&quot;translation_missing&quot; title=&quot;translation missing: en.admin.homepage.update.submit_card&quot;>Submit Card</span>`when there is an error in the card form
- in the card for, the image is displayed cropped

[2018-06-12 21:07] cheneyshreve commented on #2584
Hi @bertocq @voodoorai2000, I am hoping to make a first-time contribution to this project. I would like to work on this if it is available, please let me know. Thank you :)

[2018-06-13 07:18] rzido opened #2675 "Add community, following,... to legislation proposals"
# Context

The collaborative legislation module has a section where proposals for a legislation process can be submitted and supported.

Now the functionalities associated to proposals are different for each module: proposals, proposals on spending proposals, proposals on legislations processes. It's necessary to analyse the need for a common configurable component for proposals that could be adde

[2018-06-13 09:09] rzido opened #2676 "Add support for government proposals"
# Context

In many participatory processes government wants to allow that citizenship could contribute or comment on several (limited) government proposals related to a common project or plan between two dates.

Now, the only possibility to try to solve this need with actual modules is using/forcing legislation module as a "participatory process" module.  But this module has several restrictions t

[2018-06-13 12:02] voodoorai2000 commented on #2584
Hey @cheneyshreve!

Awesome! Yes go ahead 🎉

+1 to adding the new settings in `dev_seeds/settings.rb` and `db/seeds.rb`

The rake task looks good too, I would probaly go for a single rake task for all the new settings 👌

[2018-06-13 12:09] voodoorai2000 commented on #2664
Hey @MarcEwert,

If you are running docker compose I assume you are running this instance in a development environment. Try regenerating the settings with `bin/rake db:dev_seed`

[2018-06-13 13:01] aitbw commented on #2673
I'm on it

[2018-06-13 13:05] aitbw commented on #2673
I'm on it

[2018-06-13 13:19] voodoorai2000 opened #2678 "Refactor tag logic outside of the commentable_actions controller"
Context
===
In an effort to DRY up the code we created a [commentable_actions concern](https://github.com/consul/consul/blob/master/app/controllers/concerns/commentable_actions.rb) to encapsulate common features of proposals and debates

This concern has grown and it makes more sense to split it into separate concerns

What
===
- Extract the logic related to `tags` in the commentable_actions conce

[2018-06-14 07:07] MarcEwert commented on #2664
Thanks @voodoorai2000 for your help!

`bin/rake db:dev_seed` does the trick. But i would use like to use docker-compose for a production environment as well. Is there any chance to get dockered Consul running with a clean environment?

[2018-06-14 15:06] voodoorai2000 commented on #2664
Great! 🎉My pleasure 😌

Sure maybe one day we will have full support for Docker in production environments, for now we recommend using the [installer](https://github.com/consul/installer) 👌

[2018-06-14 16:35] rzido opened #2681 "Investment's CSV files with Excel-friendly encoding"
**Context**

Different versions of Microsoft Excel (Windows / Mac) are not capable to recognize special characters (like á, é, í, ...) in exported CSV files. When you open an exported CSV file into Excel it doesn't handle appropiately UTF-8 enconding by default and the file needs to pass a conversion process.  This is difficult for common users.

[Here](https://stackoverflow.com/questions/30368173

[2018-06-14 23:09] shannonnolan17 commented on #2678
Hi @voodoorai2000 I would love to tackle this if possible! Let me know! :)

[2018-06-15 06:39] MarcEwert commented on #2664
Allright, thanks for the hint! :+1:

[2018-06-15 06:39] #2664 closed

[2018-06-15 07:48] SergioBonet opened #2682 "Admin toggle side menu not working"
# Steps to reproduce
 1. Login as admin
 2. Go to administration in any small screen device
 3. Try to open the "toggle side menu"

![captura de pantalla de 2018-06-15 09-39-46](https://user-images.githubusercontent.com/15011675/41456448-c4ac915e-7080-11e8-8fe1-6c82edc0126a.png)

# Expected behaviour
 - This icon should show the user items like: "my activity", "sign out", "notifications"... presen

[2018-06-15 16:23] PierreMesure opened #2683 "Some features appear twice in the feature activation admin panel"
What happens
==========

- There are some unexpected feature flags in the admin panel. For example, Debates and Proposals are duplicated and Processes, which isn't really a feature in itself, appears.

See below:

![screenshot-2018-6-15 admin](https://user-images.githubusercontent.com/7223028/41478438-f7b60ae8-70c7-11e8-8bd0-825bb2b0df9e.png)

It seems that this comes from the new keys in the sett

[2018-06-15 16:27] PierreMesure commented on #2683
@voodoorai2000, you were the one to add these keys in the settings table. What do you think?

[2018-06-15 16:42] voodoorai2000 commented on #2683
Well spotted @PierreMesure 😌

+1 to make the feature_flag concern a bit smarter so that it doesn't pick all the keys starting with 'feature.' 👌

[2018-06-15 17:36] decabeza opened #2684 "Officers confirm vote"
Background
==

Now an officer can validate a document and confirm vote on `/officing/voters/new?id=N`. Sometimes is confusing back to validate another document without select any action.

What we need
==

- Add button to cancel action with the text "The person has decided not to vote at this time".
- The officer shouldn't back to validate a new document before "Confirm vote" (of any poll) or cance

[2018-06-15 20:23] PierreMesure commented on #2683
It's tough because there's no common pattern in the names to have an easy filter.

Maybe creating the list manually would be a better solution in the long run?

[2018-06-18 17:12] cheneyshreve commented on #2573
Hi @bertocq, I would like to work on this one if it available. Many thanks!

[2018-06-19 10:30] decabeza opened #2688 "Proposal's dashboard"
Proposal's dashboard
==

We are working in a new section for improving proposals management by authors.

A proposal's dashboard that contains:

- [ ] **Chart** with the ideal number of supports, and the actual reached.
- [ ] List of **goals** (these goals unlock different resources).
- [ ] List of **recommended actions** to get more support for your proposal.
- [ ] List of  **available resources**

[2018-06-19 14:15] kinsay opened #2689 "Merging proposals process"
It is common to find many related proposals opened by different people at different times, but with similar content, filling the web site with many "duplicated" proposals. As the time passes and the number of proposals increase it would be harder and harder to find relevant proposals.

In my opinion, there shoud be a functionality that controls this issue.

Such funtionality might works as follows

[2018-06-19 14:22] kinsay commented on #2689
SPANISH VERSION / VERSIÓN EN ESPAÑOL

Es habitual encontrar diferentes propuestas, creadas por diferentes personas en diferentes momentos, pero con un contenido similar. Esto genera el problema de que con el paso del tiempo y a medida que se crean nuevas propuestas las webs se van llenando de propuestas "duplicadas" complicando al usuario encontrar propuestas relevantes.

En mi opinión, debería ex

[2018-06-19 16:18] bertocq commented on #2573
Sure @cheneyshreve!! 👏Go for it :), although this one is flaky spec report is almost 3 months old so keep in mind it might have been already fixed.

[2018-06-20 15:27] sturpin opened #2690 "Verified account message for organizations"
<h1>Background</h1>
<p>
When an organization verifies an account, although it still has the same functionality, there is no message to confirm that change, and that creates insecurity.
</p>
<h1>What we need</h1>
<p>
When an organization account has been verified I would do one of these options:

- Put in your account, **Verified account**
- Send an email to the organization confirming that the acc

[2018-06-21 16:34] decabeza opened #2691 "Homepage cards improvements"
Background
==

Now the homepage is customizable from Admin section in `/admin/homepage`, but there are some things that need to be improved.

What we need
==
- The title and the label of a card don't appear if there's no picture.

- The text of the 'Save card' button changes to `<span class=&quot;translation_missing&quot; title=&quot;translation missing: en.admin.homepage.update.submit_card&quot;>

[2018-06-22 11:33] andosasesores commented on #2643
@Cheomm88 @decabeza  Hi, you probably need to update the file "app/views/shared/_social_share.html.erb" and add the attribute "desc" in the helper "social_share_button_tag". Here's an example of how it should look:

[code]

[2018-06-22 11:58] decabeza commented on #2682
Hi @SergioBonet! Thanks for the issue. 🙏

The [PR to fix this](https://github.com/consul/consul/pull/2692) is ready! 😌

[2018-06-22 12:08] SergioBonet commented on #2682
An absolute pleasure contribute with you :smile:

[2018-06-22 15:34] #2682 closed

[2018-06-22 18:32] cheneyshreve commented on #2573
Hi @bertocq , I have been looking at the investments_spec error. It appears the original flaky spec error has been resolved (steps, results outlined below). However, running the full investment_spec multiple times (with different seeds) consistently shows 2 new errors (shown at end of comment).

So perhaps it is possible to close this issue, and maybe open a different one to look at the 2 new erro

[2018-06-23 00:10] javierv commented on #2573
Hi, @cheneyshreve. If I understand correctly, you can't reproduce the failure affecting the spec mentioned on this issue, right?

On my machine, after a couple of changes it fails about a third of the time, so if you don't mind I can give it a look.

[2018-06-23 00:15] cheneyshreve commented on #2573
HI @javierv, yes, you are correct, I cannot reproduce that error. It passes on my machine. Sounds like it is still an issue though if you are seeing errors!

[2018-06-23 00:18] devinbalkind commented on #1280
Is this issue continuing to be updated? Where is the best place to find the current roadmap related to maps? Thanks.

[2018-06-23 00:54] javierv commented on #2573
It seems to be related to the `toggleLink` function in `App.forms`. On my machine, changing `.toggle("down")` to `.show()` makes the test pass 100% of the time, but that's obviously not a good solution. I'll keep looking.

[2018-06-23 01:07] cheneyshreve commented on #2573
@javierv  I'm working on a Mac OSX, what machine are you using? Did you fetch the most recent changes from upstream and still see error? Not sure why it doesn't show up on my machine, just trying to trouble shoot--thanks for also taking a look :)

[2018-06-23 01:12] javierv commented on #2573
@cheneyshreve I'm using the current master branch (is it the right branch to be on? HEAD is on a8178a6 ), on Ubuntu 16.04.

[2018-06-23 02:08] cheneyshreve commented on #2573
@javierv, thanks, we can keep adding details. Perhaps it's difference in our machines setups; I'm using ChromeDriver 2.4

[2018-06-23 16:14] javierv commented on #2573
Hi, @cheneyshreve. I've just realized we're running different specs :). The one I'm running is "Admin budgets Manage groups and headings Create group", which is around `spec/features/admin/budgets_spec.rb:237` (as described in the "what" section). It looks like the code in "random values issues" was copied from somewhere else, and mentions the one you're running, which is `spec/features/budgets/in

[2018-06-23 20:17] javierv commented on #2558
I get the failure quite often by running `bundle exec rspec spec/features/management/proposals_spec.rb --seed 8625`. Running the test standalone I don't get the failure as often.

Running the application in development, however, I always get a 500 error by clicking the "Support" link as the default manager user. So far I see the behaviour is different because in the tests `managed_user` is assigne

[2018-06-23 21:00] cheneyshreve commented on #2558
Hi @javierv, thanks for your follow-up. Unfortunately, I just ran the spec you mention above (bundle exec rspec spec/features/management/proposals_spec.rb --seed 8625) and I get 11 examples, 0 failures so I am not able to reproduce the errors you are seeing. But perhaps someone else will chime in who has seen the error too because it could easily be a difference in environment setup.

[2018-06-25 06:09] javierv commented on #2520
I can confirm this test fails when executed right before midnight, as it happened on issues like AyuntamientoMadrid#1195. It's possible to reproduce it locally using [Timecop](https://github.com/travisjeffery/timecop), like so:
[code]
To fix it, one option would be freezing time with Timecop and another option would be stubbing `Date` and `Time` methods, like done in AyuntamientoMadrid#1342

[2018-06-25 06:12] javierv commented on #2521
Just copying what I mentioned on issue #2520:

I can confirm this test fails when executed right before midnight, as it happened on issues like AyuntamientoMadrid#1195. It's possible to reproduce it locally using [Timecop](https://github.com/travisjeffery/timecop), like so:
[code]
To fix it, one option would be freezing time with Timecop and another option would be stubbing `Date` and `Time` metho

[2018-06-25 11:45] aitbw commented on #2583
I'll get on this

[2018-06-25 17:41] voodoorai2000 opened #2698 "Add SAML Integration for user authentication"
Context
===
Many places already have a database of users that can be accessed through [SAML](https://en.wikipedia.org/wiki/Security_Assertion_Markup_Language)

What
===
Add SAML to the user authentication options

How
===
Using the [omniauth-saml](https://github.com/omniauth/omniauth-saml) gem

[2018-06-26 09:08] voodoorai2000 commented on #1280
Hey @devinbalkind!

It's in standby for now, all feedback welcomed 😊

[2018-06-27 00:02] devinbalkind commented on #2450
We're using the Participatory Budgeting module and need to limit users to only voting on investments within a specific group. It looks like currently users can vote only vote on one group, but they get to choose which one it is. We need, as administrators, to be able to assign them to the group. These groups are not tied to a specific geography.

Thank you!

[2018-06-27 09:38] voodoorai2000 opened #2700 "Allow an empty responsible name when user verification is deactivated"
Context
===
In order for a proposal to be valid, it should have associated the document number of the person that has proposed it. When [skipping census verification](https://github.com/consul/consul/issues/2291) we do not have available the document number for that person

What
===
Allow empty responsible names when skipping user verification

Why
===
We are getting a [validation error](https://g

[2018-06-27 13:47] voodoorai2000 opened #2703 "Add homepage content to production seeds"
Context
===
Seeds are used to populate the database with basic settings and content

There are two types of seed files:
- [Development seeds](https://github.com/consul/consul/blob/master/db/dev_seeds.rb)
- [Production seeds](https://github.com/consul/consul/blob/master/db/seeds.rb)

The development seeds have [nice content](https://github.com/consul/consul/pull/2679) for the homepage

What
===
Add

[2018-06-27 14:43] #2461 closed

[2018-06-28 09:34] #2432 closed

[2018-06-29 03:09] IngridWong0715 commented on #2555
Hi @voodoorai2000 ! I'd like to work on the issue if that's okay. Please let me know!

[2018-06-29 08:53] decabeza commented on #2555
Of course @IngridWong0715! All yours! 🎉 😌

[2018-06-29 11:18] decabeza opened #2709 "Proposal notifications texts"
Background
===

Now the proposal's author can send a notification to users that supported the proposal on `/proposal_notifications/new?proposal_id=N`

We are working in a new feature to "send a message" to all members of a proposal's community and maybe be a little confusing.

What we need
===

Changes all the the texts with "message" to "notification" to avoid confusions.

Screenshots
==
![messag

[2018-07-01 22:44] javierv opened #2713 "Flaky spec: Votes Debates Single debate Update"
# What
Tests that fail randomly are called "flakies", this one seems to be one:

**Randomized seed:** <del>3315</del> 57656

**Travis failed build:** <del>[Travis build 24008, job 1](https://travis-ci.org/consul/consul/jobs/398882809)</del> [Forked repo Travis build](https://travis-ci.org/javierv/consul/jobs/399449443)

**Failure:**

[code]

# How
- [ ] Explain why the test is flaky, or under whic

[2018-07-01 22:52] javierv commented on #2713
Here's a screenshot taken using `save_and_open_screenshot` when the test fails:

![![both in favor and against are selected]](https://user-images.githubusercontent.com/348557/42139639-650e7ff6-7d81-11e8-86d9-4dc278e0a03b.png)

And here's a screenshot when the test passes (expected behaviour):

![in favor is not selected](https://user-images.githubusercontent.com/348557/42139610-f0928ce4-7d80-11e8-

[2018-07-02 17:42] javierv opened #2718 "Flaky spec: Budget Investments Show milestones"
# What

Tests that fail randomly are called "flakies", this one seems to be one:

**Randomized seed:** 12275

**Travis failed build:** [Travis build 24013, job 2](https://travis-ci.org/consul/consul/jobs/399210734)

**Failure:**

[code]

# How
- [ ] Explain why the test is flaky, or under which conditions/scenario it fails randomly
- [ ] Explain why your PR fixes it

## Tips for flaky hunting

###

[2018-07-03 09:00] decabeza commented on #2709
Of course @liamelliott! All yours! 😉 🎉

[2018-07-03 09:20] #2640 closed

[2018-07-03 09:21] #2618 closed

[2018-07-04 09:08] raul-fuentes commented on #2659
I'll do this one

[2018-07-04 16:02] bertocq opened #2727 "Change MapLocation relations into a polymorphic one"
Currenty [MapLocation model](https://github.com/consul/consul/blob/master/app/models/map_location.rb#L3-L6) has two explicit relations:

[code]

The best way to handle this would be to create a polymorphic relationship with both Proposal and
Budget::Investment that could be reused on any other model:

[code]

Since the MapLocations feature has been in production for months at least at Madrid's for

[2018-07-04 16:14] bertocq opened #2728 "Track URL referrals"
Sometimes admins ask to be able to see where the clicks come from, that means they want to see which are the referrals or the sources of incoming visits.

It's useful when there is an active campaign to promote a Participatory Budget or a Collaborative Legislation process, and knowing which platform its working the best to gather citizen's attention (facebook/twitter/instagram/blogs/newspapers...)

[2018-07-04 16:17] bertocq opened #2729 "Daily stats for visits/supports/proposals/etc..."
Admin stats could use some daily graphs to help admins (or even public users) visualize the usage of the platform.

[2018-07-04 16:36] bertocq opened #2730 "Improve rendering performance for resources with many comments"
When a resource (proposal/debate/investment) has many comments, it takes a lot of time to completely load the page.

A nice improvement, proposed by @kikito, would be to load the comments in a secondary request. That way the resource could be visible for the user in less time, meanwhile the comments would start be loaded. This would make a huge impact while using a mobile device (usually with have

[2018-07-04 23:28] javierv commented on #2713
I'll have a look at this one.

[2018-07-05 11:56] mlovic commented on #2496
I'll get started on this one

[2018-07-06 15:10] decabeza opened #2735 "Make polls translatable"
Background
==

Now on admin is possible to create content in some languages. You can try this feature on `/admin/budgets/N/budget_investments/N/budget_investment_milestones/new`.

What we need
==

Make translatable the **polls** section (including questions and answers) created from admin panel on:

- `/admin/polls/new`
- `/admin/questions/new`
- `/admin/questions/N/answers/new`

Screenshots
==

<

[2018-07-06 15:19] decabeza opened #2736 "Make collaborative legislation translatable"
Background
==

Now on admin is possible to create content in some languages. You can try this feature on `/admin/budgets/N/budget_investments/N/budget_investment_milestones/new`.

What we need
==

Make translatable the **collaborative legislation** section (including all phases) created from admin panel on:

- `/admin/legislation/processes/new`
- `/admin/legislation/processes/N/questions/new`
- `/

[2018-07-06 16:02] decabeza opened #2737 "Make participatory budgets translatable"
Background
==

Now on admin is possible to create content in some languages. You can try this feature on `/admin/budgets/N/budget_investments/N/budget_investment_milestones/new`.

What we need
==

Make translatable the **participatory budget** section (including budget phases and group/headings) created from admin panel on:

- `/admin/budgets/new`
- `/admin/budgets/X/budget_phases/N/edit`
- `/admi

[2018-07-06 16:12] decabeza opened #2738 "Make banners translatable"
Background
==

Now on admin is possible to create content in some languages. You can try this feature on `/admin/budgets/N/budget_investments/N/budget_investment_milestones/new`.

What we need
==

Make translatable the **banners** section created from admin panel on `/admin/banners/new`

Screenshots
==
<img width="1224" alt="translate_banners" src="https://user-images.githubusercontent.com/631897/

[2018-07-06 16:37] decabeza opened #2739 "Allow select winner legislation proposals"
Background
==

Now on the collaborative legislation section, there is a **proposals phase** where the users can send their proposals.

What we need
==

[1] Show the legislation proposals list in a table in admin section on `/admin/legislation/processes/N/proposals` _[Admin screenshot]_

The table should contain:
- Legislation proposal ID
- Legislation proposal title
- Number of supports
- Select/S

[2018-07-06 16:47] decabeza opened #2740 "Adds milestones to proposals"
Background
==

Now on the budget investments, the admin can include milestones to allow the following of the evolution of the project on `/admin/budgets/X/budget_investments/N/budget_investment_milestones/new`

What we need
==

Include this feature in proposals:

- Include a new section "Proposals" on admin panel with the list of all proposals with milestone and a search form _[Screenshot_1]_

- I

[2018-07-09 08:30] #2635 closed

[2018-07-09 12:02] decabeza opened #2741 "Updates translatable custom pages"
Background
==

Now on admin section is possible to create custom pages in `/admin/site_customization/pages/new`.

What we need
==

Update translatable feature for custom pages created from admin panel.

You can use as reference the PR [Allow admin generated content to be translatable](https://github.com/consul/consul/pull/2619). And try this feature on `/admin/budgets/N/budget_investments/N/budget

[2018-07-09 15:03] decabeza opened #2742 "Make admin notifications translatable"
⚠️ **Backport needed from AyuntamientoMadrid#1289 before to start this issue**

Background
==

Now on admin section is possible to send notifications to users in `/admin/admin_notifications/new`.

What we need
==

Make translatable the notifications created from admin panel.

You can use as reference the PR [Allow admin generated content to be translatable](https://github.com/consul/consul/pull/26

[2018-07-09 16:15] decabeza opened #2743 "Adds milestones to legislation processes"
Background
==

Now on the budget investments, the admin can include milestones to allow the following of the evolution of the project on `/admin/budgets/X/budget_investments/N/budget_investment_milestones/new`

What we need
==

Include this feature in legislation processes:

- Include a new tab "Following" on admin panel in `/admin/legislation/processes/N/edit` _[Screenshot_1]_

- Also, include on

[2018-07-09 16:49] KrzysztofMadejski opened #2744 "OAuth login options shouldn't show if they are not properly configured"
### User Story

# As an admin I want users to be able to login into platform.

### Why is this Needed?

If the oauth logins like twitter or FB are not configured (see below) they are still shown on the login screen and users may try to login with it which will result in an error.

### Description

You may call it the feature to show that these are the possibilites. If so then the documentation htt

[2018-07-09 17:20] KrzysztofMadejski opened #2745 "Cannot login into Consul instance"
### User Story

As I user I want to login into the portal.

### Current Behavior
I'm working on my own Consul instance.

1. I've registered.
2. Got email with validation token.
3. Clicked the link and got response "Your account has been confirmed."
4. Trying to login and I'm getting "To continue, please click on the confirmation link that we have sent you via email"
5. No more email in my inbox -

[2018-07-09 17:22] KrzysztofMadejski opened #2746 "confirmation_token should work only once"
### User Story

As a security person I want the confirmation_token to activate account to work only once.

### Why is this Needed?

For security reasons, email eaves-dropping, etc.

### Description

After registering and gettign activation link, clicking on activation link doesn't invalidate the token. This "bug" may shadowed by other, see #2745

### Current Behavior

1. I've registered.
2. Got em

[2018-07-09 17:25] KrzysztofMadejski opened #2747 "Show account activation status for each user"
http://consul.kodujdlapolski.pl/admin/users?page=2

### User Story

As an admin I want to know which users have acticated account.

### Why is this Needed?

To know how many users tried but weren't able to successfult activate accunt.

### Description

*Type*: Feature

### Current Behavior
/admin/users doesn't provide info on activation status.

### Expected Behavior

Either put "Account not activ

[2018-07-09 17:26] KrzysztofMadejski opened #2748 "Move "configuration settings""
In my opinion it would be more intuitive if "Configuration settings" link visible as "gear" icon in top horizontal menu on /admin would be moved to the left menu that lists verbally admin options.

I would do the same with statistics.

[2018-07-09 17:32] KrzysztofMadejski opened #2749 "Email templates should use "Main URL""
### User Story

As an admin I don't want to type in my domain name too many times.

### Why is this Needed?

To make configuration easier.

### Current Behavior
I've put my custom domain as "Main URL" on http://consul.kodujdlapolski.pl/admin/settings
The outgoing links in activation emails used "localhost:3000" default url.

### Expected Behavior
I was expecting to see my custom domain in URLs.

#

[2018-07-09 17:34] KrzysztofMadejski commented on #2745
BTW: All my issues reported today concerns instance deployed at commit 63213a0e4d8b44231c28741f74c6b25fcf3e5964

[2018-07-10 15:15] decabeza commented on #2748
Hi @KrzysztofMadejski!

Right now these options: "Statistics" and "Settings" are duplicated. On the sidebar and the header (as shortcuts) 🙂

![consul_admin](https://user-images.githubusercontent.com/631897/42519466-69658c22-8464-11e8-9209-e8e795c06648.jpg)

Remember you can create any custom layout to change it. For example for this case you can create a new file `custom/layouts/_admin_header.html

[2018-07-10 15:33] KrzysztofMadejski commented on #2745
PS. My colleague has managed to login successfully now, seems like a hard to catch bug.

[2018-07-10 15:34] KrzysztofMadejski commented on #2748
I've missed that or it was recently added. Thanks!

[2018-07-10 15:34] #2748 closed

[2018-07-11 00:11] javierv commented on #2557
I forgot to mention I haven't reproduced this one. Just in case it helps, there's a CSS animation, and the error message says the page content should be exactly what it is (the tag was updated properly) except for the flash message, which is animated by CSS.

So there's an option it's fixed by #2696, or it could already be fixed by something else. It's impossible to be sure without reproducing it

[2018-07-11 09:01] mlovic commented on #2737
I'll do this one

[2018-07-11 10:31] decabeza opened #2755 "Improve admin banners section"
⚠️ Wait https://github.com/consul/consul/pull/2319/ is merged before to start this issue.

Background
==

Now the admin users can create and manage banners on `/admin/banners`.

What we need
==

Improve this section with following options _[Screenshot_1]_:

- Adds the checkbox to show banner on **Polls**.
- Adds the checkbox to show banner on **Legislation processes**.
- Adds the checkbox to show

[2018-07-11 10:46] decabeza opened #2756 "Adds proposals images on dev_seeds"
Background
==
The user can upload an image when creates a proposal and this image is shown on the index list in `/proposals`.

What we need
==

Include some random images on proposals created on `dev_seeds/proposals`

Notes
==

You can use any random image from https://unsplash.com/ (please avoid using photos of people faces or any inappropriate image)

Screenshots
==
![proposals_image](https://us

[2018-07-11 10:51] decabeza opened #2757 "Adds budget investments images on dev_seeds"
Background
==
The user can upload an image when creates a budget investment project and this image is shown on the index list in `/budgets/N/investments?heading_id=N`.

What we need
==

Include some random images on budget investment projects created on `dev_seeds/budgets`

Notes
==

You can use any random image from https://unsplash.com/ (please avoid using photos of people faces or any inappropr

[2018-07-11 11:11] decabeza commented on #2141
We already have the PR https://github.com/consul/consul/pull/2319 to improve this features and a new issue 😉

Closed in favor to https://github.com/consul/consul/issues/2755

[2018-07-11 11:11] #2141 closed

[2018-07-11 15:56] decabeza commented on #2669
Closed in favor to https://github.com/consul/consul/issues/2739

[2018-07-11 15:56] #2669 closed

[2018-07-11 15:57] decabeza commented on #2670
Closed in favor to https://github.com/consul/consul/issues/2739

[2018-07-11 15:57] #2670 closed

[2018-07-11 17:32] bertocq opened #2759 "Use new Github Issue template improvements"
Since May github lets maintainers prompt user's with different issue templates to for example avoid mixing in just one Bug & Feature request sections

Easier to understand just checking https://blog.github.com/2018-05-02-issue-template-improvements/?utm_source=newsletter&utm_medium=email&utm_campaign=may-user-newsletter-2018

![github](https://blog.github.com/assets/img/2018-04-30-issue-templates/

[2018-07-13 10:48] mlovic commented on #2743
I'll do this one

[2018-07-13 11:12] mlovic commented on #2743
After looking at the code, I just want to make sure that these milestones will be independent from the Budget::Investment milestones (different model, different DB table, mostly different view partials, etc.) @decabeza

[2018-07-13 11:38] voodoorai2000 commented on #2743
@mlovic there is no difference between the attributes for a budget milestone and a legislation milestone, so this sounds like a polymorphic relationship 👌

[2018-07-13 11:46] aitbw commented on #2743
That being the case, and considering #2740, I think it would be better to develop a polymorphic `milestone` model before tackling this issue

[2018-07-13 12:11] voodoorai2000 opened #2763 "Make Milestones Polymorphic"
Context
===
Budget investments have [Milestones](https://github.com/consul/consul/pull/1688) to be able display the chronological order of events from becoming a winning investment to becoming an executed investment in real life

We would also like to add Milestone to [Proposals](https://github.com/consul/consul/issues/2740) and [Legislations](https://github.com/consul/consul/issues/2743)

What
==

[2018-07-13 12:11] voodoorai2000 commented on #2743
+1 Here goes the issue https://github.com/consul/consul/issues/2763

[2018-07-13 12:14] mlovic commented on #2743
@voodoorai2000  Okay, wasn't sure if the "no difference" was by design or by coincidence. So I guess all types of milestone will have the same `max_title_length`, `max_num_documents`, etc.

I'll call the relationship `milestoneable`, unless there is a better suggestion.

(One difference is that a investment milestone also `belongs_to` a `Budget::Investment::Status`.)

@aitbw Didn't see that, thank

[2018-07-13 12:16] mlovic commented on #2743
@voodoorai2000 Just saw the new issue, got it :+1:

[2018-07-13 12:28] voodoorai2000 commented on #2743
Sure, [Budget::Investment::Status](https://github.com/consul/consul/pull/2705) should also be made part of this polymorphic relationship, they are just names for types of milestones (contract open, in execution, executed, etc). Maybe something like `Milestone::Status` works nicely

I guess at some point, it will make sense to differentiate the `status` for each resource (Proposals, Investments, Le

[2018-07-13 12:36] voodoorai2000 commented on #2763
Yes... that's the first thing that I thought too...
But it might make things a little more complicated than they have to be 🤔

Maybe with a simple `milestone belongs_to :status` and a `status has_many :milestones` we are good to go 👍 https://github.com/consul/consul/issues/2743#issuecomment-404818820

[2018-07-13 12:41] mlovic commented on #2763
@voodoorai2000 Saw your other comment. Sounds good, I'll also replace `Budget::Investment::Status` with `Milestone::Status` then.

[2018-07-13 13:33] mlovic commented on #2763
@voodoorai2000
Regarding:

I'm not sure how important availability is, but I'm assuming we need to do the following:

 1. create new tables (milestones + translations)
 2. copy data to new tables
 3. populate new `milestoneable_type` column with `"Budget::Investment"`
 4. deploy new code
 5. remove old tables

(Can we assume no writes will happen between 1 and 3?)

Should I create a migration file

[2018-07-13 13:50] voodoorai2000 commented on #2763
Great, yes that's pretty much it 😌
(I think 4 will have to be the first step though)

Availability is very important, but yes I think we can assume no writes will happen between 1 and 4

I would do 1-4 in this PR and include it in the upcoming release (right now 0.16)
And 5 in a separate PR and include it in the subsequent release (0.17) 👌

[2018-07-13 16:01] #1626 closed

[2018-07-13 16:19] donaldr3 opened #2764 "AGPLv3-only or AGPLv3-or-later?"
It wasn't immediately clear from the README or source files whether this package can be used under later versions of the AGPL. Generally, you would note this in license headers in each source file (see https://www.gnu.org/licenses/gpl-howto.en.html). The README notes that it is under AGPLv3, but isn't clear on whether that is AGPLv3-only or AGPLv3-or-later. Can you clarify?

[2018-07-14 10:51] nando commented on #2756
@decabeza i'll take this issue, is that ok?

[2018-07-14 11:47] voodoorai2000 commented on #2756
Awesome @nando!
All yours! 👍

[2018-07-15 19:40] javierv opened #2767 "Error 500 supporting proposals as a manager"
## Steps to reproduce

1. Log in as manager.
1. Enter the management area.
1. Click on "Support proposals".
1. Click the "Support" link on any proposal.

## Expected Behavior

The number of supports should increase and the message "You have already supported this proposal. Share it!" should replace the "Support" link.

## Actual Behavior

Nothing happens. The rails server reports an error in the A

[2018-07-15 19:42] javierv commented on #2767
I think I'd need some help on this one. Tracing the code, we find:

[code]

But `DocumentVerificationsController#check` isn't accessed during the whole proccess, `session[:document_type]` is never set, `Verification::Management::ManagedUser.find` always returns a user with `nil` as ID, and the vote cannot be registered.

And here's where I'm a bit lost: I haven't understood how `managed_user` is s

[2018-07-16 09:23] decabeza commented on #2756
Closed by https://github.com/consul/consul/pull/2768

[2018-07-16 09:23] #2756 closed

[2018-07-16 15:45] javierv opened #2769 "Flaky spec: Moderate proposal notifications Hide"
# What

Tests that fail randomly are called "flakies", this one seems to be one:

**Randomized seed:** 14845

**Travis failed build:** [Travis build 24084, job 2](https://travis-ci.org/consul/consul/jobs/404701236)

**Failure:**
[code]

# How
- [ ] Explain why the test is flaky, or under which conditions/scenario it fails randomly
- [ ] Explain why your PR fixes it

## Tips for flaky hunting

###

[2018-07-16 23:19] javierv commented on #2361
I'll have a look at this one.

[2018-07-16 23:21] voodoorai2000 commented on #2361
Awesome!

[2018-07-17 02:39] javierv commented on #2361
I've opened #2771 with a very basic "quick and under pressure" :wink: refactoring. I'll continue working on this issue next week.

Here's my first bunch of questions regarding this issue:

* I see `Legislation::Proposal` includes `Communitable`, but I haven't found any references to communities there, nor to legislation proposals in communities. Is there something I'm missing?
* The I18n keys used

[2018-07-17 09:47] decabeza opened #2772 "Adds "Follow community" on proposals"
Background
==
Now all proposals have their community on `/communities/N`. When a user creates a new topic or comments on a topic is added to the participants list.

What we need
==

- Add "Follow community" button on `/communities/N` (see _screenshot_1_)

- The participants should be **only the users who are following the community**.

- If user create a topic or comment on existing one but is no

[2018-07-20 12:36] voodoorai2000 commented on #2700
Closed via https://github.com/consul/consul/pull/2775

[2018-07-20 12:36] #2700 closed

[2018-07-20 15:13] PierreMesure commented on #2667
This issue can be closed.

[2018-07-20 16:09] voodoorai2000 commented on #2667
Indeed! Thanks @PierreMesure 🎉

Closed via https://github.com/consul/consul/pull/2679

[2018-07-20 16:09] #2667 closed

[2018-07-23 18:22] devinbalkind opened #2781 "Configurable Top Right and Main Navigation Menus"
### User Story

As an admin user I want to be able to control which menu items appear on the top_right menu and in the main_navigation.

### Why is this Needed?

Currently, the top_right menu automatically generates links to Open Data and Transparency, and it appears only Blog links can be editted via the front end. I want to be able to place whatever items I deem appropriate in that menu.

The ma

[2018-07-24 10:48] decabeza opened #2783 "Fix active item on admin menu"
Background
==

When the admin selects a menu this item change style and adds `is-active` CSS class. Some menu items are not displaying correctly.

What we need
==

Fixes the active menu on following sections on admin:
- `/admin/polls/N/recounts` (should active "Polls > Polls")
- `/admin/polls/N/results` (should active "Polls > Polls")
- `/admin/polls/N/booth_assignments` (should active "Voting boo

[2018-07-24 10:58] decabeza opened #2784 "Adds polls list description"
Background
==

Admins users can create polls on `/admin/polls`. Sometimes they create a group of polls and need to include a short description to give some context to users.

What we need
==

- Adds a "Edit polls list" on `/admin/polls`. _[Image_1]_
- New "Edit polls list" page with a description CKEditor textarea. _[Image_2]_
- If this field is filled show the content on `/polls` front view. _[Im

[2018-07-25 05:37] hpissei commented on #2772
Hello, @decabeza I am new to ROR and open source I would like to work on this work item.

[2018-07-25 08:53] decabeza commented on #2772
Hi @hpissei!

Of course! All yours, thanks! 👌  😌

[2018-07-25 09:58] KrzysztofMadejski commented on #1501
I still can't find an option to add a given user Administrator / Moderator / other role... Wasn't this implemented?

CC: @WojtekSanko

[2018-07-25 10:00] KrzysztofMadejski commented on #2500
Where was this implemented? Can't find this feature..

[2018-07-25 10:15] decabeza commented on #2500
Hi @KrzysztofMadejski this feature was implemented on https://github.com/consul/consul/pull/2548 (you can see some attached gifs of how it works).

The URL to access to **Management** section is `/management` you can access with an admin user or a user with manager role.

[2018-07-25 10:18] decabeza commented on #1501
Hi @KrzysztofMadejski on admin section `/admin` navigate to `Admin > Profiles` there are some subsections where you can find any registered user and assign a new role 😌

![screen shot 2018-07-25 at 12 16 29](https://user-images.githubusercontent.com/631897/43195232-af393dec-9004-11e8-8f2a-673c7e785870.png)

![screen shot 2018-07-25 at 12 18 20](https://user-images.githubusercontent.com/631897/4319

[2018-07-25 12:42] #2471 closed

[2018-07-25 12:46] decabeza commented on #2757
Closed by https://github.com/consul/consul/pull/2789

[2018-07-25 12:46] #2757 closed

[2018-07-25 12:50] aitbw commented on #1501
To keep track of this: Whitespace trimming is fixed via #2161 but hasn't been merged into `master` yet, @KrzysztofMadejski

[2018-07-25 15:23] decabeza commented on #1501
Thanks @KrzysztofMadejski I take note of your suggestions, we continue to work continuously to improve the admin panel ☺️

[2018-07-25 15:54] decabeza opened #2791 "Add homepage for legislation processes"
⚠️ **Wait to https://github.com/consul/consul/issues/2495 is merged before to start this issue.**

Background
==
Admins can create new processes on `/admin/legislation/processes`. Sometimes the processes are complex and need to give more context to users with texts, images...

What we need
==
- Add a new "Homepage" tab on admin legislation processes `/admin/legislation/processes/N/edit`.
- Include

[2018-07-25 18:05] #2145 closed

[2018-07-25 22:01] #2551 closed

[2018-07-25 22:02] decabeza commented on #2551
Hi @atzorvas I just merged https://github.com/consul/consul/pull/2792, so this feature will be available in the next **0.17 release** 😉

[2018-07-26 06:05] hpissei commented on #2772
Thank You Very Much

[2018-07-26 10:39] microweb10 commented on #2784
I can work on this one.

[2018-07-26 10:42] decabeza commented on #2784
All Yours @microweb10! 🙏 😌

[2018-07-26 12:21] aitbw commented on #2769
Closed via #2788

[2018-07-26 12:22] aitbw commented on #2589
Closed via #2800

[2018-07-26 12:23] aitbw commented on #2588
Closed via #2799

[2018-07-26 12:48] decabeza commented on #2769
Closed via #2788

[2018-07-26 12:48] #2769 closed

[2018-07-26 12:48] decabeza commented on #2589
Closed via #2800

[2018-07-26 12:48] #2589 closed

[2018-07-26 12:48] decabeza commented on #2588
Closed via #2799

[2018-07-26 12:48] #2588 closed

[2018-07-26 13:00] microweb10 commented on #2784
@decabeza I have a question. Where do you want to store that description content?

[2018-07-27 09:51] decabeza commented on #2783
Closed by https://github.com/consul/consul/pull/2807

[2018-07-27 09:51] #2783 closed

[2018-07-27 10:35] #1614 closed

[2018-07-27 15:48] aitbw commented on #2673
Closed via #2778

[2018-07-27 15:50] decabeza commented on #2673
Closed via #2778

[2018-07-27 15:50] #2673 closed

[2018-07-27 15:51] aitbw commented on #2212
Closed via #2760

[2018-07-28 19:25] javierv opened #2812 "Admin menu doesn't show up for some admins"
## Steps to reproduce

1. Create a user with an ID higher than 10.
2. Log in with that user.
3. Go to the "Management" section.

## Expected behaviour

There should be a menu showing links to sections like "My activity" or "My account":

![expected](https://user-images.githubusercontent.com/348557/43359933-e611b012-929b-11e8-8f0b-02c083b7aea4.png)

## Actual behaviour

The menu doesn't show up:

!

[2018-07-30 10:15] mlovic commented on #2668
I'm starting work on this one.

@decabeza To confirm, from the homepage section of the admin, we need to make cards and headers translatable right?

[2018-07-30 12:35] decabeza commented on #2668
Yes @mlovic! both (but really header is a card with attribute `header` with "true" value) 😌

[2018-07-30 13:59] microweb10 commented on #2735
I can work on this one

[2018-07-30 15:56] microweb10 commented on #2735
@voodoorai2000 I was going to use [this PR](https://github.com/consul/consul/pull/2619) as a reference, as the description says. But I will also have a look at the one you mentioned. What's the difference? As I understood the PR in this repo is a backport from AyuntamientoMadrid repo.

[2018-07-30 16:09] voodoorai2000 commented on #2735
Yes 😌

The originally referenced [PR](https://github.com/consul/consul/pull/2619) is the one that introduced into CONSUL Globalization: gems, javascript, views, etc

This other [PR](https://github.com/AyuntamientoMadrid/consul/pull/1585) uses the Globalization implementation and just applies it to a new section 👌

[2018-07-30 16:23] microweb10 commented on #2735
Oh, yeah! No worries 😉
I realized about that when I had a look at the PR. The rest was very helpful to "understand" what it does BTW 😊

[2018-07-30 16:32] voodoorai2000 commented on #2735
Glad to hear 😊👍

[2018-07-30 16:51] voodoorai2000 commented on #2625
Closed via https://github.com/consul/consul/pull/2809

[2018-07-30 16:52] #2625 closed

[2018-07-31 00:48] #2212 closed

[2018-07-31 09:30] microweb10 commented on #2735
@voodoorai2000 I have a couple of questions:

- I see that Spanish translation for polls is currently "Votaciones". Shouldn't it be "Encuestas"?

- In the mockups in the description and also in the PRs I see that the only changes are made in the forms, but what about the rest of the places where polls/questions/answers are shown? like the list of polls in `/admin/polls/`, the list of questions in

[2018-07-31 09:39] microweb10 commented on #2735
@voodoorai2000 Never mind about the last question. I just realized it's already implemented 😓

[2018-07-31 10:03] decabeza opened #2820 "Translate accesibility page"
Background
===

We have some static pages with text, for example, the **accessibility** page in `/accessibility` and we need translate it.

What we need
===

- Move the actual texts to i18n keys to `/config/locales/es/pages.yml`.
- Adds the English translations on `/config/locales/en/pages.yml`.

Screenshot
==

**The actual accessibility page it's only on Spanish**
![a11y](https://user-images.gith

[2018-07-31 15:39] mlovic commented on #2742
Starting this one.

[2018-07-31 17:14] voodoorai2000 opened #2824 "Add options to display results for online polls"
### Context

When a Poll is finished, an admin can decide to [show the results publicly](https://github.com/consul/consul/pull/2095)

However this option is only allowed if there are counted Booth Votes(`PartialResults`) for a Poll

### What is needed?

Make available the options to display results, when there are only Web Votes(`Question::Answers`) for a Poll

### How
Probably the simplest implem

[2018-07-31 18:00] voodoorai2000 opened #2826 "Refactor factories.rb into logical files"
Context
===

Tests are maravellous, they give us peace of mind making sure our software works as expected :relieved:

We use factories to create readable specs. The factories' file has grown substantially overtime and needs some refactoring

What
===

Split the [factories.rb](https://github.com/consul/consul/blob/master/spec/factories.rb) file into multiple logical files

How
===

See the [work do

[2018-07-31 18:10] voodoorai2000 opened #2827 "Setup A/B Testing"
Context
===
A/B Testing is great, it allows us to measure user actions with different interfaces and make an informed decision on what is the interface that is working best

What
===
Setup A/B Testing for CONSUL

How
===
[Split](https://github.com/splitrb/split) is a great gem for this purpose, there is a nice (and old) [screencast](http://railscasts.com/episodes/331-a-b-testing-with-split) by the

[2018-07-31 18:24] voodoorai2000 opened #2828 "Add a form to submit CONSUL installations"
Context
===
In an effort to sync all the CONSUL forks around the world, we've created [consulproject](https://github.com/consul/consulproject) a repo that is meant to substitute one day the current [consulproject](http://consulproject.org/en/) website

For now we have Github integration to see the [differences between a fork and upstream](https://consulproject.herokuapp.com/).
And many other ideas

[2018-07-31 19:04] voodoorai2000 opened #2829 "Upgrade Gems"
Context
===
Code keeps moving forward and we must stay up to date

What
===
Find a [gem](https://github.com/consul/consul/blob/master/Gemfile) that is [obsolete](https://rubygems.org/) and [upgrade it](https://bundler.io/v1.16/guides/updating_gems.html)

Why
===
For security, quality and maintainability

How
===
Check out the [release notes](https://github.com/thoughtbot/factory_bot_rails/releases

[2018-07-31 19:20] voodoorai2000 opened #2830 "Add configuration to setup a staging environment"
Context
===
We have an [automated installer](https://github.com/consul/installer) to setup CONSUL in a remote server

Currently the installer is hardcoded to setup CONSUL for a production environment

What
===
Add an option to the installer to [setup CONSUL for a staging environment](https://github.com/consul/installer/issues/23)

Notes
===
This issue requires learning a little [Ansible](https://w

[2018-07-31 19:28] voodoorai2000 opened #2831 "Add a rake task to upgrade CONSUL from a previous version"
Context
===
Most [Releases](https://github.com/consul/consul/releases) require a custom rake task to be executed in order to upgrade to the next version

What
===
Add a rake task `consul:upgrade` that understands the [current version](https://github.com/consul/consul/blob/master/app/controllers/installation_controller.rb#L15) and executes the necessary rake tasks for the next version

How
===
Sugg

[2018-08-01 18:24] juan-fdz-hawa commented on #2820
Hola, you do mind if I tackle this one?

[2018-08-02 12:42] mlovic commented on #2736
I'm not sure what to do about proposals here. If I understand correctly, those are created by users (not admins). There is a form at `/legislation/processes/:id/proposals/new`, but I don't think we're ready to introduce multi-language support to user-generated content are we?

From what I can tell, the only thing an admin can do with proposals (shown in the screenshot) is to choose "Categories tha

[2018-08-02 14:10] aitbw commented on #2820
Hey @juan-fdz-hawa, feel free to do so! All contributions are welcome :smile:

[2018-08-03 13:29] papayalabs commented on #2741
Working on this issue

[2018-08-04 19:47] juan-fdz-hawa commented on #2827
I can tackle this one

[2018-08-06 10:45] raul-fuentes commented on #2739
I'll do this one

[2018-08-06 15:39] aitbw opened #2836 "Missing translations for seed notifications"
### Current behavior:

![screenshot_2018-08-06 consul](https://user-images.githubusercontent.com/9470839/43726287-c17c022a-996c-11e8-8942-32b67ccbbac9.png)

### Expected behavior:

* Translations should not be missing

### Steps to reproduce

* Login into CONSUL
* Click the 'Notifications' button

### Notes

* The translations were available until PR #2792

[2018-08-07 15:36] MariaCheca commented on #2738
Closed in https://github.com/AyuntamientoMadrid/consul/pull/1585

[2018-08-07 15:36] #2738 closed

[2018-08-07 18:41] devinbalkind opened #2841 "Add "Approval Voting" as Option in Participatory Budgeting Module"
### User Story

As an admin, I want to create participatory budgets using the "approval voting" style instead of the knapsack/shopping cart style currently supported by Consul.

If I select Approval Voting for the budget, then the user can pick a maximum number of projects on every heading on which they can vote. I would also be able to select the amount of projects a user can vote for on each Hea

[2018-08-08 11:38] javierm commented on #2672
I'll have a look at this one.

[2018-08-08 11:54] aitbw commented on #2672
I was checking this one last week @javierm and from what I've seen, this is already implemented (I was actually discussing it with @MariaCheca just yesterday) so the issue's description might not be entirely clear (yet)

[2018-08-08 12:06] javierm commented on #2672
@aitbw Thanks for the tip! So I won't work on this one, at least for now.

[2018-08-08 12:10] greysteil commented on #2829
@voodoorai2000 - out of interest, it looks like you used to use Depfu for this, but don't any more. They're a competitor of mine (I built Dependabot and have been full time on it for a year). Out of interest, what made you stop?

[2018-08-08 18:54] PierreMesure commented on #2829
@greysteil Great job! I've always been super impressed by GOV.UK and how they update the dependencies of their 1000+ repos so fast! I checked again and your bot submitted 6000 pull requests to them.

[2018-08-08 19:15] greysteil commented on #2829
Thanks! It’s been amazing to see Dependabot get adopted by more and more teams there 😊

[2018-08-09 08:13] PierreMesure opened #2842 "User can use an existing e-mail address as username"
### User Story

- As a user, I can create an account with an e-mail address as my username. There are no checks performed to ensure that my username matches another user's e-mail address.
- A consequence of that is that I can't login using my username because the login logic finds my username in the e-mail column and matches it (or most likely not) with the password of the other user.

### Why is

[2018-08-10 08:40] greysteil commented on #2829
@viren140290 go for it! Upgrading Nokogiri from 1.8.2 to 1.8.4 would be a good move - there's a security vulnerability in the current version.

[2018-08-10 09:35] PierreMesure commented on #2829
@viren140290, @greysteil I'd wait for feedback from @bertocq, @raul-fuentes, @aitbw or @voodoorai2000 if I were you.

It seems that a lot of dependencies have been updated in this [PR](https://github.com/consul/consul/pull/2631), most importantly Ruby and Rails but also nokogiri and some for which I created PRs.

[2018-08-10 11:12] MariaCheca commented on #2446
Closed via https://github.com/consul/consul/pull/2695

[2018-08-10 11:12] #2446 closed

[2018-08-10 11:12] MariaCheca commented on #2519
Closed via https://github.com/consul/consul/pull/2695

[2018-08-10 11:12] #2519 closed

[2018-08-10 11:13] MariaCheca commented on #2520
Closed via https://github.com/consul/consul/pull/2712

[2018-08-10 11:13] #2520 closed

[2018-08-10 11:14] MariaCheca commented on #2521
Closed via https://github.com/consul/consul/pull/2712

[2018-08-10 11:14] #2521 closed

[2018-08-10 11:14] MariaCheca commented on #2558
Closed via https://github.com/consul/consul/pull/2697

[2018-08-10 11:14] #2558 closed

[2018-08-10 11:15] MariaCheca commented on #2573
Closed via https://github.com/consul/consul/pull/2696

[2018-08-10 11:15] #2573 closed

[2018-08-10 11:15] MariaCheca commented on #2713
Closed via https://github.com/consul/consul/pull/2734

[2018-08-10 11:15] #2713 closed

[2018-08-11 20:46] papayalabs commented on #2755
Working on this issue

[2018-08-13 12:07] juan-fdz-hawa commented on #2841
Done in https://github.com/consul/consul/pull/2845

[2018-08-13 17:07] tiagozini opened #2846 "Require the answer of all questions in a poll"
### User Story
As a user
I want to have a way to allow a poll to have all questions as mandatory, showing the related error to the user that did not select an answer in a question. If an error occurs the answer shouldn't be sent. It should be possible to configured this in the poll admin settings.
So that partial participations don't occur when it is not desired.

### Why is this Needed?

The prob

[2018-08-15 03:22] tiagozini opened #2848 "Facebook share link in poll doesn´t work"
Steps to reproduce
1- Enter in any pool.
2- In the share with social networks click in facebook
3- The facebook popup returns an error and user can't share the element with Facebook

Expected behaviour
The popup should show the Facebook UI and allow the user to share the item.
Current Behaviour
The popup's URL have the "quote" empty if it gets the descreption of the item it will work. This was fix

[2018-08-15 03:30] tiagozini commented on #2848
I solved this issue at our fork of Consul changing the file "consul/app/views/shared/_social_share.html.erb" with the adition of ```desc``` parameter to ```social_share_button_tag``` and creating a custom view. The code of custom view is at the commit bellow ```https://github.com/Procempa/consul/commit/f63ec1ffc61530dc1499f00273ce11a01c881ae4```

[2018-08-15 10:11] mlovic opened #2849 "Cookies are not reset between test examples when using javascript driver in Docker"
### Description

Type: Bug

Cookies are not reset between test examples when using Javascript driver (headless chrome) in Docker

### Expected Behavior

Cookies set in one test example should not be observed by other test examples.

### Steps to reproduce

Here is an example reproducing the problem: https://github.com/consul/consul/commit/bef9eaabb51c07caa3ae1b38bb5d1991716875f5

The second exampl

[2018-08-15 15:34] mlovic commented on #2849
Looking at the Selenium driver logs, it appears chromedriver is trying to use a Chrome function, `Network.deleteCookies`, which doesn't exist:

[code]

This shouldn't be all that surprising considering how outdated the version of Chrome is that we're using in the Docker image (v57). I've tried using the latest version of chrome (v67, via the `ruby:2.3.7` image on docker hub) and it solves the prob

[2018-08-15 15:43] PierreMesure opened #2850 "Error 500 when creating a budget investment with S3"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

When using AWS S3 to store external files, an error 500 appears when creating a budget investment with an image. This is due to the variable `investment` not being defined inside the following method:

[code]

### Current Behavior
[comment]: # (Describe what actually happened.)

The budget investment is created but an error

[2018-08-16 08:16] PierreMesure opened #2853 "icon_home.png is not used anymore but still present in the custom image panel"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

In the admin panel, you can set a custom image for **icon_home** *(330x240)* but this image doesn't seem to be used anywhere.

![capture d ecran 2018-08-16 a 10 04 59](https://user-images.githubusercontent.com/7223028/44196865-6d157580-a13d-11e8-8f82-c1ba7a99fbd8.png)

### Current Behavior
[comment]: # (Describe what actual

[2018-08-16 08:16] PierreMesure commented on #2853
I might be wrong about that. Please feel free to correct me!

[2018-08-16 09:01] javierm commented on #2849
Hi, @mlovic. Thank you for investigating this issue.

The sample spec passes on my machine :confused:. Here's the log in case it helps:

[code]

[2018-08-16 09:03] javierm commented on #2849
<del>The specs pass on my machine with chromedriver 2.36<del>. Nevermind; I thought you meant the bug happened because of the chromedriver version, but I see it's because of the chromium browser version.

[2018-08-16 10:46] MariaCheca commented on #2827
Hey @juan-fdz-hawa! We are glad you want to contribute on this :) This is one of our [PRs-welcome](https://github.com/consul/consul/labels/PRs-welcome) issues so go for it! Let us know if you have questions during your development process.

[2018-08-16 11:11] sturpin opened #2855 "500 error when we created a budget investment from management panel"
### Description
When we try to create a budget investment from the management panel with a user, who has either registered in the portal or we manually, we receive a 500 error.

*Type*: Bug

### Steps to reproduce
1. We select user from the management panel
![step_1](https://user-images.githubusercontent.com/16426243/44199392-49096280-a144-11e8-89c3-7969bd19d23b.png)

2. The user is verified
![ste

[2018-08-16 15:13] devinbalkind commented on #2737
Hi - what's the status of this? Will it be in the .17 release?

[2018-08-16 15:43] mlovic commented on #2737
@devinbalkind This particular issue (involving participatory budgets) is on hold right now, but most of the foundational work to make admin-generated content translatable is done. I'm assuming this part will follow soon.

I'm not on the core team, but my guess is that it will be in the .17 release (not much is happening until September though).

[2018-08-17 07:27] 16yuki0702 commented on #2855
I can fix it.

[2018-08-17 14:41] sturpin commented on #2855
Fantastic @16yuki0702 !!
That error has been solved, but even if you put a location on the map, it gives you an error and does not allow you to save the investment.

### Images
1. Map location can't be blank ??
![pic_01](https://user-images.githubusercontent.com/16426243/44271731-30c83f00-a23b-11e8-877c-394b1b6770a9.png)

2. I put the location on the map
![pic_02](https://user-images.githubusercon

[2018-08-17 16:08] 16yuki0702 commented on #2855
thank you for your checking !!
oh, that's strange.
I'll check it.

[2018-08-18 04:26] 16yuki0702 commented on #2855
I fixed so that you can store map location.

[2018-08-20 06:39] sturpin commented on #2855
Amazing @16yuki0702 !! running perfectly, I'm so proud of you!! :+1:

[2018-08-20 12:01] aitbw commented on #2824
I'm on it

[2018-08-20 12:39] 16yuki0702 commented on #2855
Thank you very much for your checking.
I think this issue should be kept opening until it's pr is merged.
Would you reopen this issue please ??

[2018-08-20 13:50] sturpin commented on #2855
@16yuki0702 you are right!! I got excited ha ha ha
thanks!! :+1:

[2018-08-22 11:56] mlovic commented on #2737
@devinbalkind You might be interested in following this issue https://github.com/AyuntamientoMadrid/consul/issues/1612 which tracks progress of the whole "make admin-generated content translatable" project (changes to the Madrid fork are regularly backported to this repo).

[2018-08-22 16:29] devinbalkind commented on #2737
Thanks for the info. I guess this is the code powering decide.madrid.es --> https://github.com/AyuntamientoMadrid/consul?

[2018-08-23 07:41] mlovic commented on #2737
@devinbalkind That's right. Right now, most of the development is done on that fork and then backported here.

[2018-08-23 21:26] devinbalkind commented on #2737
Gotcha. Thanks for the intel.

[2018-08-24 05:12] javierm commented on #2493
I think this issue can be closed. We haven't had any failures since we changed the spec in d006d0d to click `icon-x` (and maybe even before that).

[2018-08-24 12:29] aitbw commented on #2836
Yes, you're correct @mlovic, sorry about that :bowing_man:

[2018-08-24 15:18] #2493 closed

[2018-08-28 03:45] viren140290 commented on #2691
@decabeza I'd like to take this up.

[2018-08-28 09:33] javierm commented on #2691
@viren140290 Go ahead! Thank you!

(I'm the one replying because decabeza is on holidays :beach_umbrella:).

[2018-08-28 20:25] embasbm commented on #2828
Hi, can I take this one?

[2018-08-30 11:45] tiagozini opened #2873 "Show poll results and stats when poll is not finished"
This issue is related with Polls Results #2052.

### What
Include a setting on admin to show polls results and polls stats when the poll is not finished yet.

### Why
I understand that showing the results of the poll before it was finished could make bigger the engagement of new guys to answer it, and consequently makes the poll more democratic and effective.

### How
Include two checkboxes on pol

[2018-09-05 09:48] decabeza commented on #2736
Hi @mlovic! (sorry for the late response, I was on holidays 🏖)

Effectively we are not yet ready to translate user-generated content. 😅

But **the categories (tag names) added by admin should be translatable**. 😉

[2018-09-05 13:12] voodoorai2000 commented on #2820
Closed via https://github.com/consul/consul/pull/2834

[2018-09-05 13:12] #2820 closed

[2018-09-05 17:02] voodoorai2000 commented on #2829
Hi guys!

@greysteil sure, we stopped using Depfu because it does not automatically update the Gemfile with the specific version for minor gem upgrades. We prefer to have the exact version specified in the Gemfile, not only in the Gemfile.lock

@PierreMesure thanks for all those PRs, merging 🎉

@viren140290 right, there is a big PR coming with Rails 5 and many gem dependency updates, but we still

[2018-09-05 17:04] greysteil commented on #2829
@voodoorai2000 - ah cool, I'm the same. It's configurable in Dependabot, but keeping the Gemfile in line with the Gemfile.lock is the default.

Just running it on my fork to make sure everything works as expected - I'll ping you a link to the PRs once it's generated some.

[2018-09-05 17:35] greysteil commented on #2829
@voodoorai2000 - alright, running nicely on my fork and you can see the PRs [here](https://github.com/greysteil/consul/pulls). Would love you to switch it on on this repo!

[2018-09-05 17:52] voodoorai2000 commented on #2781
Closed via https://github.com/consul/consul/pull/2785

[2018-09-05 17:52] #2781 closed

[2018-09-05 18:00] voodoorai2000 commented on #2829
Awesome, thanks for trying it out @greysteil 😌
I see the Gemfile is updated for minor versions 🎉
Can Dependabot be configured to update the Gemfile for patch versions too?

[2018-09-05 18:01] greysteil commented on #2829
Yeah, it'll do that for you automatically - it's the way I keep my Gemfiles, too. 🙂

[2018-09-05 18:09] voodoorai2000 commented on #2829
That is magnificent 😌
Alright, we'll give it a shot 👍

[2018-09-06 07:27] greysteil commented on #2829
@voodoorai2000 - a couple of patch-level updates there now, including [this one](https://github.com/greysteil/consul/pull/6/files), so you can see exactly what they look like - just in case you doubted me. :trollface:

It caps out at 10 PRs open (and opens a max of 5 per update run) so won't overwhelm you.

[2018-09-06 10:50] voodoorai2000 commented on #2829
Appreciate it @greysteil, I didn't 😌
Oh the cap feature is very considerate 🙏🎉

[2018-09-06 11:47] javierm opened #2874 "Make legislation process categories translatable"
Background
==

We've made it possible for admins to translate most of the content in **collaborative legislation** (issue #2736, implemented in AyuntamientoMadrid#1628). However, proposal categories aren't translatable yet.

What we need
==

Make translatable the proposals tab in legislation processes, created from admin panel on: `/admin/legislation/processes/N/proposals`

Screenshots
==
<img wid

[2018-09-06 15:34] javierm opened #2875 "Bugs updating translatable records with invalid data"
# Background

Admins can create content in several languages like, for example, banners (issue #2738).

# Current behaviour

There are a few unexpected things happening when we try to update a translatable record with invalid data. In the examples, we'll use the rule stating banner titles must have at least 2 characters, and will check what happens when we try to save a banner with a title having

[2018-09-07 13:53] voodoorai2000 commented on #2812
Closed via https://github.com/consul/consul/pull/2813

[2018-09-07 13:53] #2812 closed

[2018-09-07 16:48] voodoorai2000 commented on #2829
Things seem to be working very nicely with @greysteil's Dependabot! 🎉
Putting this issue on hold for now

[2018-09-07 19:21] voodoorai2000 commented on #2826
Closed via https://github.com/consul/consul/pull/2838

[2018-09-07 19:21] #2826 closed

[2018-09-10 23:49] devinbalkind opened #2889 "Show Active Tab in Custom Information Texts"
### User Story

As an admin, I want to be able to tell which "Information Texts" is currently displayed through the standard visual cue for active tabs.

### Why is this Needed?

Makes administration easier

### Description

*Type*: Bug

Make the active tab's title blue and underlined.

### Current Behavior
![image](https://user-images.githubusercontent.com/444311/45330133-8d143b00-b529-11e8-97b6-

[2018-09-10 23:59] devinbalkind opened #2890 "Hide "Featured" section on Home Page if there are no cards"
### User Story

As an admin, I want the "Featured" section to disappear from the home page if there are no cards in it.

### Why is this Needed?

If there are no cards then there is nothing to "feature" on the home page so the display of that section heading looks like an error.

### Description

*Type*: Bug

### Current Behavior
Currently if there are no cards on the homepage it still says "Featu

[2018-09-11 20:47] papayalabs commented on #2890
Working on this issue

[2018-09-11 20:47] papayalabs commented on #2889
Working on this issue

[2018-09-12 14:24] agabor opened #2897 "New language"
Hello I would like to have my language Hungarian added to consul

[2018-09-13 14:55] papayalabs commented on #2890
Hi @mlovic, could you approve this to work on it. Thanks!

[2018-09-13 15:13] decabeza commented on #2890
Hi @papayalabs, thanks for find this, and of course! you can work on it! 😌

Remember to hide the hole container:

[code]

😉

[2018-09-13 20:17] papayalabs commented on #2890
Hi @decabeza, excellent! Ok, thanks for the tip. :)

[2018-09-17 17:12] voodoorai2000 commented on #2829
Don't think we need this issue open any longer 😌
Dependabot is awesome, it works great and has everything that we wanted 😍

Thanks @greysteil great job building it! 👏

[2018-09-17 17:12] #2829 closed

[2018-09-17 17:13] greysteil commented on #2829
That's awesome to hear - thanks @voodoorai2000!

[2018-09-17 17:40] voodoorai2000 commented on #2824
@aitbw are you still up for working on this one? 😃

[2018-09-17 21:00] voodoorai2000 opened #2904 "Integrate Ckeditor with Amazon S3 uploads"
### User Story

As an admin, I want to upload images using CKeditor, so that custom pages look awesome

### Why is this Needed?

Right now [images can be upload using CKeditor](https://github.com/consul/consul/pull/2876) but it assumes that we can store images in the hosted server. That is not always the case with providers such as Heroku, were you need an external storage provider such as Amazon

[2018-09-18 08:51] PierreMesure commented on #2904
Cool that you opened the issue @voodoorai2000! I don't know if you tested it but if you haven't, it might be that the current integration works without any problem with S3. My concern was just that we don't know.
For anyone looking into it, use the [Paperclip & S3 guide](https://github.com/PierreMesure/docs/blob/d439e66702e424ccf75cfb1d8301a358b8dbd7e1/en/getting_started/using-aws-s3-as-storage.md

[2018-09-18 10:26] MariaCheca commented on #1786
Closed here: https://github.com/consul/consul/pull/2082

[2018-09-18 10:26] #1786 closed

[2018-09-18 10:27] MariaCheca commented on #1856
Closed here: https://github.com/consul/consul/pull/1906

[2018-09-18 10:27] #1856 closed

[2018-09-18 10:28] MariaCheca commented on #2052
Closed here: https://github.com/consul/consul/pull/2095

[2018-09-18 10:28] #2052 closed

[2018-09-24 15:16] decabeza opened #2918 "CRUD for budget groups and headings"
## Background

Now the admin users can create a budget and assign **group and headings** on `/admin/budgets/N`. This is a little confusing and uses some extra JS to expand/hide the form.

## What we need

Change this "all-in-one" form to a CRUD for **groups** and **headings** to improve this section and add consistency with the rest of admin panel.

### Notes
Keep in mind a lot of forks have alrea

[2018-09-24 15:38] decabeza opened #2919 "Adds images to legislation proposals"
What
====
Add images to legislation proposals, so that users can add them when creating new proposals in a process.

How
===
- Make the Legislation::Proposal imageable.
- Add an image uploader field to the new legislation proposal form.
- The images will show in the legislation proposal's index and show views.

Screenshots
===========
Work in progress... 👨‍🎨

[2018-09-24 17:06] javierm commented on #2736
Closed via #2912.

[2018-09-24 17:06] #2736 closed

[2018-09-24 19:11] voodoorai2000 commented on #2889
Closed via https://github.com/consul/consul/pull/2898

[2018-09-24 19:11] #2889 closed

[2018-09-24 22:41] devinbalkind opened #2920 "Participatory Budgeting Update with Ideas Phases, Approval Voting, More"
There are hundreds of participatory budgeting programs active around the world and many of them have small variations in how they’re organized.

The purpose of the following contribution is to make it possible for Consul-based system to support the type of PB processes organized by the Participatory Budgeting Program, a US-based nonprofit that designs and executes dozens of PB processes throughout

[2018-09-26 11:19] #2735 closed

[2018-09-27 09:11] decabeza opened #2930 "Legislation process draft phase"
## Background

Now the admin users can create processes on `/admin/legislation/processes/new`. Sometimes the admins want to create some initial content or preview the process before starts.

## What we need

- Include a new **Draft phase** for processes.
- Include the help text `If this phase is active, the process won't be listed on processes index. Allow to preview the process and create content

[2018-09-27 10:25] decabeza opened #2931 "Admin tables order"
## Background

In `/views/admin/budget_investments/_investments.html.erb` on Admin panel, there is a select form to sort by some attributes of the table.

## What we need

Replace this select form to a link in each `<th>` to order by them.

## Notes

For te arrow icon you can use the existing one `<span class="icon-arrow-down">`.

The objective of this issue is replacing it, but it would be nice a

[2018-09-27 10:29] decabeza opened #2932 "Help page feature"
## Background
All sections have an associated Setting feature to enable or not that section (visible on subnavigation menu for users)

## What we need
Include a new Setting for enable or not the **Help** page.

[2018-09-27 13:04] decabeza opened #2934 "Images and documents settings"
## Background

Users and admins can upload images and documents to proposals, investments, processes... but the settings only can be changed on code `/models/image.rb` and `/models/document.rb`.

## What we need

Move all this images and documents settings to admin panel on `/admin/settings`.

## Notes

These are the texts I use for the mockup. Feel free to change and improve them! ☺️

[code]

##

[2018-09-27 14:25] PierreMesure opened #2935 "Spec fails when platform doesn't include Spanish as a language"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

[code]
### Expected Behavior
[comment]: # (Describe what you expected to happen.)

### Steps to reproduce
[comment]: # (Describe how we can replicate the bug step by step.)

You can check our [fork](https://github.com/digidemlab/consul) and the [spec repo

[2018-09-27 16:09] javierm commented on #2875
See also https://github.com/consul/consul/issues/2935

[2018-09-28 15:06] decabeza opened #2937 "Improve admin custom pages"
## Background
Now the admins can create custom pages on `/admin/site_customization/pages` but this feature is a little limited.

## What we need

Improve this section with:

- Possibility to add a "Header" to the page (the same behaviour of `admin/homepage`). _[image_1]_
- Possibility to add "Cards" to the page (the same behaviour of `admin/homepage`). _[image_1]_
- Include a new *checkbox* to sho

[2018-10-01 11:38] #2932 closed

[2018-10-01 12:00] decabeza opened #2940 "Moderate legislation proposals"
## Background

Admins can moderate the content on show views _[see screenshot]_. But on legislation proposals `/legislation/processes/N/proposals/N` it is not working.

## What we need
Fix this feature to hide legislation proposals.

## Screenshots
![hide legislationsproposals](https://user-images.githubusercontent.com/631897/46287278-4f339100-c582-11e8-8243-e2eb0a96d15e.png)

## Notes

It seems r

[2018-10-01 16:20] quirksahern commented on #2937
Is this issue ready to be worked on?

[2018-10-01 20:00] matisnape commented on #2931
I would like to take a shot at it, if possible :)

[2018-10-01 20:04] javierm commented on #2931
@matisnape Sure. Go ahead!

[2018-10-03 07:50] PierreMesure opened #2943 "Account creation confirmation page title is misleading"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
After you create your account, you end up on a page which tells you to _Modify your email_

![capture d ecran 2018-10-03 a 09 24 50](https://user-images.githubusercontent.com/7223028/46397142-b91e7880-c6f1-11e8-9059-5c807ff40ebb.png)

### Expected Behavior

[2018-10-03 11:20] #2668 closed

[2018-10-03 14:40] javierm commented on #2495
Closed via #2876.

[2018-10-03 14:40] #2495 closed

[2018-10-03 14:43] javierm commented on #2742
Closed via #2910

[2018-10-03 14:43] #2742 closed

[2018-10-03 14:47] javierm commented on #2741
Closed via #2913.

[2018-10-03 14:47] #2741 closed

[2018-10-03 15:44] decabeza commented on #2587
Done on https://github.com/consul/consul/pull/2821 🎉

[2018-10-03 15:44] #2587 closed

[2018-10-05 10:59] #2739 closed

[2018-10-05 12:47] decabeza commented on #2853
Hi, @PierreMesure! indeed this is a logo that is no longer used.

Feel free to send a PR to remove it! 🙏 😌

[2018-10-06 16:17] ziyan-junaideen opened #2954 "Ability to catch and forward emails"
### Background

We are required to migrate the production database to a another instance of the app for testing purposes . This raises the possibility of blasting our users with unintended emails. It would be good to be able to on config prevent emails been sent to users.

### Description

*Type*: Feature

To be able to configure the application to catch and forward emails to a specified email add

[2018-10-08 07:47] ziyan-junaideen commented on #2920
About the changes Devin has described above w.r.t. ideas posting, I think some screen grabs might help understand the flow we have implemented.

### Changes w.r.t. budget
- 2 new budget phases
- Flag go accept guest posting (ideas posting only)

### Budget Ideas
- Budget Investment - enum field `kind` to denote if `idea` or `project`
- 2 new controllers `/budget/:id/ideas/...` and `/admin/budgets/

[2018-10-10 15:27] decabeza commented on #2930
Hi @jaflutz! Sure! all yours 😉

[2018-10-11 00:56] kreopelle commented on #2934
I'd like to try my hand at this issue (also it's my first time)!

[2018-10-11 08:53] decabeza commented on #2934
Hi @kreopelle! Sure! All yours 😉

[2018-10-15 17:13] javierm commented on #2935
@PierreMesure Thank you very much for this bug report! The spec causing the error assumes the application will configure the French language to fallback to Spanish. Since it's configured to fallback to English on your fork, it fails.

Probably the spec should not assume that much. We're having a look at it and will include a fix as part of AyuntamientoMadrid#1669.

[2018-10-16 08:15] PierreMesure commented on #2935
Good catch!

[2018-10-17 12:50] PierreMesure opened #2975 "Can't create proposal topics (tags) if they have already been added by users"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

![capture d ecran 2018-10-17 a 14 44 21](https://user-images.githubusercontent.com/7223028/47087307-ebfd5c00-d21b-11e8-8b4c-eb2edf219fb6.png)

I created a proposal as a normal user and wrote a couple of tags. Later on, when I tried to create a few tags on the admin backoffice, I realised that it doesn't work for the tags th

[2018-10-17 18:01] javierm opened #2978 "Improve tests uploading CKEditor images"
## Background

In commit 6f96265 we've introduced a test checking the icon to add an image is present. However, we haven't tested the whole process of uploading a file through CKEditor. A possible way to test it could be:

[code]

The test now works with Ruby 2.4 and Rails 5 expect if we use capybara-webmock (which we do). That's because in the CKEditor layout there's a line saying:

[code]

That

[2018-10-18 09:08] PierreMesure opened #2980 "Edited proposal gets "similar proposal" warning"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

Really low priority but I thought this one was funny.

Try to edit a proposal, to change the title a bit. You will get the warning that a similar proposal exists. Thanks but it's the same...

![capture d ecran 2018-10-18 a 09 59 32](https://user-images.githubusercontent.com/7223028/47143635-e6f4e700-d2c5-11e8-88b0-47d5f3bdd

[2018-10-18 10:34] decabeza opened #2981 "Dashboard feature"
## Background

We have been working recently on a new dashboard feature for proposals on the following PRs:

- https://github.com/consul/consul/pull/2773
- https://github.com/consul/consul/pull/2953
- https://github.com/consul/consul/pull/2968
- https://github.com/consul/consul/pull/2971
- https://github.com/consul/consul/pull/2972
- https://github.com/consul/consul/pull/2979

## What we need

Fix

[2018-10-21 12:15] khaleeqahmad commented on #2937
Hi, I'd be interested in having a go at this if it's not currently in progress?

[2018-10-21 13:49] quirksahern commented on #2937
I’ve done nothing, sorry
Got distracted with work and then went on holiday

Sent from my iPhone

On 21 Oct 2018, at 13:15, Khaleeq Ahmad <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, I'd be interested in having a go at this if it's not currently in progress?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2018-10-22 09:51] decabeza commented on #2937
Ok @quirksahern, if you didn't started... @khaleeqahmad give it a try! 😉

[2018-10-22 12:09] voodoorai2000 commented on #2937
Thanks for replying to @khaleeqahmad's enquiry @quirksahern 🙏, feel free to review his code if you wish 😊

Sure, go for it @khaleeqahmad! 🎉

[2018-10-26 10:23] #2935 closed, assigned to nobody

[2018-10-27 00:34] gabteles commented on #2831
I can do this one @voodoorai2000

[2018-10-29 09:47] kiwis2 opened #2988 "Local installation of consul : Your bundle is locked to i18n (0.9.5)"
### User Story
I just landed and discovered consul, and decided to discover the app as I'm PhD student working on Participatory Governance.
I'm trying to install it on localhost.

### Why is this Needed?

[comment]: #
 to install Consul on a localhost

### Description

[comment]: #
*Type*: Trouble shooting

### Current Behavior
The issue that blocked me from even locally exploring consul came afte

[2018-10-31 20:58] PierreMesure opened #2997 "Admin menu link doesn't work when creating/editing a widget card"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

Small bug but still worth reporting somewhere.

![capture d ecran 2018-10-31 a 21 54 09](https://user-images.githubusercontent.com/7223028/47818314-18ef5a00-dd58-11e8-9017-e881d264898a.png)

In the admin menu, this title at the top of the sidebar is clickable and supposed to bring you back to the admin main menu. It seems t

[2018-11-01 23:42] kiwis2 commented on #2988
Merci Pierre!
I still could not install it :(
![s_s](https://user-images.githubusercontent.com/44402753/47886026-15330480-de38-11e8-854d-c044d95e1127.jpg)

here's what i got

thank you a lot for your support!

[2018-11-02 08:45] PierreMesure commented on #2988
Another possibility would be to check your gem sources. I don't use `insecure.rails-assets.org`, I have the following sources when I install/update:
[code]
In general, maybe uninstalling ruby and reinstalling would solve the issue.

[2018-11-02 08:56] kiwis2 commented on #2988
Actually, If i use https it would rise up an error.
I re-installed ruby already.
I noticed that i have to install the version of the gem that is asking for.
so for example i had "browser" gem but a newer version than 2.5.3, so i when i ran gem install -v 2.5.3 then it would ask for another gem because it's locked to certain version and so on...

[2018-11-02 11:45] javierm commented on #2935
Hi @PierreMesure. We don't have a proper solution for it yet, since stubbing locales in tests is quite a pain, unfortunately.

In the meantime, you can try adding this code in your `spec/spec_helper.rb` file:

[code]
It's an ugly hack and it might cause some other problems depending on your locales configuration (that's why we didn't include something similar in this release), but you can give it

[2018-11-03 12:17] PierreMesure commented on #2935
No problem at all, and I think that’s much better this way! I was just wondering because I couldn’t see anything in the update notes. Which makes sense since people using only the stable versions never had to deal with the local names in this file.

I think I’ll change the locale names in the specs, it might cause a few merging conflicts in the future but it’s better than slowing down the whole pr

[2018-11-05 10:54] javierm commented on #2935
That's a very interesting idea. I'll have a look at it next time we're dealing with locales and specs.

[2018-11-06 11:32] carlosips opened #3004 "Poll results accuracy"
### Description

*Type*: Bug

This [template](https://github.com/consul/consul/blob/master/app/views/polls/results.html.erb#L39) expects a float number but in this model [file](https://github.com/consul/consul/blob/master/app/models/poll/question/answer.rb#L49) is calculated using integer numbers so ruby returns an integer value.

### Definition of Done
A posible solution is replace this [line](ht

[2018-11-06 16:34] decabeza opened #3009 "Custom documents"
## Background

Sometimes admin users want to upload some document and have to use some external tool or include the document in the repo.

## What we need

Create a new admin **Custom documents** section inside "Side content" menu to allow

## Notes

It would nice include some settings like:

- Accepted documents type.
- Max size of each file.
- Path where documents will be uploaded.

You can use

[2018-11-06 16:53] decabeza opened #3010 "Navigation sidebar on custom pages"
## Background

Now admin users can create custom pages `/admin/site_customization/pages` and some of this pages have a lot of content.

## What we need

Include a new checkbox option to **show headings as sidebar navigation** of the content to users.

## Notes

You can wrap title and subtitle page content with `<div class="jumbo">` to add styles to header.

## Screenshots
![admin](https://user-ima

[2018-11-06 17:40] decabeza opened #3013 "Bug on budget investments pagination"
## Description

*Type*: Bug

### Current Behavior
When use pagination on `admin/budgets/N/budget_investments` after "Select/unselect" a budget investment appear an error.

### Expected Behavior
Use pagination on `admin/budgets/N/budget_investments` after "Select/unselect" without generate an error. 🤓

### Steps to reproduce
1. Visit `admin/budgets/N/budget_investments`
2.  "Select/unselect" a budg

[2018-11-07 12:51] kevieman opened #3021 "Error upon running the rake tasks"
### Description
I'm trying to do a clean install of Consul on my local machine.

### Current Behavior
Upon executing the rake tasks I get an error.
[code]
### Expected Behavior
[comment]: # (Describe what you expected to happen.)

### Steps to reproduce
Follow the installation guide in the documentation.

**My system information:**
OS: Ubuntu 18.04.1 LTS (Also tried with 16.04.05 LTS)
git version:

[2018-11-07 14:51] devinbalkind commented on #2430
Hi. @MatheusMiranda is tackling this as part of [MediaLab Prado Collective Intelligence program](https://www.medialab-prado.es/en/news/icdemocracia2018-collective-intelligence-reinventing-democracy). We've simplified the design a bit - placing the map on the top right of the sidebar.

![expanding consul - media lab prado 2018](https://user-images.githubusercontent.com/444311/48138619-feac0380-e2a4

[2018-11-07 16:20] javierm commented on #3021
Hi @kevieman. I see you've also mentioned this issue in our tech questions channel. That's actually the right place to ask :+1:.

I'm closing this issue since we don't offer technical support through GitHub. Hope you don't mind!

[2018-11-07 16:20] #3021 closed

[2018-11-07 16:27] devinbalkind opened #3022 "Add Content Block to Heading Sidebar"
### User Story

As an admin I want to be able to post custom content and links on heading pages.

### Why is this Needed?

People are often asking for more information about a heading. Headings are often "districts" so they want to know things like:
* Who is leading the district?
* What projects have been voted on in the past?
* What are the characteristics of this district?

By providing a flexib

[2018-11-07 16:34] devinbalkind commented on #3022
@milber @nicodiazm will be tackling this at the MediaLab Prado event.

[2018-11-08 11:04] microweb10 opened #3024 "Improve aspect of homepage customization in admin panel"
### Description
In `/admin/homepage` the button for dissabling recommendations is not nicely shown when you don't have a high resolution on your screen. I suggest using the same aspect than **Debates**, **Proposals** and **Processes**.

I can work on this one if you accept my suggestion 😊

### Current Behavior
![captura de pantalla 2018-11-08 a las 11 40 39](https://user-images.githubusercontent.c

[2018-11-08 11:12] decabeza commented on #3024
Of course @microweb10 all yours! 😌

[2018-11-08 12:12] microweb10 opened #3026 "Improve aspect of homepage customization in admin panel (table buttons)"
### Description
In `/admin/homepage` the action buttons on the tables are not nicely shown when you don't have a high resolution on your screen. I suggest splitting the buttons into different cells, so the new aspect will the one in the screenshots.

I can work on this one if you accept my suggestion 😊

### Current Behavior
![captura de pantalla 2018-11-08 a las 12 58 30](https://user-images.githu

[2018-11-08 12:12] kevieman commented on #3021
No problem @javierm. :+1:

I solved it either way and just in case I will put my solution here.
In the pas when i tried to install Consul locally I couldn't execute the rake tasks at all. I needed to do:
[code]
So now when I tried that I got that error message. Without the sudo I still couldn't execute it. I got the following error:
[code]
I solved this by executing just:
[code]
This solved it but

[2018-11-08 12:16] decabeza commented on #3026
Hi @microweb10! I think better than split the buttons into different cells, is adding a CSS class in their parent `<th>` to keep a min width, and keep consistency with the rest of admin sections. 😉

You have an example of this on `admin/debates/index.html.erb:13`

`<th scope="col" class="small-4"><%= t("admin.shared.actions") %></th>`

[2018-11-08 13:03] decabeza commented on #3026
For me it's ok! the important is buttons don't break in two lines. Moreover, the common for users is use a small resolution 😅

[2018-11-08 14:07] microweb10 commented on #3026
Cool! I will have a look at the rest of the admin section to check if the issue appears in more places. Then send a PR for all of them.

[2018-11-08 18:57] microweb10 opened #3028 "Proposal notifications statistics Raises Error"
### User Story
Imagine you have proposals that have notifications and you hide the proposal. Then in `/admin/stats/proposal_notifications` an Error is raised cause you cannot get the `Proposal` information anymore.

I guess you don't want to include those notifications where its Proposal was hidden in the statistics.

I can work on this one if you agree 😊

### Current Behavior
![captura de pantall

[2018-11-09 15:11] behraaang commented on #3013
Hello dear @decabeza
I had prepared a solution can I make a pull request?

[2018-11-12 09:48] petrk94 opened #3031 "Docker issue with"
### User Story

I want to use docker to get consul installed on my VPS server. But it doesnt work properly.

### Description

When I start the `bundle install` command in the consul directory, I get this error message
[code]

I hope you can help here.
I followed the manual installation process for docker
https://consul_docs.gitbooks.io/docs/en/getting_started/docker.html

Thanks

[2018-11-12 14:38] #3026 closed

[2018-11-12 17:04] #2997 closed

[2018-11-13 13:03] #3004 closed

[2018-11-13 15:24] microweb10 opened #3035 "Flaky spec: Budget Investments - Balloting Phase - Confirm"
## Failure

**Travis failed build**: [Travis build 29543, job 3](https://travis-ci.org/consul/consul/jobs/536654919)

[code]

## Cause

We don't know the cause yet. It might be related to issues with turbolinks when an element with an AJAX callback has been removed from the DOM, but that's only a wild guess.

[2018-11-15 09:36] behraaang commented on #3013
I have made a [pull request](https://github.com/consul/consul/pull/3034) to this problem, my fork had 3 failing tests which are not relate and are not passing the test suite as result, is that okay?

[2018-11-15 17:16] decabeza opened #3044 "Bug rendering buttons on slides"
## Background

On homepage there are a slides for user recommendations.

## Description

There is a bug rendering buttons on slides.

## Current Behavior
When the active slide change from one to another position the first bullet change their position.

![1](https://user-images.githubusercontent.com/631897/48569415-e91c8680-e901-11e8-8648-89646f6c6478.png)
![2](https://user-images.githubusercontent

[2018-11-15 19:35] devinbalkind opened #3045 "Add polygon geographies to /Budgets/ map"
### User Story

As a user I want to see polygons on the map denoting the boundaries of districts in my city, within which project pins exist. If I click on the polygon, I want to be linked to a list of projects within that district.

As an admin I want to be able to create polygons by pasting GeoJSON files into the admin section.

### Why is this Needed?
The existing geozone feature that provides

[2018-11-16 17:43] jesushp commented on #2605
It would be useful to reflect all that kind of decisions on a common place, as to speak, a Design System.

[2018-11-17 21:41] conkytom commented on #3044
Hello @decabeza I was unable to recreate this issue.  Tried using Firefox and Chrome and the buttons always stayed in a straight row.

 What I did find was that the whole row of buttons could move up if there was not enough text in the orbit-wrapper div that displays recommended debate/proposal.  Made a small css change that keeps that div the same height regardless of how little text is in it.

I

[2018-11-19 12:32] decabeza commented on #3010
Perfect @behraaang! 😉

[2018-11-19 13:05] decabeza commented on #3044
Hi @conkytom!

It seems this bug appears only on **Safari browser**, and the solution on https://github.com/consul/consul/pull/3047 doesn't fixes it 😅

I'm not really sure if this bug is related with `orbit-wrapper` height, in this screenshot it seem the height of content is enough for push the `orbit-bullets`... 🤔

![screenshot 2018-11-19 at 14 00 16](https://user-images.githubusercontent.com/631

[2018-11-19 13:32] voodoorai2000 commented on #2763
Closed via https://github.com/AyuntamientoMadrid/consul/pull/1698

[2018-11-19 14:46] voodoorai2000 commented on #2763
Pending Backport to CONSUL

[2018-11-21 18:36] microweb10 opened #3051 "Failing test: Budget::Investment Reclassification store_reclassified_votes stores the votes for a reclassified investment"
### Description
The spec "Budget::Investment Reclassification store_reclassified_votes stores the votes for a reclassified investment" fails with the following error:

[code]

### Current Behavior
The problem is that the method `store_reclassified_votes` in the file `app/models/budget/reclassification.rb` uses the method `ballot_lines_for_investment` located in the same file to get a list of `ball

[2018-11-23 15:19] devinbalkind opened #3058 "Place all admin accessible items in single area"
### User Story

As an admin I want to be able to access all features accessible to me from a single left side menu so that I don't have to move between different administrative sections/modes to perform various administrative functions.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen

[2018-11-23 17:13] microweb10 opened #3060 "Failing spec: Poll::Shift officer_assignments creates and destroy corresponding officer_assignments"
### Description
The spec "Poll::Shift officer_assignments creates and destroy corresponding officer_assignments" fails with the following error:

[code]

### Current Behavior
The problem is that the method `create_officer_assignments` in the file `app/models/poll/shift.rb` uses the method `booth_assignments` to get a list of `assignments`, but the list is not always sorted as expected.

### Expect

[2018-11-27 14:03] decabeza commented on #2930
Closed by https://github.com/consul/consul/pull/3048

[2018-11-27 14:03] #2930 closed

[2018-11-27 15:37] microweb10 commented on #2918
I'll work on this one!

[2018-12-02 17:08] microweb10 opened #3075 "Flaky spec: Each user has a different and consistent random proposals order"
## References

* Original issue AyuntamientoMadrid#1659
* The spec in issue #3368 seems to fail for the same reason
* Pull requests #3076, #3085 and #3321 fixed some of the reasons why this spec fails sometimes
* Failures in [Travis build 27850, job 1](https://travis-ci.org/consul/consul/jobs/502500600) and [Travis build 27875, job 2](https://travis-ci.org/consul/consul/jobs/503256161)

## Failure

[2018-12-02 19:00] #3024 closed

[2018-12-04 09:19] alerodrom opened #3078 "Missing translation for date.order"
### User Story

As a user, I want to be able to verify my residence.

### Why is this Needed?

When I try to access the page to be able to verify my residence, without this the users will not be able to vote on proposals. I want the application to show the form so that users can verify their residence, but now the application returns a 500 error.

### Description

*Type*: Bug

### Current Behavior

[2018-12-05 11:12] #2763 closed

[2018-12-05 16:21] #3051 closed

[2018-12-06 14:48] shak18 opened #3086 "Translate changes from proposals to legislation proposals"
### User Story

So, we made a fork of consul to implement in our goverment entity, and made some changes to the way proposals work, the problem here is that i dont want to find the easy way at the end , is there any recomended way to translate the changes from proposals to legislation proposals?

### Why is this Needed?

Because the theres the need of the proposals to behave the same way in propos

[2018-12-07 11:42] dpgigorro commented on #2791
maybe this resolves it: https://github.com/dpgigorro/consul/tree/2791-homepage-for-legislation-process

[2018-12-07 14:30] javierm commented on #2791
@dpgigorro Thank you very much! Would you mind opening a pull request with the relevant changes against our `master` branch so we can easily check those changes and make comments about them? Thanks again :wink:!

[2018-12-08 11:04] PierreMesure opened #3092 "Foundation equalizer not working correctly on Safari"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

Config: Safari 12.0.1 on macOS 10.13.6

This seems to be a [known](https://foundation.zurb.com/forum/posts/35313-data-equalizer-not-working-in-safari---inconsistant) problem associated to Foundation equalizer.

The solution should be to reload the sizes on page load but I got inconsistent results with it:

[code]

### Curre

[2018-12-10 10:56] javierm commented on #3078
@alerodrom Thank you for opening this issue. It will be fixed before our next release :wink:.

[2018-12-10 12:06] javierm commented on #2890
Closed via #2899. Thanks @papayalabs!

[2018-12-10 12:06] #2890 closed

[2018-12-10 19:42] javierm commented on #2557
Closing this one since we haven't seen this failure for months and there's a chance it was related to CSS animations.

[2018-12-10 19:42] #2557 closed

[2018-12-12 14:05] #2740 closed

[2018-12-12 14:12] #2743 closed

[2018-12-13 12:48] kevieman opened #3107 "Whatsapp link showing"
### User Story
I have Consul locale running in Ubuntu 16.4.

### Current Behavior
[comment]: # (Describe what actually happened.)
On the web page `/proposals/a-proposal` a whatsapp link is showing.
![123456789](https://user-images.githubusercontent.com/24312980/49939335-d2575880-fedc-11e8-9425-cfa45645020a.PNG)

As I view the inspector i see the following:
[code]

### Expected Behavior
That either

[2018-12-13 12:54] KrzysztofMadejski opened #3108 "Warning: The PGconn, PGresult, and PGError constants are deprecated"
### User Story

As an admin I want to setup the database.

### Description

While running `rake db:create` (from Docker) I'm getting warning
[code]

### Expected Behavior
No warning. Updated code.

[2018-12-13 13:00] KrzysztofMadejski opened #3109 "Docker setup: Unable to access log file. Wrong access rights."
### User Story

As a tech admin I want to start Docker from Consul.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

[code]

### Expected Behavior
No error.

Adding following to `scripts/entrypoint.sh` resolved that:
[code]

### Steps to reproduce
Fresh docker install.

### Definition of Done
[comment]

[2018-12-13 13:01] KrzysztofMadejski commented on #3109
Same goes for `tmp` folder.

[2018-12-13 13:19] #3109 closed

[2018-12-13 13:20] KrzysztofMadejski commented on #3109
It was not fresh docker install. Old files had 644 rights instead of 664

[2018-12-13 15:04] KrzysztofMadejski opened #3110 "NameError: uninitialized constant Faker"
### User Story

As a tech admin I want to setup demo with dev_seeds.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe what actually happened.)

Running `rake db:dev_seed` resulted in error below.

[code]

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

All seeds are created.

### Steps to reproduce
[comm

[2018-12-13 15:05] KrzysztofMadejski commented on #3110
It happened because I was running in `production` environment. Faker is available only in development.

[2018-12-13 15:05] #3110 closed

[2018-12-17 07:59] PierreMesure commented on #3107
I get this as well in French but not in English. It might be a missing locale problem. But I would appreciate if you could fix it.

[2018-12-17 09:41] #2651 closed

[2018-12-17 09:41] PierreMesure commented on #2651
This is fixed since 0.15

[2018-12-17 09:42] PierreMesure commented on #2853
This is fixed.

[2018-12-17 09:42] #2853 closed

[2018-12-18 09:23] #2918 closed

[2018-12-18 13:14] milovanderlinden opened #3114 "syntax error, unexpected '{'"
### User Story

[comment]: # Running a development server locally, I should be able to login to test translations.

### Why is this Needed?

[comment]: # To test translation locally before updating

### Description

[comment]: #
*Type*: Bug

### Current Behavior
[comment]: # I follow the instructions in README.md to set up a development environment. The application runs. On the first page I clicks

[2018-12-18 16:39] javierm commented on #3114
@milovanderlinden Thank you for reporting this issue. We don't support Ruby 2.5 (yet), and it seems the Devise gem would need to be updated before upgrading to Ruby 2.5.

Until we offer support for Ruby 2.5, we recommend using the supported version 2.3.2 :wink:.

[2018-12-18 16:39] #3114 closed

[2018-12-18 17:38] decabeza commented on #2848
Closed by https://github.com/consul/consul/pull/2852

[2018-12-18 17:38] #2848 closed

[2018-12-18 17:51] decabeza commented on #2934
Hi @kreopelle! How are you? any news with this issue?

Tell us if you need some help. Many thanks! 🙏 😌

[2018-12-18 17:51] decabeza commented on #3010
Hi @behraaang! How are you? any news with this issue?

Tell us if you need some help. Many thanks! 🙏 😌

[2018-12-18 19:18] javierm commented on #2931
Hi @matisnape! How are you doing? Are you still working on this issue? If so, feel free to ask us if you need any help :wink:. Thank you very much! :pray:

[2018-12-19 12:04] matisnape commented on #2931
@javierm Yes, I'm planning to do that during holidays - I had some problems in setting up the database, but I've managed to start the server locally. Sorry for the delay :)

[2018-12-19 12:13] voodoorai2000 commented on #2430
Closed via https://github.com/consul/consul/pull/3038

[2018-12-19 12:13] #2430 closed

[2018-12-19 12:44] javierm commented on #2791
Closed via #3091.

[2018-12-19 12:44] #2791 closed

[2018-12-19 12:48] voodoorai2000 commented on #3009
Closed via https://github.com/AyuntamientoMadrid/consul/pull/1733

[2018-12-19 16:32] jaflutz commented on #3108
Solutions on the web point changing from gem 'pg', '~> 0.21.0' to gem 'pg', '~> 0.20.0'. It worked for me, but I don't know if it is the appropriate solution.

[2018-12-19 17:12] jaflutz commented on #2824
Can I try this one (if @aitbw  isn't working on it anymore, of course)?

[2018-12-19 17:15] microweb10 commented on #2824
Sure! @jaflutz go for it! 👍

[2018-12-19 18:21] microweb10 commented on #3108
We are planning to upgrade to Rails 5, and therefore to upgrade some gems too. Then this warning should be gone.

Also it's worth mentioning that it's just a warning. Everything should work fine if you use the gem version we have in the file `Gemfile` https://github.com/consul/consul/blob/master/Gemfile#L39

[2018-12-21 11:53] milovanderlinden opened #3125 "layouts.footer.contact_us has no link"
### User Story

[comment]: # (As a user, when I scroll down to the footer of a page, I see that I can click to contact technical support, but there is no link)
As a user, when I scroll down to the footer of a page, I see that I can click to contact technical support, but there is no link

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description

[2018-12-22 04:47] Moisi commented on #3013
This issue considered closed?

[2018-12-24 15:03] Senen opened #3130 "Translations for proposals, debates, budget investments and comments"
### User Story
As a citizen, i want to read proposals, debates, budget investments and their comments in my preferred language.

### Why is this Needed?
Consul interface is available in 17 languages actually and growing but proposals, debates, budget::investments and comments are only available in default application language.

### Description
*Type*: Feature

The purpose of this issue is to make

[2018-12-26 15:40] #3078 closed

[2018-12-28 15:51] decabeza opened #3135 "Add progress bar to milestones"
## Background

Now the admins can adds milestones to budget investments, legislation processes
and proposals.

## What we need

Adds a **Progress bar** feature to milestones. The product priority is add this progress bars to proposals, but this feature should be polymorphic to easily add to another sections.

### Description

In Admin panel include a new "Manage progress bar" on the right of "Mile

[2018-12-30 22:36] matisnape commented on #2931
@javierm Hey, just a question - according to the `scope :sort_by_title`, title column is sorted ascending and screenshot contains arrow down. Does that mean that I should implement the sorting both ways? What about other columns that have arrows on the screenshot? Should they be sortable too? :)

[2019-01-01 06:58] dependabot[bot] opened #3138 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:58] dependabot[bot] opened #3139 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:58] dependabot[bot] opened #3140 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 06:58] #3140 closed

[2019-01-01 06:58] dependabot[bot] opened #3141 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:41] #3141 closed

[2019-01-01 12:41] dependabot[bot] opened #3142 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:41] dependabot[bot] opened #3143 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:41] dependabot[bot] opened #3144 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 12:41] #3142 closed

[2019-01-01 12:41] #3143 closed

[2019-01-01 13:43] #3144 closed

[2019-01-01 13:43] dependabot[bot] opened #3145 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:43] dependabot[bot] opened #3146 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:43] dependabot[bot] opened #3147 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:43] #3145 closed

[2019-01-01 13:43] #3146 closed

[2019-01-01 14:30] #3147 closed

[2019-01-02 13:55] javierm commented on #2931
@matisnape Yes, implementing the sorting both ways would be great :smile:.

[2019-01-03 11:28] javierm opened #3153 "Refactor image attributes"
## Background

We've got several forms accepting image attachments. In all their controllers, there's a line like this one:

[code]

If we ever change those image attributes (and it might happen when we switch to `ActiveSupport`, we'll need to change them in many places.

## Objectives

Define those attributes in only one place, and reuse them everywhere they're used.

[2019-01-04 14:55] microweb10 commented on #3028
This problem had been resolved in the repository [AyuntamientoMadrid/consul](https://github.com/AyuntamientoMadrid/consul) but it was never backported to this repository.
This issue will be closed once the PR 3154 is merged. 🎉

[2019-01-07 14:21] taitus opened #3157 "Remotely translatable proposals, debates, budget investments and comments"
### User Story
As a citizen i want to be able to get remote translations in my preferred language for Proposals, Debates, BudgetInvestments and their Comments.

### Why is this Needed?
To allow users to read not yet translated contents in their preferred language.

### Description
*Type*: Feature

1. Add a translation button to pages where we detect missing translations on current request locale
2

[2019-01-07 20:51] rogelio-o commented on #3153
I can give a try if no one is working on it!

[2019-01-08 08:54] microweb10 commented on #3153
Sure @rogelio-o! All yours ☺️.

[2019-01-09 16:57] #3028 closed

[2019-01-14 17:56] microweb10 commented on #2934
Hi @jebediahelliott ! Sure! All yours 😉

[2019-01-14 20:18] decabeza opened #3177 "Mark proposal as selected by admin and filter improvements"
## Background
Now when a proposal reach the required supports appears on `/proposals` on "Archived" with the message "This proposal has reached the required supports.".

## What we need

**Admin section**

1. Add a checkbox "Mark as selected" on Admin proposals show `/admin/proposals/N` something similar to what was done in https://github.com/consul/consul/pull/1724. _[image_1]_

**Front views**

[2019-01-14 22:49] decabeza opened #3178 "Default custom pages"
### Background

CONSUL include some static pages. It would be nice to include them in the admin panel `/admin/site_customization/pages` to change them easily.

### References

There is another issue related: Improve admin custom pages https://github.com/consul/consul/issues/2937

### What we need

Move the following pages to custom ones:

- Welcome page when a user sign up **`/welcome`** _`views/w

[2019-01-15 10:15] decabeza opened #3179 "View system emails on admin panel"
### Background

Admin users can view system emails on `/admin/system_emails`.

### What we need

We need include all "system emails" in the list (now only appears Proposal Notification Digest). It's not necessary these emails can be edited, it's enough with show the **View** button.

The emails should be included are all the files inside `views/mailer/` folder except:
- `newsletter.html.erb` this

[2019-01-15 10:25] decabeza opened #3180 "Allow create legislation proposals on process draft phase"
### Background

Admin users can create processes on `/admin/legislation/processes/new`. Sometimes admins want to create some initial content before starts.

### References

Related previous issue: **Legislation process draft phase** https://github.com/consul/consul/issues/2930

### What we need

Allow create legislation proposals on `legislation/processes/N/proposals` if process draft phase is ena

[2019-01-15 10:36] decabeza opened #3181 "Remove filter on polls and processes"
### Background

Usually when an admin user create a poll or a process it's active from beginning. So "Incoming" and "Next" filter aren't used.

### What we need

Removes filter **Incoming** on polls and filter **Next** on processes. Also on `/admin/legislation/processes` remove "Past" filter.

### Screenshots

![polls](https://user-images.githubusercontent.com/631897/51175131-bec35700-18b9-11e9-89

[2019-01-15 10:59] decabeza opened #3182 "Remove proposals form fields"
### Background

When a user create a proposal on `/proposals/new` there are a couple of unnecessary form fields.

### What we need

Remove:

- **Proposal question** (if a proposal go to voting can use their own title).
- **Link to additional documentation** (now the users can attach documents to the proposals).

**Note** it would be nice **create a rake task** to move all previous data on the fiel

[2019-01-15 11:15] bear-my-wrath commented on #3182
Hello, I'm new to open source and I'd like to try solving this bug.

[2019-01-15 11:15] decabeza opened #3183 "Search form on admin moderated content"
### Background

On Admin panel there is a section to show all **Moderated content** (content hidden by admins).

### What we need

1. Include a search form on all **Moderated content** sections. (You can found an example of search form on `/admin/proposals`)

2. Review all **Moderated content** admin sections to ensure are showing the correct content (only elements hidden by admins, not another co

[2019-01-15 11:18] microweb10 commented on #3182
Hi @bear-my-wrath! Thank you so much! 👏. All yours 😉.

[2019-01-15 12:29] decabeza opened #3184 "Custom fields on legislation proposals"
### Background

Admins can create processes with a proposals phase and define some categories on `/admin/legislation/processes/N/proposals`.

### What we need

For **each process** admins should be able to:

- Select what fields of new legislation proposals form show to users.
- Customise the label for each enabled input field.

### Screenshots
**Admin view**
![admin](https://user-images.githubuse

[2019-01-15 12:56] decabeza opened #3185 "Show or hide budget investment winners on budget results"
### Background

When a budget finished in the results page `budgets/N/results` the table only show "sucess" budget investments and hide the discarded ones.

### What we need

Add a checkbox on Admin in `/admin/budgets/N/budget_investments?filter=winners`:

**`Show only winner budget investments`**
`If enabled hide discarded budget investments. Also shows a button to "Show All" budget investment on

[2019-01-15 13:02] decabeza opened #3186 "Admin polls list"
### Background

Admin users can view the list of polls on `/admin/polls`.

### What we need

- Change title "List of active polls" to "List of polls"
- Order the polls list by start date (from most recent to oldest).

[2019-01-15 13:49] decabeza opened #3187 "Improve code on form views"
### Background

We are trying to add consistency code format across all app files and make code as simple as possible.

☺️

### What we need
1. Remove (if unnecessary `<%= f. label` on forms views.`*`
2. Remove `label: false` on forms views.
3. Use `activerecord.yml` for form translations.

`*` Sometime we use `<p class="help-text"` and it's necessary maintain `<%= f. label` to put this `<p>` tag

[2019-01-15 14:44] decabeza commented on #3182
Hi @bear-my-wrath,

I just updated the issue description:

`Note it would be nice create a rake task to move Link to additional documentation if exists to the end of Proposal text`

It's not necessary move content of "Proposal question".

Thanks! 🙏 😌

[2019-01-17 10:16] kevieman opened #3192 "ERROR 500 | Creating new budget investment proposal"
Hey!,

Regarding [issue 70 of the installer](https://github.com/consul/installer/issues/70) I have SSL working now but when creating a new proposal for a budget investment I receive a 500 error in browser. The new proposal is created anyway.

This is what I found in the log file:
[code]
It refrences to [this line](https://github.com/consul/consul/blob/7724f9421ff79521d11b4dfe5798fcd7d493d588/app/c

[2019-01-18 07:35] sturpin commented on #3192
Hi @kevieman !!
What hostname do you've to connect to psql?

[2019-01-18 07:47] kevieman commented on #3192
Hey @sturpin, thank you for helping out again!
Im not shure what you mean with hostname, but this is what i found in the connection settings:
[code]

[2019-01-18 07:51] sturpin commented on #3192
Hi friend!! :)
set listen_addresses to 127.0.0.1 and try again.

[2019-01-18 07:53] kevieman commented on #3192
I restarted postgresql but got the same result.

[2019-01-18 08:02] sturpin commented on #3192
OK.
What value do you've in host of `consul/config/database.yml`

[2019-01-18 08:03] kevieman commented on #3192
Aswell `localhost`

[2019-01-22 00:47] jaflutz commented on #3184
Hi! Can I try this one?? Maybe it will take a while but I think I can handle it :-)

[2019-01-22 08:06] microweb10 commented on #3184
Hi @jaflutz! Sure! You can 😃. Thanks! Let us know if you need any help ☺️ .

[2019-01-23 18:25] milovanderlinden opened #3227 "Why are pull requests not handled?"
Hello,

I can see that this project has 111 open pull requests. May I be so impolite to ask why they do not get pulled? Some date back to 2017. It is my opinion that they either need to be declined with a reason, or pulled.

[2019-01-24 18:38] tiagozini opened #3232 "Allow multiple answers for poll questions with minimum and maximum limits"
**User Story**
As a user
I want to have a way to select more than just one answer by question in a poll considering optionally a minimum of answers as mandatory and optionally a maximum limit too. Also a error message must appear when the minimun number of answers chosen was not achivied. The miminum and maximum limit must appear between brackets at right side of the related question.

**Why is th

[2019-01-24 18:53] tiagozini opened #3233 "Block poll answers edition after the user has voted"
User Story
As a user manager
I want to have a way to block the user to change his vote after already have voted.

Why is this Needed?
The problem is that some polls must behaviour like a presencial votation where you couldn´t change your vote, what now is always possible for a poll that is open. It must be configurable in the poll editon/creation.

Description
Feature: Allow that in poll creation

[2019-01-25 09:16] TomClive commented on #2586
These steps got my local installation working too. I was getting the same database does not exist error as @aamarill I've seen a few others raise this on Slack etc but this is the solution worked for me before I tried manually adding the database.

[2019-01-25 16:14] jaflutz commented on #3184
Hi guys, I have one question about this issue. :confused:
As far as I understand, the Proposal title and Proposal summary fields should still be always required, right? We should only allow users to change the value of the label, is this correct?
If that is true, what should be the best interface option: to show a checkbox disabled and always checked, or not show a checkbox at all?
Thanks a lot! :

[2019-01-25 17:26] decabeza commented on #3184
Hi @jaflutz! Yes, by the moment we don't modify the required fields, so... I think for a good UX is better not show a checkbox on required fields (only allow users to change the value of the label in these fields).

Thanks! 🙏 ☺️

[2019-01-29 11:46] voodoorai2000 commented on #3227
Hey @milovanderlinden!

Thank you very much for concern 😌
We are simply ~a bit~ overloaded with everything that requires our attention in this fantastic and huge project.

If you would like to help us with reviews, closing issues, tidying things up, answering questions, all help is welcome! ❤️

[2019-01-29 13:12] #3135 closed

[2019-01-29 19:48] jaflutz commented on #3184
Thanks @decabeza! Another question related to UX: if the user marks a checkbox as checked and keeps the value of the label field empty, should this be a validation error? Or should we automatically use the placeholder value as default?

[2019-01-29 22:15] uribes78 opened #3248 "Postgres user password using Docker"
This is a quick question. What is the postgres **user password** when using Docker.

I did install using the [doc] (https://consul_docs.gitbooks.io/docs/es/), but I never set a password for database.

Can you help us? Thanks

[2019-01-30 11:31] decabeza commented on #3184
Hi @jaflutz,

The field value should be required, I mean, If the user check the checkbox I think it's a good idea use a `value` (with the default label) instead a placeholder, so always have a value.

[2019-01-31 11:43] microweb10 commented on #2954
Hi @ziyan-junaideen

We have created a new [PR](https://github.com/consul/consul/pull/3251) using your code, added some tests, and it will be merged shortly. ☺️

Thank you very much for your contribution! 🎉

[2019-01-31 11:43] #2954 closed

[2019-02-01 15:25] #3186 closed

[2019-02-03 15:04] milovanderlinden commented on #3227
I do, I have started helping on the website and access to gitter or slack has been requested via netdem. Hope to be able to help soon!

[2019-02-03 15:08] milovanderlinden commented on #3248
The database password is set through an environment variable.
`<%= ENV['POSTGRES_PASSWORD'] %>`

If you didn't set it (as described in the doc) it will have no password. The way you can enter the database is by opening a shell to the database docker container and simply execute psql. If you cannot access the database, the consul install can't either. In that case I can only advice you to follow ho

[2019-02-03 15:09] milovanderlinden commented on #3233
Sounds like a legitimate request to me.

[2019-02-03 15:12] milovanderlinden commented on #3232
As a work-around; make sure questions can only have boolean answers "yes/no". It will take some effort to rewrite them, but that way the system will be usable.

I also think that allowing non-boolean answers will be a big effort for the developers as it also requires changes to the vote-analyses.

[2019-02-03 15:13] milovanderlinden commented on #3192
I think that you need to change localhost to 127.0.0.1 there too.

[2019-02-03 15:14] milovanderlinden commented on #3045
I will be able to help with this.

[2019-02-03 21:24] uribes78 opened #3262 "invalid mode: delegated using Docker"
Trying to install using Docker is going well until it start, y showing the next message:

`consul_database_1 is up-to-date
Creating consul_app_1      ... error

ERROR: for consul_app_1  Cannot create container for service app: invalid bind mount spec "consul_bundle:/usr/local/bundle:delegated": invalid mode: delegated

ERROR: for app  Cannot create container for service app: invalid bind mount spe

[2019-02-03 21:39] milovanderlinden commented on #3262
Assuming you are running docker compose from the root directory of the clone or download of this repository;
1. Can you first try to create a `bundle` directory (in the consul dir on the host system)? or, as your error suggests; a `consul_bundle` directory?
2. If that doesn't work, open the file  `docker-compose.yml`
and on lines 36 and 37, remove the `:delegated` annotation on the volume declarat

[2019-02-03 21:44] milovanderlinden commented on #3262
It can also have to do with the version of your docker-compose and docker binaries. If the previous suggestions doesn't work, could you please output the result of the commands
[code]
These are my results:
[code]

[2019-02-04 18:58] devinbalkind commented on #3045
Hi @milovanderlinden. @MatheusMiranda has developed this. His PR will probably be up this week. Are you currently working on Consul-based projects?

[2019-02-04 19:10] milovanderlinden commented on #3045
I will gladly wait for the PR. I am currently mainly busy setting consul up
to support orchestration and kubernetes.

Op ma 4 feb. 2019 19:58 schreef Devin Balkind <notifications@github.com:

[2019-02-05 02:43] milovanderlinden opened #3265 "Remove "share on Google Plus""
The Google Plus service has seized to exist. Remove the option to share to it.

[2019-02-05 03:07] devinbalkind commented on #3045
I think a natural next step is adding layer control to the map (https://leafletjs.com/examples/layers-control/) so we could toggle the display on/off of budget investments, budget idea (a concept we're bringing in via another PR), and proposals. We're currently working on building out a more robust project directory - which is our client's priority - so don't know if we'll get to layers for a whil

[2019-02-05 13:01] MatheusMiranda commented on #3045
Related Pull Request: #3266

[2019-02-05 21:44] uribes78 commented on #3262
@milovanderlinden  thanks to answer. I have already solved the issue, at the end only remove the `delegated` and it's working now. Any way this is the version I have:

Docker version 1.13.1, build 07f3374/1.13.1
docker-compose version 1.18.0, build 8dd22a9

Regards

[2019-02-05 21:44] #3262 closed

[2019-02-06 01:38] uribes78 opened #3270 "Not sending confirmation email"
it's my again. I configured the email (gmail smtp service) to send confirmation register email, but it's not sending at all.

I try changing the development.rb file with no tabs and now it's showing me this message:

![consul-email-message](https://user-images.githubusercontent.com/18754899/52315577-be782200-2974-11e9-853e-0a276336a9f5.png)

Do I need to have installed any browser to send emails i

[2019-02-06 23:57] SameBird opened #3276 "Como borrar contenido de prueba teniendo depedencia"
¿Como puedo borrar el contenido de presupuestos participativos?  y ¿borrar distritos?

Cuando lo intento me salen estos mensaje de error:

![distritos](https://user-images.githubusercontent.com/47394808/52381822-43e1fc00-2a73-11e9-846f-b8e9dacca39b.png)
![presupuestos_participativos](https://user-images.githubusercontent.com/47394808/52381825-46445600-2a73-11e9-97de-3b8a4d4f5f3f.png)

Pero no encu

[2019-02-08 08:30] milovanderlinden opened #3279 "Run migration from page"
### User Story

As a system administrator, when I install a new instance, I want to be able to run migrations from a page instead of from the command line.

### Why is this Needed?

Running migrations is the first step after the installation that currently throws an error and tells you to go run bin/rake db:migrate RAILS_ENV=development. I think this error page could be replaced with a page with a

[2019-02-09 10:34] milovanderlinden commented on #3276
(Translated to english for convenience)
How can I delete the content of participatory budgets? and delete districts?

When I try it, I get these error messages:

[2019-02-09 10:47] milovanderlinden opened #3282 "Allow configuration from the web-interface when no seed has ran"
### User Story

As administrator, I want to be able to configure consul from the web-interface from scratch

### Why is this Needed?

I want to have a consul instance that only has a admin user. The admin user can then use the web-interface to configure consul. This way, we can set up consul and hand over to an administrator who can then configure consul to fit his/her needs.

### Description

*Ty

[2019-02-09 11:30] milovanderlinden opened #3283 "Double scroll bar on admin-content"
If admin-content, for instance on http://localhost:3000/admin/site_customization/information_texts is longer then the visible part of the page, a double scrollbar is rendered; one for the page itself and one for the div with class admin-content. This is because for the `.admin-content` css class; the overflow is set to `scroll` this should be `auto`

[2019-02-09 19:00] milovanderlinden opened #3284 "Ruby Sass is Deprecated"
http://sass.logdown.com/posts/7081811

[2019-02-10 07:15] PierreMesure opened #3285 "Capistrano deployment requires ed25519 gem"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

Not sure why but I started to get the following error message when trying to deploy using capistrano:

[code]

Adding the two gems fixes it:
[code]

And then I get the following error message:
[code]

Which I fix by updating net-ssh to 5.1.0 (by default,

[2019-02-10 07:53] PierreMesure commented on #3284
I replaced the gem by the new one, as [advised](https://github.com/rails/sass-rails/issues/420). No problem noticed so far, let's see what the tests say.

[2019-02-10 20:24] PierreMesure commented on #3284
The tests passed so I guess we can merge and close this and update the gem when upgrading to Rails 5 and Ruby 2.5.

[2019-02-11 19:43] #3181 closed

[2019-02-12 14:55] milovanderlinden opened #3289 "precompile will not generate static assets without hashes"
When I run `bin/rake assets:precompile`, I get assets with hashes. I set all the parameters to try and make the task mentioned generate `application.js` and `application.css` and all the assets *without* hashes, but it just won't generate them.
Can anybody tell me how the `public/stylesheets/`, `public/javascripts/`, `public/help/` and all the other "static" directories are created and filled?

[2019-02-12 15:12] voodoorai2000 commented on #3289
This is not a CONSUL issue, it's how assets work in Rails for production environments.

Please refer to the Rails documentation on assets: https://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark

[2019-02-12 15:12] #3289 closed

[2019-02-12 20:29] milovanderlinden commented on #3289
Can you explain to me then why my consul instance running with RAILS_ENV=production generates a page at view-source:https://midden-groningen.consulproject.nl/ that generates asset urls that look like:

[code]
As this rendered code clearly looks for assets in the wrong place.

[2019-02-13 01:27] milovanderlinden opened #3293 "include Searchable breaks db:setup in production"
Today, I spend 4 hours trying to figure out why my db:setup and migrations will not run in `RAILS_ENV=production` mode. I have narrowed it down:

If a model is set up like
[code]

Having the `include Searchable` generates a query to the database. This will fail if the database **has no tables** (which is the case during db:setup)

Affected models:
- debate.rb
- proposal.rb
- questionrb
- legislati

[2019-02-13 01:34] milovanderlinden opened #3294 "hardcoded "spanish" language in module Searchable"
The file **app/models/concern/searchable.rb** uses a dictionary that is set to spanish. This should be configurable.

[code]

[2019-02-13 01:44] milovanderlinden commented on #3293
If I replace
[code]

with

[code]

Everything keeps working correct. So the error is not in the underlying PgSearch module.

[2019-02-13 01:48] milovanderlinden commented on #3293
And if I replace

[code]

With
[code]

It also remains working.

[2019-02-13 16:10] #2496 closed

[2019-02-13 18:01] #2737 closed

[2019-02-13 20:20] alceumedeiros commented on #3187
Hi guys, I'd love to contribute to the project, may I start this one, or has someone else already started this work?

[2019-02-14 08:48] microweb10 commented on #3187
Hi @alceumedeiros! Nobody is working on it. All yours ☺️ . Thanks! 🎉

[2019-02-14 09:32] microweb10 commented on #3182
Hi @bear-my-wrath! How are you? I hope you are fine. 😄

How is it going with this issue?

Please let us know if you need any help. Thank you! 🙏 😌

[2019-02-14 20:52] milovanderlinden opened #3306 "consul contains vulnerabilities"
I ran
[code]
and this is the result: https://gist.github.com/milovanderlinden/d3ec4f2a0c3a8547ce8b5da6f1f38926

I suggest setting up a strategy to fix these vulnerabilities.

[2019-02-15 00:50] alceumedeiros commented on #3187
One thing I notice, @decabeza described we should remove labels, whenever possible, and also remove the `label: false` attribute.
I noticed that when I do this, the new label used is the one found in (e.g. for Proposals):
[code]
Which has different translations from the ones we're currently using.

So `t("proposals.form.proposal_title")` is now `Proposal Title`. But if I remove this label, on the

[2019-02-15 09:06] microweb10 commented on #3187
Hi @alceumedeiros,

Thank you very much for helping with this! ☺️

The texts should not change from a user experience perspective. So in those cases, please change the attributes translations in the file `activerecord.yml` according to the ones currently in use. 🙏

[2019-02-15 16:37] javierm opened #3312 "Flaky spec: Widget::Feed kinds #processes returns open and published processes"
## Failure

**Travis failed builds:** [Build 27707, job 2](https://travis-ci.org/consul/consul/jobs/493815128) and [Build 27847, job 1](https://travis-ci.org/consul/consul/jobs/502237790).

**Message:**
[code]

## Cause

It's probably caused by the code not defining an order clause in the method Widget::Feed#processes and the test assuming results are going to be returned in a specific order:
[cod

[2019-02-15 18:19] javierm commented on #3153
Closed via #3170.

[2019-02-15 18:19] #3153 closed

[2019-02-15 20:33] jaflutz commented on #3184
@decabeza, sorry bothering again!
I'm not sure what should be the new default behaviour about showing or not the proposal fields. Today all fields are being shown.
Now, should we make the default all checkboxes checked (so all fields will be exhibited when creating a proposal), and mantain the existing behaviour?
Or should we let everything unchecked by default, and the user chooses which fields m

[2019-02-18 10:23] decabeza commented on #3184
Hi @jaflutz,

[2019-02-18 15:51] #2784 closed

[2019-02-19 13:16] voodoorai2000 commented on #3306
Thank you @milovanderlinden we'll review it 👍

If you find other security issues, please do not post them in Github, instead send us an email at extension.institucional@madrid.es.

[2019-02-19 13:16] #3306 closed

[2019-02-20 08:28] natasakvinfo opened #3320 "New language - Danish"
Hi, I work in Kvinfo, www.kvinfo.dk and we want to implement Consul in our organization. We would like to make Danish translation for Consul. How can we do that?

[2019-02-20 10:57] decabeza commented on #3320
Hi @natasakvinfo,

For manage translations we use [Crowdin](https://crowdin.com/project/consul). Feel free to sign up to complete danish translations. 😉

You have a little more of information in our [Translations documentation](https://consul_docs.gitbooks.io/docs/content/en/customization/translations.html).

Thank you very much for the help! 🙏🏻😌

[2019-02-20 12:08] Jakobasmussen opened #3322 "New language (danish)"
Hello I would like to have my language danish added to CONSUL

[2019-02-20 12:22] decabeza commented on #3322
Hi @Jakobasmussen,

For manage translations we use [Crowdin](https://crowdin.com/project/consul). Feel free to sign up to complete danish translations. 😉

You have a little more of information in our [Translations documentation](https://consul_docs.gitbooks.io/docs/content/en/customization/translations.html).

Thank you very much for the help! 🙏🏻😌

[2019-02-20 12:23] decabeza commented on #3322
Closed because is duplicated with https://github.com/consul/consul/issues/3320.

[2019-02-20 12:23] #3322 closed

[2019-02-20 13:11] javierm opened #3325 "Flaky specs in score calculator: FloatDomainError: NaN"
## Failure

**Travis failed builds:**

* [Build 27778, job 2](https://travis-ci.org/consul/consul/jobs/495620805)
* [Build 28333, job 2](https://travis-ci.org/consul/consul/jobs/510960152)
* [Madrid's Travis build  11397, job 4](https://travis-ci.org/AyuntamientoMadrid/consul/jobs/518811878)
* [Madrid's Travis build 11359, job 9](https://travis-ci.org/AyuntamientoMadrid/consul/jobs/516286148)
* [B

[2019-02-25 00:43] alceumedeiros commented on #3185
Hi, I'd just like to point that I'm currently working on a solution for this one 😃

[2019-02-25 09:09] decabeza commented on #3185
Perfect @alceumedeiros! 🎉

[2019-02-26 13:09] #2155 closed

[2019-02-26 14:18] #3179 closed

[2019-02-26 14:53] decabeza commented on #1055
Closed because on CONSUL users can introduce any phone number:

In `/models/verification/sms.rb:7`

[code]

This issue was created because the Madrid's Fork API doesn't allow international numbers.

[2019-02-26 14:53] #1055 closed

[2019-02-26 14:57] decabeza commented on #1255
Already done on **Added setting on admin to skip user verification**  https://github.com/consul/consul/pull/2399 🎉

[2019-02-26 14:57] #1255 closed

[2019-02-26 15:00] decabeza commented on #1280
🗺 Maps are already integrated on CONSUL thanks to **Maps frontend** https://github.com/consul/consul/pull/1864 🎉

[2019-02-26 15:00] #1280 closed

[2019-02-26 15:08] decabeza commented on #1283
This has been debated many times, but it is very complex, merging two proposals should have the acceptance of the people who supported them and not just the authors.

This part will be more or less solved thanks to the new functionality [Dashboard](https://github.com/consul/consul/tree/dashboard) that is being developed.

For the second comment, users can already withdraw their proposal by choosin

[2019-02-26 15:08] #1283 closed

[2019-02-26 15:14] decabeza commented on #1596
This issue is a little ambiguos and maybe outdated.

We work continuously on improve admin section. We will create a new issue with better specifications to improve this section.

😌

[2019-02-26 15:14] #1596 closed

[2019-02-26 15:16] decabeza commented on #1673
Already done! Actually we use `gem 'foundation-rails', '~> 6.4.3.0'` 🎉

[2019-02-26 15:16] #1673 closed

[2019-02-26 15:22] decabeza commented on #133
This is already working, for the same example `http://localhost:3000/proposals?search=economia` show proposals tagged as `Economía`, `economía`, `Economia` or `economia`.

🎉

[2019-02-26 15:22] #133 closed

[2019-02-27 13:45] javierm commented on #716
This issue seems to be obsolete. We're using an AJAX call to add a new comment, and the time it takes to add a comment seems to be the same whether the debate has 300+ comments or only one comment.

[2019-02-27 13:45] #716 closed

[2019-02-27 13:51] javierm commented on #1362
@xuanxu Agreed :+1:. A first step is being done in AyuntamientoMadrid#1746. Once we've refactored this part, making `seeds.rb` idempotent should be easy, and there's a draft at javierm#6.

[2019-02-28 13:38] decabeza opened #3333 "Improve Admin settings"
## Background

We need refactor the Admin settings section `/admin/settings` to improve the information structure and create a better UX.

## What we need

### 1. Map settings _[IMAGE_1]_

1.1. Move related map settings to `/admin/settings#tab-map-configuration`

The settings to move are:

[code]

1.2. Add a callout with help text:

[code]

1.3. Refresh the map: now the map doesn't show correctly

[2019-03-04 10:54] Jacek-202 commented on #3183
Hi
Can i take this one?

[2019-03-04 11:03] decabeza commented on #3183
Of course @Jacek-202! All yours! 🎉 👏

Don't hesitate to ask any questions you may have. 😌

[2019-03-06 10:16] microweb10 commented on #2824
Done in PR https://github.com/consul/consul/pull/3155

[2019-03-06 10:17] #2824 closed

[2019-03-06 12:02] javierm commented on #3075
It's failed again: https://travis-ci.org/consul/consul/jobs/502500600

[2019-03-08 11:33] milovanderlinden opened #3346 "Disable social media logins on register page when credentials are not set"
Currently, the register page will always show all social media buttons, even when the credentials are not set, causing a 500 page when somebody clicks the log in.

We want to achieve a situation where only configured social media logins are shown.

[2019-03-08 13:43] decabeza commented on #3346
Good point! 👌

For now you can disable these features on `admin/settings#tab-feature-flags` but yes, It would be nice only show to users if the credentials are set. 😌

Also we should include a little description on feature, something like:

"Even if this feature is enabled you have to set the X credentials on `config/secrets.yml` in order to show to users."

![screenshot 2019-03-08 at 14 42 19](ht

[2019-03-08 20:50] milovanderlinden commented on #3346
Thank you @decabeza. I have created an isolated branch for this. I have just simply disabled them, but by what you told, I now see that I also have to re-enable the check for `feature?`

[2019-03-08 20:52] milovanderlinden commented on #3346
Mmm, I think I cannot use `<% if feature? :google_login %>` anymore as the loop is on the omniauth providers. Any advice? Can I compare f.i. the name of the feature with the name of the omniauth_provider?

[2019-03-09 18:11] milovanderlinden commented on #3346
If a omniauth service is present but not configured, it will not show up. The screenshot is an example where all login features are enabled, but only one is configured:
![image](https://user-images.githubusercontent.com/106038/54075356-c6daba00-429e-11e9-9880-58bc2a06bb70.png)

This screenshot shows the admin interface. Omniauth providers that have empty strings in `secrets.yml` will show up as di

[2019-03-10 16:57] milovanderlinden opened #3348 "New proposal uses http when on a host that is https but uses a proxy"
### User Story

When I add a new proposal, I am redirected from https to the http version of the site.

### Description

*Type*: Bug

### Current Behavior
When Adding a New proposal, you can be redirected to http if running as a regular http server behind a https proxy.

### Expected Behavior
https://github.com/consul/consul/blob/f9e4c868719c69f0ee3487a677c903b1e32c0015/app/views/proposals/new.htm

[2019-03-11 14:37] germangaliadigital55 opened #3350 "Rename debate and comment controller to hidden controller in admin"
In the admin panel the controllers of debates and comments are for the moderated content section (hidden comments and hidden debates). Now the debates_controller and comments_controller are needed for the new Debates and Comments sections in the admin panel menu.

They should be refactored from debates_controller and comment_controller to hidden_debate_controller and hidden_comment_controller.

[2019-03-12 11:03] decabeza commented on #2597
Done on https://github.com/consul/consul/pull/2888 🎉

[2019-03-12 11:03] #2597 closed

[2019-03-13 08:36] abelardogilm opened #3355 "Show the price of investments in its own column on the administration index page"
### User Story

As a admin user, I want to see the price of investments in its own column instead of associated to feasibility so that will make it easier to understand the investment information.

### Why is this Needed?

Now the price of the investments is shown as feasibility information only if the investment has a feasible status.
Adding the "Price" column, that information will be displayed

[2019-03-13 12:43] jaflutz commented on #3180
Hi! I'll work on this one ok? :smiley:

[2019-03-13 16:59] abelardogilm opened #3357 "Add new max support advanced_filter for admin investments"
### User Story

As a admin, I want to filter investments by max support field

### Why is this Needed?

We can filter investments by min support value and we want to filter by max support number too

### Description

On admin investments page, add new text input field on advanced filter area for filter by max support number value

*Type*: Feature

### Current Behavior

This filter not exists

###

[2019-03-14 08:23] abelardogilm opened #3365 "Move scoped filters for admin investments from tabs to advanced filters checkboxes"
### User Story

As an admin user, I want to change investments scoped filters as advanced filters so that let use it as combined filters

### Why is this Needed?

With that change, we can combine this scoped filters, ie investments "Without assigned admin" and "Without assigned valuator"

### Description

Remove from admin/budgets/:budget_id/budget_investments prefixed scoped filters(tab filters)

[2019-03-14 16:05] javierm opened #3368 "Flaky spec: Legislation Proposals Random pagination Random order maintained with pagination"
## References

* Original issue AyuntamientoMadrid#1196
* The spec in issue #3075 seems to fail for the same reason
* Pull request #3321 fixed some of the reasons why this spec fails sometimes
* Failures in [Travis build 27925, job 2](https://travis-ci.org/consul/consul/jobs/506159022)

## Failure
[code]

## Cause

Right now the reason why the same user gets a different seed with pagination is unk

[2019-03-14 17:36] #3178 closed

[2019-03-15 10:35] milovanderlinden opened #3371 "title_polls disappeared from config/locales/en/admin.yml"

[2019-03-17 18:13] ppeczek opened #3372 "Main fonts have only latin letters"
Any nonlatin letter language needs to override fonts right now with the same font families containing their native letters. This could be easily fixed by loading multi-language asset.

[2019-03-17 18:48] ppeczek opened #3373 "Settings for default language"
As webpage administrator I can set website default language.

Useful for any non-english deployment. Citizens wouldn't have to set their native language at every visit

[2019-03-17 19:19] ppeczek opened #3374 "City map bug"
Updating map at URL: `admin/site_customization/images` doesn't update it at: `proposals/map`

[2019-03-18 10:03] abelardogilm opened #3375 "Add alias attribute for administrator users"
### User Story

As an admin, I want to add an alias for administrators users so that make easy to identify them

### Why is this Needed?

As we have on Valuators, adding an alias for administrators make easy and comfortable identify administrators

### Description

*Type*: Feature

### Current Behavior

N/A

### Expected Behavior

Add new edit administrator page where administrator users have the

[2019-03-19 14:02] milovanderlinden opened #3386 "Untranslated string Settings in index.html.erb"

[2019-03-20 09:40] abelardogilm opened #3390 "Add new column on admin budget investments to display votes after balloting status"
### User Story

As an admin user, I want to see on budget investments table a votes counter so that make easy manage investments

### Why is this Needed?

See votes counter for each investment in admin section will help admin users to manage investments.

### Description

This data only will only be visible from balloting status to not interfere in the voting
This column have to be sortable to add

[2019-03-20 10:10] #3333 closed

[2019-03-20 11:41] jovanovski opened #3391 "SocketError - Error 500 sending emails"
Hey all, when I try to reset a user password, I get this issue and a 500 page. I am now locked out of my admin account whose password I tried to change.

I am guessing it's failing when trying to send an email, but not sure what to do at this state.

Fresh Ubuntu 16.04 x64 on DigitalOcean, installed via consul installer.

[code]

[2019-03-20 11:45] abelardogilm opened #3393 "Change username display for administrators in "Valuation comments""
### User Story

As a evaluator or admin user, I want to see administrator or evaluator name in "Valuation comments" so that will make it easier to identify the user who has commented

### Why is this Needed?

Now, on comments component, if a comment was made as administrator, we display "Administrator {id}" as commenter
For public part this funtionality is fine, but in admin and evaluator layouts

[2019-03-20 13:51] jovanovski opened #3394 "New language - Macedonian"
Hey guys, can you open up the Macedonian language on Crowdin so we can add localization for it? :D

[2019-03-20 14:24] decabeza commented on #3394
Hi @jovanovski!

Macedonian language included on [Crowdin](https://crowdin.com/project/consul/mk) 🎉

<img width="125" alt="Screenshot 2019-03-20 at 15 22 19" src="https://user-images.githubusercontent.com/631897/54691781-2305cf80-4b24-11e9-9737-0438ddb807a8.png">

[2019-03-20 14:24] #3394 closed

[2019-03-21 13:01] abelardogilm opened #3395 "Send email to admin and evaluators after valuation comment was created"
### User Story

As an admin or evaluator user, I want to receive an email every time a new valuation comment
is created about an investment which I am related with so that makes the workflow more productive

### Why is this Needed?

With that feature, admin and evaluator users will be notify directly with every new comment

### Description

We will add a new feature flag to enable/disable this new

[2019-03-21 15:04] #3182 closed

[2019-03-22 10:14] #3312 closed

[2019-03-25 17:07] ppeczek opened #3406 "Archived as attribute"
Right now proposals are marked as archived only if their creation date is older than months_to_archive_proposals. This option limits Consul. We need an option to let old proposals not get archived and sometimes make new proposals archived - i.e. if they were resolved very quickly.

If archived was a db attribute, that could be set by admin or an author and by an optional job (archive proposals old

[2019-03-26 11:41] Germangalia opened #3409 "Report generation, download CSV"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to download the records (debates, proposals, legislation process, budgets investments and comments) shown (with filters and searches) in a CSV file.

As admin, I want to configure the fields that will be downloaded in the public view. And be able to download the record from the admin view

[2019-03-26 18:51] abelardogilm opened #3411 "Add Tags to Milestones"
### User Story

As a user, I want to filter investments by milestone tags so that makes easier find investments

### Why is this Needed?

It will help users to find investments by their milestones

### Description

*Type*: Feature

### Current Behavior
N/A

### Expected Behavior

Add a new field on /admin/budgets/:budget_id/budget_investments/:investment_id/edit to add milestone tags as a string l

[2019-04-03 16:26] #2080 closed

[2019-04-04 11:06] javierm opened #3421 "Flaky spec: Commenting legislation questions Submit button is disabled after clicking"
## Failure

**Travis failed builds:** [Travis build 28431, job2](https://travis-ci.org/consul/consul/jobs/515390176) and [forked repository build 254, job 2](https://travis-ci.org/javierm/consul/jobs/512320958).

**Messages:**
[code]

## Cause

Right now we don't now the cause. The test used to fail on a different line, as mentioned in AyuntamientoMadrid#1193. We never found the cause either, and

[2019-04-04 15:31] decabeza commented on #2388
Closed in favor of https://github.com/consul/consul/issues/3395

[2019-04-04 15:31] #2388 closed

[2019-04-04 15:33] decabeza commented on #2508
Closed in favor of #3395

[2019-04-04 15:33] #2508 closed

[2019-04-04 16:50] abelardogilm opened #3422 "Add public investment information into admin and valuator investment pages"
### User Story

As a admin or valuator user, I want to see budget investment public page on my admin pages so that help me to have a preview or information about it

### Why is this Needed?

Now, if a admin user wants to see some public information about an investment, he have to go to public page(maps, docs, image...). Displaying public page components inside admin pages will help admin user to w

[2019-04-04 22:48] gildvir commented on #1450
Hi,
need some help on Right to Left the site.
Can you point me to the place where it is possible to do?

[2019-04-05 06:10] ziyan-junaideen opened #3423 "Investment Vote - Cache - Cache not re-rendered on vote"
### Description

*Type*: Bug

A possible bug was encountered in [NYC](http://pbnyc.participatorybudgeting.org) installation while in voting. Affects only in production environment with caching.

Consider a user visiting a budget investment to vote. When voting, as expected, the voted info shows in the sidebar. How ever if you refresh the page, the the vote link shows up. You click on vote, nothing

[2019-04-05 15:38] #3075 closed

[2019-04-05 15:38] #3368 closed

[2019-04-08 07:59] abelardogilm opened #3428 "Create a new subset of valuators that can only comment but not evaluate"
### User Story

As a budget investment reviewer, I want to only have the ability of create evaluation comments so that make dossier data more secure

### Why is this Needed?

We need a new kind of user profile at the level of a valuator that can create evaluation comments but can not edit dossier information.

### Description

*Type*: Feature

### Current Behavior

We only have valuator user role

[2019-04-08 08:31] abelardogilm opened #3429 "Let administrator user choose display columns for investments table"
### User Story

As an administrator, I want to select visible columns for budget investments table so that let me see useful information

### Why is this Needed?

A budget information resource has a lot of information which will be useful in some cases, but we cannot display all on current table. Let administrator user hide or show columns will help them to see only useful information for each use

[2019-04-09 09:24] microweb10 commented on #2934
Hi @jebediahelliott! How are you? any news with this issue? ☺️

[2019-04-10 14:08] Germangalia opened #3433 "Create new history section in each project of participatory budget"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As administrator, I want to be able to see the changes made in the project of a participatory budget.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)

We need to know which

[2019-04-11 03:50] meacial opened #3436 "registed api endpoint"
How to query registered api endpoint from a Service with consul ui?

[2019-04-11 04:00] #3436 closed

[2019-04-12 07:16] voodoorai2000 commented on #3022
Thanks @devinbalkind, @milber, @nicodiazm! 🎉
Closed via https://github.com/consul/consul/pull/3043

[2019-04-12 07:16] #3022 closed

[2019-04-12 07:23] voodoorai2000 commented on #2897
Hey @agabor!

Thank you so much! [Hungarian language added](https://crowdin.com/project/consul/hu#).

[2019-04-12 07:23] #2897 closed

[2019-04-12 07:27] #3320 closed

[2019-04-12 07:36] voodoorai2000 commented on #2609
This is probably due to using Ruby 2.5, which is not yet fully supported.
Please make sure you are using Ruby 2.3 for now 🙏

[2019-04-12 07:36] #2609 closed

[2019-04-12 07:43] #1925 closed

[2019-04-12 15:50] jebediahelliott commented on #2934
Hi @microweb10! I'm good thanks! My apologies for being inactive on this. I will set aside time in my calendar to get it taken care of and have some results for you in the next week.

[2019-04-16 11:39] decabeza commented on #1850
Maybe this can be a solution for this issue 😃
https://css-tricks.com/keeping-parent-visible-child-focus/

[2019-04-18 10:14] leftvla13 opened #3444 "Greek"
Hello I would like to have my language Greek added to CONSUL

[2019-04-18 19:51] mmarkou opened #3445 "New language"
Hello I would like to have my language greek added to CONSUL

[2019-04-18 22:57] SrinandanPai commented on #1794
@decabeza I am a ROR developer and I am new to open source. Can I work on this?

[2019-04-19 12:40] decabeza commented on #1794
🎉 Of course @SrinandanPai! All yours 🙏 😌

[2019-04-23 13:14] voodoorai2000 commented on #3444
Thank you so much @leftvla13!

[Greek added to Crowdin](https://crowdin.com/project/consul/el#) 👍

You have a little more information on translations [here](https://docs.consulproject.org/docs/english-documentation/customization/translations#translations).

Cheers!

[2019-04-23 13:14] #3444 closed

[2019-04-23 13:15] voodoorai2000 commented on #3445
Thank you so much @mmarkou!

[Greek added to Crowdin](https://crowdin.com/project/consul/el#) 👍

You have a little more information on translations [here](https://docs.consulproject.org/docs/english-documentation/customization/translations#translations).

Cheers!