[2019-04-23 13:15] #3445 closed

[2019-04-23 16:26] Senen opened #3450 "Migrate to SemaphoreCI 2.0"
### User Story
Upgrade our current CI stack to Semaphore CI 2.0.

### Why is this Needed?
Beacuse new SemaphoreCI 2.0 version features.

### Description
*Type*: **Devops**

[2019-04-23 16:27] Senen commented on #3450
Wrong repo! Sorry 😅 🙏

[2019-04-23 16:27] #3450 closed

[2019-04-23 17:57] javierm opened #3451 "Flaky spec: Ballots Groups Change my heading"
## Failure

**Travis failed builds:** [Travis build 28983, job 2](https://travis-ci.org/consul/consul/jobs/523559558), [Madrid's build 11441, job 9](https://travis-ci.org/AyuntamientoMadrid/consul/jobs/523571391)
and [forked repo build 20, job 1](https://travis-ci.org/javierm/consul/jobs/417194624)
**Messages:**
[code]
Another message:
[code]

## Cause

The code:
[code]

Generates a "normal" reque

[2019-04-25 14:09] javierm commented on #2116
Closed via #3432.

[2019-04-25 14:09] #2116 closed

[2019-04-25 20:22] #3451 closed

[2019-04-26 07:04] Germangalia opened #3461 "Create "Traker" rol"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a traker I want to manage the milestones of Projects Investments in a panel like the valuator panel.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)

Only administrators

[2019-04-26 14:49] voodoorai2000 commented on #784
Closed via https://github.com/consul/consul/pull/3414

[2019-04-26 14:49] #784 closed

[2019-04-29 07:59] Germangalia opened #3463 "Download collaborative legislation summary in Excel."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to be able to view and download the resume of the more relevant data.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)
There's no section that as a users per

[2019-04-30 15:58] PierreMesure commented on #3374
Hey Piotr, I don't see any setting to update the map at the address you mention. You can change the map by adding the file named `map.jpg` at `app/assets/images/custom`.

This is what is recommended in the [docs](https://github.com/consul/docs/blob/master/en/customization/images.md).

If you want to use a PNG (which makes more sense sometimes), you'll need to modify the reference to the map direct

[2019-05-02 08:42] Dr4u95 commented on #3374
Hi, I did the same step  ppeczek and have the same issue ( The map appears in /proposals but in /proposals/map still is the default).
  - I added an image in the file app/assets/images/custom/map.jpg , no works.
  - I modify the file map.jpg in app/assets/images/ and nothing too.

[2019-05-02 09:16] PierreMesure commented on #3374
Not sure what to tell you besides making sure that you deployed the code and restarted the server. It might be that the assets haven't been precompiled correctly.

See our [demo instance](https://consul.demokratiskastader.se/proposals/map) and our [source code](https://github.com/digidemlab/consul/tree/master/app/assets/images/custom) for comparison.

[2019-05-02 10:55] alerodrom opened #3467 "Custom pages problem on edit"
### User Story

As an adminsitrator, I want to edit the content of the default customs pages for **`/privacy`**, **`/conditions`** and **`/accessibility`** but not the **`slug`**.

### Why is this Needed?

Because if I change the **`slug`** the Consul site will have broken links.

### Description

*Type*: Feature

### Current Behavior
If I change the current **slug** for **`/privacy`**, **`/condit

[2019-05-03 09:38] leftvla13 commented on #3444
Hello again!I finished tranlation in Greek [https://crowdin.com/project/consul/el#](url). How can i get it applied in the application;

[2019-05-03 10:48] leftvla13 opened #3469 "Getting 500 - Internal Server Error when registering"
### User Story

As a user, I want to be able to register into the application that i installed for production environment.

### Description

Type: Bug

### Current Behavior

When i try to register , I'm getting 500 Internal Server Error.When i retry putting the same credentials, it says that the username is already in use although i haven't finished the process of registering before.

[2019-05-03 12:57] Dr4u95 commented on #3469
Check this https://github.com/consul/installer, in the part of  email configuration.
And you can get more information of the fail in your server in home/user/consul/log/production.log

[2019-05-03 14:46] xrkolovos commented on #3444
same with #3445.
Greek translations completed

[2019-05-03 17:03] tiagozini opened #3470 "Enable set of polls appear only in a separated section of Consul with a specific page"
### User Story
As a administrator I want to have the possibility to publicate a set of polls for a specific event. This special polls will need to have a specific session referenced on the links of top menu, and these polls must not appear in the common polls page. Also when a poll of this set is finished it must be redirected to the next "poll" in the set that is still unvoted in this set and whe

[2019-05-06 09:39] abelardogilm opened #3471 "Create new process for people and groups proposals"
### User Story

As a consul user,  I want to make people and groups proposals on some legislation processes so that make easy choose the most indicated group or person to win this process

### Why is this Needed?

It will make easy create process where the main goal is select people or groups instead of current proposals.

### Description

Right now, legislation process have proposals, but they ar

[2019-05-06 12:16] Dr4u95 commented on #3374
First of all, i only install the Production Server. I did the step in the other post and compile the assets using :

   1. RAILS_ENV=production bundle exec rake assets:clobber
   2. RAILS_ENV=production bundle exec rake assets:precompile

All the files that I touch, they modified, while the map (districts) disappears and does not show any.

[2019-05-07 10:07] decabeza commented on #3374
Hi @ppeczek @PierreMesure @Dr4u95!

Admin users can change **map image** on `/admin/site_customization/images`:
![site_customization_images](https://user-images.githubusercontent.com/631897/57291838-86da5c80-70c0-11e9-87a3-3405fee61769.png)

But this custom image is not rendering in all pages with the map 😅.

I create a PR https://github.com/consul/consul/pull/3472 to fix it! 🙏

[2019-05-07 12:59] Dr4u95 commented on #3374
@decabeza Ty, that works 💯  ... only forget close the ("map.jpg") in the second file 👍 .

@PierreMesure Ty for let me see your demo, I check a fault that had with the coordinates, should insert only the coordinates and not the entire label 👍 .

[2019-05-07 14:24] #3374 closed

[2019-05-08 13:30] Germangalia opened #3475 "Add different type of questions"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an administrator, I want to be able to create questions inside the polls with a "type" so that depending on what type is selected the configuration of the question change according to the selection.

### Why is this Needed?

It's important to have this feature because inside a poll there are many different types o

[2019-05-09 09:32] Senen opened #3478 "Allow admins to manage LocalCensusRecords"
### User Story
As an administrator user i want to be able to manipulate LocalCensusRecords from the administration panel.

### Why is this Needed?
To provide to administrator users a way to manage the local census database through the administration panel. Currently the only way to manipulate this table records is through the rails console.

Allow adiministrators users to manage this table in two

[2019-05-09 12:18] Germangalia opened #3481 "Add historic settings to participatory budget"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a Administrator I want to be able to edit budgets so they are independent between years. I want to assign Tags, Administrators, Validators and Trackers that are available for the budget investments.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of t

[2019-05-09 20:29] alceumedeiros commented on #3185
Hi @decabeza
I've been away for a while but heading back to the project now and I see somethings have changed. So I was wondering, is this still applicable? If so how exactly do I get there? I'm not sure how to do it given the current dev seed. Thanks!

[2019-05-10 12:27] Dr4u95 opened #3484 "Account block notification"
### User Story

As an admin I want to block a user, and automatically  sent an email to him as a notification and into the web, a message that he is blocked.

### Why is this Needed?

Right now you block an user... And when he try to connect, only shows that the password or mail failed.
This causes a lack of knowledge for the user and the impediment of being able to claim a block.

### Description

[2019-05-10 12:54] javierm opened #3485 "Flaky spec: Admin banners magement Edit banner with live refresh"
## Failure

**Travis failed builds**:

* [Travis build 25406, job 1](https://travis-ci.org/consul/consul/jobs/468100656)
* [Travis build 30966, job 2](https://travis-ci.org/consul/consul/jobs/544287608)
* [LextrendIT's repository build 119, job 2](https://travis-ci.com/LextrendIT/consul/jobs/196550138)
* [javierm's repository build 382, job 1](https://travis-ci.org/javierm/consul/jobs/552327579)
*

[2019-05-10 15:41] decabeza commented on #3185
Hi @alceumedeiros!

Yes, this changes are still applicable. 😌

Nothing had change of this part on admin section or front views. 🤔

The affected files are:
- Admin: `views/admin/budget_investments/_investments.html.erb`
- Front: `views/budgets/results/_results_table.html.erb`

I don't understand what do you mean with the **`current dev seed`**. 😅

[2019-05-10 15:57] #3009 closed

[2019-05-13 07:15] Dr4u95 opened #3490 "User verification"
Hi, I’m implementing the consul application as an end-of-course project. I already have installed and running the service on a production server.

I want to be able to verify the users in a complete way, with the census and a sms … I have looked for information about it and I do not find documentation in consul about the implementation of these with an API.

The steps that I have managed to do:

I

[2019-05-13 11:01] Dr4u95 opened #3491 "Process of votes of the budgets"
### User Story

As an User, when during the budget process, I'm in the support phase, I vote in favor of certain projects.

When we go to the final vote, I join those which I vote previously, even if they have not been selected for the final vote.

### Why is this Needed?

Because the only way for the user to realize that he is voting for a denied project is to review the list of projects, somethi

[2019-05-13 16:33] tiagozini opened #3493 "Setup poll results disposition"
What
As a user I want to define wether the results of a poll will appear with its description in the vertical or horizontal disposition.

Why?
It´s necessary because when a answer of a poll question is too long and there are too many answers for this question is impossible to expose in a horizontal disposition in a readable way.

How
In the manager, in the poll section, when editing the result of

[2019-05-14 13:13] microweb10 commented on #2934
Hi @jebediahelliott,

Sorry to say that, but this has become kind or urgent, so we have decided to start the development from the core team ☺️

Thanks anyway for your interest and please feel free to pick up any other open issue if you wish ❤️

[2019-05-14 14:26] jebediahelliott commented on #2934
Hey @microweb10 I totally understand. I apologize for not getting anything done with this. I tried to take on too many projects at once and unfortunately, I just didn't get to this one. I will make a contribution as soon as I have the time to dedicate to it.

[2019-05-15 06:32] alerodrom commented on #3467
Someone could help me?

[2019-05-15 08:22] KrzysztofMadejski opened #3497 "xprop: unable to open display ''"
### User Story

I want to set a password reminder.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
The email doesn't land in my inbox.

Logs say:
[code]

[2019-05-15 08:39] KrzysztofMadejski commented on #3497
That's because I was running dev environment on a server with no graphical interface and the delivery method was set to open email in browser.

[2019-05-15 08:39] #3497 closed

[2019-05-16 18:34] raghuureddy opened #3502 "New language Turkish"
Hello I would like to have my language Turkish added to CONSUL

[2019-05-16 18:49] voodoorai2000 commented on #3502
Hello @raghuureddy!

Thank you so much for helping out with the translations for Turkish! 🎉❤️
You can find them here: https://crowdin.com/project/consul/tr

Cheers!

[2019-05-20 11:42] javierm commented on #2088
Since this feature isn't used in Madrid anymore because it's only half-done, we've decided not to add this code to CONSUL.

[2019-05-20 11:42] #2088 closed

[2019-05-20 15:20] decabeza opened #3513 "Header and footer for admin newsletters"
⚠️ Start with this issue after https://github.com/consul/consul/pull/3508 is merged.

## Background

Admins can send newsletters to users from `/admin/newsletters`. Currently the header (an image) and footer for emails use always the same layout:

- **Header** : `app/views/layouts/mailer_header`
- **Footer**: `app/views/layouts/mailer_footer`

## What we need

- Add the option to change the image

[2019-05-20 18:39] jaflutz commented on #3513
Hi @decabeza !! May I try to tackle this one? Thanks!

[2019-05-21 11:07] voodoorai2000 commented on #2639
Closed via https://github.com/consul/consul/pull/3344

[2019-05-21 11:07] #2639 closed

[2019-05-22 12:56] taitus opened #3525 "Configure connection with WebServices (SOAP)"
### Why is this Needed?
To offer the possibility that each Town Hall can connect to its Census by defining some configuration parameters through the Administration Panel.

### Description
- Create new section on Settings "Custom Census Connection" to storage all necessary values:

Type | Field
------------ | -------------
General field | endpoint
Request field | request_method_name
Request field |

[2019-05-22 17:42] PierreMesure opened #3526 "Translatable spec should pass even if some languages are disabled"
### Description

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

When disabling some of the languages used for the [translatable specs](https://github.com/consul/consul/blob/translations/spec/shared/features/edit_translatable.rb), for example Spanish, English, French or Portuguese, the corresponding tests fail. This should not happen.

I don't know which solution would be best:

[2019-05-22 17:42] PierreMesure commented on #3526
Ping @Senen as you have probably thought of this already. What do you think is best?

[2019-05-23 09:57] PierreMesure opened #3528 "Add a widget for the most active investment projects"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user, I want to be able to see the most popular investment projects of the current participatory budget, just as I can see today the most popular debates or proposals.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you w

[2019-05-23 13:05] PierreMesure commented on #3526
OK, I solved the problem by adding these lines in `environment/test.rb`:

[code]

This is the second option I mentioned. @decabeza, does that seem OK to you? If so, I can submit a pull request with the code above or maybe with all the locales available:

[code]

[2019-05-23 13:14] PierreMesure opened #3531 "ProgressBar model clashes with gem ruby-progressbar"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer using the gem Fuubar, I was left quite puzzled when all the tests started to fail after I updated to 1.0.0.beta. The reason is that Fuubar uses a gem called ruby-progressbar to display a progress bar in the console. And the latter has a class called ProgressBar, just like the last version of CONSUL.

[2019-05-24 13:41] tiagozini opened #3535 "Poll must not be visible in website unless it be marked to appear published"
### What and How

As a administrator
As a administrator
I want to a poll could not appear on website unless I have marked this poll in its edition or creation section allowing this poll to be published. Although, always this poll must be visible for administrator for preview how the poll will be formatted in the website.

### Why

As a administrator is necessary that a poll not finished with its q

[2019-05-28 09:01] decabeza opened #3540 "New "system emails" when creating/publishing a proposal"
## Background

All emails sent automatically by the system are included in `/admin/system_emails`.

User's proposals can be created initially as a draft before publishing them, or can be published directly.

## What we need

Create two new "system emails":

- The first one will be sent to a user when creates a draft proposal.
- The second email will be sent when a user publish a proposal (changing

[2019-05-28 09:02] decabeza opened #3541 "Setting to activate/deactivate the "Successful proposal" in the proposal dashboard"
## Background

When creating proposals users can access to a proposal dashboard. There is shown the evolution of support to the proposal comparing it with the evolution of an ideal proposal that would be successful getting the required support.

## What we need

Create a setting in `/admin/settings#tab-proposals` to activate/deactivate the "Successful proposal" in the proposal dashboard. When deac

[2019-05-28 09:03] decabeza opened #3542 "Bug in support graph in the proposal dashboard"
## Description

When creating proposals users can access to a proposal dashboard.

There is shown a graph with the evolution of support. The dashboard includes recommended actions that the user can set as 'done', and then will be marked as a red point that date on the previous graph. When the graph shows more than one year, the marked point is shown in the day/month of each year.

As another bug,

[2019-05-28 09:04] decabeza opened #3543 "Option to delete signature sheets"
## Background
Proposals can be supported by signatures, and those supports can be included in the system through the "Signature sheets" menu `/admin/signature_sheets` In case a sheet is wrongly included (for example associated to the wrong proposal) it can't be deleted from the interface.

## What we need
Include a button "Delete sheet and supports" next to each included sheet of supports. When cl

[2019-05-28 09:27] decabeza opened #3544 "Bug in Proposal Notifications"
## Description

In the System Emails menu `/admin/system_emails` is included the "Proposal notification digest" consisting in a newsletter with all proposals notifications that each user should receive.

The notifications pending to be sent are shown in `/admin/system_emails/proposal_notification_digest/preview_pending`. This list some time includes notifications that are already sent.

Take into

[2019-05-28 09:28] decabeza opened #3545 "Create content as administrators"
## Background
When an admin create a comment in any debate or proposal there is an additional checkbox "Comment as admin". Checking it will change the username of the comment to Admin #X instead of his/her username, and write it as plain text instead of a link to the his/her user account.

## What we need
Add the same "Comment as admin" checkbox to the forms used for creating debates, proposals or

[2019-05-28 09:29] decabeza opened #3546 "Add a "Modify email" menu to the Management interface"
## Background
The Management interface `/management/` allow the managers to do actions to help users.

## What we need
Add a new submenu titled "Modify email" to the interface. It will allow to change the email associated to the user account, to add one in case the account has no mail associated, or to delete the existing one in case the user prefer not to have any email associated to the account.

[2019-05-28 09:30] decabeza opened #3547 "New setting to promote new proposals"
## Background
When users create new proposals, these are shown in the "Newest" filter of the Proposal section. When the proposal has the proper score, it is shown in the main "Most active" filter.

## What we need
Add a setting in `/admin/settings` to specify a time in hours during which the new proposals would be shown in the top of the "Most active" filter independently of their score, to promot

[2019-05-28 09:31] decabeza opened #3548 "Suggest related proposals when supporting a proposal"
## What we need
When a user support a proposals in the proposal show page (not in the list of proposals) it should be shown a list of similar proposals, to facilitate the user finding interesting content.

If the proposal has any content in its "Related content" section, that content should be the one shown. If this is not the case, it will be shown the top supported proposals with any of the tags

[2019-05-28 09:32] decabeza opened #3549 "New "system emails" for new topics in Proposal's communities"
## Background
All emails sent automatically by the system are included in `/admin/system_emails` Each user's proposals have a "Community" space where users can create topics.

## What we need
Create a new "system email". It will be sent to the author of a proposal when a new topic has been created in the proposal community space. It will be also created a new checkbox in "My account" to decide not

[2019-05-28 09:33] decabeza opened #3550 "Connect "Follow citizen proposals" with author notifications"
## Background
The author of a proposal can create a notification that is sent (through the "Proposal notification digest"  included in the System Emails menu `/admin/system_emails`) to all users supporting the proposal.

The proposals have an independent "Follow citizen proposal" button in its show page.

## What we need
When a user supports a proposal, it will automatically active also the "Follo

[2019-05-28 09:34] decabeza opened #3551 "Restore blocked users content"
## Background
Users can be blocked through the Moderation interface `/moderation/users` hiding also all their content

## What we need
When a blocked user is restored by an administrator through `/admin/hidden_users` all his/her previously hidden content should be also unhidden.

[2019-05-28 09:36] decabeza opened #3552 "Soft blocking for users"
## Background
Users can be blocked through the Moderation interface `/moderation/users` hiding also all their content.

## What we need
Create a "Soft block" option in the moderation interface that hide the user and block him for accessing the website, but doesn't hide all his/her content.

[2019-05-28 09:36] decabeza opened #3553 "Close supports to comments on Collaborative legislation processes"
## What we need
When the debate or drafting phase of a collaborative legislation processes have finished, it should not be allowed to users to vote on the existing comments, as it is not allowed to create new comments.

[2019-05-28 09:37] decabeza opened #3554 "Bug when flagging as inappropriate collaborative legislation proposals"
## Description

It doesn't work the "Flag as inappropriate" option of proposals of the "proposals phase" of a collaborative legislation process.

[2019-05-28 09:38] decabeza opened #3555 "Hide non selected projects in reviewing phase of participatory budgeting"
## What we need
In the "reviewing phase" of participatory budgeting, when entering into a heading, all projects of the heading are listed.

It should list only the "selected" projects since this phase is following the voting phase where only the selected projects are shown.

[2019-05-28 09:39] decabeza opened #3556 "Create different kind of milestone status for different contents"
## Background
The proposals, participatory budgeting and collaborative legislation processes have a milestone section where it can be published a timeline of the evolution of the content. The elements published consist of text, images, and can include also a "status" that is defined in `/admin/milestone_statuses`.

## What we need
Differentiate in `/admin/milestone_statuses` between the **status f

[2019-05-28 09:40] decabeza opened #3557 "Add a name field for the signature sheets"
## Background
Proposals can be supported by signatures, and those supports can be included in the system through the "Signature sheets" menu in `/admin/signature_sheets`.

## What we need
Include an optional new field "name" in `/admin/signature_sheets/new` that will be shown in the list of sheets `/admin/signature_sheets` to facilitate differentiating between them.

[2019-05-28 09:41] decabeza opened #3558 "Keep categories being shown when change proposal phase date on colaborative legislation processes"
## Background
When a proposal phase of a collaborative legislation process is active, in the sidebar are shown the categories of the process.

When the admin change the date of the proposals phase the categories disappear from the sidebar.

## What we need
Keep showing the categories in the sidebar although the proposal phase date is changed.

## Screenshots

When the admin change the date of the

[2019-05-28 09:41] decabeza opened #3559 "Hide related content proposals when these proposals are retired by their authors"
## Background
The debates and proposals have a "related content" section where users can add related proposals and other content. Proposals can be retired by the proposal author through the "Edit my proposal" menu in the author's proposal dashboard.

## What we need
If a proposal is retired by his/her author, it should disappear from all "related content" sections where it appears.

[2019-05-28 09:42] decabeza opened #3560 "Allow proposals and participatory budgeting projects to be search by id in the search forms"
## What we need
The admin interface and the user's frontend search forms for  proposals and participatory budgeting projects should allow to search content by introducing **the id of the content**.

[2019-05-30 07:18] dependabot-preview[bot] opened #3566 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-05-30 10:30] #3490 closed

[2019-05-31 07:02] #3566 closed

[2019-05-31 13:30] #3177 closed

[2019-06-01 18:38] Senen commented on #3526
Hi @PierreMesure, your final solution looks good to me! 👌 And the build passes! 😌

[2019-06-04 09:42] Dr4u95 opened #3584 "Roles: Moderation and Management"
### User Story

As an administrator of consul, all the work could not be done by me, but I will have users with different roles that will allow me to divide the work ... Obviously the other users should not have the option to interfere with my work as an administrator.

An example of this would be to give the roles of moderator and management to people outside the town hall, as people hired to sup

[2019-06-04 09:59] voodoorai2000 commented on #1887
Hey @pedroleon!

How are you doing? 😊

Other forks are getting interested in this rake task 🎉
Did you end up implementing this feature for your fork? 😌

[2019-06-05 02:24] torresfabian opened #3588 "Docker - problema con la instalación"
Al tratar de iniciar la app con docker da el siguiente error

[code]

[2019-06-05 17:11] #2934 closed

[2019-06-07 05:44] pedroleon commented on #1887
Hey!

Yes, we did, unfortunately I had no time to create a pull-request. Please, let me check it ;)

[2019-06-07 10:36] voodoorai2000 commented on #1887
Cool! Thank you @pedroleon 🎉

Yes, if you have time to send a PR great!
Otherwise just a link to your code would be helpful 😌

Cheers!

[2019-06-08 20:36] nileshkumar commented on #3559
@decabeza : I will start working on it..

[2019-06-09 18:28] cyrillefr commented on #2940
Hello, Ola

I have seen this issue a while ago and started working on it this week-end.
I think I have a solution, so I post it here, even though I did not ask to work on it.

NB: After the legislation being moderated, nothing happens, but it appears normal since there is no redirection.
But, one can check in the database that the hidden_at field is not null anymore.(There is also a spec).

NB2: I

[2019-06-11 15:08] decabeza opened #3607 "Search form on admin booths"
### What we need

Include a search form on `/admin/booths`.

**Note**: you can found an example of search form on `/admin/proposals`.

### Screenshots

![search_booths](https://user-images.githubusercontent.com/631897/59283792-6bd4ac80-8c6b-11e9-9c10-764191c2749c.png)

[2019-06-11 20:47] PierreMesure opened #3610 "Upgrading to v1.0.0 crashes the settings page"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

When trying to access the settings page, an error 500 is thrown because some settings are missing in the table, resulting in `@uploads_settings` being nil.

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

- The new upgrade task

[2019-06-12 10:10] voodoorai2000 commented on #3610
Hi @PierreMesure!,

Thank you so much for letting us know about this. We’re looking into it. :pray:

Just to make sure, you did use Capistrano to deploy version 1.0.0 from 1.0.0-beta right?. That should have executed the first task `add_new_settings`
https://github.com/consul/consul/blob/master/config/deploy.rb#L48

And you upgraded from 0.19 to 1.0.0-beta and then to 1.0.0 right? When upgrading f

[2019-06-12 14:27] PierreMesure commented on #3610
Hey @voodoorai2000,

Yes, the upgrade went smoothly when using Capistrano. But if you are just upgrading a local test machine or Heroku instances, `add_new_settings` will never be run. It's great that it's in the Capistrano  deployment flow but in my opinion, it should also be present in the upgrade script. It doesn't hurt to run it several times and it covers all cases.

[2019-06-17 13:05] mmachado95 commented on #3607
Hey @decabeza , I'm fairly new in contributing to open source.
If anyone hasn't picked this up in the meanwhile, can I give it a go?

[2019-06-18 11:12] voodoorai2000 commented on #3610
Hey @PierreMesure,

Indeed, we did not take into account deploys with Heroku, thanks for bringing that up.
We can definitely add the `add_new_settings` task to the tasks to be executed after a release upgrade.

However a release has been created, it's not a good idea to edit it in case other forks have already pulled it. But we will make sure it's fixed for the next release. 🙏

Regarding the secon

[2019-06-18 20:08] PierreMesure commented on #3610
I agree, maybe we could just add the commands to the release tasks on this [page](https://github.com/consul/consul/releases/tag/1.0.0)? This way, no change to the release itself.

[2019-06-18 21:05] javierm commented on #3610
Certainly :+1:. Done :smile:.

[2019-06-19 02:02] jeduardo824 commented on #3555
Can you give a full path to reproduce the problem?

[2019-06-21 21:41] PierreMesure commented on #3285
I don't know why but this one seems fixed with v1.0.0.

[2019-06-21 21:41] #3285 closed

[2019-06-21 21:42] PierreMesure commented on #3610
Great, let's close it then!

[2019-06-21 21:42] #3610 closed

[2019-06-21 21:56] PierreMesure opened #3625 "Capistrano doesn't always take into account the environment for its tasks"
### Why is this Needed?

In two places, Capistrano still uses `production` as the default environment independently of what the admin wants to deploy/restart.

The two lines are in [restart.cap](https://github.com/consul/consul/blob/0c6f31f27a175cc81cfd653838ab07da60e89909/lib/capistrano/tasks/restart.cap#L7) and [deploy.rb](https://github.com/consul/consul/blob/836f9ba7b35971365e2ce9f16be05e8d0da

[2019-06-21 22:03] PierreMesure commented on #2683
This is fixed as of v1.0.0.

[2019-06-21 22:03] #2683 closed

[2019-06-24 13:28] jonvargas opened #3638 "Check for Drupal vulnerability"
Drupal announced a Critical vulnerability and just wanted to know if this affects Consul and if it needs to be addressed, just in case:

https://www.drupal.org/sa-contrib-2019-053?utm_source=dlvr.it&utm_medium=twitter

[2019-06-24 15:05] javierm commented on #3638
@jonvargas Thank your for reporting. However, we don't use Drupal (nor PHP), so I don't think this vulnerability will affect CONSUL :ok_hand:.

[2019-06-24 15:05] #3638 closed

[2019-06-24 16:02] amiedes opened #3639 "Broken banner styles for some pages"
### Description / Current Behavior

In the current master branch I've created a banner from the admin, but the appearance is different depending on the page where it is displayed.

For example, in the debates page it looks nice:

![Captura de pantalla 2019-06-24 a las 17 54 38](https://user-images.githubusercontent.com/9287468/60033844-a5fd6f80-96a9-11e9-98ae-7c18ec3e4725.png)

In the participator

[2019-06-24 16:13] amiedes opened #3640 "Broken markup for footer links"
### Description

The markup/styles for the footer links seems to be broken

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: bug

### Current Behavior

![Captura de pantalla 2019-06-24 a las 18 08 51](https://user-images.githubusercontent.com/9287468/60034609-5455e480-96ab-11e9-80da-86168a5eb2ba.png)

### Steps to reproduce

1. In the master branch, as an admin create a content block for the f

[2019-06-25 16:33] javierm opened #3642 "Flaky spec: behaves like notifiable in-app Multiple users commented on my notifiable"
## Failure

**Travis failed builds**:
* [Travis build 30903, job 1](https://travis-ci.org/consul/consul/jobs/542153250)
* [Travis build 31241, job 3](https://travis-ci.org/consul/consul/jobs/563053442)
* [Madrid's build 11688, job 3](https://travis-ci.org/AyuntamientoMadrid/consul/jobs/543711389)
* [Forked repository's build 340, job 2](https://travis-ci.org/javierm/consul/jobs/543926557)

**Messa

[2019-06-25 19:07] javierm opened #3645 "Flaky spec: Admin Active polls Add"
## Failure

**Travis failed builds**:

* [Build 29469, job 2](https://travis-ci.org/consul/consul/jobs/535358057)
* [Build 30734, job 1](https://travis-ci.org/consul/consul/jobs/539814361)
* [Madrid's build 11452, job 1](https://travis-ci.org/AyuntamientoMadrid/consul/jobs/524024410)

**Message**:

[code]

## Cause

We're not sure 100% sure about the cause, since the error message seems to imply t

[2019-06-25 20:11] javierm commented on #3325
These tests haven't failed for months and I can't reproduce them locally. For now I'll assume it's solved by either commit db6ed47 (which fixes potential issues when freezing time) or pull request #3564 (which changes code related to settings). This is just a guess, so feel free to reopen if they fail again.

[2019-06-26 14:28] javierm commented on #3035
It hasn't failed for months, so it might be fixed by #3113 or by another change.

[2019-06-26 14:28] #3035 closed

[2019-06-28 02:03] eloisemaun commented on #3560
I'll take this one, if it's not already been claimed. Long time developer, first time open source github contribution. :)

[2019-06-28 09:38] voodoorai2000 commented on #3560
Great! 🎉
All yours @eloisemaun! 👏

[2019-06-28 10:52] kazelot commented on #1556
I also request extension for authentication based on OpenID Connect / SAML.

[2019-06-29 04:14] eloisemaun commented on #3560
Some clarification questions:

1. Which of the following functionality pieces were you hoping for:
    1. the basic search form to also look at the ID when it is searching, and/or
    1. a "Search by ID" field added to the advanced search
1. Should the search functionality only look at the actual database ID (17) or the parameterized ID that is shown in the URL (17-sint-ipsa-non-in-saepe) ? Or wer

[2019-06-30 04:51] eloisemaun commented on #3560
I implemented searching by the ID and by the parameterized ID+title (for proposals only) for the search field in the nav bar. If you would like a "Search by ID" field implemented for the advanced search, too, just say the word. Otherwise, there's a pull request ready for this.

[2019-06-30 05:02] eloisemaun commented on #3556
I can take this if no one else has!

[2019-07-01 09:12] microweb10 commented on #3556
Sure! @eloisemaun ☺️
All yours! 🎉

[2019-07-07 23:16] javierm commented on #3325
Failed again in [Build 31193, job 3](https://travis-ci.org/consul/consul/jobs/555499269). I've updated the issue.

[2019-07-11 15:21] javierm opened #3660 "Broken investment suggestions for unverified managers"
## Steps to reproduce

1. Login as a **not verified** manager
2. Go to the management section and select a **verified** user
3. Go to "create budget investment
4. Fill in the investment title

## Current Behavior

The suggestions return a message "You do not have permission to carry out the action 'suggest' on hash" and a whole page:

![Message denying permissin](https://user-images.githubusercont

[2019-07-22 13:44] dependabot-preview[bot] opened #3668 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-23 12:55] #3668 closed

[2019-07-30 05:51] andrewl102 opened #3671 "Dynamic credential integration with Vault"
### User Story

As a user, I'd like to be able to use Vault to issue ACL tokens for use with Consul Agent to allow for simpler integration and secure storage of ACLs.

### Why is this Needed?

An official set of guidelines on how to integrate Vault and Consul for ACL token management appears to be missing.

### Description

We're currently using Vault and Consul, and we'd like to manage the creden

[2019-07-30 16:51] #3671 closed

[2019-07-30 16:51] andrewl102 commented on #3671
Wrong Consul project.

[2019-08-02 18:17] akuruADMIN opened #3672 "New language (Sinhala)"
Hello I would like to have my language `Sinhala (si_LK)` added to CONSUL

cc @thinkholic @ruwanego

[2019-08-07 01:06] #3485 closed

[2019-08-07 14:38] #3642 closed

[2019-08-12 12:53] milovanderlinden opened #3676 "Translation override - variable not passed"
We discovered that with translation overrides from the database table `i18n_content_translations` variables are not interpreted.

This means that when we set a translation to `%{foo} is awesome`, this gets displayed as is. The solution is rather simple:

In the `i18n_translation.rb` helper, we need to check for options and when present, pass them as follows:
[code]

[2019-08-12 12:56] milovanderlinden opened #3677 "Translation override - Pluralization fails"
When we override a value for a pluralized key f.i. `proposals.proposal.supports` which contains an array for
- `.one`
- `.other`
- `.zero`

No key is found in the database. This is because the lookup only checks for `proposals.proposal.supports` and that one is not present in the database. I am currently working out a routine to perform an extra check to see if _sub_ keys are present.

[2019-08-12 14:29] milovanderlinden commented on #3677
Maybe for both this issue and #3676 it might be better to stay close to the solution as proposed here? https://reinteractive.com/posts/287-custom-translations-in-rails-by-chaining-multiple-i18n-backends

[2019-09-01 20:29] fv42wid commented on #3541
Hello!  I would like to take this issue on if it is still available.

[2019-09-02 08:57] microweb10 commented on #3541
Sure! Thanks! Go ahead! 😃

[2019-09-02 14:01] amiedes opened #3681 "Can't assign map location to a budget investment from the management console"
### Steps to reproduce

1. Login as an admin
2. Go to the management console and try to create a spending proposal as a user
3. If you assign a location to the budget investment it's not saved an an error is raised

### Current Behavior

A validation error appears saying that the map location is not valid

### Expected Behavior

The map location should be saved and no errors displayed

### Possibl

[2019-09-02 14:08] amiedes opened #3682 "Duplicated records when filtering budget investments by tag"
### Steps to reproduce

1. Create a budget investment and assign a user tag and admin tag with the same name
2. When listing the projects in http://localhost:3000/admin/budgets/<id>/budget_investments filtering by that tag, the project appears twice:

![Captura de pantalla 2019-09-02 a las 16 04 09](https://user-images.githubusercontent.com/9287468/64120064-8ebeba80-cd9b-11e9-97d5-03e036e13100.png

[2019-09-10 15:35] javierm commented on #2931
@matisnape I've left this issue unassigned in case other people want to contribute. If you still have time and would like to contribute, feel free to do so :wink:.

[2019-09-10 15:42] javierm commented on #3130
Closed via #3359.

[2019-09-10 15:42] #3130 closed

[2019-09-10 15:51] #3325 closed

[2019-09-10 20:06] denialtorres opened #3691 "Let the users edit his budget investment proposals only during the acceptance phase"
### User Story
Hello, im Daniel from Mexico and I worked in the project of implementing consul in the city of San Pedro in Monterrey
https://decide.sanpedro.gob.mx

### Why is this Needed?
During the process of generating proposals we get complaints from many people who said they could not edit their proposals because they had a spelling error or forgot to upload an image.
and they didn't like the

[2019-09-10 20:50] DenisNikolski commented on #3607
Hi @decabeza, is this issue actual?
I can take it :)

[2019-09-11 16:43] #3526 closed

[2019-09-12 06:55] PierreMesure commented on #3691
We also got demands for this, it's great if you can share it! I'll be happy to help and review the PR!

[2019-09-12 07:22] PierreMesure opened #3696 "Make it clearer when a proposal was created "on behalf of" someone else"
### User Story

As a participatory budget organiser, we allow people to leave proposals physically in a box in the public library. We also organise several physical events during which people can contribute with ideas but we don't necessarily make them create an account and add their projects on the platform.

As a participatory budget organiser, I want to be able to create proposals and budget in

[2019-09-13 21:27] javierm commented on #2440
Closed via #3620.

[2019-09-13 21:27] #2440 closed

[2019-09-13 21:30] javierm commented on #1593
Closed via #3441 and #3569.

[2019-09-13 21:30] #1593 closed

[2019-09-13 21:36] javierm commented on #2467
Closed via #3379 and #3629.

[2019-09-13 21:36] #2467 closed

[2019-09-13 21:49] javierm commented on #1918
Actually I prefer snake case :sweat_smile:. For_me_snake_case_is muchEasierToReadThan came case :thinking:. For some reason I don't know about, it seems snake case is the standard in most languages, but not in JavaScript :thinking:.

Anyway, we've added ESLint in #3653, so we can add the rule for camel case if we want to. Unfortunately there's no rule forcing snake case, which I'd gladly add to ou

[2019-09-13 21:49] #1918 closed

[2019-09-13 22:27] javierm commented on #2204
Closed via #3397.

[2019-09-13 22:27] #2204 closed

[2019-09-14 11:08] javierm opened #3703 "Poll Votation Type Answers set doesn't handle simultaneous requests"
## References

Failures in:

* [Travis build 31313, job 2](https://travis-ci.org/consul/consul/jobs/569809515)
* [Travis build 31381, job 1](https://travis-ci.org/consul/consul/jobs/583330879)
* [Travis build 31446, job 5](https://travis-ci.org/consul/consul/jobs/584811697)
* [Travis build 31514, job 4](https://travis-ci.org/consul/consul/jobs/589448374)
* [Travis build 31672, job 1](https://travi

[2019-09-17 14:17] PierreMesure opened #3709 "Budget investment goes to unfeasible even when valuation is not finished"
### User Story

As an admin, I want to be able to start my valuation process on one budget investment but if I deem it unfeasible, it shouldn't be displayed until the process is finished (and I check the corresponding checkbox).

### Why is this Needed?

See above.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

This is a bug because the behaviour is different for the r

[2019-09-20 11:09] javierm commented on #2460
Closing this one since it lacks information about what needs to be backported and why it isn't ready. Maybe it has already been backported :thinking:.

[2019-09-20 11:09] #2460 closed

[2019-09-20 11:13] javierm commented on #956
Closing to avoid confusion, since this feature has been removed from Madrid's fork. We might implement it in the future, but it won't be related to what was implemented in Madrid.

[2019-09-20 11:13] #956 closed

[2019-09-22 01:09] #3607 closed

[2019-09-23 13:08] jaredholdcroft commented on #3559
Hi. I'd like to take this if no-one else is working on it?

[2019-09-23 14:38] javierm commented on #3559
@jaredholdcroft Thanks! Go ahead :smile:.

[2019-09-24 16:58] luis30n commented on #3391
It seems like you have to add your workstation name to /etc/hosts 127.0.0.1 but it does not work for me so far

[2019-09-26 00:38] cartothemax commented on #1630
Hello! I see this is marked as "help wanted" Gemnasium is no longer offered as a stand alone service since being acquired by GitLab. Is there a good replacement? Or does the project still wish to move forward with Gemnasium?

To continue with Gemnasium would involve creating a [CI/CD pipeline using GitLab](https://about.gitlab.com/solutions/github/) and require [migration](https://docs.gitlab.com/

[2019-09-26 20:13] javierm commented on #1630
@cartothemax Thank you very much for reporting! :smile: I've updated the title and description of this issue.

[2019-09-26 23:22] cartothemax commented on #1630
@javierm good deal! Thanks for updating. I will take a look if that's alright? Looks like the issue has been left for a little bit.

[2019-09-27 00:37] javierm commented on #1630
@cartothemax Sure! Go ahead :smile:.

[2019-10-03 11:05] participacioncr opened #3742 "Can't verify users using only the local census"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
Hello, we are trying to implement Consul from scratch, for the city of Ciudad Real in Spain.

[comment]: # (Describe the problem and why this task is needed. P### Why is this Needed?
rovide a description of the current state, what you would like to happen, and what actually happened)

We are heading multiple problems

[2019-10-03 13:15] cartothemax commented on #1630
Started to work on these warnings here -> https://github.com/cartothemax/consul/tree/address-brakeman-warnings

[2019-10-03 14:42] javierm commented on #1630
@cartothemax Cool! Feel free to open a pull request with the changes. You can prefix it with [WIP] if it isn't ready for review yet :wink:.

[2019-10-03 15:06] javierm commented on #3742
@participacioncr Great that you're trying CONSUL! :tada:

The first error doesn't sound familiar :thinking:. Could you post a link to your git repository? A full application trace would alo be great.

The second one seems to be related to calls to the census API and could be tricky :thinking:. Have you configured the census API in `config/secrets.yml`?

[2019-10-04 07:14] participacioncr commented on #3742
@javierm Thank you very much for your quick reply! Of course we can provide all information you need. Our git repository is [https://github.com/Ayuntamiento-CR/consul](url)

We haven't configured the census API. Attached here are our secrets.yml and production.log. We don't know if "secret_key_base" set to "change_me" in production has anything to do with this error. The production log shows only

[2019-10-04 08:22] matisnape commented on #2931
Hacktoberfest has started so I think I will have another go :D

[2019-10-04 10:47] javierm commented on #3742
Replace "change_me" with a content generated by running `bin/rake secret`. After you do that, restart the application. It is highly recommended you don't share the `secrets.yml` file, since knowing this secret key could help a hacker take control of your application, and the file will potentially contain passwords.

I see you're using a version which is more recent than 1.0.0. If you're going to v

[2019-10-05 02:09] javierm commented on #2940
Closed via #3602.

[2019-10-05 02:09] #2940 closed

[2019-10-07 07:05] participacioncr commented on #3742
Ok, regarding the error in the sign out, it was our fault. Now it works ok... It was due to activating debug mode, we saw this affected CSS output but didn't knew it would affect JavaScript too.

We are not using remote census by now, although we'll need to use it in the future. By now we are using only local census, with only one user as an example. Same settings that in development. The exact fu

[2019-10-07 09:25] matisnape commented on #3696
I think I'm gonna take it :)

[2019-10-07 10:44] PierreMesure commented on #3696
Great to hear Anna! Don't hesitate to ask for help!

[2019-10-07 11:45] javierm commented on #3742
Let's check if I'm getting it correctly :smile:. So, as shown in the page you mention, you log in as an administrator, in the administration area you click on Settings->Manage local census, and when you enter a document number and click on "search", the application crashes. Correct? If so, could you send be a full application trace of the exception you're getting?

Note the "search" functionallity

[2019-10-08 07:01] participacioncr commented on #3742
Hi again, not exactly. The error raises while logged in as administrator, clicking on Menu -> Management and clicking in the option "Select User" in the left menu. Then, we select "DNI" as "document type" and, when searching with any value (existing in the database or not), we get the exception. As shown before, the only output in production.log is:

`W, [2019-10-08T08:41:56.463338 #10624]  WARN -

[2019-10-08 12:46] javierm commented on #3742
@participacioncr I've updated the title of this issue.

We recommend you try the following patch:

[code]

That's because in the development and test environments calls to the census API are disabled :wink:.

[2019-10-08 18:45] Rytis-Lebedys commented on #3552
I would like to work on this issue if its not taken yet

[2019-10-09 09:12] katafrakt commented on #3294
Hi! CodeTriage sent me here ;) I think this can be fixed in at least 3 ways:
* Set in some config file (I guess Consul does not have one for now?)
* Taken from i18n
* Taken from dynamic configuration in admin panel

Which would be the best? If one is chosen, I can work on that, I guess.

[2019-10-09 09:17] participacioncr commented on #3742
@javierm we've applied your patch and now Consul doesn't crashes anymore! You've really made our day, thank you very much! Now we are waiting for the remote census to be available for more testing, but by now it works ok and we can go on... Thank you again!

[2019-10-09 11:27] javierm commented on #3552
@Rytis-Lebedys Sure. Go ahead! :smile:

[2019-10-09 12:14] javierm commented on #3742
Great! :tada: Thanks @Senen and @taitus for suggesting the patch! :pray:

[2019-10-09 17:10] volcov commented on #3554
i can work on this issue, if nobody picked yet ;)

[2019-10-09 17:42] javierm commented on #3554
@volcov All yours! :smile:

[2019-10-10 14:12] PierreMesure opened #3761 "Consul sends newsletters to unconfirmed accounts"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

I checked the logs of my e-mail server and one of the bounces is due to an incorrect e-mail address (it ends with "@vmail.com" instead of "@gmail.com". What happened is the person created a first account with a typo in the e-mail, never got the confirmation mail and then created a new one with the correct e-mail.

### Curre

[2019-10-10 14:58] elreydeoros opened #3762 "Adaptación modelo datos versión 0.7 a versión 1.0"
Hola a tod@s,
Me encuentro sumergido en un proyecto en el que deseo realizar una migración limpia desde la versión 0.7 a la ultima versión disponible.
Revisando he encontrado que el modelo de datos de la versión 0.7 (esquema de bbdd) es muy distinto al de la última versión.

Por ejemplo, hay tablas y campos que no existen en la versión 0.7 y por otro lado, algunos de los campos / tablas no tienen

[2019-10-10 15:39] javierm commented on #3762
@elreydeoros ¡Muy buenas!

Ahora mismo actualizar desde la versión 0.7 de golpe efectivamente ocasionaría con total seguridad pérdida de información de la base de datos. Me temo que el único método que garantiza la integridad de los datos es actualizar versión a versión, ejecutando en cada versión las tareas de migración de datos correspondientes.

A partir de la versión 0.10, verás que en cada un

[2019-10-10 16:29] elreydeoros commented on #3762
Hola @javierm ! :)

Creo que lo primero que voy a hacer es agradecerte la rápida respuesta, no es lo común y muchas veces las dudas se quedan en el limbo, con la desconfianza que eso genera.

Dicho esto, comentarte que lo que tengo entre manos es algo complicado puesto que hemos "heredado" una instalación de Consul muy anticuada (v0.7 ahí es ná) montado sobre un sistema igualmente anticuado.
El pl

[2019-10-10 18:54] javierm commented on #3762
En eso me temo que no podemos ayudaros. Yo le daría una oportunidad primero a ir actualizando versión por versión (previa copia de seguridad de la base de datos, por supuesto), que sí, es cierto que son unas 15 versiones a actualizar, pero por otro lado no tendríais que hacer análisis comparativo de modelos de datos sino que podríais seguir las instrucciones de cada versión, que se encargan de ir

[2019-10-11 12:38] elreydeoros commented on #3762
Hola de nuevo @javierm !

Como bien indicas, creo que la mejor opción va a ser realizar todas las actualizaciones necesarias hasta llegar a la última y desde alli extraer un backup de la bbdd para posteriormente realizar una restauración en la máquina en la que se va a desplegar.
Tengo una pregunta que muy posiblemente sea de las más tontas pero... como sé con seguridad en que versión está actualm

[2019-10-11 13:12] javierm commented on #3762
¡Muy buenas @elreydeoros!

Tienes una lista de versiones en: https://github.com/consul/consul/releases

[2019-10-11 21:44] javierm commented on #2630
Closed via #3499.

[2019-10-11 21:44] #2630 closed

[2019-10-11 21:51] javierm commented on #2514
It seems to be a duplicate of #2328, which was closed by #2342. This issue was created before the latter was merged.

[2019-10-11 21:51] #2514 closed

[2019-10-11 21:55] javierm commented on #2623
Closed via #2802.

[2019-10-11 21:55] #2623 closed

[2019-10-12 09:07] matisnape commented on #3696
@PierreMesure I did a clean install (with migrations) and when I start server I get the following error:
`NoMethodError (undefined method `value' for nil:NilClass):

app/models/widget/feed.rb:7:in `active?'
app/models/widget/feed.rb:17:in `block in active'
app/models/widget/feed.rb:15:in `collect'
app/models/widget/feed.rb:15:in `active'
app/controllers/welcome_controller.rb:12:in `index'`

any ti

[2019-10-12 11:15] matisnape commented on #3696
BTW, I found 2 bugs on master
1) visual in route /management/budgets/:id/investments/new https://monosnap.com/file/fHqPiDojfRwjFUaPjoQQ9K1q105a0f
2) some problem with partial in Management http://localhost:3000/management/budgets/:id/investments/:id https://monosnap.com/file/AKU4LfRFVhEn1bmNAcGTrbS4aYOdLh

Are you aware of those? If you can reproduce, can I create a new issue and try to fix it?

[2019-10-13 19:56] carlosiniesta commented on #3551
👋

I make something here https://github.com/consul/consul/pull/3770

Hope, you like it

[2019-10-14 05:14] matisnape commented on #3584
@Dr4u95
I have a question regarding:

- Do you want the Administrator to approve any user blocking by any of the roles that are not Administrator?
- What does "eliminate those user roles" mean in this case?

- Do you mean that manual password change for another user requires Administrator approval in the admin panel?
- Do you mean that manual password change for another user should trigger sending

[2019-10-15 17:19] #3762 closed

[2019-10-15 21:35] decabeza commented on #3672
Hi @akuruADMIN,

For manage translations we use [Crowdin](https://crowdin.com/project/consul). Feel free to sign up to complete Sinhala translations and we will be happy to include them in CONSUL. 😉

[Sinhala added to Crowdin](https://crowdin.com/project/consul/si-LK#) 👍

You have a little more information in our [Translations documentation](https://consul_docs.gitbooks.io/docs/content/en/customiz

[2019-10-15 21:35] #3672 closed

[2019-10-16 06:35] mohsinkhansymc commented on #3761
@PierreMesure I can work on this if not taken up yet

[2019-10-16 09:32] katafrakt commented on #3761
I think what is even more important is that it's illegal, at least in most of Europe, so I think this shall get quite high priority.

[2019-10-16 09:35] PierreMesure commented on #3761
Of course @mohsinkhansymc! Don't hesitate to ask if you need help or a review!

Really good point @katafrakt! Although I think the e-mail address is saved only after they tick the box for user conditions so I guess they consented to some form of data storage if the platform administrators wrote it there.

![Capture d’écran 2019-10-16 à 11 35 13](https://user-images.githubusercontent.com/7223028/66

[2019-10-16 09:43] katafrakt commented on #3761
We dealt a lot with issues like that at my previous company. I'm not a lawyer, but these were main takeaways:

* I can easily put your email there and tick the box. It does not mean you (as a person) agreed. Email confirmation is a way to ensure it was really email owner who agreed.
* TOC are one thing, but under GDPR you can't just use one checkbox to handle both general terms and specific consen

[2019-10-16 10:40] mohsinkhansymc commented on #3761
thanks @PierreMesure and @katafrakt  for the input. I will do this over the weekend

[2019-10-17 02:11] cartothemax commented on #1630
Won't be able to get this addressed. I don't have the time to take care of all of the failing test scenarios

[2019-10-17 09:46] javierm commented on #1630
@cartothemax Thank you for telling us! And thank you so much for working on this issue! :smile: If there are any obstacles you found while working on the pull request, it would be great if you write them down in the notes section of your pull request :pray:; maybe that could help us in the future! :wink:

[2019-10-17 11:06] participacioncr commented on #3742
Hi again, sorry for coming back to this... Since your patch, we are not having "error 500" anymore, but we realised that verifying users isn't working properly. The steps for getting the error are:
- Login with a unverified user account
- Go to "My account" and push the green button "Verify my account"
- Select "DNI" as Document Type, write the DNI in Document Number, filling Date of Birth and Pos

[2019-10-17 13:22] Senen commented on #3742
Hi @participacioncr,

I was able  to reproduce the error following your instruccions. I guess you probably entered a record into the local census record with `Document type` field set to "DNI". Current verification process only accepts integer values, the same ones shown at verification form document_type select ["DNI" => 1 , "Passport" => 2, "Residence card" => 3].

Try to update your LocalCensus

[2019-10-17 18:24] xBentu opened #3774 "Spring Cloud service does not register with Consul"
### User Story

[comment]: # (As a dev, I want to register a service so that it shows on Consul on localhost:8500.)

### Steps to reproduce
[comment]: # (Describe how we can replicate the bug step by step.)

`
spring:
  application:
    name: card
  consul:
    discovery:
      preferAgentAddress: true
      tags: cardService
      healthCheckPath: /management/health
      healthCheckInterval: 5s

[2019-10-17 19:43] javierm commented on #3774
@xBentu I think you got the wrong project :thinking:. You probably meant [Hashicorp's project](https://github.com/hashicorp/consul).

[2019-10-17 19:43] #3774 closed

[2019-10-18 09:09] participacioncr commented on #3742
Hi @ Senen, and thank you for your reply!

We did that some time ago. In fact, before we changed "DNI" for "1" in the local census, we couldn't select the user from Menu->Management neither...

[2019-10-18 10:05] Senen commented on #3742
Hi again @participacioncr ,

I think i finally found the problem. Right now residence verification process do a postalcode validation and forces it to be a Madrid valid postal code, we only need to change validation method to check that the provided postal code Ciudad Real valid. I think Ciudad Real postal codes should start with **13**.

Please, change the file https://github.com/Ayuntamiento-CR/

[2019-10-18 11:59] #3691 closed

[2019-10-18 13:47] xBentu commented on #3774
@javierm Oh.  Sorry.

[2019-10-18 14:20] javierm commented on #3774
No problem :wink:.

[2019-10-18 15:05] sbolleddula opened #3777 "Twitter auth not working"
Type: Bug

Signin/Signup using twitter fails.

**Current behaviour**
User clicks on Twitter icon and sees a 502 error.

**Steps to reproduce**
I see the same behavior on the demo.cosnulproject.org as well. For Facebook and Google you will see an error whereas for twitter you ended upon error page.

**Expected Behaviour**
Would like to signin/signup without any issues.

**Definition of Done**
If we

[2019-10-18 15:13] javierm commented on #3682
@amiedes Thanks for reporting! :smile: Would it be possible for you to open a pull request with a fix and a test? :pray:

[2019-10-18 15:23] #3502 closed

[2019-10-18 15:27] javierm commented on #3502
Turkish is already present in CONSUL.

[2019-10-18 15:29] javierm commented on #3481
Closed by #3514.

[2019-10-18 15:29] #3481 closed

[2019-10-18 15:32] javierm commented on #3463
Closed via #3473.

[2019-10-18 15:32] #3463 closed

[2019-10-18 15:33] javierm commented on #3461
Closed via #3480.

[2019-10-18 15:33] #3461 closed

[2019-10-18 15:33] javierm commented on #3433
Closed via #3456.

[2019-10-18 15:33] #3433 closed

[2019-10-18 15:34] javierm commented on #3429
Closed via #3439.

[2019-10-18 15:34] #3429 closed

[2019-10-18 15:35] javierm commented on #3428
Closed via #3437.

[2019-10-18 15:35] #3428 closed

[2019-10-18 15:36] javierm commented on #3422
Closed via #3427.

[2019-10-18 15:36] #3422 closed

[2019-10-18 15:36] javierm commented on #3411
Closed via #3419.

[2019-10-18 15:36] #3411 closed

[2019-10-18 15:36] javierm commented on #3409
Closed via #3410.

[2019-10-18 15:36] javierm commented on #3395
Closed via #3413.

[2019-10-18 15:36] #3395 closed

[2019-10-18 15:38] #3375 closed

[2019-10-18 15:38] #3365 closed

[2019-10-18 15:38] javierm commented on #3357
Closed via #3364.

[2019-10-18 15:38] #3357 closed

[2019-10-18 15:38] javierm commented on #3355
Closed via #3356.

[2019-10-18 15:38] #3355 closed

[2019-10-18 15:39] javierm commented on #3350
Closed via #3376.

[2019-10-18 15:39] #3350 closed

[2019-10-18 15:44] javierm commented on #3391
@jovanovski Does the application send emails properly? It looks like an error with SMTP. Have you configured your SMTP settings?

[2019-10-18 15:51] javierm commented on #3469
It definitely looks like a crash when sending the confirmation email, due to SMTP not being configured. Closing this one for now, since we've got more issues related to SMTP, like #3391.

[2019-10-18 15:51] #3469 closed

[2019-10-18 15:54] javierm commented on #3478
Closed via #3500 and #3646.

[2019-10-18 15:54] #3478 closed

[2019-10-18 17:24] javierm commented on #3157
Closed via #3359.

[2019-10-18 17:24] #3157 closed

[2019-10-19 01:47] javierm commented on #3372
@ppeczek I can't reproduce this issue. Chinese looks fine on my machine :thinking:.

![CONSUL in Chinese, with Chinese characters](https://user-images.githubusercontent.com/35156/67136182-0bf69f80-f223-11e9-90fe-e044fff978f6.png)

[2019-10-19 01:51] javierm commented on #3371
If I'm right, it was done on purpose as part of pull request #3334, when the text using that translation was removed.

[2019-10-19 01:51] #3371 closed

[2019-10-19 01:53] javierm commented on #3386
Closed via #3630.

[2019-10-19 01:53] #3386 closed

[2019-10-19 02:07] javierm commented on #3270
@uribes78 I think it's because, by default, in the development environment, emails are not sent, but opened in a browser.

Feel free to reopen this issue if this comment didn't help you :wink:.

[2019-10-19 02:07] #3270 closed

[2019-10-19 02:13] javierm commented on #3232
It looks like issue #3475 includes this one :thinking:. @tiagozini If you don't feel this is correct, feel free to reopen this issue :wink:.

[2019-10-19 02:13] #3232 closed

[2019-10-19 02:14] #3227 closed

[2019-10-19 02:19] javierm commented on #3187
Closed via #3746.

[2019-10-19 02:19] #3187 closed

[2019-10-19 02:31] javierm commented on #2836
Closed via #2910.

[2019-10-19 02:31] #2836 closed

[2019-10-19 02:34] javierm commented on #2830
Closed via consul/installer#98

[2019-10-19 02:34] #2830 closed

[2019-10-19 02:43] javierm commented on #2688
Closed via #3412.

[2019-10-19 02:43] #2688 closed

[2019-10-19 02:49] javierm commented on #2656
Closed via #3353.

[2019-10-19 02:49] #2656 closed

[2019-10-19 02:52] javierm commented on #2636
Closed via #2876.

[2019-10-19 02:52] #2636 closed

[2019-10-19 02:54] javierm commented on #2484
There was no Rails Girls Summer of Code in 2019, so we couldn't submit CONSUL as a project.

[2019-10-19 02:54] #2484 closed

[2019-10-19 02:57] javierm commented on #2544
Closed via #2567.

[2019-10-19 02:57] #2544 closed

[2019-10-19 03:00] javierm commented on #2437
Closed via #3359.

[2019-10-19 03:00] #2437 closed

[2019-10-19 03:05] javierm commented on #2268
Closed via #3736.

[2019-10-19 03:05] #2268 closed

[2019-10-19 03:10] javierm commented on #2019
Closed via #3504.

[2019-10-19 03:10] #2019 closed

[2019-10-19 03:19] javierm commented on #3294
Duplicate of #730.

[2019-10-19 03:19] #3294 closed

[2019-10-19 03:34] javierm commented on #3294
@katafrakt Thanks for offering! Maybe we could start by basing it on `I18n.default_locale`. It that doesn't seem the most simple solution to you, let us know!

(By the way, copying this comment on #730 to continue the conversation in the original issue).

[2019-10-19 03:35] javierm commented on #730
@katafrakt has offered his help on this one. Thank you very much! :smile:

Maybe we could start by basing it on I18n.default_locale. It that doesn't seem the most simple solution to you, let us know!

[2019-10-20 01:24] javierm commented on #1581
Closed via #2395.

[2019-10-20 01:24] #1581 closed

[2019-10-20 01:28] javierm commented on #954
Closing in favor of #1838, since that one has references to pull requests trying to solve this issue.

[2019-10-20 01:28] #954 closed

[2019-10-20 01:30] javierm commented on #1880
Closed via #1923.

[2019-10-20 01:30] #1880 closed

[2019-10-20 02:12] javierm commented on #3279
This looks like an issue affecting Rails internals; not much we can do in CONSUL :thinking:.

Feel free to reopen this issue if there's a gem adding this functionality which we can add to CONSUL. You can also try opening an issue on the [rails repository](https://github.com/rails/rails/).

[2019-10-20 02:12] #3279 closed

[2019-10-20 02:20] javierm commented on #2988
Thanks for your interest in CONSUL! :smile:

I'm afraid we don't support CONSUL installations on windows systems, and we don't support using insecure connections to retrieve gems either.

[2019-10-20 02:20] #2988 closed

[2019-10-20 02:27] javierm commented on #3192
It looks like a crash sending the email, probably related to SMTP not being configured.

Closing this one for now, since we've got more issues related to SMTP which could be considered duplicates of this one, like #3391.

[2019-10-20 02:27] #3192 closed

[2019-10-20 10:35] andrewcameronsims commented on #3558
Hi, I'd like to take this issue if nobody is working on it?

[2019-10-20 11:27] katafrakt commented on #730
Makes sense to start with that :+1:

[2019-10-20 11:52] javierm commented on #3558
@andrewcameronsims All your! Thanks!

[2019-10-20 16:21] #1592 closed

[2019-10-20 16:23] #2541 closed

[2019-10-20 16:33] #3348 closed

[2019-10-20 18:59] javierm commented on #2547
Closed by #2546.

[2019-10-20 19:07] javierm commented on #1778
Closing since the requirements seem to be out of date. @taitus If you'd like to reopen this issue and use it as a reference, drop me a line :wink:. But I'd rather have open issues in the docs repository :thinking:.

[2019-10-20 19:07] #1778 closed

[2019-10-20 19:11] javierm commented on #1362
Closed by #3576.

[2019-10-20 19:11] #1362 closed

[2019-10-20 19:19] javierm commented on #2024
Closing due to no activity in two years. There aren't any plans to refactor it in the near future :thinking:. It's quite hard indeed, since shifts refer to a booth but assignments refer to a booth and a poll.

[2019-10-20 19:19] #2024 closed

[2019-10-20 19:27] javierm commented on #2418
Closing in favor of #2093, which is a bit more specific. Maybe after we do that one we can look at what remains to be done, but I think the main problems would be addressed with #2093 :thinking:.

[2019-10-20 19:27] #2418 closed

[2019-10-20 19:30] javierm commented on #2637
@atzorvas Are you still working on this issue?

[2019-10-20 19:33] javierm commented on #2555
@IngridWong0715 Are you still working on this issue?

[2019-10-20 19:37] javierm commented on #2691
@viren140290 Are you still working on this issue?

[2019-10-20 21:13] javierm commented on #2978
Closing this one since the tests would require an internet connection to run.

[2019-10-20 21:13] #2978 closed

[2019-10-21 08:20] amiedes commented on #3682
@javierm currently this is not a priority for us, but if at the end we implement a fix I'll share it 👍

[2019-10-21 11:00] participacioncr commented on #3742
Hi again, sorry, couldn't test until today... That made the trick! Thank you very much @Senen

[2019-10-21 11:03] Senen commented on #3742
Glad to help @participacioncr!

[2019-10-21 13:30] IngridWong0715 commented on #2555
@javierm No I'm not, sorry for the lack of communication!

[2019-10-22 17:38] javierm commented on #3108
I got so used to this warning I didn't realize it was gone :smile:. I guess it was solved by #3414.

[2019-10-22 17:38] #3108 closed

[2019-10-22 17:53] javierm commented on #3467
@alerodrom Thanks for reporting! And sorry for the late reply :pray:.

You're right; right now changing the slug breaks the links. There doesn't seem to be an easy solution :thinking:. I guess we could add an extra field in the database where we store things like "accessibility", and we use this field in the footer to find the right slug when its slug changes :thinking:. Or change the way these li

[2019-10-22 20:02] #3625 closed

[2019-10-22 23:19] #3284 closed

[2019-10-22 23:27] javierm commented on #3282
It looks like there are no settings created :thinking:. I'm afraid there are no plans to support installations which don't run `db:seed`, which creates the settings.

[2019-10-22 23:27] #3282 closed

[2019-10-25 18:50] javierm commented on #836
This one is obsolete since we replaced user types with official levels.

The last trace of user types disappeared with pull request #1336.

[2019-10-25 18:50] #836 closed

[2019-10-25 18:55] javierm commented on #1577
Since @decabeza stated this is done on purpose, I'm closing this issue.

[2019-10-25 18:55] #1577 closed

[2019-10-25 19:09] javierm commented on #1909
I'm not sure I'm following :thinking:. Settings which are enabled/disabled don't have a text input. Introducing `false` as a value in a text should not disabled a setting; for all we know, in a certain language "false" means "government" and it's used as the sender name in an email :smile:.

Feel free to reopen if I've misunderstood the purpose of this issue :wink:.

[2019-10-25 19:09] #1909 closed

[2019-10-25 19:11] javierm commented on #2040
Closing this issue since it's been pending requirements and design for more than two years.

[2019-10-25 19:11] #2040 closed

[2019-10-27 00:43] andrewcameronsims commented on #3558
Hello,

I've been attempting to recreate the issue described on my local machine and was hoping I could ask for some clarification. The background of this issue describes the application as failing to show the categories of the process when the proposals phase is active (i.e., when the date-range of that phase includes the current date). However, I am unable to replicate this situation; on my mach

[2019-10-28 11:05] javierm commented on #3558
Hi @andrewcameronsims!

Just to clarify: is there a typo in this sentence? :thinking:

Maybe @decabeza can comment on this behavior :wink:.

[2019-10-28 20:11] andrewcameronsims commented on #3558
Yes, sorry, that is a typo! Edited.

[2019-10-30 20:15] #3761 closed

[2019-10-31 12:47] #3703 closed

[2019-11-03 00:34] andrewcameronsims commented on #3558
@decabeza Gentle ping. :) Do you have any guidance on how to replicate the issue you have described above?

[2019-11-04 12:10] decabeza commented on #3558
Hi @andrewcameronsims,

Researching about this behaviour I found the real cause why the categories were disappearing. I updated the issue with more information. 😉

[2019-11-04 19:31] PierreMesure opened #3815 "Add "Other" as a third option for gender"
### User Story

- As a user, I want to have my gender set to "Other", either by the census or manually.
- As an admin, I want to be able to see which proportion of my users are gender non-conforming.

### Why is this Needed?

Although it might not be needed yet in Madrid, more and more countries and cities recognise the possibility of citizens to define themselves as something else than male or fe

[2019-11-05 06:36] andrewcameronsims commented on #3558
Fantastic, thank you.

[2019-11-08 11:36] #3742 closed

[2019-11-08 20:39] PierreMesure opened #3835 "Dev seeds fail if Spanish is not enabled"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

Related to #3526. The dev seeds seem to require English and Spanish to pass. That's a problem because someone might want to disable any of them but still get some example content.

### Steps to reproduce
[comment]: # (Describe how we can replicate the bug step by step.)

- Remove `:en` or `:es` from the list of available lo

[2019-11-09 12:18] PierreMesure opened #3837 "Add e-mail verification when creating an account"
### User Story

- As an administrator, I want to make sure that as many e-mail addresses as possible are correct in my database.
- As a user, I want to get an error message if there is a typo in my e-mail address.

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually hap

[2019-11-09 15:35] javierm commented on #3777
@sbolleddula Thanks for reporting. Have you [configured the secrets](https://docs.consulproject.org/docs/english-documentation/features/oauth#3-set-key-and-secret-values) for twitter? :thinking:

[2019-11-09 15:37] javierm commented on #3777
@sbolleddula Thanks for reporting. Have you [configured the secrets](https://docs.consulproject.org/docs/english-documentation/features/oauth#3-set-key-and-secret-values) for twitter? :thinking:

@taitus I think we need to update the documentation and mention we've got to restart the application after changing the `config.secrets.yml` file :thinking:. Could you take care of it? :pray:

[2019-11-09 21:10] javierm commented on #1363
I've updated the issue with details about how we're planning to implement it.

IMHO by default we should keep the `install:ruby` task, in order to make it easier to everyone to upgrade Ruby when they need to. Maybe we could add an extra task that skips that step, so power users get faster deployment times :thinking:.

[2019-11-09 21:33] javierm commented on #1794
@SrinandanPai Are you still working on this issue? If you need any help, feel free to ask :smile:.

If you aren't working on this issue anymore, it's fine :wink:, thanks for being interested in contributing to CONSUL anyway :pray:.

[2019-11-10 00:04] #2302 closed

[2019-11-11 04:53] microweb10 opened #3847 "Upgrade jQuery"
### Why is this Needed?

It would be nice to keep jQuery up to date ☺️

### Description

Upgrade the version of jQuery.
Note that we also use foundation and some extra adjustments might need to be done.
Note that other gems, like `cocoon` and `annotator` also depend on jQuery, so please review everything related to jQuery and make sure everything is properly working after upgrading 🙏

[2019-11-11 18:03] SrinandanPai commented on #1794
I thought the issue was resolved.
Update on my development: I had fixed the bug locally and tested manually but wasn't able to run the unit test cases.
If the issue is still open then I would love to contribute. My apologies if I had caused any inconvenience.

[2019-11-11 18:47] javierm commented on #1794
@SrinandanPai No inconveniences at all! :smile:. Feel free to keep working on this issue :wink:.

[2019-11-12 19:12] #1630 closed

[2019-11-13 00:24] #3180 closed

[2019-11-13 02:45] javierm commented on #2043
Since most stats-related code from Madrid is already included in CONSUL, including recounting of blank votes, and there's another issue for web blank votes (#2017), I'm closing this issue.

[2019-11-13 02:45] #2043 closed

[2019-11-13 03:05] javierm commented on #2485
Closing since the README was updated, we now use Ruby 2.4.9, and it looks like the original questions have been answered.

[2019-11-13 03:05] #2485 closed

[2019-11-13 03:12] javierm commented on #2497
Closing since requirements are not clear and issue #2498 seems to include this one. Pull request #3597 might also be related.

[2019-11-13 03:12] #2497 closed

[2019-11-13 03:24] javierm commented on #2643
Closing since the proposed solution seemed to work and the fix was on master since pull request #2525.

[2019-11-13 03:24] #2643 closed

[2019-11-13 03:37] javierm commented on #2745
@KrzysztofMadejski Were you and your colleague able solve this issue?

[2019-11-13 03:50] javierm commented on #3346
Duplicate of #2744.

[2019-11-13 03:50] #3346 closed

[2019-11-13 11:22] KrzysztofMadejski commented on #2745
It might have been a question of configuration, if I remember right we did solve it. I'll close this issue, thanks for a reminder.

[2019-11-13 11:22] #2745 closed

[2019-11-13 16:03] sbolleddula commented on #3777
@javierm Thanks for your response. This got resolved after I restarted the application.

[2019-11-13 16:03] #3777 closed

[2019-11-13 16:07] sbolleddula opened #3852 "Dashboard emailing feature not working"
Type: Bug

On the proposal dashboard the emailing feature under Email section seems not working.

Current behaviour
User clicks on "Send to <email>" button, message arrives but no email has been received.

Steps to reproduce
I see the same behavior on the demo.cosnulproject.org as well. You can create a new proposal, then visit E-mail under resources of the dashboard section. Please click on "Send

[2019-11-13 19:48] javierm commented on #2272
Duplicate of #1676.

[2019-11-13 19:48] #2272 closed

[2019-11-13 20:21] javierm commented on #3546
Duplicate of #2499.

[2019-11-13 20:21] #3546 closed

[2019-11-16 21:59] javierm commented on #3293
Closed via #3414.

[2019-11-16 21:59] #3293 closed

[2019-11-16 23:20] javierm commented on #3852
@sbolleddula Thanks for reportig! :smile:

I can confirm this bug. It looks like we disabled dashboard emails a few months ago, but we didn't hide the menu to send emails.

Before releasing version 1.1, we'll either hide the menu or enable this feature.

[2019-11-17 00:37] javierm commented on #2045
Closing this one since now there are dashboard polls where having the author makes sense.

[2019-11-17 00:37] #2045 closed

[2019-11-17 00:41] javierm commented on #2426
Closing since this issues hasn't had any activity for almost 2 years and there are no plans to add it in the near future.

[2019-11-17 00:41] #2426 closed

[2019-11-17 00:50] javierm commented on #2730
I'm closing this one and merging its contents with #946, which is very similar.

[2019-11-17 00:50] #2730 closed

[2019-11-17 03:06] javierm commented on #2595
Closing since there has been no activity in a year and a half and there are no plans to implement it in the near future.

[2019-11-17 03:06] #2595 closed

[2019-11-17 16:27] javierm commented on #2193
Closig due to inactivity and because it still needs design.

[2019-11-17 16:27] #2193 closed

[2019-11-17 17:11] javierm commented on #2449
Closing due to inactivity.

[2019-11-17 17:11] #2449 closed

[2019-11-17 17:12] javierm commented on #2477
Closing due to inactivity.

[2019-11-17 17:12] #2477 closed

[2019-11-17 17:29] javierm commented on #699
Closing due to inactivity.

[2019-11-17 17:29] #699 closed

[2019-11-17 17:30] javierm commented on #942
Closing due to inactivity.

[2019-11-17 17:30] #942 closed

[2019-11-17 17:43] javierm commented on #943
Closing due to inactivity. @Ana06 Thank you very much for your help on this one! :pray: The fact that we allow spaces in usernames is certainly an issue if we ever decide to implement user mentions :thinking:.

[2019-11-17 17:43] #943 closed

[2019-11-17 17:51] javierm commented on #2703
I'm closing this one. While it would be nice to add some demo settings when we setup a demo, for real production environments it would only generate false content that needs to be deleted, particularly considering widgets are now translatable and dev seeds generate content in English and Spanish, which might or might not be the languages the production server is supposed to use :thinking:.

[2019-11-17 17:51] #2703 closed

[2019-11-17 18:00] javierm commented on #2828
Closing in favor of consul/consulproject#3, so we've got the issue in the same repository where the pull request is open.

[2019-11-17 18:00] #2828 closed

[2019-11-18 00:20] javierm commented on #2849
Closed via #3425.

[2019-11-18 00:20] #2849 closed

[2019-11-18 00:25] javierm commented on #3588
@torresfabian ¿Tenías ya creado el contenedor con `docker build -t consul .` como se menciona en la [documentación de CONSUL](https://docs.consulproject.org/docs/spanish-documentation/introduction/servers/docker#macos-and-linux)?

En caso afirmativo, acabamos de cambiar la imagen de Docker. ¿Podrías comprobar si sigues teniendo el mismo problema?

[2019-11-18 17:16] javierm commented on #2421
Closing due to inactivity.

[2019-11-18 17:16] #2421 closed

[2019-11-18 17:17] javierm commented on #2422
Closing due to inactivity.

[2019-11-18 17:17] #2422 closed

[2019-11-18 17:19] javierm commented on #2425
Closing due to inactivity.

[2019-11-18 17:19] #2425 closed

[2019-11-18 17:26] javierm commented on #2473
Issue #2623, which was closed via #2802, was a duplicate of this one, so I'm closing this one too.

[2019-11-18 17:26] #2473 closed

[2019-11-18 19:41] #2483 closed

[2019-11-19 01:56] javierm commented on #3086
@shak18 Sorry for the late reply! :pray:

This is indeed a big flaw in the design of legislation proposals: the code was copied from proposals and is hard to maintain.

At some point this part of the code will need some refactoring :thinking:. In the meantime, there's no specific way to deal with this problem, other than general principles when working with legacy/duplicate code. Try to write new

[2019-11-19 01:56] #3086 closed

[2019-11-19 02:21] javierm commented on #3107
@kevieman It looks like a translation is missing, judging from the part saying:

[code]

I've updated the title of this issue since this behaviour has changed slightly since the issue was opened.

Here's a screenshot showing what happens now if sharing something on twitter when the translation is missing:

![The text to share on twitter includes span tags](https://user-images.githubusercontent.com

[2019-11-19 02:28] javierm commented on #3372
@ppeczek I think I'd need some help to reproduce it. Could you add more information, like which system you're using, a screenshot of what you see, ...? Thanks! :pray:

[2019-11-19 14:12] sbolleddula opened #3862 "Edit rights for admin across all the resources (end-user's content)"
Type: Bug

Is it possible to have editing rights for admin across all the Resources (created by end-users or admins)?

Current behavior
There's no way for admin to edit a end-user's content from the back-end.

Steps to reproduce
Login as an administrator and try to edit any of the proposal, you will end up on no access rights message.

Expected Behavior
Admin should have the edit rights for all th

[2019-11-19 14:16] sbolleddula opened #3863 "Proposal supporting users list & Poll voting users list"
Type: Bug

Is there a way that we can get the list of users who supported the proposal?
Is there a way that we can get the list of users who voted with the option they voted?

Current behavior
There's no way for admin to get the list of users who supported the proposal.
There's no way for admin to get the list of users who voted with the option they voted.

Expected Behavior
Admin should have a wa

[2019-11-19 14:30] javierm commented on #3863
Hi @sbolleddula :smile:. I'm afraid this feature would go against the secret ballot right :thinking:. We'd actually like to take the opposite route and implement a [secure vote system](https://github.com/consul/consul/issues/2135), which would guarantee it's impossible for anyone to check which option a user voted.

[2019-11-19 14:31] #3863 closed

[2019-11-25 12:19] #3558 closed

[2019-11-25 20:40] andrewcameronsims commented on #3550
I can take this, if nobody else is working on it?

[2019-11-26 13:40] participacioncr opened #3869 "Remote census verification not working"
Hi all again, we are trying to use remote census with no success. First of all, our remote census provider doesn't support the query/request format that Consul requires, so we had to write a "intermediate service" to translate this between Consul and the web service itself. We see that it works mostly ok. I mean, Consul sends the request to our intermediate service, our service translates it to th

[2019-11-26 16:36] javierm commented on #3550
@andrewcameronsims Thanks! All yours! :smile: Feel free to ask any questions about the desired behaviour :wink:.

[2019-11-26 18:01] taitus commented on #3869
Hi @participacioncr ,

Reviewing the screenshot of your remote census configuration, it seems that it is not well filled.

In the screenshot you can see the text "datoshabitante" and "datosvivienda", while in the answer you have sent the fields are called "datos_habitante" and "datos_vivienda".

Replace on you remote census configuration:
"datoshabitante" --> "datos_habitante"
"datosvivienda" -->

[2019-11-27 10:54] taitus commented on #1461
Hola @sergiochtf

Primero de todo perdir disculplas por la demora de la respuesta 🙏

En cuanto a tu pregunta, actualmente existe una sección de la documentación donde se explica cómo configurar la conexión con el Censo Remoto (https://docs.consulproject.org/docs/spanish-documentation/features/census_configuration#configuracion).

Saludos!

[2019-11-27 11:23] taitus commented on #1912
Hi @fredhampton

Answering your question "Is there a way to customize the Verification method?"

To be able to "customize" the application code you can follow this guide [1]

Before customizing the code, you can review the documentation where a section has been added in order to configure the connection with the Remote Census [2]
And how you can configure the Local Census [3]

If the objective is

[2019-11-27 11:28] taitus commented on #2222
Hi @janssja

If the objective is to remove the verification, in the administration area in the section "Settings > Global Settings > Features" you can enable/disable the feature:

[2019-11-27 11:46] participacioncr commented on #3869
Hi @taitus, and thank you for your quick answer!

We have tried that, with no luck. The answer sent to Consul has the following format (again, data is masked):

`#<RemoteCensusApi::Response:0x0056432bae9c18 @body={:comprobar_datos_response=>{:return=>"get_habita_datos_response: {get_habita_datos_return: {datos_habitante: {item: {fecha_nacimiento: 'XX/XX/XXXX',identificador_documento: 'XXXXXXXX',de

[2019-11-27 11:53] taitus commented on #2554
I think we could close this issue. It has already been resolved at #3525

[2019-11-27 12:16] taitus commented on #3869
Hi @participacioncr

With this 500 error, it seems that the problem is that it cannot parse the answer, does not find the field path and returns an error.
The specific line that is failing you is the following:
https://github.com/consul/consul/blob/master/lib/remote_census_api.rb#L21

Right now it seems that the fields that have been filled in the data of the answer, are not well informed.

Could

[2019-11-27 12:21] taitus commented on #3525
We can close this issue. It has been resolved with these PRs:
#3434 , #3498, #3521, #3522, #3523

[2019-11-27 12:35] participacioncr commented on #3869
Hi again, of course, here you have our remote census configuration:

![config_census](https://user-images.githubusercontent.com/55405402/69723718-97b0f500-111a-11ea-940f-f568af9ed08d.png)

This is the full trace in the log:

W, [2019-11-27T13:29:33.188868 #26395]  WARN -- : [72d26861-639f-4878-a2a3-47cbb5d09596] [Rollbar] Got unexpected status code from Rollbar api: 400
F, [2019-11-27T13:29:33.190

[2019-11-27 13:58] javierm commented on #3869
@participacioncr Thanks for the info! Would it be possible for you to open a rails console on the server and send us the value of `Setting["remote_census"]`? That'll will give us the same information as shown in the screenshot, but in plain text :smile:.

[2019-11-27 14:22] javierm commented on #3869
Sorry, I meant these values:
[code]

[2019-11-27 14:43] cdiaz23 commented on #3869
Hola!

Soy el compañero de @participacioncr, sigo con la conversión, pongo los valores pedidos:

2.3.2 :001 > Setting["remote_census.general.endpoint"]
 => "https://wwsspadron.ciudadreal.es/server.php?wsdl"

2.3.2 :003 > Setting["remote_census.request.method_name"]
 => "comprobar_datos"

2.3.2 :005 > Setting["remote_census.request.structure"]
 => "{\r\n request: {\r\n   tipo:  '',   \r\n   fecha:

[2019-11-27 15:18] cdiaz23 commented on #3869
Pasa algo extraño con esta variable ... estoy mirando los valores directamente en la base de datos, si hago esta consulta, el "remote_census.response.valid" no aparece por ningún lado:

select * from settings where key like '%remote%';

id |                  key                  |                                                          value
----+---------------------------------------+----------

[2019-11-27 15:23] cdiaz23 commented on #3869
en la base de datos el valor está correcto:

select * from settings where key='remote_census.response.valid';

 id |             key              |                                                 value
----+------------------------------+--------------------------------------------------------------------------------------------------------
 97 | remote_census.response.valid | comprobar_datos_resp

[2019-11-27 15:33] taitus commented on #3869
Hola @cdiaz23

La verdad que es extraño que estando el valor en bbdd, al ejecutar en consola `Setting["remote_census.response.valid]` no te de ningún valor. Al menos debería devolverte `nil`.

Viendo tu log

2.3.2 :039">

Parece que se ha colado una comilla mal cerrada y por eso no te esta dando ni `nil`, ni ningún valor.
Creo que si repites el proceso, abriendo la consola y ejecutando directament

[2019-11-27 16:21] fredhampton commented on #1912
Thanks so much !!!!!

[2019-11-27 16:21] #1912 closed

[2019-11-27 17:17] javierm commented on #3869
Sí, al pegar se me saltó una comilla doble :sweat_smile:.

[2019-11-27 17:43] cdiaz23 commented on #3869
Gracias @taitus y @javierm! Efectivamente, parece que los tiros van por ahí, estoy trabajando en ello. El mensaje que me da ahora es este:

_No tienes edad suficiente para verificar tu cuenta._

Entiendo que la llamada al censo ya la hace correctamente y me detecta que el usuario está empadronado, pero no se si coge bien la fecha. En la configuración tengo establecido 16 como el valor de la edad m

[2019-11-27 18:10] #2554 closed

[2019-11-27 18:11] #3525 closed

[2019-11-28 08:56] cdiaz23 commented on #3869
Hola!

El mensaje de la edad suficiente no era real, era consecuencia de que no se mandaba bien la respuesta, y se daba por empadronado, pero no había dato de la fecha de nacimiento. Creo que ya lo tengo resuelto, muchas gracias a todos!

[2019-11-28 11:55] javierm commented on #3869
Estupendo :smile:.

[2019-11-28 11:55] #3869 closed

[2019-12-02 12:34] sbolleddula opened #3872 "Remote translations from other languages not working as expected."
Type: Bug

Remote translations from other languages not working as expected for ex: Greek to English.

Current behavior
Whenever we tried Remote translate/Microsoft Translations from Greek to English, we get unexpected text. We tried manually translating the same text using Microsoft Translator which worked. We get the below text when tried to translate

  Στην αρχή υπήρχε το χάος (chaos), ένα άδε

[2019-12-02 17:48] taitus commented on #3872
Hi @sbolleddula,

I just tested the functionality in my repository with the languages you tell me about and it works correctly.
I have cloned your repository https://github.com/sbolleddula/consul and with the master branch also works.
I have created 3 proposals in your environment https://pusularqa.worldbank.org/ and what you say happens to me. The title and short description are translated well,

[2019-12-02 17:52] sbolleddula commented on #3872
Thanks for looking into it @taitus

Yes,  https://pusularqa.worldbank.org/ has wb-dev branch. Master branch hasn't updated yet with the latest code.

[2019-12-03 18:45] taitus commented on #3872
Hi @sbolleddula ,

Looks like I've already found the problem.
The error only affects the Wysiwyg fields, as is the description of your example.
In this WIP PR you can see how it is solved https://github.com/consul/consul/pull/3874

I'll let you know as soon as it's reviewed, ensuring that everything continues to work properly and is merged into master.

[2019-12-05 12:03] sbolleddula commented on #3872
Hi @taitus When can we expect the review process to complete?

[2019-12-09 00:05] giturra opened #3878 "db:migrate error in local machine window"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

I want to install the project on my local machine.

### Description

I follow the installation according to this [guide](https://github.com/consul/consul) in the _Configuration for development and test environments_.

### Current Behavior
[comment]: # (Describe what actually happened.)

When I type `rake db:migrate`

[2019-12-09 18:42] javierm commented on #3878
Hi @giturra,

Do you still get the error when you run `bin/rake db:migrate` instead of `rake db:migrate`? If so, can you paste the output you get when  running `bin/rake db:migrate --trace`?

[2019-12-09 19:31] giturra commented on #3878
Hi @javierm

Well, I'm using window 10 when I tried to run `bin/rake db:migrate`, the terminal said;

`not recognized as an internal or external command operable program or batch file`

intead of that I change de directory to `consul/bin` and run the command `rake db:migrate`

I got this when I type `rake db:migrate --trace`:

(in D:/railsprojects/consul)
[dry-types] Dry::Types.module is deprecate

[2019-12-10 01:52] javierm commented on #3878
Note windows is not supported at all. We'll try to help you but cannot guarantee you'll get it to work.

I'm not sure it's the same thing; the output mentions `D:/Ruby/bin/rake` but not `consul/bin/rake`  :thinking:.

 Do you get the same result when running `bin\rake db:migrate --trace` or `bundle exec rake db:migrate --trace`?

[2019-12-10 19:00] gabrielbaldao commented on #3815
Can i contribute with this feature?

[2019-12-10 19:57] javierm commented on #3815
@gabrielbaldao Sure, go ahead! :smile:

Regarding statistics, one possible implementation would be to show statistics for the genders defined in the database :thinking:. This way they would work on every CONSUL installation, no matter which genders are defined.

[2019-12-10 20:46] #3872 closed

[2019-12-11 08:26] taitus commented on #3872
Hi @sbolleddula

PR #3874 has been merged!

[2019-12-11 12:29] gabrielbaldao commented on #3815
Thanks @javierm, looking here I was wondering about change this
```scope :male,           -> { where(gender: "male") }``` to [enumerize gem](https://github.com/brainspec/enumerize), what do you think?

[2019-12-11 20:18] #1461 closed

[2019-12-11 20:19] #2222 closed

[2019-12-11 20:19] javierm commented on #2222
@janssja Hope that answers your question! Feel free to reopen this issue if it doesn't :wink:.

[2019-12-11 20:21] javierm commented on #1461
@sergiochtf Reitero las disculpas por tardar ni más ni menos que dos años y medio en contestar :pray:.

Espero que con la respuesta se haya contestado a la pregunta. De no ser así, no hay problema en que vuelvas a abrir esta incidencia.

[2019-12-11 20:37] javierm commented on #3815
The enumerize gem looks interesting :smile:. We might add it in the future if it simplifies the code a lot, but for now I'd try to implement this feature without adding a new dependency. We try not to add too many extra dependencies so we don't end up with hundreds of gems in our Gemfile, making it even harder to keep them up to date.

Regarding the places to display the information, maybe we coul

[2019-12-12 13:14] gabrielbaldao commented on #3815
Right, I agree with this, for this I sayed about do in another pr, but I was having problems to find this page.
Do you suggest some image to show this another gender?

[2019-12-12 13:56] javierm commented on #3815
@decabeza is the one in charge of icons :smile:. @decabeza any suggestions about an intersex/other icon?

[2019-12-12 14:14] SrinandanPai commented on #1794
@javierm  I have raised PR(https://github.com/consul/consul/pull/3884). Let me know if I have missed anything.

[2019-12-13 20:26] luchiago commented on #3553
Hi @decabeza, I would like to work in this issue. Where should I start?

[2019-12-13 21:10] javierm commented on #3553
Hi, @luchiago. Thanks for volunteering! :smile:

Maybe a good place to start would be `app/models/abilities/`, where permissions are defined. Then we could use the `can?` helper in the views, so links to vote comments are only displayed if the user can vote.

[2019-12-14 12:43] m-pereira commented on #3847
Can I try to do this one?

[2019-12-14 12:50] microweb10 commented on #3847
Sure! Please. Go ahead! 😍

[2019-12-16 13:27] m-pereira commented on #3847
@microweb10 I checked your jquery gems and they are up to date. In that case you want to upgrade the rails version to 5.1, and then install jquery via yarn?

[2019-12-16 14:22] javierm commented on #3847
Hi, @m-pereira. In order to upgrade, we need to change `app/assets/javascripts/application.js` and replace `//= require jquery` with `//= require jquery3`. AFAIK there's no need to use yarn :wink:.

The tricky part is testing everything keeps working properly after the change :thinking:.

[2019-12-16 17:24] gabrielbaldao opened #3885 "bug of navigation when try to go back"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
In some pages, when the user try to go back in your navigation this happen this bug.

### Why is this Needed?

To improve the user experience

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
One example is when I, as admin

[2019-12-16 21:29] javierm commented on #3885
@gabrielbaldao Thanks for reporting! It will be fixed when we merge pull request #3778, before releasing version 1.1.

[2019-12-16 21:57] gabrielbaldao commented on #3885
perfect, thanks

[2019-12-19 15:27] #3283 closed

[2019-12-19 15:27] #3885 closed

[2019-12-20 12:35] cyrillefr commented on #3545
Hello @decabeza , I would like to try this one.

[2020-01-06 20:11] luchiago commented on #3553
@javierm Sorry for taking to long to solve this. I read the `gem cancancan` documentation to know how to handle the abilities defined in `app/models/abilities/` but I didn't understand for which user (everyone or common files) and which model I have to handle

[2020-01-17 16:32] javierm commented on #2607
Closing since implementing this issue causes problems on mobile phones, and it's harder to find the search field in the sidebar.

[2020-01-17 16:32] #2607 closed

[2020-01-20 06:48] PierreMesure opened #3903 "Newsletter editor doesn't appear on Safari"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

The newsletter editor doesn't appear on Safari (latest on Mac and iOS) and the following message is given in the console: `The editor instance "newsletter_body" is already attached to the provided element.`

The editor appears on Chrome and Firefox so thi

[2020-01-28 01:51] mdjaved1 commented on #3548
Hi ill be working on this issue

[2020-02-03 08:07] andrewcameronsims commented on #3550
@javierm Hi, I've created a PR for this issue which has been sitting there for a while now, thought it might have been overlooked, but can withdraw the PR if it is no longer relevant. 🙂

[2020-02-19 18:06] #3852 closed

[2020-02-19 18:41] #2638 closed

[2020-02-20 10:04] PierreMesure opened #3923 ""fallbacks = true" overrides custom fallbacks in application.rb"
# Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

Rails i18n's fallback system enables us to define languages to be used when a locale is missing.

On most of our installations, it will look like this:
[code]

We use Swedish as the default language, of course. But we also want Swedish to fallback to English as our translation is never fully done on Crowdin. We usually improv

[2020-02-20 14:13] #3923 closed

[2020-02-21 12:41] javierm commented on #3550
@andrewcameronsims Thanks a lot! :smile: We'll have a look at the pull request after we release version 1.1. Sorry for the late reply! :pray:

[2020-02-21 12:44] javierm commented on #3553
@luchiago Permissions for registered users are defined in the "common" file. Hope that helps!

[2020-02-26 13:41] PierreMesure commented on #2301
This issue is still valid, we have users who are having trouble to find the button to delete their investment project. I might do it when I have some time but it's an easy issue and the code has already been written in the related pull requests that were closed so if a beginner wants to try, feel free!

[2020-02-28 17:16] javierm commented on #3878
Closing this one since it seems you're using dry-types-0.15.0, while in our Gemfile.lock we've defined version 0.13.3.

You can try uninstalling dry-types, check you're using the right version in the Gemfile.lock, and run `bundle install` again. Hope that helps! :smile:

[2020-02-28 17:16] #3878 closed

[2020-03-04 16:24] gpetrov-bg opened #3937 "New language"
Hello I would like to have Bulgarian language added to CONSUL

[2020-03-08 16:18] javierm commented on #3937
Hi, @gpetrov-bg!

Thank you very much for your interest in translating CONSUL! :smile:

We manage translations through [Crowdin](https://crowdin.com/project/consul). Feel free to sign up and add [translations for Bulgarian](https://crowdin.com/project/consul/bg)

You might also want to check out our [documentation about translations](https://docs.consulproject.org/docs/english-documentation/custom

[2020-03-09 12:09] gpetrov-bg commented on #3937
Thank you!

[2020-03-09 12:09] #3937 closed

[2020-03-10 11:40] andrewcameronsims commented on #3557
@javierm Hi, I saw that this PR was defunct but this issue is still open so I took the half finished branch and made the requested changes. Hope it's helpful.

[2020-03-10 15:38] karunya-tota commented on #3559
@javierm @jaredholdcroft Is this issue still up for grabs? First-time contributor here!

[2020-03-13 07:15] aaznar opened #3947 "Error en verificación de residencia"
Estoy intentando verificar mi cuenta como administrador, para enviar mensajes privados y demás acciones de administración, pero por más que meto uns datos supuestamente válidos, siempre sale el error "Para verificarte debes estar empadronado." y le estoy metiendo un Código Postal correcto, incluso con DNI real.
¿Bug o alguna forma especial de poder verificar los datos?

[2020-03-13 12:20] Senen commented on #3947
Hola @aaznar, Antes de comenzar a indagar unas preguntas:

1. ¿Qué versión de consul tienes?
2. ¿Qué sistema de verificación estás usando? ¿Censo local o censo remoto?

[2020-03-17 13:43] jaredholdcroft commented on #3559
@karunya-tota Yeah, I didn't get chance to do anything here :(

[2020-03-17 13:49] javierm commented on #3559
@karunya-tota Sorry for the late reply!

If you'd like to take this issue, you're more than welcome! Thanks a lot! :pray:

[2020-03-17 16:17] pdostal opened #3950 "Assigning roles to existing users"
### User Story

As the default `Administrator` I want to assign roles to other users.

### Why is this Needed?

Different people need to have Admin, Moderator, Valuator or Manager roles.

### Description

There is 'Users' section in the 'Administration' menu:
 * I can see myself in the Administrators group.
 * I can see the others 'level₃_user' users.

### Current Behavior
There is no way how to a

[2020-03-18 19:41] karunya-tota commented on #3559
Thank you! I hope to start taking a look today!

[2020-03-26 14:07] #1794 closed

[2020-03-27 14:08] PierreMesure commented on #3950
Hi @pdostal, I think the answer to your problem can be found in the admin manual. I agree the UX for this is not that intuitive though.

[2020-03-27 22:42] javierm commented on #3815
@gabrielbaldao @PierreMesure I'd like to ask your opinion about a couple of things I'm considering.

1. Which word should we use? Is "other" OK? Is "nonbinary" better? Or maybe "intersex"? Right now I'd vote for "nonbinary"
2. In the stats, I'd vote for only displaying this gender if there are any participants in this group; it doesn't make much sense to me to display it in CONSUL installations wh

[2020-03-30 12:40] decabeza opened #3957 "Bug when change custom text with variables from admin panel"
### Description

There is a **bug** when an admin user tries to change a text on the "Custom information text" section `/admin/site_customization/information_texts` with the keys that include some `%{variable}` in the text.

It seems the custom text it's converted to a String and the interpolation it's not working correctly.

### Steps to reproduce
1. Visit `/admin/site_customization/information_t

[2020-03-30 12:49] javierm commented on #3957
Is this issue the same as issue #3676? :thinking:

[2020-03-31 09:25] decabeza commented on #3957
Duplicated with #3676.

[2020-03-31 09:25] #3957 closed

[2020-04-03 21:04] smarques opened #3961 "broken orbit slider on voting"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As an admin I want to add multiple images to possible replies to one voting question and see them in the corresponding orbit slider

### Why is this Needed?

https://github.com/consul/consul/pull/3886 has broken something
see also: https://github.com/foundation/foundation-rails/issues/289

[comment]: # (Describe the

[2020-04-06 10:46] raoulkramer opened #3962 "New language"
Hello I would like to have my language Georgian added to CONSUL

[2020-04-06 12:08] javierm commented on #3962
Hi, @raoulkramer :smile:.

I've just added Georgian to the list of available languages in [Crowdin](https://crowdin.com/project/consul). Feel free to sign up and add [translations for Georgian](https://crowdin.com/project/consul/ka) and we'll be glad to add them to CONSUL :wink:.

You might also want to check out our [documentation about translations](https://docs.consulproject.org/docs/english-do

[2020-04-06 12:16] raoulkramer commented on #3962
Thanks @javierm we will follow your instructions (งツ)ว . Great!

[2020-04-06 12:22] #3962 closed

[2020-04-06 13:26] #3550 closed

[2020-04-06 13:52] #2975 closed

[2020-04-06 16:16] smarques opened #3964 "Polls results when online voting"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As an admin I want to be able to create online-only polls, and see and publish the results

### Why is this Needed?

[comment]: # We would like to use Consul as an online consultation system for a civic group

### Description

This seems like a bug to me..
I can create a poll, add questions and possible answers, hav

[2020-04-06 17:33] javierm commented on #3903
@PierreMesure Thanks for reporting. Does it happen in other places where we use CKEditor?

[2020-04-06 17:54] javierm commented on #3372
Closing since I can't reproduce the issue and no further information was provided.

[2020-04-06 17:54] #3372 closed

[2020-04-06 17:54] PierreMesure commented on #3903
Not that I know of.

[2020-04-06 17:58] javierm commented on #3391
Closing since the cause seems to be SMTP not being configured propery and CONSUL now enables delayed jobs by default (https://github.com/consul/installer/pull/103), so the application won't crash when emalis cannot be sent.

[2020-04-06 17:58] #3391 closed

[2020-04-06 18:05] javierm commented on #3545
@cyrillefr Sorry, I missed this message and decabeza wasn't available in December. If you'd still like to work on this issue, you're more than welcome :smile:.

[2020-04-06 18:20] javierm commented on #3947
@aaznar Hola :smile:. ¿Sigues teniendo este problema?

[2020-04-08 02:38] javierm commented on #3964
Hi, @smarques :smile:.

Results are publicly available once the poll is finished and the "show results" option has been selected in the form you mention.

In the admin section results are shown by booth, as a tool to help verifying manual recounts. Online votes aren't counted manually, so they aren't shown there.

[2020-04-09 10:46] #3557 closed

[2020-04-09 19:47] #3682 closed

[2020-04-10 10:51] #3676 closed

[2020-04-10 15:47] #3645 closed

[2020-04-12 12:22] #730 closed

[2020-04-13 12:02] PierreMesure opened #3970 "Consul displays blank welcome page if welcome pages are not present in the database"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

For some reason, the welcome pages got removed on one of our installations and that caused CONSUL to display a completely blank page when the users first log in.

Really confusing as the only way to get out was to manually re-type the address to the homepage. Wouldn't be surprised if many users just gave up.

### Current Be

[2020-04-16 16:29] javierm commented on #3947
Closing this one due to lack of information. @aaznar Si sigues teniendo este problema, puedes reabrir la incidencia dando los detalles que pedía Senén :wink:.

[2020-04-16 16:29] #3947 closed

[2020-04-16 17:09] javierm commented on #3964
Closing this one since it looks like it works as intended. @smarques Feel free to reopen if you think my previous answer wasn't satisfactory :wink:.

[2020-04-16 17:09] #3964 closed

[2020-04-17 17:44] #2605 closed

[2020-04-18 19:38] decabeza commented on #2606
Closed by https://github.com/consul/consul/pull/2732.

[2020-04-18 19:38] #2606 closed

[2020-04-19 10:41] javierm commented on #2980
I'm wondering whether we should disable this feature when editing a proposal :thinking:. Its purpose is to warn about similar proposals when creating a new one, but I'm not sure it makes sense once the proposal has already been created. The text even says "instead of creating a new [one]" :sweat_smile:.

@PierreMesure Any thoughts on this?

[2020-04-21 12:00] #3092 closed

[2020-04-23 11:31] sbernhard commented on #2611
Another possibility instead of having a "full multi-tenant" implementation would be, to have something like groups for each category (polls, content, ...). A user can then be assigned to a group (or many). Means, same database, but divided through user access rights together with groups.

[2020-04-24 15:51] #2627 closed

[2020-04-26 15:14] JMZZZ-89 opened #3986 "Limitar registro de usuarios a los definidos en el panel de administración"
Buenas,

No he observado ninguna funcionalidad que permita limitar el acceso a la plataforma, por ejemplo si tienes una asociación y quieres que únicamente se puedan registrar ciertos correos electrónicos.

Quiza en el panel de administración se puede colocar algún nuevo apartado con un area donde indicar los correos electrónicos permitidos separados por ; (como se realiza para el envio de invitac

[2020-04-26 16:02] smarques commented on #3964
Confirm it works as intended. Thank you.

[2020-04-27 11:06] decabeza commented on #3950
Hi @pdostal  It's not very intuitive but it can be done.

For example, in the search form of `/admin/administrators` you can search for any registered user and if they don't have that role you can add them.

![Screenshot 2020-04-27 at 13 05 50](https://user-images.githubusercontent.com/631897/80365431-de507a00-8887-11ea-8b7a-29e1663d6398.png)

In the same way for the rest of the sections/roles. 😉

[2020-04-27 11:20] decabeza opened #3988 "Error when delete a user with admin role"
### Description

*Type*: Bug

The site returns an **`ArgumentError in Admin::BudgetInvestments#index`** when trying to visit `/admin/budgets/N/budget_investments` and one user with admin role was erased.

The reason is in `/helpers/admin_budget_investments_helper.rb:16`

[code]
This method is calling the list of Administrators list but the erased one is nil:

`[["admin", 1], [nil, 2]]`

This is un

[2020-04-27 11:38] javierm commented on #3950
@pdostal Hope the answers help!

I'm keeping the issue open, though, because the user interface should be more intuitive; right now it's pretty much impossible to figure it out.

[2020-04-27 13:09] pdostal commented on #3950
Hello guys, thank you for the answer! My problem has been solved.

If you plan to do some changes here, feel free to keep this open 😄

[2020-04-28 10:32] RuBiCK opened #3991 "Docker image unable to build"
### User Story

As a developer, I want to run consul in container so I followed the guide to run consul in local

### Why is this Needed?

Docker image is not built due to an error with gems

### Description

*Type*: BUG

### Current Behavior
 `docker build` thrown an error:
[code]

### Expected Behavior
to build the docker image without error

### Steps to reproduce
just trying to build the docke

[2020-04-29 19:10] raoulkramer opened #3994 "Georgian"
Hi, we want to test the Georgian translation that is 100% translated :) in the Consul context. So is there a way we can test drive the translation in our instance? Cheers!

[2020-04-30 10:49] raoulkramer commented on #3994
Solved, I pulled the files out of Crowdin.

[2020-04-30 10:49] #3994 closed

[2020-04-30 12:10] raoulkramer commented on #3991
Hi, did you run the prerequisites https://docs.consulproject.org/docs/english-documentation/introduction/local_installation/prerequisites ? Installing prerequisites and gems outside the docker commands messed up a lot for me in my experience. Docker(-compose) deals with it all and I think it get confused when you have ruby stuff running outside your container.

[2020-04-30 12:39] javierm commented on #3991
It looks like we need to upgrade the Ruby version usend in the Docker image, as suggested in pull request #3960 :thinking:.

[2020-04-30 13:03] raoulkramer commented on #3991
@abihas could you comment on this?

[2020-04-30 14:53] RuBiCK commented on #3991
I'm trying to perform the production installation in a brand new ubuntu 16.04 and same issue executing `bundle` while I'm following all steps described in docs
Sorry but I don't have ruby knowledge so If you tell me which file I need to update the version, I could try it

[2020-04-30 15:03] abihas commented on #3991
@RuBiCK me neither 😜. Change the first
line in the Dockerfile to:
FROM ruby:2.4

I could also send you our docker-compose
file if that helps.

[2020-04-30 15:22] RuBiCK commented on #3991
Upgrading the base image to 2.4 builds sucessfully as @abihas suggested

[2020-04-30 18:57] #3991 closed

[2020-04-30 18:58] javierm commented on #3991
Thank you very much @abihas and @raoulkramer for your help with this issue :pray:.

Thanks to @luchiago, we've just merged a pull request fixing this issue :tada:.

[2020-05-01 07:48] Senen commented on #1736
Finally this issue seems not to be related with Turbolinks version, is happening with any version of Turbolinks. We realized while testing #3699. You will find a more detailed explanation at #3997 commits messages.

[2020-05-01 10:17] javierm commented on #3903
I can reproduce a similar behavior with Firefox:

1. Go to a page loading CKEditor, like the newsletter editor
2. Click somewhere else in order to leave the page
3. Click the browser's back button

CKEditor will appear empty, it will be impossible to edit its content, and clicking any toolbar button will raise a JavaScript error.

[2020-05-01 17:40] javierm commented on #3903
@PierreMesure Since I don't use Safari, and I get inconsistent results with Firefox, could you do me a favor? :pray:

Could you confirm you can still reproduce the issue in the `master` branch?

Could you check whether removing `app/assets/javascripts/ckeditor/reinit.js` solves the problem?

Thanks!

[2020-05-05 10:09] Senen commented on #3903
Hi there! 👋

I am having the same behavior than @javierm, cannot edit ckeditor contents when using browser history back to go back a page with ckeditor. This is currently happening with Firefox, Safari and Chrome. I am currently working on a patch.

I was not able to reproduce the error described by @PierreMesure using Safari at current master branch. Let's wait for Pierre confirmation also!

[2020-05-06 09:46] PierreMesure commented on #3903
I just tested and I now see the CKEditor on the Newsletter creation/edition page. Plus no message in the console anymore.

I can also reproduce the behaviour you mention on Safari:
- blank and blocked editor when leaving the page and coming back
- no editor at all when closing the tab and opening it again (Cmd-Z on Safari)

[2020-05-06 09:50] Senen commented on #3903
Thanks @PierreMesure for re-checking this , now we are on the same page!

[2020-05-09 11:43] #1736 closed

[2020-05-09 23:41] javierm commented on #3393
Closed via #3389.

[2020-05-09 23:41] #3393 closed

[2020-05-11 12:59] javierm commented on #3903
Closing this one since the original issue cannot be reproduced and the other issue mentioned in the comments is solved by #3998.

[2020-05-11 12:59] #3903 closed

[2020-05-15 09:45] decabeza opened #4011 "Error on processes with the comments phase's blank date"
### Description

Type: Bug

### Current Behavior
The page generates an error when visiting a process with the comments phase's blank date.

![error](https://user-images.githubusercontent.com/631897/82036029-abd4b880-96a0-11ea-91c6-8eb9f7c8fa5c.png)

### Steps to reproduce
1. Create a new process in `/admin/legislation/processes/new` page.
2. Mark **Comments phase** as "Enabled" but leaving date fi

[2020-05-18 15:09] taitus opened #4013 "Review length validations in ckeditor fields"
### Description
*Type*: Bug

Minimum length validation is not being correctly applied in the fields of the forms where the ckeditor is used.
If we fill in the ckeditor with a simple "a", the string that reaches the validation is: `<p>a</p>\r\n`
Then it exceeds the minimum length and does not skip validation 🤔

### Steps to reproduce
1. Start a debate
1. Fill in title, Fill in the description with

[2020-05-24 06:34] #2759 closed

[2020-05-24 06:34] #2729 closed

[2020-05-24 06:34] #2728 closed

[2020-05-24 06:34] #2727 closed

[2020-05-24 06:35] #2596 closed

[2020-05-24 06:36] #2547 closed

[2020-05-24 06:36] #2498 closed

[2020-05-24 06:36] #2433 closed

[2020-05-24 06:36] #2428 closed

[2020-05-24 06:36] #2427 closed

[2020-05-24 06:37] #2424 closed

[2020-05-24 06:37] #2423 closed

[2020-05-24 06:37] #2420 closed

[2020-05-24 06:37] #2361 closed

[2020-05-24 06:37] #2360 closed

[2020-05-24 06:37] #2144 closed

[2020-05-24 06:37] #2139 closed

[2020-05-24 06:38] #2133 closed

[2020-05-24 06:38] #2104 closed

[2020-05-24 06:38] #2017 closed

[2020-05-24 06:39] #1907 closed

[2020-05-24 06:39] #1881 closed

[2020-05-24 06:41] #1608 closed

[2020-05-24 08:04] Michael1337 opened #4015 "Detailed confirmation texts"
### Description
The confirmation alert for any action should specify what the action does in detail. If it just asks "Are you sure?", I will always click yes, because I have no reason to change my mind so suddenly, unless I misclicked. But I would not be able to realize a misclick, because the alert does not tell me what I clicked.

### Current Behavior
Currently, all confirmation alerts just ask

[2020-05-24 08:25] Michael1337 opened #4016 "Redirect on GET /residence"
### Description
GET /residence does not lead to any page.

### Current Behavior
When you send invalid data during the verification process at GET /residence/new, you get redirected to POST /residence. When you logout or refresh the site at this point, the resulting GET /residence request leads to a non-existing page.

### Expected Behavior
Invalid POSTs at /residence/new should also end up on /res

[2020-05-24 08:40] Michael1337 opened #4017 "Show absolute number of votes on debates"
### Description
Instead of showing just the difference in positive and negative votes on a debate, I also want to be able to see the combined number of votes on a debate.

### Current Behavior
Currently, if 2 people voted positively while 1 person voted negatively, you get 66% to 33% at 1 vote. If the votes are 50% to 50%, I would have no way to tell how many people actually voted.

### Expected B

[2020-05-24 08:54] Michael1337 opened #4018 "Undo "Hide author" as moderator"
### Current Behavior
When a moderator blocks a user, they can not undo this action themself. Only an administrator can undo that.

### Expected Behavior
A moderator should be able to undo their own actions in case they did a mistake.

### Steps to reproduce
Log in as moderator, go to https://consul.wuerzburg-accelerator.de/moderation/users, block a user, and try to undo this action.

[2020-05-24 08:57] Michael1337 opened #4019 "Restoring all posts of an unblocked/restored user"
### Current Behavior
When an administrator unblocks/restores a user, they have to restore all comments of that user manually.

### Expected Behavior
When an administrator unblocks/restores a user, they should be asked if they also want to restore all posts by that user in one click.

### Steps to reproduce
Block a user that made at least one comment. Restore that user. Check moderated comments.

[2020-05-24 09:08] Michael1337 opened #4020 "Custom reason for flagging"
### Description
When flagging a debate or a comment, I want to be able to add a small text to give a reason. Maybe even different kinds of flags, as in "Flag as [racist, fake news, spam]".<br>
This would make it easier for the moderator to the what is going on, and it would give users the assurance that they are indeed invited to also flag fake news instead of just blatant racism. Other users coul

[2020-05-24 09:23] Michael1337 opened #4021 "Undo votes"
### Description
When I give a thumbs up or down on a debate or comment, I can only switch between up and down, but not remove my vote. I want to be able to remove my vote in case I have second thoughts and need more time to decide. If it is intended to not be able to undo a vote, I want to know why that is before I vote and I want to know why I can still change between up and down.

### Current Be

[2020-05-24 09:36] Michael1337 commented on #4019
Just found this issue: https://github.com/consul/consul/issues/3551
Is this still worked on?

[2020-05-24 09:43] Michael1337 commented on #3950
I agree: You will only find this feature if you actively look for it. The current placeholder reads "Search user by name or email". Changing that to "Search all users [...]" would be helpful. Not sure how that is handled in other languages. (Also, the English text as it is right now should actually be "Search for user [...]", if I am not mistaken.)

[2020-05-24 09:58] Michael1337 commented on #3484
I support this. It's not only irritating and frustrating for blocked users, but it is actually dangerous as it gives the impression the administration will just block and mute citizens with opposing opinions. This has to be more transparent for blocked users and they should be able to fight their block.
The message should sate:
- Why the user was blocked (including a link to rules, an example of t

[2020-05-24 10:02] Michael1337 commented on #3373
Another idea would be to let each user choose a default language for themselfs at /account. When a user changes the language as they may do now, they could asked if the new language should be marked as their default language.

[2020-05-24 12:24] javierm commented on #4019
Hi, @Michael1337 :smile:. Nobody is currently working on it. Feel free to have a go at it if you'd like to :wink:.

Closing in favor of #3551.

[2020-05-24 12:24] #4019 closed

[2020-05-24 12:27] javierm commented on #2499
Reopening since it was requested in #3546 as well.

[2020-05-24 12:34] javierm commented on #2149
Reopening since it can be considered a bug.

[2020-05-24 12:40] javierm commented on #2571
Reopening since there's an active pull request that implements this issue.

[2020-05-24 12:42] javierm commented on #2135
Reopening this one. Even if it hasn't had any activity and it's unlikely it will be implemented mid-term, I consider it one of the most important features we could add to CONSUL, so it's probably useful to at least have an issue reminding us of it.

[2020-05-24 12:44] javierm commented on #2038
Reopening as it's got the "Bug" label.

[2020-05-24 12:52] javierm commented on #1838
Reopening since this one definitely needs to be implemented at some point, and we've been (intermittenly) working on issues related to verification in the last year and a half.

[2020-05-24 13:04] javierm commented on #4016
@Michael1337 Correct me I'm wrong; refreshing the page does *not* result in a non-existing page :thinking: but the browser asks whether you want to re-send the form :thinking:.

Logging out and getting redirected to a blank page can be annoying, though :relieved:, so I'm leaving this issue open.

[2020-05-24 13:17] Michael1337 commented on #4016
You are right, my terminology is not precise here. By "refreshing" I mean reloading the page as a GET, like clicking into the address bar of the browser and hitting Enter.

[2020-05-26 07:45] andriyun opened #4024 "Return URL after "Sign in" doesn't keep GET params."
### User Story
After "Sign in" action, as a user, I want to be redirected to the same page where I was before "Sign in".

### Why is this Needed?

**Step 1:** At the current moment on page https://demo.consulproject.org/budgets page we have listed budget pages with budget links that lead to URLs with `heading_id` like: https://demo.consulproject.org/budgets/1/investments?heading_id=4
![image](http

[2020-05-29 15:32] dyhack opened #4029 "PLEASE NOTE THAT THE SOFTWARE MAY NOT BE USED, DEPLOYED OR INSTALLED IN THE PEOPLE’S REPUBLIC OF CHINA."
### User Story

PLEASE NOTE THAT THE SOFTWARE MAY NOT BE USED, DEPLOYED OR INSTALLED IN THE PEOPLE’S REPUBLIC OF CHINA.

### Why is ?

AGPLv3 protocol, that is to say, no matter how you modify or use the code, you need to open source unless you get commercial authorization.

### Description

https://help.github.com/en/github/site-policy/github-and-trade-controls

### FIinally
Your company is regul

[2020-05-29 16:05] javierm commented on #4029
@dyhack Thank for your interest in CONSUL.

For legal questions, please [contact the CONSUL project staff](https://consulproject.org/en/#contact) :wink:.

Cheers!

[2020-05-29 16:05] #4029 closed

[2020-06-17 09:00] FranAcosta opened #4045 "petición evolutiva en Consul para la integración con Cl@ve para el alta e identificación de usuarios"
### Why is this Needed?

Petición evolutiva en Consul para la integración con Cl@ve para el alta e identificación de usuarios.

### Description

Mediante la integración con Cl@ve para el alta e identificación de usuarios se podría lograr el acercamiento de la ciudadanía a la participación al ser más fácil para muchos ya sea por distancia a los lugares de verificación, medios,...

[2020-06-18 23:36] sbernhard commented on #2698
Did someone already had a look at this?

[2020-06-19 09:44] javierm commented on #2698
Hi, @sbernhard. As far as I know, nobody has been working on this issue. Feel free to have a look :smile:.

[2020-06-27 00:52] asolera commented on #3588
I had the same problem here! Solved by changing the `app/volume` section of `docker-compose.yml` file to this:
[code]

[2020-06-27 00:56] asolera commented on #3031
I found out that this pull request (#2661) is causing those permission errors.

I just reverted back `Dockerfile` and `docker-compose.yml` to its previous version and everything worked fine.

[2020-07-08 10:34] #3554 closed

[2020-07-08 10:35] javierm commented on #3554
Huge thanks to @volcov for his work investigating this issue and adding the initial fix :pray: :tada:.

[2020-07-09 10:15] javierm commented on #4015
@Michael1337 Thanks for reporting! :pray:

Couldn't agree more :smile:.

Ideally we'd remove this alert completely and offer ways to undo actions instead, but I'm afraid the "undo" feature won't be implemented soon :thinking:.

[2020-07-21 11:04] #3265 closed

[2020-08-02 03:54] AdManteza commented on #3547
Hi @decabeza @javierm

I would like to tackle this issue! :D

[2020-08-03 10:45] javierm commented on #3547
@AdManteza Thanks a lot! Go ahead :smile:.

[2020-08-03 19:10] lucasocon commented on #3285
On Mac OS, you need to run:
`ssh-add [yourkey] `

[2020-08-05 22:23] bjmkavak opened #4074 "Problema con oauth2 de google"
### User Story

[comment]: # Estamos intentando implementar Oauth con Google para nuestra organización y estamos teniendo problemas con la autenticación de google, he validado en varias ocasiones la documentación y no logro encontrar donde se origina el error.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:Bug?

[comment]: # Al agregar el clientID y secret nos permite accede

[2020-08-06 10:33] javierm commented on #4074
Buenas @bjmkavak.

Gracias por el aviso :smile:. Otro usuario nos ha comentado lo mismo también esta misma semana. ¿Podrías probar esto?

1. En el fichero "Gemfile", cambia la línea `gem "omniauth-google-oauth2", "~> 0.4.0"` por `gem "omniauth-google-oauth2", "~> 0.8.0"`
2. Ejecuta `bundle update omniauth-google-oauth2`
3. Sube estos cambios a vuestro repositorio y luego actualiza usando capistran

[2020-08-06 11:52] #2841 closed

[2020-08-06 15:29] bjmkavak commented on #4074
Muchas gracias, eso soluciono el issue.

Saludos y gracias por el excelente trabajo que hacen

[2020-08-06 16:16] javierm commented on #4074
Me alegro que funcionase :smile:. Si no te importa, reabro la incidencia hasta que el código que lo resuelve esté en CONSUL :wink:.

[2020-08-07 21:12] javierm commented on #3961
Hi, @smarques :smile:.

Thanks for reporting! We've just opened pull request #4077, which we think solves the issue (although we had to disable the animation effect, which makes it harder to use when images have different heights :relieved:), and it will be included in our next release.

[2020-08-12 12:25] #4016 closed

[2020-08-12 12:25] #4024 closed

[2020-08-12 16:25] #3639 closed

[2020-08-13 16:27] #3961 closed

[2020-08-27 09:06] #4074 closed

[2020-09-02 17:02] Senen opened #4119 "Confusing translation"
### User Story

A translator warned us through Crowdin application that we have a confusing source string ([link](https://crowdin.com/translate/consul/419/en-sr?filter=advanced&value=12&approvals=translated_not_approved&qa_issues=33&sort_ascending=1#58784)) and this is causing problems to translators to define a correct translation for this string into any other language.

### Description
Fix the

[2020-09-04 14:36] raoulkramer opened #4120 "add new language to repo"
Hello  @javierm would it be possible to Georgian add to the CONSUL repo? :thumbsup: Translation is 98% now and done by professional translators. Ps the the automatic way of joining words to compose sentences does not always work well in Georgian [e.g. Follow citizens proposal ].  thanks!

[2020-09-04 15:05] Senen commented on #4120
Hi @raoulkramer, we are working right now on a PR with all new translations including Georgian, as it translation ratio is very high we will enable it by default bu adding it to available _locales. Lot of thanks to the professional translators! :clap

[2020-09-06 22:22] #3847 closed

[2020-09-07 14:55] itw-smart opened #4123 "Make it possible to change answers in /legislation/processes/:id/questions/:id"
### User Story

[comment]: # As a user I would expect that it is possible to change the selection to answers in the collaborative legislation modul (debates) because there are radio buttons shown.
![image](https://user-images.githubusercontent.com/66314520/92398937-b6bcc880-f129-11ea-8544-80bd3b53421b.png)

### Why is this Needed?

[comment]: # If a user accidenttaly clicked on a given answer he c

[2020-09-08 11:58] kuenka123 opened #4124 "Validación de usuarios via SMS"
Buenas,

Estamos tratando de implementar esta genial solución en un ayuntamiento español y hemos logrado salvar todos los pasos de configuración excepto la verificación de cuentas via SMS. Tenemos contratado actualmente el envio de SMS mediante la mensajería de negocios de Movistar cuyo wsdl puede verse aquí:

https://www.mensajerianegocios.movistar.es/ISServer/services/MI-InterfazSimplificado-Por

[2020-09-15 10:25] #4119 closed

[2020-09-15 10:54] javierm commented on #2873
Thanks for reporting! :pray: While there are some interesting points here, we believe the danger of the government knowing the results in real time and taking measures if those results are not going their way makes it unfeasible.

[2020-09-15 10:54] #2873 closed

[2020-09-15 16:11] #4120 closed

[2020-09-17 17:10] adundovi opened #4133 "Specifing starting/ending time instead of only dates in polls"
### User Story

I think there is a reasonable user case in which one should control the starting/ending time when creating a poll, not only dates.

### Why is this Needed?

For example, for short duration polls, one would run them for the whole day until 7 PM and at 8 PM release the results. Or, since the results can only be checked after the poll is finished, one would like to run a test poll for

[2020-09-22 11:49] dlddld commented on #3869
Hola!
estamos intentado implantar CONSUL en nuestra Entidad. Estamos algo atascados con la conexión de padrón.
Para conectarlo con el mismo, nos ha parecido muy interesante este hilo y nos ha esperanzado bastante.
Vemos que las respuesta es un JSON, es decir, un servicio web que devuelva un String con el JSON dentro.
Hemos hecho eso, pero aunque recibimos la llamada, no parece que Consul interpret

[2020-09-22 17:06] cfcastillol opened #4137 "Error en comentarios ruta: management/proposals/43-successful-proposal-title-for-locale-en#comments"
Hola, estoy entrando en este enlace y aparece el siguiente error

Enlace: http://localhost:3000/management/proposals/43-successful-proposal-title-for-locale-en#comments

Error: ActionView::MissingTemplate in Management::Proposals#show

[2020-09-22 19:30] javierm commented on #4137
@cfcastillol Gracias por el aviso :smile:; hemos abierto la #4138 para arreglar este fallo. / Thanks for the tip; we've opened pull request #4138 which should solve this issue.

[2020-09-23 04:36] dependabot-preview[bot] opened #4139 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/consul/update-logs/48386927).

[2020-09-23 09:24] #4137 closed

[2020-09-24 04:13] #4139 closed

[2020-09-24 11:31] javierm commented on #4133
@adundovi Thanks for the suggestion! :smile:

Unfortunately it isn't that trivial to implement due to the [lack of browser support for datetime-local input fields](https://caniuse.com/mdn-html_elements_input_input-datetime-local) and lack of a standard calendar+hour widget which we could use for browsers not supporting this input type.

Feel free to open a pull request if you find a solution provi

[2020-09-27 11:28] javierm opened #4144 "Keyboard navigation in admin menu subitems"
## References

* foundation/foundation-sites#12046

## Notes

Seems this is an issue with Foundation's accordion menu and it's fixed in version 6.7.0. EDIT: I've been toying with Foundation 6.7.5 (installing it as a node package) and Foundation 6.8.1, and I'm still getting the same issue :thinking:.

An alternative would be to remove the accordion menu, maybe using the `<summary>` and `<details>`

[2020-09-28 05:57] dlddld opened #4161 "Issue with remote census"
Hola!
estamos intentado implantar CONSUL en nuestra Entidad. Estamos algo atascados con la conexión de padrón.
Para conectarlo con el mismo, nos ha parecido muy interesante este hilo y nos ha esperanzado bastante.
Vemos que las respuesta es un JSON, es decir, un servicio web que devuelva un String con el JSON dentro (habíamos intentado respuesta XML o JSON directamente, sin éxito).
Hemos hecho eso

[2020-09-29 09:41] #4161 closed

[2020-09-29 09:41] dlddld commented on #4161
Hay que devolver un XML con el formato de ese JSON.

[2020-10-01 10:08] TomClive commented on #2698
@sbernhard - Did you manage to have a look at this? We're also looking as we'd like to use SAML to authenticate with myAccount ( Scotland's Public Sector SSO ).

[2020-10-03 07:32] matisnape commented on #3559
@javierm Hi, is this is still up for grabs?

And are you joining Hacktoberfest with the new rules? It's now opt-in for open source projects, you just need to add hacktoberfest topic https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 19:41] javierm commented on #3559
@karunya-tota Are you still working on this issue? If not, @matisnape, sure, go ahead :wink:.

[2020-10-08 07:04] dlddld commented on #2624
Hi

¿"PHYSICAL BOOTH" check finally exists? I see that it's referenced on documentation, but I can't find it on app.
Thanks

[2020-10-08 11:47] Senen commented on #2624
Hi @dlddld, that checkbox you have seen at screenshots is something specific to DecideMadrid fork and does not exist in Consul, it seems that this part of the documentation is not accurate since all the booths are physical booths associated with an address.

[2020-10-09 05:48] dlddld commented on #2624
aah ok ok, thank you

[2020-10-11 16:00] matisnape commented on #3559
@javierm done, although dunno if that's the good way to do it :)

[2020-10-11 19:40] DDQW opened #4197 "Install Error with Consul create:db fails"
Hi,

i am runnig Ubuntu 18.04 latest update

I installed git gh ruby-dev gcc make g++ bundler zlib etc.

the installation now works...

but

'bin/rake db:create
warning: parser/current is loading parser/ruby25, which recognizes
warning: 2.5.8-compliant syntax, but you are running 2.5.1.
warning: please see https://github.com/whitequark/parser#compatibility-with-ruby

[2020-10-12 10:58] javierm commented on #4197
Hi, @DDQW :smile:.

Make sure you've followed the steps in the PostgreSQL section in the [Ubuntu installation documentation](https://docs.consulproject.org/docs/english-documentation/introduction/local_installation/ubuntu). And then use the password you create there in your `database.yml` file, as mentioned in the [local installation documentation](https://docs.consulproject.org/docs/english-docum

[2020-10-16 10:28] javierm commented on #4124
@kuenka123 Muy buenas.

Me temo que los desarrolladores nunca hemos usado el servicio de Movistar que mencionas. Si quieres, puedes probar a poner tu pregunta en nuestro canal de slack o en [nuestra comunidad](https://community.consulproject.org/), ya que ahí habrá más gente que pueda haber estado en tu situación (esta página solo la leen los desarrolladores de CONSUL). Y, por favor, si lo consigu

[2020-10-19 15:47] javierm commented on #3559
Hound only barks when there are offenses in the changes you make; it doesn't say anything about code which this pull request doesn't touch. Otherwise all contributors would get hundreds of comments about long lines whenever they open a pull request, which would be really annoying.

Also note the long lines Rubocop rule uses the "refactor" severity, meaning we aren't very strict about that rule, al

[2020-10-19 16:44] #2628 closed

[2020-10-21 13:50] raoulkramer opened #4205 "New political language"
Hello I would like to have a separate language added to crowdin for political jargon/ terminology in English, Dutch and Georgian added to CONSUL. Thanks!

[2020-10-21 14:12] javierm commented on #4205
Hi, @raoulkramer :smile:.

I'm not sure I understand the issue. Could you provide some examples showing when this feature would be useful?

Thanks!

[2020-10-21 14:56] raoulkramer commented on #4205
Hi @javierm :+1: ,
We have been implementing Consul for political organisations for a while now. I think this year we will get to about 11 political organisations (time to get certified :grin: ).

The terminology used in political language is different, like proposal = motion , annotation = amendment ect. Normally we do this in the custom language files but that is risky and cumbersome. It would b

[2020-10-24 15:53] javierm commented on #4205
I see :thinking:.

I'm afraid enabling new languages in crowdin for these cases would be really hard to maintain. We're not talking about different languages here but about different terminology.

Besides, so far CONSUL is mainly used by political entities, so political language should be the default language :smile:. In the case of Dutch and Georgian, feel free to coordinate with other translator

[2020-10-25 13:22] #3559 closed

[2020-10-25 17:51] carlosiniesta commented on #3551
After one year... I'm back and this time
I added some specs, hopefully is useful.

[2020-10-25 21:31] carlosiniesta commented on #3552
Hopefully is not rude to add this PR. I was working on a previous one related to this one and can't resist...

[2020-10-27 10:16] javierm commented on #4197
@DDQW Are you still having this issue? :thinking:

[2020-10-27 21:41] Michael1337 opened #4223 "Add "target" to allowed_attributes of AdminWYSIWYGSanitizer"
### Description
When an admin creates a custom page, they can add links to other web sites and choose a target setting like "_blank". However, this target setting is currently lost during the sanitizing process.

### Current Behavior
The only allowed attributes are: [href] + [alt src align border cellpadding cellspacing dir style class summary scope id]

### Expected Behavior
The target attribute

[2020-10-27 23:31] Michael1337 opened #4224 "Follow proposal button not indicating actual follow state"
### Description

On Staging and Production, the "Follow citizen proposal" button seems to be bugged. When a user clicks the button and refreshes the page, the buttons shows as if the user is not following the proposal. The "follow" does get created and stored in the database, though, and the js refresh as well as the delete work properly. The same is true for the "Follow investment" button.
Also,

[2020-10-28 10:28] javierm commented on #4224
@Michael1337 Thanks for reporting! :smile: It looks like it's a cache issue. We'll have a look.

[2020-10-28 10:45] javierm commented on #4223
Hi, @Michael1337 :smile:.

We're currently thinking about doing the opposite: removing the "target" tab and reducing the amount of `target="_blank"` uses in the application. Opening links in new tabs/windows causes several usability issues (see [Jakob Nielsen on opening links in new windows and tabs](https://www.nngroup.com/articles/new-browser-windows-and-tabs/) or [when to use target="_blank"](h

[2020-10-28 11:15] Michael1337 commented on #4223
Hi @javierm ,

thank you for your replies! :)
We currently open new tabs for external PDF files and don't want the readers to get lost. I do agree with your provided articles (thanks!) in that it is not necessary to open those links in new tabs, but I still got to admit: I, personally, will always open them in a new tab to make it easier to remember how and why I got there, and I want the same for

[2020-10-30 10:40] raoulkramer commented on #4205
Ah I understand,

We testing now, if structured translation will work, with our local weblate environment for this specific type of language terminology. When is useful and manageable, I will let you know so we can see if it is interesting to migrate to Crowdin on a later point. Thanks again :thumbsup:

[2020-10-30 15:25] javierm commented on #4223
Hi, @Michael1337.

Regarding external PDFs, it depends on the brower and its configuration. In my case, for instance, I get lost when the PDF is opened in a new tab, since a new blank tab opens and then I'm asked whether I'd like to save or open the file, wondering what the new blank tab was about.

In the end, we cannot predict the behavior users are going to prefer, so keeping them in control of

[2020-10-30 15:47] Michael1337 commented on #4223
Hi @javierm ,

thanks again for your thorough explanation. For now, I actually did just do what I suggested with the title of this issue. So I guess I will just copy the old code in case the admin interface will get changed to remove the target tab. Or I will send the link to this issue to my supervisors, especially this bit:

👍

[2020-11-03 15:12] raoulkramer opened #4231 "Table of contents not working properly"
Hi,

It looks that with the update the **Table of contents** in /legislation/processes/1/draft_versions/1 is not working properly anymore since the current release. When I compare release 1.2 0 with 0.19 the latter has got the ability to scroll and have a proper overview.
Thanks

See the screen shots attached.

Good:
![table_good](https://user-images.githubusercontent.com/47716558/98003586-2d57090

[2020-11-03 15:33] javierm commented on #4197
Closing due to lack of response.

[2020-11-03 15:33] #4197 closed

[2020-11-03 15:55] raoulkramer commented on #4231
After refactoring (in vscode) consul/app/assets/javascripts/legislation_allegations.js the table layout improved. Only document scrolling should be separated from page scrolling as in "0.19"

[2020-11-03 16:01] javierm commented on #4231
Hi, @raoulkramer. Thanks for reporting!

I've tested in on version 0.19 and I get the exact same (buggy) behavior I get with version 1.2.0 :thinking:. No scroll in the table of contents, and the texts stay narrow until I start scrolling.

Can you link to a live version which is working as expected?

[2020-11-03 20:06] raoulkramer commented on #4231
Hi, @javierm , you can check it here https://ledenkamer.pvda.nl/legislation/processes/4/draft_versions/4 please be careful it is very live :smile: If I need I can give you access to the fork. Thanks again :+1:

[2020-11-04 09:28] javierm commented on #4231
Thanks for the link! I get the same behavior on that page. It looks this way if you open the contents and don't scroll:

![The table of content shows one word per line](https://user-images.githubusercontent.com/35156/98092955-95f1c480-1e87-11eb-9950-5538291d65de.png)

The problem with the width seems to be fixed with this patch:
[sticky.txt](https://github.com/consul/consul/files/5486831/sticky.tx

[2020-11-04 10:28] raoulkramer commented on #4231
So strange.. :thinking: this does now happen for the first time with me too... in the Brave browser it looks still to work as it suppose to work... We will check further on our side.

![table](https://user-images.githubusercontent.com/47716558/98100155-c1c57800-1e90-11eb-8638-c200ab16f27b.GIF)

[2020-11-08 23:41] jfoclpf opened #4240 "Configure with nginx and passenger"
I've been through the installation process and everything is running fine
I do `bin/rails s` and it works

Can someone just give me now a typical nginx configuration file with passenger?
I have this but it does not work

[code]

thanks a lot

[2020-11-09 00:02] jfoclpf commented on #4240
Found it, I had to change this line to

`rails_env    development;`

btw, this project does not support `production`? I don't see production in `Gemfile`

[2020-11-09 11:30] javierm commented on #4240
Hi, @jfoclpf :smile:.

When the environment is not specified in the Gemfile, the gem is installed on all environments (including production). Gems listed in a block using `group :development` are only installed in the development environment.

[code]

If you needed to add this line, I think something hasn't gone so well in the installation process :thinking:. Running a production server using the

[2020-11-09 12:04] jfoclpf commented on #4240
Hi @javierm
Thanks for the reply. You have to give me some tips here cause I'm not versed in ruby ;)

So, I forked consul and then I did from my forked repo

[code]

Then I restarted nginx with that above config file and it works.

What do I need exactly to install the production version? Just change the value of `RAILS_ENV`?

[2020-11-09 12:52] jfoclpf commented on #4240
I mean, the manual installation [instructions](https://docs.consulproject.org/docs/) are very good
I just need instructions on how to do manual installation on production. Sorry, I don't want to run an automatic installer, I'm afraid that is gonna mess with my server.

Now, I'm trying to run production and I get this error:
`Incomplete response received from application`

[2020-11-09 16:34] javierm commented on #4240
I understand you're trying to apply the same instructions used for development environments to production environments.

I'm afraid that won't work. Installation on a production environment requires different installer. A mentioned in consul/docs#98, have a look at the installer's code. Hope that helps!

Closing as duplicate of consul/docs#98.

[2020-11-09 16:34] #4240 closed

[2020-11-12 20:47] jfoclpf opened #4253 "Mail server issues"
## Problem
I can't put mail service to work, and I already tested my mail server and it is working perfectly (mailgun).

According to the [documentation](https://docs.consulproject.org/docs/english-documentation/introduction/servers/dev_mailserver) regarding configuration of the mail server, for production, it is mentioned to use the file `config/environments/production.rb` and then filling these

[2020-11-12 21:48] jfoclpf commented on #4253
This solution solved my problem
https://github.com/consul/consul/issues/1551#issuecomment-302652179

Particularly

[code]

[2020-11-12 21:48] #4253 closed

[2020-11-12 22:56] jfoclpf commented on #4253
`bin/rake db:migrate RAILS_ENV=production && bin/rake db:seed RAILS_ENV=production && bin/rake assets:precompile`

[2020-11-13 11:12] jfoclpf opened #4254 "Commands to run after code update"
Which exact commands should I run after changing the code, for example css files or config files?

I changed them and the site does not update. I tried to compile the assets or restart the server and nothing.

Thanks in advance

[2020-11-13 12:10] javierm commented on #4254
The recommended way is to change the code locally on your machine, upload it to the repository, and deploy with capistrano.

[2020-11-13 12:22] jfoclpf commented on #4254
Ok, I was trying to avoid Capistrano cause it is totally new for me, but I think I really have to study it :)

[2020-11-17 11:43] jfoclpf opened #4259 "How does a admin change the profile of a user?"
I have a colleague that registered and I want to make him also administrator.
Which file shall I edit?
Is it possible to upgrade an user to admin on the admin control panel?

[2020-11-17 14:31] #4231 closed

[2020-11-17 17:16] javierm commented on #4259
@jfoclpf a look at this [comment on issue #3950](https://github.com/consul/consul/issues/3950#issuecomment-619910184). Hope that helps!

[2020-11-17 17:16] #4259 closed

[2020-11-17 17:28] jfoclpf commented on #4259
Thanks a lot @javierm
It's not very intuitive though

[2020-11-17 17:30] domerackimark commented on #3542
I would like to work on this.  Can you help me get started?

[2020-11-17 17:31] jfoclpf commented on #3950
Thanks @javierm and @decabeza
btw, how to add to an user the role of Organisation? That method you mentioned does not work

[2020-11-18 15:32] javierm commented on #3542
Hi, @domerackimark! Thanks for volunteering :pray:.

The first step would be trying to reproduce the bug on your machine. Then, writing a test which fails because of this bug would be awesome.

[2020-11-19 10:13] taitus commented on #3950
Hi @jfoclpf

It is not possible to add a user to the organization role through the administration panel.
This role works differently from the others as it needs a name for the organization and a name for the responsible person.

A user with an organization role is created from the sign up, through the link:
![Organization sign up](https://user-images.githubusercontent.com/16189/99652312-f5d79600-2

[2020-11-19 13:19] jfoclpf commented on #3950
Thank you very much @taitus
yes, now at see that organizations must register at `/organizations/sign_up`

[2020-11-19 16:19] #3640 closed

[2020-12-10 10:22] silberzwiebel commented on #3950
As I was stumbling over this issue and couldn't find the answer you were writing about, here is what I finally found out (please change this in the UI :) ) for the hopeful benefit of future readers:

If you want to give a user higher rights (e.g., moderator, valuator etc.), you have to

- click on the corresponding group in the left panel
- search for the user you want to give the rights in the se

[2020-12-10 12:43] javierm commented on #3950
@silberzwiebel Thanks! I'm pretty sure there was an answer by decabeza saying what you just mentioned, but I can't find it anymore.

[2020-12-16 14:02] raoulkramer opened #4290 "user can still vote on comment annotations when legislation process is closed"
After the legislation process period is closed the user can still vote on a annotation comment via the direct link to the comment, for example https://consulproject.org/comments/1234

User share these links to their annotations to collect votes via social media

When screenshots are needed let me know.

[2021-01-15 12:28] TheJoKlLa opened #4316 "Dockerfile: ruby version is incompatible"
### User Story
Test consul for my university

### Why is this Needed?
Dockerfile should be correct in master branch

### Description
*Type*:Bug

Dockerfile is not building

docker-compose error message:
capybara-3.33.0 requires ruby version >= 2.5.0, which is incompatible with the

[2021-01-16 03:43] AEGEGE opened #4317 "Consumer generates a copy when registering a service through the HTTP API"
I deploy a consul cluster with three nodes, all in the role of server. After the deployment is completed, kv has achieved high availability, but when I register the service through one of the nodes, I found that the registered service cannot automatically generate a copy. Is there a way to register Does the service automatically generate a copy?

[2021-01-16 13:48] javierm commented on #4317
I'm sorry; I'm afraid I'm not following what you're trying to do.

Would it be possible that your issue is related to [Hashicorp's Consul](https://github.com/hashicorp/consul) (which is a different software)? :thinking:

[2021-01-16 13:49] javierm commented on #4316
Thanks for reporting! We'll have a look at it before releasing version 1.3 (which doesn't have a date yet).

[2021-01-17 03:31] AEGEGE commented on #4317
sorry,there's a mistake

[2021-01-17 03:31] #4317 closed

[2021-01-18 22:10] Nudin opened #4319 "Link Website in github"
Is there a reason why the project homepage is not linked in the Github metatdata? This isnot only handy, since the link can be found always at the same position, it is also machine-readable and can therefore be checked/synced with other databases and knowledge graphs.

For better understanding, it about that there is no link to be seen here:
![Bildschirmfoto](https://user-images.githubusercontent.

[2021-01-18 23:49] javierm commented on #4319
Thanks for reporting! Fixed.

[2021-01-18 23:49] #4319 closed

[2021-01-19 14:47] mchisnerman3 opened #4321 "undefined method `title' for nil:NilClass"
Hola, me tira este error cuando quiero moderar comentarios.

undefined method `title' for nil:NilClass
![Sin título](https://user-images.githubusercontent.com/21108629/105050009-0e5e2f80-5a4c-11eb-938c-09d61ad037f1.png)

[2021-01-20 16:14] javierm commented on #4321
No sabría decir seguro, pero tiene pinta de que hay algún comentario que se ha quedado "huérfano". Es decir, se hizo un comentario en un debate/propuesta/etc. y dicho debate/propuesta/etc. fue eliminado :thinking:. ¿Es posible que hayas eliminado datos manualmente de la base de datos?

[2021-02-09 16:14] raoulkramer opened #4351 "Update Dockerfile to Ruby 2.6.6"
Hi all!

It would be good to upgrade the Dockerfile following the prerequisites: Ruby 2.6.6, In production the builds are tested and work well. Thanks Raoul

[2021-02-12 15:25] taitus opened #4355 "Check target attribute in links"
### Description
*Type*: Bug

### Current Behavior
When I click a link which mentions it opens in a new window, it does not open in a new window.

### Expected Behavior
When I click a link which mentions it opens in a new window, it opens in a new window.

### Steps to reproduce
1. Go to sign_up page
2. Click on `terms and conditions of use`

[2021-02-12 15:57] taitus opened #4356 "Unify verifications text after registration"
### Description
- With skip verification set to true
When a user registers and access to `My account` page the text `*Only for users on Census` appears, which makes no sense because there is no concept of Census.

![Captura de pantalla 2021-02-12 a las 10 52 30](https://user-images.githubusercontent.com/16189/107788680-fcbd2e80-6d50-11eb-8a9e-b869c6464d6f.png)

- With skip verification set to fals

[2021-02-16 20:24] Isaius commented on #4355
By that you mean a new tab?
You're right. It really says that but opens in the same window.
In [this line](https://github.com/consul/consul/blob/63820fb59fa4f9af0d1d6f13b50a9ec2756f2b02/app/views/users/registrations/new.html.erb#L44) the target is set to "_blank", but the page doesn't contain that.

![image](https://user-images.githubusercontent.com/37005228/108117529-c696ec00-707b-11eb-9abd-bd580

[2021-02-17 11:14] TomClive commented on #2698
We've now managed to successfully integrate Omniauth-Saml with Consul for the Scottish Councils and are testing at the moment. There are so many configurable options with Omniauth-Saml that it takes a bit of time to create something that is customisable and usable for different cases. We have a branch with the basic integration but to get it working on our site (due to Security Options/CSRF/Name F

[2021-02-17 16:40] javierm commented on #4355
@Isaius Yes :wink:.

[2021-02-17 17:43] Isaius commented on #4355
I'll try to find it out why isn't working.

[2021-02-17 19:49] Isaius commented on #4355
I've found the cause. The ActionView Sanitizer helper isn't allowing the target tag. As you can see [here](https://api.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html)

Just adding this to the `application.rb` file solves the problem.

[code]

[2021-02-17 20:33] efgalvao commented on #4017
Can I try this one ?

[2021-02-17 20:53] efgalvao commented on #4013
So the limit should be higher or there is a way to apply the validation before converting ?

[2021-02-18 16:04] Isaius commented on #4355
Reading the #4223 issue I think that's intentional, @javierm ?

[2021-02-18 17:33] javierm commented on #4355
@Isaius It's something that might need debate in the future :thinking:. In the meantime, we're trying to keep the behavior we had in version 1.0.

Regarding this issue, maybe we could allow the `target` attribute when [sanitizing check box labels](https://github.com/consul/consul/blob/master/lib/consul_form_builder.rb#L24) :thinking:. Do you think it sounds reasonable, at least for now?

[2021-02-18 18:44] Isaius commented on #4355
I think so. Open the terms in a new window makes more sense to me, since stop the registration to read them, then comeback to the page may lead the user to close that tab instead of backwards one page, losing the already inserted data.

[2021-02-19 15:51] Isaius commented on #4355
@javierm You mean adding `target` to [this line](https://github.com/consul/consul/blob/2490d5e2093e682f31263fe4ff8a9514ff6d40a2/lib/wysiwyg_sanitizer.rb#L7)?
If so, tried that and not worked.

[2021-02-19 16:32] javierm commented on #4355
I was wondering whether it would be fine to add an `attributes` param in the call to `sanitize` when [sanitizing check box labels](https://github.com/consul/consul/blob/master/lib/consul_form_builder.rb#L24) in order to include the `target` attribute.

[2021-02-20 00:39] javierm commented on #4013
Hi, @efgalvao :smile:. That's a great question!

Ideally we would change the minimum length validation rule so it doesn't take tags into account :thinking:.

[2021-02-21 18:28] efgalvao commented on #4013
I think that too. What length you think would be good ? 30 ? 50 ? I can change that for you if you wish.

[2021-02-21 19:58] efgalvao commented on #4017
This is something that the team wants to implement @javierm ? I think  can implement this.

[2021-02-22 18:57] javierm commented on #4013
Thanks for your collaboration! :tada:

Just to clarify: what I mean is keeping the minimum length at 10 characters, but changing the validation rule so instead of checking the whole string (`<p>a</p>\r\n` in the example), it checks the string after removing the HTML tags and trailing spaces/newline chatracters (`a` in our case).

[2021-02-22 18:59] javierm commented on #4017
Hi, @efgalvao :smile:.

We haven't decided whether to implement this issue yet.

[2021-02-25 16:29] efgalvao commented on #4013
Ok.

[2021-02-26 19:06] efgalvao commented on #4013
Hi @javierm , I'm having a bit of difficulty validating the length of the Description translations. I can check the string after removing the HTML tags and everything else with no problem. Do you have any advice ? I'm not used to globalize gem.

[2021-02-27 14:25] javierm commented on #4013
@efgalvao Could you paste (or link to) the code you've written so far?

[2021-03-02 17:34] efgalvao commented on #4013
@javierm
I've tried some approaches
Custom method:
[code]
I've tried with a custom validator and with virtual attributes too.

![9](https://user-images.githubusercontent.com/61836657/109689622-3f11a880-7b64-11eb-972b-da021bdb7583.png)
![ok](https://user-images.githubusercontent.com/61836657/109689634-42a52f80-7b64-11eb-92fd-d65f5f51ddb2.png)
![too_long](https://user-images.githubusercontent.com/61

[2021-03-09 13:23] javierm commented on #3531
Hi, @PierreMesure :smile:. I can't reproduce this issue on the latest `master` branch. Could you confirm whether it's still happening?

Thanks!

[2021-03-14 15:54] javierm commented on #4013
Maybe I'm not following what's going on :thinking:. Since you mentioned you were having difficulties, I thought the code wasn't working, but in the screenshots things seem to be fine :thinking:.

By the way, could you add some test cases for what you're implementing? :pray: This way it's much easier to check whether the code is working :smile:.

[2021-03-14 22:59] tmulzer opened #4395 "Can't create a new Investment - no checkbox for privacy policy displayed."
### User Story
As a manager user, I want to create a budget investment so that a new budget investment is available.

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
If I login as a manager-user, I can't create a budget investment, as the checkbox for privacy policy and terms and conditions is not avail

[2021-03-14 23:10] tmulzer commented on #4395
![Screenshot_20210315_000955](https://user-images.githubusercontent.com/13216768/111087618-e1496d00-8522-11eb-9a28-ab19b9c79c2e.png)

[2021-03-15 02:40] tmulzer commented on #4395
Looks like as if
`<% unless current_user.manager? %>`
in _form.html.erb doesn't really make sense.

I might be wrong .. don't know ruby, by now.

[2021-03-15 03:00] tmulzer commented on #4395
Looks like supposed behaviour .. a manager should only create investments for other verified users.

[2021-03-15 03:00] #4395 closed

[2021-03-16 16:37] taitus opened #4399 "Create the default custom pages in all available languages"
### Description
Every time an institution installs CONSUL it runs `rake db:seed` task.
In this rake task the following line is executed:
[code]
Currently these `custom pages` are only created in the main language.

### Current Behavior
`custom pages` are only created with the default locale.

### Expected Behavior
`custom pages` are created with all available locales.

[2021-03-18 12:58] mrdocR opened #4403 "6"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe what actu

[2021-03-18 13:31] javierm commented on #4403
@mrdocR I guess this one was opened by mistake :thinking:. Feel free to reopen if that weren't the case.

[2021-03-18 13:31] #4403 closed

[2021-03-19 22:51] egobsv opened #4405 "Option to Hide Comments"
### User Story

[comment]: # As a an admin for a collaborative legislation proposal I want to be able to  only show comments from the current user and hide comments other users have made.

### Why is this Needed?

[comment]: # Users some times digress, move away from the legislation proposal's text and keep commenting on each other ideas.

### Description

[comment]: # (Feature or Bug? eg. Type: B

[2021-03-20 16:40] jakrzus commented on #4399
I tried to fix it but can't save more than one page, as the `:slug ` must be unique.
My idea was to go by each available locale and  create a new page with different `:locale`.
Any sugestions?

[2021-03-20 17:15] javierm commented on #4399
Hi @jakrzus :smile:. Thanks for having a look at this issue.

The idea is to use the `translations` association of the `SiteCustomization::Page` model. That way translations for many languages can be created for a single page, and so the `:slug` is still unique.

[2021-03-20 19:39] jakrzus commented on #4399
Fantastic. I think I've got it working now.
I'm just not sure what specs would you expect me to write.

[2021-03-20 22:26] jakrzus commented on #4399
Created pull request draft with what I currently have.
There is a problem with generating accessibility page for three languages(**fa**, **id** and **it**), so for now i omitted those three.
``
The problem is in line 32  `<td class='text-center'>#{row[:key_column]}</td>`
[code]

I think it's something to do with formating in translation files and I18n reads some rows as nil. I'll try to figure it

[2021-03-21 13:32] vinxenxo opened #4436 "docker-compose build error"
Hi there!! I'm trying to build and up a consul project with docker-compose

I have all the requisites installed
I follow all the instructions and I test it locally and consuls deploy to web and runs fine
but when build the containers on the same enviroment to run in a docker production env
get this error when execute

$ sudo docker-compose run app rake db:create
[...]
Successfully tagged consul_ap

[2021-03-22 13:09] efgalvao commented on #4013
The code is working, but it works differently from the validation with: `  validates_translation :description, presence: true, length: { in: 10..Debate.description_max_length }
`
My code verify the description which was written before anything else. But with the ` validates translation` he checks the length in a different way. I'm working on it.

[2021-03-22 20:04] jakrzus commented on #4399
The errors were caused by unnecessary dashes in translation files. After deleting everything seems to work fine. The created pull request is ready for review.

[2021-03-25 09:41] raoulkramer commented on #4436
Hi @vinxenxo you could give a try with our docker related files >> https://file.participation.tools/f.php?h=3L36DBL5&d=1 works smooth for us (also added the .env file voor development) Cheers,

[2021-03-26 11:55] raoulkramer commented on #4351
On advise of @javierm we should leave it on prerequisites: Ruby 2.5.8

[2021-03-28 19:02] glicerico commented on #4436
Thanks for the files @raoulkramer , I think there's a missing script, though:
[code]
And the file doesn't come in the zip

[2021-03-28 20:09] glicerico opened #4447 "Mimemagic 0.3.5 has been yanked"
### User Story
I want to install consul locally.

### Description
Installation fails when running `bundle` because it doesn't find `mimemagic-0.3.5`

### Steps to reproduce
Go through installation steps in a clean system.
Run bundle

### Definition of Done
Need to upgrade mimemagic version

[2021-03-28 20:14] glicerico commented on #4447
I just realized I was using the wrong remote to pull latest changes.
This issue was addressed 3 days ago by: https://github.com/consul/consul/commit/e34f8fcbf2b14d3199c8bfe23d82291b590cd409

[2021-03-28 20:14] #4447 closed

[2021-03-29 07:17] raoulkramer commented on #4436
hi @glicerico , Sorry my mistake, I was testing a script but that didn't work. So please take line 20 < COPY scripts/tmp-cleanup.sh /usr/local/bin/tmp-cleanup.sh > out of the dockerfile.

[2021-04-05 09:01] #4223 closed

[2021-04-05 09:05] #4254 closed

[2021-04-05 09:17] javierm commented on #4351
Yes, that's correct for version 1.2.0. If you're using our current master branch (which can be considered a pre-1.3.0 version), use Ruby 2.6.6. I've opened pull request #4462, which will be included in version 1.3.0.

[2021-04-05 09:18] javierm commented on #4321
Closing due to lack of feedback.

[2021-04-05 09:18] #4321 closed

[2021-04-08 21:42] jakrzus commented on #4399
#4434 Has been merged.
I think that solves this issue @taitus

[2021-04-08 22:28] jakrzus opened #4468 "Bundle install fails caused by mimemagic gem"
### User Story

As user runs `bundle instal` installation fails

### Why is this Needed?

To install gems

### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
gem _mimemagic_ yanked all versions prior to 4.0 to resolve its licensing issues. ActiveRecord depends on this gem. It causes all bundle installs to f

[2021-04-09 10:23] javierm commented on #4399
Yes, thanks! Closed by #4434.

[2021-04-09 10:23] #4399 closed

[2021-04-09 10:32] javierm commented on #4468
@jakrzus We addessed this issue in pull requests #4439 and #4444.

MImemagic yanked all 0.3.x versions but then released more versions and [version 0.3.8 seems to be up](https://rubygems.org/gems/mimemagic/versions/0.3.8) :thinking:.

Even if Rails doesn't depend on mimemagic anymore, we still depend on it because we use paperclip, so updating Rails would not solve the problem.

Could you paste th

[2021-04-12 16:55] jakrzus commented on #4468
@javierm  thanks for replying.

 The error i get is:

[code]
### Solution
My workaroud with current rails **5.2.4.5** was copying manually `freedesktop.org.xml` to  `usr/local/share/mime/packages/freedesktop.org.xml`

As I said before, with rails updated to **5.2.5** bundle install was successful without any workarounds

[2021-04-12 18:04] javierm commented on #4468
@jakrzus Does it work if you install `shared-mime-info` (installed by default in most GNU/Linux distributions)? That package provides `/usr/local/share/mime/packages/freedesktop.org.xml`.

Both `paperclip` and `caxlsx` depend on `mimemagic`, so even if `bundle install` was successful (not sure why it was successful, though :thinking:) you'll still need the `freedesktop.org.xml` file.

[2021-04-13 11:48] #3551 closed

[2021-04-13 12:07] #4224 closed

[2021-04-13 16:31] #2149 closed

[2021-04-14 10:36] markmaas commented on #2744
Agreed, without beeing able to remove it, one is basically forced to enable it, otherwise the website is just "broken".

[2021-04-14 12:02] #1363 closed

[2021-04-14 14:35] javierm commented on #2744
@markmaas You can disable these features in the admin section -> Settings -> Global settings -> Features. Here's a link to [enable/disable those features] in our demo.

[2021-04-14 14:42] javierm commented on #2767
Closed via #4443.

[2021-04-14 14:42] #2767 closed

[2021-04-14 14:44] javierm commented on #2855
Closed via #4448.

[2021-04-14 14:44] #2855 closed

[2021-04-14 14:46] javierm commented on #3681
Closed by #4448.

[2021-04-14 14:46] #3681 closed

[2021-04-14 14:48] javierm commented on #2980
Closed by #4455.

[2021-04-14 14:48] #2980 closed

[2021-04-14 14:58] javierm commented on #4436
Quoting [a comment in #3588](https://github.com/consul/consul/issues/3588#issuecomment-650465612) (by @asolera ):

[code]

[2021-04-14 14:59] javierm commented on #3588
Closing in favor of #4436. Even if this issue was created first, #4436 is in English and has more information.

[2021-04-14 14:59] #3588 closed

[2021-04-14 15:04] #4468 closed

[2021-04-14 15:05] javierm commented on #4468
@jakrzus We've updated the README to include the `shared-mime-info` dependency. Let us know if you still have this issue after installing it!

[2021-04-15 11:31] #4316 closed

[2021-04-15 11:31] #4351 closed

[2021-04-16 09:18] raoulkramer opened #4477 "postgresql version upgrade"
Hi all,

I read on the website https://www.postgresql.org/

Would it be an idea to upgrade de postgres version?

### README.md
41. Prerequisites: install git, Ruby 2.6.6, CMake, pkg-config, shared-mime-info, Node.js and PostgreSQL **(>=9.4)**.

### docker-compose.yml
8.    image: **postgres:9.4.5**

Thanks!

[2021-04-16 10:09] javierm commented on #4477
@raoulkramer Thanks for reporting! I've opened #4478 to solve it.

[2021-04-17 16:25] jakrzus commented on #4468
I use macOS Big Sur 11.2.3
I had to copy the `freedesktop.org.xml` file manually, because `brew install shared-mime-info` was failing.
After your suggestion i deleted the file and tried again with
`HOMEBREW_NO_AUTO_UPDATE=1 brew install shared-mime-info`
This time with `HOMEBREW_NO_AUTO_UPDATE=1` installation was successful, and the `bundle install` issue is gone. Thanks for addressing it in READM

[2021-04-21 15:10] edidada opened #4485 "systemctl start consul not success"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
centos 7 systemclt start consul

ExecStart=/usr/bin/consul agent -server -bootstrap-expect 1 -ui -bind 10.23.29.39 -config-dir=/etc/consul.d/  -client 0.0.0.0

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to ha

[2021-04-21 15:19] javierm commented on #4485
Hi, @edidada :smile:.

I think you're looking for the [Hashicorp's Consul repository](https://github.com/hashicorp/consul).

Cheers!

[2021-04-21 15:19] #4485 closed

[2021-04-23 10:50] #4477 closed

[2021-04-29 09:54] decabeza opened #4498 "Error 422 when try to add existing related content"
### Description

Error 422 when try to add existing related content.

### Steps to reproduce

1. Visit a relatable content, for example the [proposal one](https://demo.consulproject.org/proposals/1-strategic-plan-for-a-100-green-city).
2. Clic on "Add related content" and add other proposal URL, for example [proposal two](https://demo.consulproject.org/proposals/2-the-right-to-play-for-a-more-chil

[2021-04-29 11:19] javierm commented on #4498
Thanks for reporting! :pray: It looks like this bug was introduced in commit 7ca55c44e04. Before that commit, a message saying "You added a new related content" was shown, but (as expected) the related content wasn't added twice.

[2021-05-05 10:21] javierm commented on #4124
Closing due to lack of response.

In case this is still needed, concello-santiago-de-compostela#19 implements SMS using the Movistar API.

[2021-05-05 10:21] #4124 closed

[2021-05-18 07:47] pwilimzig commented on #3970
+1 We have the same problem with https://beteiligung.bad-belzig.de/

[2021-05-29 12:28] #4011 closed

[2021-06-08 08:55] cmllr opened #4540 "Translation override can't be changed if done the second time"
### Description

*Type*: Bug

The user defined text blocks (/admin/site_customization/information_texts) cannot be updated if there is already a text value saved in the database.

### Current Behavior

1. Adjust the value using the textboxes
2. Save
3. The value is changed
3. Try to adjust it again
4. Save
5. The value is not changed

### Expected Behavior

The value should be updated after the se

[2021-06-08 20:03] rhian-cs commented on #4015
Hello, may I give this issue a try?

[2021-06-15 12:15] andyjdavis commented on #2709
Hi. I have raised a PR that I believe resolves this. https://github.com/consul/consul/pull/4538

[2021-06-25 15:31] #4498 closed

[2021-06-30 12:23] alexbg opened #4570 "Verified by email has permissions for support Proposals and take part of final voting"
Hello everyone.

I am having some troubles with verified users.
Every user that is verified by email, has permissions to support Proposals on a Participatory budgets and take part of final voting, but its account is not linked with the census.

Is there anything that I have to set to make that happen? or is it the default behaviour?

Thank you so much.

[2021-07-01 09:40] #4570 closed

[2021-07-02 07:55] alexbg opened #4576 "How can I prevent the users from voting until they are on census?"
Hello everyone.

I am trying a fresh new installation of consul and users are able to support proposals and participate in final voting even when they are not on census. According to the documentation, they shouldn't be able to do so:
[https://consulproject.org/docs/consul_participatory_budgeting_es.pdf](https://consulproject.org/docs/consul_participatory_budgeting_es.pdf)

• En la fase de votació

[2021-07-02 09:07] Senen commented on #4576
Hi @alexbg,

New CONSUL installations use a feature called "Skip user verification" by default. This feature is helpful for instances that do not have a census web service to connect. When this feature is enabled, users are not required to be verified to participate.

To enable the remote census integration, you will have to disable the feature "Skip user verification" and enable and configure the

[2021-07-02 09:25] alexbg commented on #4576
it is fixed, thank you so much.

[2021-07-02 09:25] #4576 closed

[2021-07-09 12:35] Ourithi opened #4584 "can't modify translation text"
### User Story

I would like the french translation files to translate the "ahora no mismo..." displayed on the main page in case of no_item

### Why is this Needed?

This is needed because the translation is incomplete

### Current Behavior
Currently there is no translation for the case where no proposal/debate/process is active

I modified the /es/general.yml file, the /fr/general.yml file and a

[2021-07-09 13:30] javierm commented on #4584
Hi, @Ourithi :smile:. Could you link to the code of the branch where you're trying to change these translations?

[2021-07-12 07:52] Ourithi commented on #4584
I'm not sure if that's what you want but here: https://github.com/consul/consul/blob/2b8330691cab319a50658dac82dc7060d39ff4ca/config/locales/es/general.yml
it's on lines 881-883

[2021-07-13 21:37] javierm commented on #4584
Hi, @Ourithi.

For this specific text, you can edit it in the admin section. You can try it out in [the official demo custom information texts section](https://demo.consulproject.org/admin/site_customization/information_texts?tab=welcome). The needed username and password appear at the top of the screen; feel free to sign in and experiment.

If at a certain point you'd like to change things which

[2021-07-16 06:53] Ourithi opened #4591 "Can't change language"
I'm trying to complete the french translation of consul but modifying the yml files does squat. Does anybody have a detailed solution as to how I can finish the translation AND implement it in my production server?

Thanks in advance

PS: I'm running on debian 10 buster

[2021-07-16 11:16] javierm commented on #4591
Hi, @Ourithi.

Did you try what I mentioned in issue #4584?

[2021-07-16 11:18] javierm commented on #4591
If you're interested in contributing your translations to the whole CONSUL community, you can add your translations the [CONSUL Crowdin project](https://crowdin.com/project/consul) and they will be included in the next CONSUL version :tada:.

[2021-07-16 11:36] decabeza opened #4593 "Allow deleting legislation proposal's categories"
### Description

Administrators can create categories for the proposal phase of the processes from `/admin/legislation/processes/n/proposals`.

These categories are **Tags** with the `context: "customs"`. These categories don't render anywhere, so the admins can't delete them.

For example:

- An administrator adds the category: `My Custom Category` to the process.
- Try to change to `my custom ca

[2021-07-16 11:56] javierm commented on #4584
Continuing the conversation in #4591.

[2021-07-16 11:56] #4584 closed

[2021-08-06 14:07] javierm commented on #4591
Closing due to lack of response.

[2021-08-06 14:07] #4591 closed

[2021-08-06 15:33] javierm commented on #4540
@cmllr Thanks for reporting :pray:.

I can confirm this bug, but only when the second time the translation is updated to its original value. Updating it to other values works properly. Could you confirm that's the behavior you're getting?

[2021-08-10 06:59] cmllr commented on #4540
hey @javierm thank you for responding! That is exactly the issue we faced!

[2021-08-11 09:47] hhandy opened #4644 "Read a Policy by Name failed"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
when i query a policy by it's name, I want to get a 200 response from consul, but give me 500

### Why is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happened)
I want to update my policy, but

[2021-08-11 12:31] javierm commented on #4644
@hhandy I think you're looking for the [Hashicorp's Consul](https://github.com/hashicorp/consul) repo :wink:, which is not related to this project (although unfortunately we share the same name).

[2021-08-11 12:32] #4644 closed

[2021-08-13 03:57] microweb10 opened #4659 "Error when combining investments advanced search with filtering"
### Description

An error is raised when combining advanced search and filtering for budget investments.

### Steps to reproduce

1. Visit the [list of investments](https://demo.consulproject.org/budgets/1/investments?heading_id=1) for a participatory budget.
2. Click on advanced search
3. Fill the field **With the text** with any text
4. Select **Last 24 hours** from the selector **By date**
5. C

[2021-08-13 11:47] javierm commented on #4659
Was wondering about how to get this exception when we saw it yesterday in the demo. Thanks for reporting! :pray:

[2021-08-14 01:38] microweb10 commented on #4659
That was actually me testing in the demo 😛

[2021-08-17 12:04] #2709 closed

[2021-08-23 20:44] ProgrammingVibes opened #4666 "docker build: executor failed running [/bin/sh -c bundle install --full-index]: exit code: 7"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*: Bug
Docker build fails due to `bundle install --full-index` failing.

### Current Behavior
[comment]: # (Describe what actually happened.)
ran `docker build .` with `Dockerfile` as the following:

[code]

The following was outputted:
[code]

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
Expected imag

[2021-08-24 16:53] javierm commented on #4666
Hi, @ProgrammingVibes :smile:.

I can't reproduce this issue :thinking:. It works properly on both my machine and our CI.

Maybe there was some kind of issue with rubygems at the time you executed the command :thinking:. Does it still happen if you run it again? Given the steps you mention, I take it you didn't change anything in the Gemfile nor any other file, right?

[2021-08-24 22:36] ProgrammingVibes commented on #4666
Made no changes to any file, just cloned, went into the `consul/` folder, and built. Ran it again and hit the same issues.

Perhaps we are using docker on different environments? I am currently running it on a non-activated Windows 10. Here is my environment information (grepped out sensitive information):

[code]

[2021-08-25 00:22] ProgrammingVibes commented on #4666
Not a fix, but a minor workaround:

add `RUN bundle`  prior to `RUN bundle install --full-index` in the Dockerfile. At that point `RUN bundle install --full-index` might just be a redundancy, and the image could build successfully either way. I am just unsure if this will cause dependency issues down the line.

[2021-08-25 02:03] ProgrammingVibes commented on #4666
It's as expected, changing the dockerfile is giving me errors down the road even though it resolves build errors. This is a known problem, there is no docker setup process for Windows at the moment:

https://github.com/consul/docs/blob/master/en/installation/docker.md

[2021-08-28 23:13] #4013 closed

[2021-09-02 14:03] mbreslein-thd opened #4688 "ActionController::InvalidAuthenticityToken on Local installation Login"
### Description

[comment]: # (Feature or Bug? eg. Type: Bug)
*Type*:Bug

I set up a Local Installation on an Ubuntu-Machine. Because we want to test it with multiple people (and accessing port 3000 from a different PC in the network didn't work)  I set up an reverse-proxy with nginx to access consul on port 80.
Clicking trough it works fine but the login with the given credentials is broken.

###

[2021-09-03 10:55] javierm commented on #4688
Hi, @mbreslein-thd :smile:.

This looks like a problem related to integrating a Rails application with the nginx reverse proxy. We don't have much experience with setting up reverse proxies in development, so here are some results found after a quick search:

* [InvalidAuthenticityToken in Rails 5 behind Nginx using SSL](https://stackoverflow.com/questions/34655545/invalidauthenticitytoken-in-rail

[2021-09-03 11:45] mbreslein-thd commented on #4688
Thanks for the pointers.
(I totally forgot that I could just google it)

In case someone in the future has the same problem as me, here's a nginx-config that works:
[code]
Just replace <Your_SERVER_NAME>, <SSL-CERT> and <SSL-KEY> and it works.

[2021-09-03 11:45] #4688 closed

[2021-09-08 14:56] #4540 closed

[2021-09-14 10:48] taitus opened #4697 "List of investments does not display the images correctly in Chrome"
### Description
In the PR Preview list of investments #4507 we added a list of investments on public budget page.
It seems to work correctly in Firefox/Opera/Safari but not in Chrome.

### Steps to reproduce
1. Create a Budget in "accepting projects" phase
2. Create a budget investment without image
3. Render public budget page

### Current Behavior
![Captura de pantalla 2021-09-14 a las 12 31 36]

[2021-09-15 18:58] ardichoke opened #4700 "Inject tags in SRV Records"
### User Story

As a Consul user, operating a service, I want to deploy a new cluster running an updated version of my software which clients discover using SRV records. Unfortunately, the client uses hardcoded names for the service (`_service._tcp`). By being able to add a version tag to a service, and having it injected into the SRV records, like what happens with A records, I'm able to do servi

[2021-09-15 19:43] javierm commented on #4700
@ardichoke Not sure what you're talking about :thinking:. Could it be you're looking for [Hashicorp's Consul](https://github.com/hashicorp/consul)?

[2021-09-15 19:59] ardichoke commented on #4700
... wow.... yeah, this is what happens when I try filing an issue while also debugging something. Sorry.

[2021-09-15 19:59] #4700 closed

[2021-09-15 20:40] #4659 closed

[2021-09-17 18:38] javierm commented on #4697
@taitus Which version of Chrome are you using? I'm using Chromium 91 and can't reproduce the issue :thinking:.

[2021-09-21 09:47] taitus commented on #4697
It works fine for me with Chromium version 81.0.4044.0
But it displays badly with Chrome version 93.0.4577.63

[2021-09-21 15:19] #2850 closed

[2021-09-23 21:31] Lukas2112 commented on #4436
Hello, I had the same problem under Debian 11 in a VirtualMachine (VirtualBox) - now the question, how did you enter "$PWD" in app and volume? Could you maybe show your final docker-compose.yml, @javierm ?

[2021-10-06 17:58] chkoun opened #4706 "New languages ber-tif"
Hello,
I would like to have a new language added to CONSUL in order to translate it :
Code : ber
Name : Berber language
Alphabet : Tifinagh ( left to right )
Regards

[2021-10-06 18:19] javierm commented on #4706
@chkoun Thank you very much! :tada:

We handle our translations through Crowdin. I've just enabled the [Berber language in CONSUL](https://crowdin.com/project/consul/ber). Feel free to start adding translations there :smile:.

Looking forward to adding the Berber language to CONSUL!

[2021-10-16 22:03] matisnape commented on #2678
Hi, is that still relevant?

[2021-10-17 02:48] javierm commented on #3531
I can confirm it's still happening in the latest master branch.

[2021-10-17 02:54] javierm commented on #3423
Closed via #4504.

[2021-10-17 02:54] #3423 closed

[2021-10-17 03:19] javierm commented on #2678
@matisnape Still relevant, thanks :smile:. However, I've removed the "Good first issue" label since this is actually a pretty complex one. Feel free to give it a try, but don't feel forced to do so.

[2021-10-17 03:25] javierm commented on #4290
@raoulkramer Is this a duplicate of #3553, or are we talking about different comments? :thinking:

[2021-10-17 15:21] javierm opened #4713 "Flaky specs: Legislation Draft Versions annotations"
## References

* Pull request https://github.com/consul/consul/pull/4284 was an attempt at fixing this problem

## Background

We're selecting a word using a double click. However, the test fails sometimes when styles such as font family, font size or the element's width change, since the double click takes place in the middle of the element and it's possible that the middle of the element contain

[2021-10-17 18:46] javierm commented on #4290
Closing then as duplicate of #3553 :+1:.

[2021-10-30 12:29] javierm commented on #4666
Hi, @ProgrammingVibes :smile:. With the documentation you added, is this issue still relevant? :thinking:

[2021-10-30 12:33] javierm commented on #4436
Hi, @Lukas2112 :smile:.

That wasn't my configuration; I was just quoting a comment. Wish I knew more about this topic!

[2021-10-30 12:41] javierm commented on #4133
Looks like both Safari and Firefox have added support for this element in 2021. Combined with the fact that a year has gone by since the last update, now at least [76.6% of the browsers support this field](https://caniuse.com/mdn-html_elements_input_input-datetime-local), so I think it makes sense to add this input and provide a date field as a fallback :thinking:.

We'll have a look at it :+1:.

[2021-10-30 14:36] raoulkramer commented on #4436
Maybe we could settle on a "final" docker-compose.yml file when the server.pid issue is solved in #4685

[2021-10-31 11:04] Lukas2112 commented on #4436
When deploying via docker-compose, I also get an error "chgrp: cannot access" '': No such file or directory"

[2021-10-31 11:08] Lukas2112 commented on #4436
Anyone else also?

[2021-10-31 11:20] Lukas2112 opened #4723 "Integration into FLOSS "OpenSlides"
### User Story
I have been working with open source software and public administration in my spare time for some time and have found Consul and OpenSlides that I think could work well together.

### Why is this Needed?
To be able to make local initiatives really become something, like do-foss (do-foss-de) in Dortmund, Germany - only faster and also really.

### Description
*Type*: Feature

So that

[2021-11-02 07:59] tisserapac opened #4724 "New language"
Hello I would like to have my language Thai added to CONSUL

[2021-11-02 09:06] Senen commented on #4724
Hi @tisserapac 👋🏼 , I've just added [the Thai 🇹🇭 language to the Crowdin platform.](https://crowdin.com/project/consul/th). You can add translations there.

If you need help, feel free to ask.

[2021-11-04 17:50] javierm commented on #4724
@tisserapac Feel free to start using Crowdin to add translations and, as Senén said, feel free to ask if you need help.

Looking forward to adding the Thai language to CONSUL!

[2021-11-04 17:50] #4724 closed

[2021-11-05 00:23] chkoun commented on #4017
Hi,
A temporary solution is to change on line 43 on app/views/debates/_votes.html ( in your views/custom/debates/_votes.html folder ideally ) :
debate.votes_score by debate.total_votes
It will show the total number
https://github.com/consul/consul/blob/edbe4128378337f154d13fac85cfabce2d13e742/app/views/debates/_votes.html.erb#L43
( Sorry if this is the not the right way to reply to an issue, I am

[2021-11-05 08:49] asterix123 opened #4728 "Publishing community news (e.g. blog posts) in Consul"
### User Story

As an editor, I want to publish news stories (e.g. blog posts) so that we can have all news published in Consul.

### Why is this Needed?

Municipal communities that are adopting Consul, probably already have a way to publish news on their official websites, so they will probably not need this feature. Yet, for smaller cities or NGOs using Consul, it could be quite beneficial to ha

[2021-11-06 12:31] chkoun commented on #722
Hi,
Redirecting to the Github page or adding an email may be to restrictive, there is currently a Help section dedicated for Technical Assistance under the Help Page.
![Screenshot from 2021-11-06 13-18-31](https://user-images.githubusercontent.com/92028375/140609482-21b13525-d11f-4c57-bd6c-bbf26c379714.png)
We could instead redirect the user to the Help Page ( only if the feature is enable ) or hi

[2021-11-06 15:06] javierm commented on #722
@chkoun Agreed :+1:.

Since issue #3125 is also about the same link and IMHO it better describes the current problem, I'm closing this issue in favor of #3125.

[2021-11-06 15:06] #722 closed

[2021-11-11 16:18] Pomerange opened #4737 "Demo: improving English"
### User Story

As a potential user, I'd like to see what Consul does by entering the demo. Would be nice to have slightly improved English in some cases, mostly in the use of prepositions or adverbs. This is from the verified user perspective.

### Why is this Needed?

In research of which FLOSS or participation platform to use, I expect people to research what's available. Updating some of the t

[2021-11-16 11:55] #2571 closed

[2021-11-18 19:31] amanintech commented on #4737
I can work on a fix for this

[2021-11-19 12:50] decabeza commented on #4728
Hi @asterix123!

I think there is a way to solve this. Remember that CONSUL is not specifically designed as a CMS, but I think this flow can help you. 😉

1. You can create a new "custom page" from https://demo.consulproject.org/admin/site_customization/pages
<img width="1290" alt="blog_1" src="https://user-images.githubusercontent.com/631897/142625197-19f58e23-fc0a-41b8-90aa-eb81013c79fd.png">

2.

[2021-11-22 16:10] javierm commented on #4737
@amanintech Thanks! :pray: Go ahead :smile:.

Just one thing, though:

Ignore this one :wink:, since it's already being addressed in pull request #4731.

[2021-11-23 15:57] dzenreda opened #4744 "Voting counts are locale dependant"
### User Story

Hi, I'm part of Enreda team, we make a lot of CONSUL implementations and yesterday we found a really ugly bug ⚠️

### Description

The problem is that `poll_answers` are saving the title (as string) of the corresponding translation of `poll_question_answer` instead of the foreign key to the `poll_question_answer` id.

To illustrate this I paste the table schema:
[code]

The consequ

[2021-11-23 16:31] javierm commented on #4744
@dzenreda Thanks for reporting! Very nasty bug indeed...

[2021-11-24 05:04] JohnSmall commented on #3285
Very strange this error came up for me after I'd been happily deploying from an Ubuntu 20.04 system to an Ubuntu 20.04 system. It worked just fine a couple of days ago and now suddenly 'Gem::LoadError : "Could not find 'ed25519' (~> 1.2) etc'

If things had been working before, why would I suddenly get this error?

[2021-11-24 13:08] javierm commented on #3285
Hi, @JohnSmall :smile:.

Could you provide a link to the repository and branch with the code where you're getting this error?

[2021-12-05 01:42] javierm commented on #3837
Indeed there seems to be no perfect solution. Here's a summary of the current situation:

When registering users, we aren't checking anything on the server level but letting the browser validate the email. We are using a server-side validation for the email format when managers verify emails.

The regular expressions used both in the server side and the client side mark emails like `test@test` as

[2021-12-05 16:07] javierm commented on #2313
This section has changed a lot over the years, most notably in commit c8d8fae98d and pull request #4563, so this issue is a bit outdated.

I'm opening pull request #4757 with the change regarding the `url` method. Will close this issue after that one is merged.

[2021-12-10 17:27] Pomerange commented on #4728
Hi @asterix123! thanks for your kind offer, we haven't forgotten about it: we are looking into it! we = people at the Consul Foundation. As @decabeza said already, Consul so far hasn't really been an CMS and your suggestion falls into a wider discussion about the needs of (smaller) communities. We'll get back to you.

[2021-12-13 13:16] #3125 closed

[2021-12-14 19:28] #3835 closed

[2021-12-16 15:54] asterix123 commented on #4728
Hi @Pomerange , Thank you for the reply.  Sure, it totally makes sense.  Please let me know once the decision is made.